<!DOCTYPE html>
<html lang="es">
    <head>
       <title>Cotización Turishuila Click en el enlace</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="<?php echo APP_CHARSET; ?>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" />
        <link rel="shortcut icon" href="<?php echo PUBLIC_PATH; ?>img/favicon.png" type="image/x-icon" />
        <?php Tag::css('bootstrap3.3.6/bootstrap.min'); ?>
        <?php // Tag::css('bootstrap/bootstrap.min', 'all'); ?>
        <?php // Tag::css('bootstrap/bootstrap-theme.min', 'all'); ?>
        <?php Tag::css('font-awesome.min', 'all'); ?>
        <?php Tag::css('backend/base', 'all'); ?>
        <?php Tag::css('backend/style', 'all'); ?>
        <?php //Tag::css('backend/printer', 'all'); ?>
        <?php echo Html::includeCss(); ?>
        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet" type="text/css">
        <!-- <?php // if(!APP_LOCAL) { ?>
            <link href="http://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet" type="text/css">
        <?php // } ?> -->
        <style type="text/css">
            body{ font-family: 'Roboto', sans-serif !important;}
            .margen{padding: 4% 4%;}
            .caja-borde{ border-top: 1px solid #eeeeee; padding:5px}
            h1{ font-family: 'Roboto', sans-serif !important;}
            h3{ font-family: 'Roboto', sans-serif !important;}
            h4{font-family: 'Roboto', sans-serif !important;}
            h6{ font-family: 'Roboto', sans-serif !important;}
            .MsoNormal{ font-family: 'Roboto', sans-serif !important;}
            .MsoNormal span{ line-height: 2vw !important; font-family: 'Roboto', sans-serif !important;}
            u{  font-family: 'Roboto', sans-serif !important;}
            ul > li > span{  font-family: 'Roboto', sans-serif !important;}
            font span{ font-family: 'Roboto', sans-serif !important;}
            
            .marca_separador{min-height:800px;}
              /* Small devices (tablets, 768px and up) */
              @media screen and (max-width: 600px) {
                h2{font-size:18px;}
                h3{font-size:14px;}
                h4{font-size:16px;}
                .marca_separador{min-height: 350px;}
              }

              /* Medium devices (desktops, 992px and up) */
              @media screen and (max-width: 992px) and (min-width: 600px) {
                .marca_separador{min-height: 450px;}

              }

              /* Large devices (large desktops, 1200px and up) */
              @media (min-width: @screen-lg-min) { }

        </style>
        <?php echo Tag::js('jquery/jquery.min').PHP_EOL; ?>
    </head>
    <body style="color: white;min-height: 100vh !important;background-color: #252525 !important;padding-top: 20px !important;">

    <div class="container">
      <?php echo Html::img("cotizacion/cotizacion-assets-01.jpg","","width='' style='padding: 0% 0%;' class='img-responsive' ");?>
    </div>

    <div id="shell-content" class="container" style="background-color: #fff;color: #1a1a1a;">
    

    <div class="margen">
      <div class="row">
        <div class="col-xs-6">
          <h2><?php $cliente = load::model('cliente')->find_first($cotizacion->cliente_id);  echo $cliente->nombre;?></h2>
          <h5>EMAIL: <?php echo $cliente->email;?></h5>
          <h5>TEL: <?php echo $cliente->celular;?></h5>        
        </div>
        <div class="col-xs-6 text-right">
            <div class="row">
              <div class="col-xs-3 text-right" style="padding-top:2%;padding-right: 0px;">
                <?php echo Html::img("favicon.png","","width='' class='img-responsive' ");?>
              </div>
              <div class="col-xs-9 text-left">
                <h3><strong>COTIZACIÓN #00<?php echo $cotizacion->id ;?></strong></h3>
                <h4 style="font-size:1vw;">Fecha de creación <?php echo $cotizacion->cotizacion_at ;?></h4>            
                <h6>Tel:  <?php echo TELEFONO ?> / Cel. <?php echo CELULAR ?></h6>
                <h4 class="text-bold" style="font-size:1vw;border-top: 1px dashed #a6a6a6;padding-top: 2%;">Asesor: <?php $asesor = load::model('sistema/usuario')->find_first($cotizacion->usuario_id); echo " ".$asesor->nombre." ".$asesor->apellido;  ?></h4>            
              </div>
            </div>
        </div>
      </div>


    <?php foreach($cotizacion_items as $item): ?>
      <div class="row" style="margin-top:5%;">
        <div class="col-xs-12">
          <h1 style="text-transform: capitalize;"><strong><?php echo $item->titulo;?></strong></h1>
          <h4 style="font-size:1.5vw;">
            <?php if(!empty($item->fechain)){  ?> <b>Fecha Ida:</b> <?php echo date("d/M/Y", strtotime($item->fechain)); ?> &nbsp;&nbsp;&nbsp;&nbsp; <?php } ?> <?php if(!empty($item->fecha_out)){ ?><b>Fecha Regreso:</b> <?php echo date("d/M/Y", strtotime($item->fecha_out));?><?php } ?>
          </h4>
          <?php echo Html::img("cotizacion/cotizacion-assets-03.jpg","","width='' style='padding: 0% 0%;' class='img-responsive' ");?>
        </div>
      </div>
      <br>
      <h4><strong>Hola, <?php $cliente = load::model('cliente')->find_first($cotizacion->cliente_id);  echo $cliente->nombre;?></strong></h4>
      <h4 style="line-height: inherit;">
      En la siguiente información encontrará discriminado la opción  de servicios turísticos solicitados
        <div>de su viaje a <b class="text-capitalize"><?php echo $item->titulo;?></b>. He diseñado éste programa especialmente para usted y  le recuerdo que estaré muy atento a ayudarle en la toma de decisión.</div>
      </h4>
      <h4 style="line-height: inherit;">
        Si tienes inquietudes o aclaraciones no dude en escribirme,   a mi whatsapp  <a href="https://api.whatsapp.com/send?phone=573174405432&text=Estoy interesado en la cotizacion #00<?php echo $cotizacion->id ;?> - <?php echo $item->titulo;?>" target="_blank">3174405432</a>.    
      </h4>

    </div> <!-- fin margen -->
      <div class="row-fluid marca_separador" style="background:url('<?php echo DOMINIO ?>/img/cotizacion/cotizacion-assets-04.jpg');background-size:contain;background-repeat: no-repeat;">
        <div class="col-md-3 col-xs-4" style="padding-left: 10%;padding-top: 3%;">
          <?php echo Html::img("upload/personas/$asesor->fotografia",NULL," class='img-responsive img-circle'"); ?>    
        </div>
        <div class="col-md-8 col-xs-6" style="margin-top:4%;">
          <h4><strong><?php $asesor = load::model('sistema/usuario')->find_first($cotizacion->usuario_id); echo " ".$asesor->nombre." ".$asesor->apellido; ?></strong></h4>            
          <h4>Asesor Comercial</h4>            
          <h4>Tel. <?php echo CELULAR ?></h4>
          <h4></h4>
        </div>
      </div>

    <div class="margen" style="padding-top:0px;">

            <!-- <div class="caja-borde f18 text-center" style="background: whitesmoke;"><?php if(!empty($item->fechain)){  ?> <b>Fecha Ida:</b> <?php echo date("d/M/Y", strtotime($item->fechain)); ?> &nbsp;&nbsp;&nbsp;&nbsp; <?php } ?> <?php if(!empty($item->fecha_out)){ ?><b>Fecha Regreso:</b> <?php echo date("d/M/Y", strtotime($item->fecha_out));?><?php } ?></div>
            <?php if($item->producto <> "CARRO"){ ?>
            <div class="caja-borde f18 text-center" style="background:whitesmoke;"><?php if($item->adultos > 0){ ?><b>Adultos:</b> <?php echo $item->adultos ?> &nbsp;&nbsp;&nbsp;&nbsp; <?php } ?><?php if($item->infantes > 0){ ?><b>Menores:</b> <?php echo $item->infantes ?><?php } ?></div>
            <?php } ?>
            </div> -->

      <div class="row">
        <div class="col-xs-12" style="margin-top:0%;">
          <p style="font-size:1vw;"><?php echo $item->descripcion ;?></p>
        </div>
      </div>

      <br>
      <br>
      <h1 style="color:#1b2e37;font-weight: bold;">Costo de la propuesta </h1>
      <span class="text-capitalize" style="font-size:1em;color:#1b2e37;"><?php echo $item->titulo;?></span>
        <?php echo Html::img("cotizacion/cotizacion-assets-05.jpg","","width='' style='padding: 0% 0%;' class='img-responsive' ");?>

        <div style="margin-top:2%;">
          <?php $cotizacion_item_precios = load::model("cotizacion_item_precio")->find("conditions: cotizacion_id=$cotizacion->id"); ?>
          <?php foreach($cotizacion_item_precios as $item_precios): ?>
              <div class="row">
                <div class="col-sm-12">
                  <h3 class="text-capitalize"><?php echo $item_precios->detalle ;?></h3>
                </div>
                <div class="col-xs-3 col-sm-2 text-center" style="font-size:1.5em;font-weight: 300;">
                  CANTIDAD
                  <div><?php if(!empty($item_precios->cantidad)){ echo  $item_precios->cantidad;} ?></div>
                </div>
                <div class="col-xs-3 col-sm-2 text-center" style="font-size:1.5em;font-weight: 300;">
                  PRECIO/U
                  <div>$ <?php if(!empty($item_precios->valor_unidad)){ echo number_format($item_precios->valor_unidad, 0, '', '.'); } ?></div>
                </div>
                <div class="col-xs-3 col-sm-2 text-center" style="font-size:1.5em;font-weight: 300;">
                  TRM
                  <div>$ <?php if(!empty($item_precios->trm)){ echo number_format($item_precios->trm, 0, '', '.'); } ?></div>
                </div>
                <div class="col-xs-3 col-sm-2 text-center" style="font-size:1.5em;font-weight: 300;">
                  PRECIO USD
                  <div> <?php if(!empty($item_precios->valor_usd)){ echo $item_precios->valor_usd; } ?></div>
                </div>
                <div class="col-xs-12 col-sm-2 text-center" style="font-size:1.5em;font-weight: 300;">
                  TOTAL
                  <div class="text-bold">$ <?php if(!empty($item_precios->valor)){ echo number_format($item_precios->valor, 0, '', '.'); } ?></div>
                </div>              
              </div>                

              <hr style="margin-top: 2% !important;margin-bottom: 2% !important;">
          <?php endforeach ;?>
        </div>

    <?php endforeach;?>

    <?php if(!empty($cotizacion->vencimiento)){?><h4>Vigencia Cotización <span style="color:red"><?php echo $cotizacion->vencimiento ;?> Días.</span></h4><?php } ?>
    <br>
    <br>
    <h4 style="color: #868e96;">Nota:</b> Para efectos de cualquier información y/o confirmación por favor referirse al siguiente número de <b>Cotización #<?php echo $cotizacion->id ;?></h4>


        <!--Politicas-->
        <?php $count_politicas = Load::model("cotizacion_politica")->count("cotizacion_id=$cotizacion->id ") ?>
        <?php if(!$count_politicas == NULL){ ?>

        <?php $politicas = Load::model("cotizacion_politica")->find("cotizacion_id=$cotizacion->id ") ?>
        <?php foreach ($politicas as $politica): ?>

            <?php $ver_politica = Load::model("politica")->find_first("id='$politica->politica_id'") ?>

              <?php $key_shw = Security::setKey($politica->politica_id, 'shw_cliente'); ?>
              <div style="color: #868e96"><a href="../../politica/ver/<?php echo $key_shw ?>" target="_blank">POLITICAS <?php echo $ver_politica->nombre;?></a></div>

        <?php endforeach ;?>

        <?php } ?>


        </div>

        </div>

    <div class="container">
      <?php echo Html::img("cotizacion/cotizacion-assets-02.jpg","","width='' style='padding: 0% 0%;' class='img-responsive' ");?>
    </div>        

    </body>
</html>

<script language="JavaScript">
    $(window).resize(function() {
    // var heightBrowser =$(window).height();
    var widthBrowser =$(window).width();

    if(widthBrowser < 450){
        console.log('dentro movil');
        $('.movilPantalla').show();
        $('.panelEscritorio').hide();
    }
    if(widthBrowser >=450){
        console.log('dentro escritorio');
        $('.panelEscritorio').show();
        $('.movilPantalla').hide();                
    } 

    });


    var widthBrowser = $(window).width();
    console.log(widthBrowser);
    if(widthBrowser < 450){
        console.log('dentro movil');
        $('.movilPantalla').show();
        // $('.panelEscritorio').hide();
    }
    if(widthBrowser >=450){
        console.log('dentro escritorio');
        $('.panelEscritorio').show();
        // $('.panelMovil').hide();                
    }            
</script>