<?php View::flash(); ?>
<!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

<style>
.file-upload-form, .image-preview {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 5px;
}
/* img.preview {
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
} */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile + label:hover {
	color: #047afb;
}


</style>

<?php echo DwForm::open(); ?>    
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">                    
                <?php echo DwForm::text('planes.nombre', array('class'=>'input-required'), NULL, 'Nombre Plan'); ?>
            </div>         
        </div>
        
        <div class="row">
            <div class="col-md-12">
            <label>Seleccione Vehiculo</label>
                <select class="form-control" name="planes[vehiculo_id]" id="planes_vehiculo_id" required="required">
                    <option>Seleccione Vehiculo</option>
                    <?php foreach($vehiculos as $vehiculo): ?>
                        <option value="<?php echo $vehiculo->id ?>"><?php echo $vehiculo->nombre ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
           
        <div class="row">
            <div class="col-md-12">                    
                <?php echo DwForm::textarea('planes.descripcion', array('class'=>'input-required summernote','rows'=>'8'), NULL, 'Descripcion Plan'); ?>
            </div>
        </div>     
    
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <input type="file" name="file" id="file" class="inputfile" @change="previewImage" accept="image/*">
                <h5><label for="file">Imagen Destacada <i class="fa fa-upload"></i></label></h5>
                <div class="image-preview img-responsive" v-if="publicacion.img !== ''">
                <img v-if="publicacion.img !== ''" class="img-thumbnail" :src="imageData">
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="row">
    <div class="form-actions">
        <div class="pull-left">
        </div>            
        <?php echo DwForm::send('Crear politica'); ?>
        <?php echo DwForm::cancel("dashboard/politicas/"); ?>
        <?php echo DwForm::focus('politica.nombre'); ?>
    </div>
</div>
<?php echo DwForm::close(); ?>

<script>
  $(document).ready(function() {
      $('.summernote').summernote({
        height: 300,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
      });        
  });
</script>



<script type="text/javascript">
    var urlPublicaciones = "<?php  echo DOMINIO ?>api/back_blog/";
    var urlImgUpload = "<?php  echo DOMINIO ?>api/img_upload/";


    new Vue({
      el: '#app',
      created: function() {
        this.getPublicaciones();
      },
      data: {
        listPublicaciones: [],
        publicacion: {
          titulo:'',
          detalle:'',
          img:''
        },
        editPublicacion:[],
        imageData:'',
        imageDataEdit:'',
        errors: []
      },
      methods: {
        getPublicaciones: function() {
          axios.get(urlPublicaciones).then(response => {
            this.listPublicaciones = response.data.publicaciones
            // console.log(response);
          });
        },
        formCreatePublicacion: function(){
          var inputSummernote = $('#summernote').summernote('code');
          this.publicacion.detalle = inputSummernote;

          // console.log(this.publicacion);
          axios.post(urlPublicaciones,
            {
              publicacion: this.publicacion,
              estado: 1
            },
            {
              headers: {
                'Content-Type': 'application/json',
            }}).then(response => {
              // console.log(response);

            this.getPublicaciones();
            this.publicacion = {
              titulo:'',
              detalle:'',
              img:''
            };
            this.imageData = '';
            this.errors = [];
            $('#crearPublicacion').modal('hide');
            toastr.success('Nuevo Publicacion Creada.');
            // $('#crearCategoria').hide();

          }).catch(error =>{
            this.errors = error.response.data
          });

        },
        editModalPublicacion: function(itemPublicacion){
          this.editPublicacion = itemPublicacion;
          $('#summernote_edit').summernote('code',itemPublicacion.detalle);
          // $('#editPublicacion_detalle').summernote('code',itemNoti.detalle);
          $('#editModalPublicacion').modal('show');
          $('#ModalVer'+itemPublicacion.id).modal('hide');
        },

        formEditPublicacion: function(id){
          var urlEdit = urlPublicaciones + id;

          // var inputSummernoteEdit = $('#summernote_edit').summernote('code');
          this.editPublicacion.detalle = $('#summernote_edit').summernote('code');
          // console.log(this.editPublicacion);

          axios.put(urlEdit,
            {
              publicacion: this.editPublicacion,
              estado: 1
              },
              {
                headers: {
                  'Content-Type': 'application/json',
              }}).then(response => {
            // console.log(response.data);
            this.getPublicaciones();
            this.editPublicacion = {
              titulo:'',
              detalle:'',
              img:'',
            };
            this.imageDataEdit = '';
            this.errors = [];
            $('#editModalPublicacion').modal('hide');
            toastr.success('Publicacion Editado.');
          }).catch(error =>{
            // this.errors = error.response.empresa
          });

        },
        deletePublicacion: function(categoria){
          var urlCateogiraDel = urlCategorias + categoria.id;
          var confirmationBox = confirm("Estas usted Seguro?");
          if(confirmationBox){
            axios.delete(urlCateogiraDel).then(response => {
              this.getPublicaciones();
              toastr.error('Eliminado Correctamente');
            });
          }

        },

        previewImage: function(event) {
            // Reference to the DOM input element
            var input = event.target;
            // Ensure that you have a file before attempting to read it
            if (input.files && input.files[0]) {
                // create a new FileReader to read this image and convert to base64 format
                var reader = new FileReader();
                // Define a callback function to run, when FileReader finishes its job
                reader.onload = (e) => {
                    // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                    // Read image as base64 and set to imageData
                    this.imageData = e.target.result;

                    // SUBO LA IMAGEN
                    axios.post(urlImgUpload,
                      {
                        archivo: this.imageData,
                        id: 1
                      },
                      {
                        headers: {
                          'Content-Type': 'application/json',
                      }}).then(response => {
                        this.publicacion.img = response.data.filename;
                        // console.log(this.publicacion.img);
                        // console.log('dentro img');
                        this.errors = [];
                    }).catch(error =>{
                      this.errors = error.response.data
                    });
                }
                // Start the reader job - read file as a data url (base64 format)
                reader.readAsDataURL(input.files[0]);
            }
        },

        previewImageEdit: function(event) {
            // Reference to the DOM input element
            var input = event.target;
            // Ensure that you have a file before attempting to read it
            if (input.files && input.files[0]) {
                // create a new FileReader to read this image and convert to base64 format
                var reader = new FileReader();
                // Define a callback function to run, when FileReader finishes its job
                reader.onload = (e) => {
                    // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                    // Read image as base64 and set to imageData
                    this.imageDataEdit = e.target.result;

                    // SUBO LA IMAGEN
                    axios.post(urlImgUpload,
                      {
                        archivo: this.imageDataEdit,
                        id: 1
                      },
                      {
                        headers: {
                          'Content-Type': 'application/json',
                      }}).then(response => {
                        this.editPublicacion.img = response.data.filename;
                        // console.log(this.editPublicacion.img);
                        // console.log(response.data.filename);
                        // console.log(this.imageDataEdit);
                        // console.log('dentro');
                        this.errors = [];
                    }).catch(error =>{
                      this.errors = error.response.data
                    });
                }
                // Start the reader job - read file as a data url (base64 format)
                reader.readAsDataURL(input.files[0]);
            }
        },


      },

      computed:{
        charactersLeft: function() {
            var char = this.innerHTML.length,
                limit = 10;
                var res = this.substring(1, 4);
                console.log(char);
            // return "res";
        }
      },
      filters:{
        cortaText: function(text, length, clamp){
        clamp = clamp || '...';
        var node = document.createElement('div');
        node.innerHTML = text;
        var content = node.textContent;
        return content.length > length ? content.slice(0, length) + clamp : content;
        },
        mayuscula: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.toUpperCase()
        }
      }

    });

  </script>
