<?php View::flash(); ?>

<script type="text/javascript">
    $(function() {
        $('table').kgrid({
            form_to         : $.KumbiaPHP.publicPath+'dashboard/politicas/buscar/',
            order_attr      : '<?php echo (APP_AJAX) ? 'class="js-link js-spinner"' : ''; ?>',
            order_to        : $.KumbiaPHP.publicPath+'dashboard/politicas/listar/'
        });
    });
</script>

<div class="container shell-view">

    <?php View::process($page_module, $page_title, $set_title); ?>

    <div class="btn-toolbar btn-toolbar-top">
        <div class="row">
            <div class="btn-actions">
                <?php echo DwHtml::button("dashboard/politicas/agregar", 'agregar', NULL, 'fa-check-square-o', APP_AJAX); ?>
            </div>
        </div>
    </div>

    <div class="container-overflow">

        <table class="table table-hover table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="col-hidden" data-search="nombre" data-order="nombre">NOMBRE</th>
                    <th class="col-hidden" >ESTADO</th>
                    <th class="col-blocked text-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($politicas->items as $politica): ?>
                    <?php $key_shw = Security::setKey($politica->id, 'shw_cliente'); ?>
                    <?php $key_upd = Security::setKey($politica->id, 'upd_cliente'); ?>
                    <?php $key_blo = Security::setKey($politica->id, 'blo'); ?>

                    <tr>
                        <td><?php echo $politica->nombre; ?></td>
                        <td><?php if($politica->estado == 1){ ?><?php $color="danger"; $icono="fa-arrow-down"; ?><span class="label label-success">Activo</span> <?php }else{?><?php $color="success"; $icono="fa-arrow-up"; ?><span class="label label-danger">Inactivo</span><?php } ?> </td>
                        <td>
                            <?php echo DwHtml::buttonTable('Ver Proveedor', "dashboard/politicas/ver/$key_shw/", NULL, 'info', 'fa-search'); ?>
                            <?php echo DwHtml::buttonTable('Editar Proveedor', "dashboard/politicas/editar/$key_upd/", NULL, 'warning', 'fa-edit'); ?>
                            <?php echo DwHtml::buttonTable('Inactivar Proveedor', "dashboard/politicas/bloquear/$key_blo/", NULL, "$color","$icono"); ?>
                        </td>
                    </tr>
                    <?php $politicas->counter++; ?>
                <?php endforeach; ?>
            </tbody>
        </table>

    </div>

    <?php View::partial('paginators/default', false, array('page'=>$politicas, 'url'=>"dashboard/politicas/listar/$order/")); ?>

</div>