<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>
    
    <?php echo DwForm::open(); ?>    
        <div class="row">
            <div class="col-md-8">                    
                <?php echo DwForm::text('producto.nombre', array('class'=>'input-required'), NULL, 'Nombre Producto'); ?>
            </div>
            <div class="col-md-4">                    
                <?php echo DwForm::text('producto.icono', array('class'=>''), "fa-", 'Icono'); ?>
            </div>            
        </div>
          
        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>            
                <?php echo DwForm::send('Crear Producto'); ?>
                <?php echo DwForm::cancel("dashboard/productos"); ?>
                <?php echo DwForm::focus('producto.nombre'); ?>
            </div>
        </div>
            
        
    </div>
 
    <?php echo DwForm::close(); ?>
    
</div>

