<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>
    
    <?php echo DwForm::open(); ?> 
    
        <div class="row">
            <div class="col-md-8">                    
                <?php echo DwForm::text('producto.nombre', array('class'=>'input-required'), NULL, 'Nombre Proveedor'); ?>
            </div>
            <div class="col-md-4">                    
                <?php echo DwForm::text('producto.icono', array('class'=>''), NULL, 'Icono'); ?>
            </div>            
        </div>
           
        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>                    
                <?php echo DwForm::send('Editar Producto'); ?>                
                <?php echo DwForm::cancel("dashboard/productos"); ?>
            </div>
        </div>
                    
    <?php echo DwForm::close(); ?>
    <h4>Agregar Proveedor <button class="btn btn-sm btn-success" type="button" data-toggle="collapse" data-target="#collapse_texto" aria-expanded="false" aria-controls="collapse_texto"><i class='fa fa-plus'></i></button><hr></h4>
    <div class="collapse" id="collapse_texto">
      <div class="well">
          <div class="row">
              <?php echo DwForm::open("dashboard/productos/agregar_proveedor"); ?>
                <div class="col-md-10">
                    <select class="form-control" name="proveedor_producto[proveedor_id]">
                        <option>Seleccione</option>
                        <?php $proveedores = Load::model('proveedor')->find();?>
                        <?php foreach ($proveedores as $proveedor): ?>
                        <option value="<?php echo $proveedor->id ;?>"><?php echo $proveedor->nombre ?></option>
                        <?php endforeach;?>
                    </select>                     
                </div><!-- /.col-lg-6 -->

             
                <div class="col-md-2">
                    <?php echo Form::hidden("proveedor_producto[producto_id]", NULL,"$producto->id"); ?>
                    <?php echo Form::hidden("proveedor_producto[producto_nombre]", NULL,"$producto->nombre"); ?>
                    <?php echo DwForm::btnSubmit("Agregar","class='btn btn-success'"); ?>
                </div>
              <?php echo DwForm::close(); ?>                              
          </div>
      </div>
    </div>
    <?php $proveedores_items = Load::model("proveedor_producto")->find("producto_id=$producto->id") ?>
        <div class="row">
    <?php foreach ($proveedores_items as $item):?>
        <?php $proveedor_data = Load::model("proveedor")->find_first("id=$item->proveedor_id") ?>
            <div class="col-md-1">
                <?php echo Html::link("dashboard/productos/eliminar_proveedor/$item->producto_id/$item->proveedor_id", DwHtml::img("upload/proveedores/$proveedor_data->img", 'img', array('id'=>'img-proveedor','class'=>'img-responsive','width'=>'60px')),"class='js-url js-link' data-toggle='tooltip' data-placement='top' title='Eliminar'") ?>
            </div>
    <?php endforeach;?>    
        </div>
    
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>