<?php View::flash(); ?>

<script type="text/javascript">
    $(function() {
        $('table').kgrid({
            form_to         : $.KumbiaPHP.publicPath+'dashboard/productos/buscar/',            
            order_attr      : '<?php echo (APP_AJAX) ? 'class="js-link js-spinner"' : ''; ?>',
            order_to        : $.KumbiaPHP.publicPath+'dashboard/productos/listar/'
        });
    });
</script>

<div class="container shell-view">

    <?php View::process($page_module, $page_title, $set_title); ?>

    <div class="btn-toolbar btn-toolbar-top">
        <div class="row">
            <div class="btn-actions">
                <?php echo DwHtml::button("dashboard/productos/agregar", 'agregar', NULL, 'fa-check-square-o', APP_AJAX); ?>
            </div>            
        </div>
    </div>

    <div class="container-overflow">

        <table class="table table-hover table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="col-hidden">ICONO</th>                                        
                    <th class="col-hidden" data-search="nombre" data-order="nombre">NOMBRE</th>
                    <th class="col-hidden text-center" >PROVEEDORES</th>
                    <th class="col-hidden" data-order="estado_usuario">ESTADO</th>
                    <th class="col-blocked text-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($productos->items as $producto): ?>
                    <?php $key_shw = Security::setKey($producto->id, 'shw_cliente'); ?>
                    <?php $key_upd = Security::setKey($producto->id, 'upd_cliente'); ?>                
                    <?php $key_blo = Security::setKey($producto->id, 'blo'); ?>
                
                    <tr>
                        <td><i class="fa fa-2x <?php echo strtolower($producto->icono); ?>"> </i></td>
                        <td class="text-bold"><?php echo $producto->nombre; ?></td>
                        <td class="text-center"><?php echo $count_proveedor = Load::model("proveedor_producto")->count("producto_id=$producto->id ") ?></td>
                        <td><?php if($producto->estado == 1){ ?><?php $color="danger"; $icono="fa-arrow-down"; ?><span class="label label-success">Activo</span> <?php }else{?><?php $color="success"; $icono="fa-arrow-up"; ?><span class="label label-danger">Inactivo</span><?php } ?> </td>
                        <td>
                            <?php // DwHtml::buttonTable('Ver Producto', "dashboard/productos/ver/$key_shw/", NULL, 'info', 'fa-search'); ?>                            
                            <?php echo DwHtml::buttonTable('Editar Producto', "dashboard/productos/editar/$key_upd/", NULL, 'warning', 'fa-edit'); ?>                                                        
                            <?php echo DwHtml::buttonTable('Inactivar Producto', "dashboard/productos/bloquear/$key_blo/", NULL, "$color","$icono"); ?>                                                                                    
                        </td>
                    </tr>
                    <?php $productos->counter++; ?>
                <?php endforeach; ?>
            </tbody>
        </table>

    </div>

    <?php View::partial('paginators/default', false, array('page'=>$productos, 'url'=>"dashboard/productos/listar/$order/")); ?>

</div>