<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>
    
    <?php echo DwForm::open(); ?> 
    
        <div class="row">
            <div class="col-md-8">                    
                <?php echo DwForm::text('proveedor.nombre', array('class'=>'input-required','disabled'=>'disabled'), NULL, 'Nombre Producto'); ?>
            </div>
            <div class="col-md-4">                    
                <?php echo DwForm::text('proveedor.icono', array('class'=>'','disabled'=>'disabled'), NULL, 'Icono'); ?>
            </div>            
        </div>


        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>                    
                <?php echo DwForm::cancel(); ?>
            </div>
        </div>
                    
    </div>
    <?php echo DwForm::close(); ?>
    
</div>

