<?php View::flash(); ?>

<div class="container shell-view">
    <?php View::process($page_module, $page_title, $set_title); ?>
    
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <?php $key_cl = Security::setKey($cliente->id, 'shw_cliente'); ?>    
          <div class="panel-heading panel-heading-azul" >Información del Cliente <div style="float:right"><?php echo DwHtml::buttonTable('Editar Cliente', "dashboard/clientes/editar/$key_cl", array('style'=>'color: #fff;'), '', 'fa-edit'); ?> <button type="button" class="btn btn- btn-sm " data-toggle="modal" data-target="#myModal"><i class="fa fa-folder-open"></i></button></div></div>
          <div class="panel-body">
            <div class="row"style="font-size: 16px">
                <div class="col-md-6"><?php echo $cliente->nombre ;?></div>
                <div class="col-md-6"><?php echo $cliente->cc ;?></div>
                <div class="col-md-6"><?php echo $cliente->direccion ;?></div>
                <div class="col-md-6"><?php echo $cliente->ciudad ;?></div>
                <div class="col-md-6"><?php echo $cliente->email ;?></div>
                <div class="col-md-6"><?php echo $cliente->telefono ;?></div>
                <div class="col-md-6"><?php echo $cliente->celular ;?></div>
            </div>   
          </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Adjuntos <?php echo $cliente->nombre; ?></h4>
              </div>
              <div class="modal-body">

                <?php View::partial('backend/adjuntos_cliente', false, array('id'=>$cliente->id,'ruta'=>$ruta)); ?>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>


        </div>        
    </div>
    <div class="col-md-4">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <center><h3><?php if(!$solicitud == NULL){ echo "Solicitud  #".$solicitud->id; } ?></h3></center>
                <?php if($items_cotizacion == NULL){ ?>
                    <h3 class="text-center">No hay items en la solicitud.</h3>                  
                <?php }else{ ?>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<?php foreach($items_cotizacion as $item): ?>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<?php echo $item->id ?>">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<?php echo $item->id ?>" aria-expanded="false" aria-controls="collapse<?php echo $item->id ?>">
            <i class="fa fa-<?php echo strtolower($item->producto); ?>"></i> <?php echo $item->producto; ?> <span style="margin-left:40px;">$<?php echo $item->valor_total; ?><?php // number_format($item->valor_total, 0, '', '.'); ?></span>
        </a>
      </h4>
    </div>
    <div id="collapse<?php echo $item->id ?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?php echo $item->id ?>">
      <div class="panel-body">
          <dvi class="row">
              <div class="col-md-12"><strong>Origen:</strong> <?php echo $item->origen ?></div>
              <div class="col-md-12"><strong>Destino:</strong> <?php echo $item->destino ?></div>
              <div class="col-md-12"><strong>Fecha In:</strong> <?php echo $item->fechain ?></div>
              <div class="col-md-12"><strong>Fecha Out:</strong> <?php echo $item->fecha_out ?></div>
              <div class="col-md-12"><strong>Adultos:</strong> <?php echo $item->adultos ?></div>
              <div class="col-md-12"><strong>Infantes:</strong> <?php echo $item->infantes ?></div>
              <div class="col-md-12"><strong>Habitaciones:</strong> <?php echo $item->habitaciones ?></div>
              <div class="col-md-12"><strong>Valor:</strong> $<?php echo number_format($item->valor, 0, '', '.') ?></div>
              <div class="col-md-12"><strong>Utilidad:</strong> <?php echo $item->utilidad ?></div>
              <div class="col-md-12"><strong>Valor utilidad:</strong> $<?php echo number_format($item->valor_total, 0, '', '.') ?></div>
          </dvi>
        
          <div class="text-right" style="margin-top: 5px;margin-bottom: 5px;border: 0;border-top: 1px solid #eee;padding-top: 5px;">
            <?php $key_shw = Security::setKey($item->id, 'shw_cliente'); ?>          
            <?php $key_del = Security::setKey($item->id, 'del_cliente'); ?>          
            <?php echo DwHtml::link("dashboard/solicitudes/eliminar/$key/$key2/$key_del", "", array('class'=>'btn btn-md btn-danger','data-toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Eliminar Solicitud'), "fa fa-trash") ?>
            <?php // DwHtml::link("dashboard/solicitudes/editar/$key_shw", "", array('class'=>'btn btn-md btn-success','data-toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Editar Solicitud'), "fa fa-edit") ?>
        </div> 
      </div>
    </div>
  </div>
 <?php endforeach; ?>                    
</div>
                    <div>
                        <?php $vTotal = Load::model('cotizacion_item')->sum("valor_total","conditions: cotizacion_id=$solicitud->id") ?>
                        <h2 class="text-right">Total: $<?php echo number_format($vTotal, 0, '', '.'); ?></h2>
                    </div>
                    <div class="text-right">
                        <!--<a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" title="Enviar Solicitud"><i class="fa fa-send"></i></a>-->
                        <!--<a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" title="Descargar Solicitud"><i class="fa fa-download"></i></a>-->
                        <?php $key_shw = Security::setKey($solicitud->id, 'shw_cliente'); ?>
                        <?php echo DwHtml::link("dashboard/solicitudes/send/$key_shw", "", array('class'=>'btn btn-md btn-default','data-toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Enviar Solicitud'), "fa fa-send") ?>
                        <?php // DwHtml::link("reporte/html/$key_shw", "", array('class'=>'btn btn-md btn-default','data-toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Descargar Solicitud'), "fa fa-download") ?>
                        <?php echo DwButton::report("index/reporte/$key_shw", 'html', 'Imprimir reporte', ''); ?>                                                                
                    </div>
                    <div class="row">
                        <?php echo DwForm::open("dashboard/solicitudes/agregar_politica/$key/$key2"); ?>
                        <hr><div class="col-md-8">
                            <select class="form-control input-sm" name="cotizacion_politica[politica_id]">
                                <option>Seleccione Politica</option>
                            <?php $politicas = Load::model("politica")->find() ;?>
                            <?php foreach ($politicas as $politica): ?>
                                <option value="<?php echo $politica->id ;?>"><?php echo $politica->nombre ?></option>
                                <?php endforeach;?>
                            </select>                     
                        </div>
                        <div class="col-md-4">
                            <?php echo Form::hidden("cotizacion_politica[cotizacion_id]", NULL,"$solicitud->id"); ?>
                            <?php echo Form::hidden("cotizacion_politica[key]", NULL,"$key"); ?>
                            <?php echo Form::hidden("cotizacion_politica[key2]", NULL,"$key2"); ?>
                            <?php echo DwForm::btnSubmit("Agregar","class='btn btn-sm btn-success'"); ?>
                        </div>
                        <?php echo DwForm::close(); ?>                
                
                        <hr><div class="col-md-12">
                            <table class="table table-hover table-striped">                            
                            <?php $politicas = Load::model("Cotizacion_politica")->find("cotizacion_id=$solicitud->id") ;?>
                            <?php foreach ($politicas as $politica): ?>
                            <?php $politica_data = Load::model("politica")->find_first("id=$politica->politica_id"); ?>
                            <?php $key_politica = Security::setKey($politica->id, 'del_cliente'); ?>          
                                <tr>
                                    <td><?php if(strlen("$politica_data->nombre")<= 30){ echo $politica_data->nombre; }else{ echo substr($politica_data->nombre, 0, 30) ."...";}?></td>
                                    <td><?php echo Html::link("dashboard/solicitudes/eliminar_politica/$key/$key2/$key_politica/", "<i class='fa fa-trash'></i>","class='btn btn-sm btn-danger js-link' "); ?></td>
                                </tr>
                            <?php endforeach; ?>
                            </table>
                        </div>
                    </div>                    
                <?php } ?>
              </div>
            </div>          
      </div>        
        
    </div>
</div>    


  <div class="row">
      <div class="col-md-12">    
  <!-- Nav tabs Productos -->
    <div class="row">
        <?php $productos = Load::model('producto')->find("estado=1"); ?>
        <?php foreach ($productos as $producto): ?>
            <a href="#<?php echo strtolower($producto->nombre); ?>"  data-toggle="tab"><div class="col-md-1 text-center product-box" data-toggle="tooltip" data-placement="top" title="<?php echo $producto->nombre; ?>"><i class="fa fa-3x <?php echo strtolower($producto->icono); ?>"></i></div></a>
        <?php endforeach;?>
    </div>


  <!-- Tab paneles productos  -->
  <div class="tab-content" style="background-color: #fff157;padding: 30px;border-radius: 6px;">
    <div role="tabpanel" class="tab-pane fade" id="tickets">
        <?php View::partial('backend/productos/ticket', false, array('dolar'=>$dolar,'btext'=>'AGREGAR')); ?>
    </div>
    <!--Fin tab--> 
    
    <div role="tabpanel" class="tab-pane fade" id="hotel">
        <?php View::partial('backend/productos/hotel', false, array('btext'=>'AGREGAR')); ?>
    </div> 
    <!--Fin tab-->
     
    <div role="tabpanel" class="tab-pane fade" id="carro">
        <?php View::partial('backend/productos/carro', false, array('btext'=>'ACTUALIZAR')); ?>          
    </div>
    <!--Fin tab-->    
    <div role="tabpanel" class="tab-pane fade" id="paquete">
        <?php View::partial('backend/productos/paquete', false, array('btext'=>'AGREGAR')); ?>                 
    </div>
    <!--Fin tab-->  
    
    <div role="tabpanel" class="tab-pane fade" id="crucero">
        <?php View::partial('backend/productos/crucero', false, array('btext'=>'AGREGAR')); ?>                        
    </div>
    <!--Fin tab-->    
    
    
    <div role="tabpanel" class="tab-pane fade" id="asistencia">
        <?php View::partial('backend/productos/asistencia', false, array('dolar'=>$dolar,'btext'=>'AGREGAR')); ?>                                
    </div>
    <!--Fin tab-->    
  </div>

      </div>

    
  </div> 
    
</div>

<script type="text/javascript">
// autocomplete IATA
    var ciudades = <?php echo $iatas; ?>;
    $(function() {
        $('#cotizacion_item_origen, #cotizacion_item_destino').typeahead({
                source: ciudades, items:5
        });
    });
    
</script>

<script>
  $(document).ready(function() {
      $('.summernote').summernote({
        height: 300,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
      });        
  });
</script>

<!--<div id="div1" align="center">jj</div>-->
<script>
    
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

//var div1 = document.getElementById("div1");
//var align = div1.getAttribute("align");
//
// alert(align); 
 // Muestra el valor de la alineación(align) del elemento con id="div1"


      function utilidadHotel()
      {
          var valor = parseFloat(document.getElementById('cotizacion_item_valor').value);
          var utilidad = parseFloat(document.getElementById('cotizacion_item_utilidad').value);
          var r_utlidad = (valor * utilidad) /100;
          document.getElementById('cotizacion_item_valor_total').value= valor+r_utlidad;
      }
      
      function utilidadTicket()
      {
          var valor = parseFloat(document.getElementsByTagName('cotizacion_item_valor')[1].value);
          var utilidad = parseFloat(document.getElementsByTagName('cotizacion_item_utilidad')[1].value);
          var r_utlidad = (valor * utilidad) /100;
          document.getElementsByTagName('cotizacion_item_valor_total')[1].value= valor+r_utlidad;
      }  
//      function utilidadCarro()
//      {
//          var valor = parseFloat(document.getElementById('cotizacion_item_valor').value);
//          var utilidad = parseFloat(document.getElementById('cotizacion_item_utilidad').value);
//          var r_utlidad = (valor * utilidad) /100;
//          document.getElementById('cotizacion_item_valor_total').value= valor+r_utlidad;
//      } 
//      
//      function utilidadPaquete()
//      {
//          var valor = parseFloat(document.getElementById('cotizacion_item_valor').value);
//          var utilidad = parseFloat(document.getElementById('cotizacion_item_utilidad').value);
//          var r_utlidad = (valor * utilidad) /100;
//          document.getElementById('cotizacion_item_valor_total').value= valor+r_utlidad;
//      }
//      function utilidadCrucero()
//      {
//          var valor = parseFloat(document.getElementById('cotizacion_item_valor').value);
//          var utilidad = parseFloat(document.getElementById('cotizacion_item_utilidad').value);
//          var r_utlidad = (valor * utilidad) /100;
//          document.getElementById('cotizacion_item_valor_total').value= valor+r_utlidad;
//      }      
  </script>  
  
  
