<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">
<style type="text/css">
[v-cloak]{
  display: none;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }


.grid {
  /*width: 1000px;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.grid-item {
  float: left;
}

/* item is invisible, but used for layout */
.grid-item,
.grid-item-content {
  width: 240px;
  height: 240px;
}

/* grid-item-content is visible, and transitions size */
.grid-item-content {
  width: 240px;
  height: 240px;
  padding: 0px;
  /*background: #D26;*/
  border: 1px solid #F5F5F5;
  /*border-color: hsla(0, 0%, 0%, 0.5);*/
  border-radius: 5px;
  -webkit-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

.grid-item:hover .grid-item-content {
  border-color: #dedede;
  /*cursor: pointer;*/
}

.grid-item-header {
}

.grid-item-body{
  margin: 10px;
}

.grid-item:hover .grid-item-header {
  border-color: white;
  cursor: pointer;
}

/* both item and item content change size */
.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content {
  width: 480px;
  height: 360px;
}

.grid-item.is-expanded {
  z-index: 2;
}

.grid-item.is-expanded .grid-item-content {
  background: #fcf997;
}



.colors{
  text-align: center;
  padding-top: 20px;
}
ul{
  padding-left: 0px;
  padding-right:0px;
}
.colors > li {
    list-style: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.colors > li:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-bottom: 10px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.colors > li.active-color {
    -webkit-transform: scale(1.2) translateY(-10px);
    transform: scale(1.2) translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 20px solid rgba(0, 0, 0, 0.15);
}
</style>




<div id="app" v-cloak>

<!-- Button trigger modal -->
<div style="margin-bottom: 10px">
  <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#create">Nueva Solicitud</button>
</div>

  <!-- Modal -->
  <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">CREAR SOLICITUD</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-12">
            <label for="nombre">Buscar Cliente</label>
            <input type="text" placeholder="Buscar Cliente..." class="form-control input-lg" v-model="buscador">
            <div v-if="!buscador.length"></div>

            <ul class="list-group" v-else>
              <a href="#" v-for="item in searchCliente" class="list-group-item" style="font-size: 1.2em" v-on:click.prevent="selectCliente(item)">
                {{ item.nombre }}
              </a>
              <a href="#" class="list-group-item text-bold" style="background:red; color:white;font-size: 1.2em" v-if="!searchCliente.length" v-on:click.prevent="createCliente">
                <i class="fa fa-2x fa-exclamation-triangle" ></i> CLIENTE NO EXISTE. CREA UN CLIENTE. <i class="fa fa-2x fa-user-plus"> </i>
              </a>
            </ul>
          </div>



          <div class="col-md-12" style="margin-top: 20px">
            <div class="panel panel-default" >
              <div class="panel-body" style="background: #053c98;color: #fff;">
                <h4 class="text-bold">Cliente</h4>
                <div id="showCliente">
                  <div class="" style="font-size: 1.3em" id="cliente_nombre"></div>
                  <div class="" style="font-size: 1.3em" id="cliente_email"></div>
                  <div class="" style="font-size: 1.3em" id="cliente_celular"></div>
                </div>
                <form method="POST" v-on:submit.prevent="formCreateCliente">
                <div id="createCliente" style="display: none;">
                  <div><input class="form-control" placeholder="Nombre" type="text" id="nombre" name="nombre" v-model="newCliente" required="required"></div>
                  <div><input class="form-control" placeholder="Telefono" type="text" id="telefono" name="telefono" v-model="newTelefono" required="required"></div>
                  <div><input class="form-control" placeholder="Email" type="text" id="email" name="email" v-model="newEmail" required="required"></div>
                  <a href="#" v-on:click.prevent="createCliente" class="btn btn-danger">Cerrar</a>
                  <button type="submit" class="btn btn-default">Guardar Cliente</button>
                </div>
                </form>

              </div>
            </div>
          </div>
          <form method="POST" v-on:submit.prevent="createSolicitud">
          <div class="col-md-12">
            <label for="detalle">Detalle</label>
            <textarea rows="5" name="detalle" id="solicitudNota"  class="form-control" v-model="newDetalle" required="required"></textarea>
          </div>
            <span v-for="error in errors" class="text-danger">@{{ error }}</span>
            <input type="hidden" id="color" name="color" v-model="newColor">
            <input type="hidden" id="cliente_id" name="cliente_id" v-model="newClienteId">
            <div class="text-center" style="margin-top: 10px">
              <button type="submit" class="btn btn-primary btn-lg" v-on:submit.prevent="createSolicitud">Guardar Solicitud</button>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
  </div>


<div class="row">

<div class="col-md-12" style="margin-bottom:20px;">

  <div class="grid">
    <div class="grid-item" v-for="solicitud in listSolicitudes">

      <div class="sk-double-bounce" v-if="solicitud.length === 0">
        <div class="sk-child sk-double-bounce1"></div>
        <div class="sk-child sk-double-bounce2"></div>
      </div>

      <div class="grid-item-content" v-on:click.prevent="showDetalle(solicitud)">
        <div class="grid-item-header" :style="{ 'background': solicitud.color }">
          <div class="text-center" style="border-bottom: 6px solid rgb(252, 215, 51)">
            <span style="font-size: 1.5em">Nota #{{ solicitud.id}}</span></div>
        </div>
        <div class="grid-item-body">
          <div><h4>{{ solicitud.nombre }}</h4></div>
          <div><h4>{{ solicitud.celular }}</h4></div>
          <div><h5 style="font-size: 0.9em">{{ solicitud.email }}</h5></div>
          <div class="detalleSolicitud" :id="solicitud.id" style="display: none" v-html="solicitud.detalle">{{ solicitud.detalle }}
          </div>
          <div>{{ solicitud.solicitud_at }}</div>
          <div>Por:<b> {{ solicitud.usuario_nombre }} </b></div>
        </div>
        <div class="grid-item-footer">
          <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" v-bind:data-target="'#modalDelete'+solicitud.id"><i class="fa fa-trash"></i></a>

          <a  href="#" class="btn btn-success btn-sm" data-toggle="modal" v-bind:data-target="'#modalCotizacion'+solicitud.id"><i class="fa fa-check"></i></a>
        </div>
      </div>

      <!-- Modal Eliminar -->
      <div class="modal fade" v-bind:id="'modalDelete'+solicitud.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning"></i> Eliminar Registro</h4>
            </div>
            <div class="modal-body">
              <h4>Cual es el motivo de cancelación de esta solicitud?.</h4>
              <form method="POST" v-on:submit.prevent="formCreateCliente">
                  <div><textarea class="form-control" placeholder="Nota" id="nota" name="nota" v-model="solicitud.nota" required="required"></textarea></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" v-on:click.prevent="deleteSolicitud(solicitud)">Eliminar</button>
              </form>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Crear Cotización -->
      <div class="modal fade" v-bind:id="'modalCotizacion'+solicitud.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning"></i> Crear Cotización</h4>
            </div>
            <div class="modal-body">
              <h4>Desea Crear una Cotización?.</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" v-on:click.prevent="confirmar(solicitud)">Crear Cotización</button>

              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>

    </div><!-- Fin grid-item -->

  </div><!-- Fin Grid -->

</div><!-- App ID -->

</div>

<div class="col-md-12">
<div class="container-overflow">
  <table class="table table-hover table-striped table-condensed table-responsive">
      <thead style="background: #024696;color: white;">
          <tr>
              <th>NOTA</th>
              <th>FECHA</th>
              <th data-search="Nombre" class="col-hidden">CLIENTE NOMBRE</th>
              <th class="col-hidden text-center">ASESOR</th>
              <th class="col-blocked text-center"></th>
              <th class="col-hidden text-center" data-order="estado_usuario">ESTADO</th>
          </tr>
      </thead>
      <tbody>
      <?php foreach($solicitudes->items as $solicitud):?>
        <?php $cliente = Load::model('cliente')->find_first($solicitud->cliente_id); ?>
        <?php $asesor = Load::model('sistema/usuario')->find_first($solicitud->usuario_id); ?>

        <tr>
          <td><?php echo $solicitud->id ?></td>
          <td><?php $date = new DateTime($solicitud->solicitud_at); echo $date->format('d-M-Y --- H:i:s'); ?></td>
          <td><?php echo $cliente->nombre ?></td>
          <td><?php echo $asesor->nombre ?> <?php echo $asesor->apellido ?></td>
          <td class="text-right" style="font-size:1.2em;">
          <?php if(!empty($solicitud->solicitud_up)){ $dateUp = new DateTime($solicitud->solicitud_up); echo $dateUp->format('d-M-Y --- H:i:s'); }?>
            <?php // echo $solicitud->solicitud_up ?>
            <?php if(!empty($solicitud->nota)){ ?>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalInfoSolicitud<?php echo $solicitud->id ;?>" ><i class="fa fa-search"> </i></button>
              <!-- Modal Info Solicitud -->
              <div class="modal fade" id="ModalInfoSolicitud<?php echo $solicitud->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalEstadoLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="text-center" style="text-align:left;" class="modal-title" id="myModalLabel"><i class="fa fa-money"> </i> Solicitud <?php echo $solicitud->id ;?></h4>
                    </div>
                    <div class="modal-body">
                      <h2 class="text-center">Nota Solicitud</h2>
                      <h4 class="text-center"><?php echo $solicitud->nota ?></h4>
                      <h4 class="text-center"><span style="color:red">Fecha de cancelación:</span> <?php $dateDown = new DateTime($solicitud->solicitud_down); echo $dateDown->format('d-M-Y --- H:i:s'); ?></h4>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            <?php }?>

          </td>
          <td class="text-center">
              <?php  if($solicitud->estado == 1) { ?>
                  <span class="label label-warning" title="" rel="tooltip">Activo</span>
              <?php }if($solicitud->estado == 2) {?>
                <span class="label label-success" title="" rel="tooltip">Procesada</span>
              <?php }if($solicitud->estado == -1){ ?>
                  <span class="label label-danger" title="" rel="tooltip">Cancelada</span>
              <?php } ?>
          </td>
        </tr>
        <?php endforeach; ?>
      </tbody>
  </table>
      <?php echo View::partial('paginators/default', false, array('page'=>$solicitudes, 'url'=>"dashboard/solicitudes/index/$order/")); ?>

</div>

</div>
</div>





<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<?php echo Tag::js('md5').PHP_EOL; ?>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script> -->


<script type="text/javascript">
    // var urlSolicitudes = "<?php  echo DOMINIO ?>api/solicitudes/";
    // var urlClientes = "<?php  echo DOMINIO ?>api/clientes/";

    var urlSolicitudes = "/api/solicitudes/";
    var urlClientes = "/api/clientes/";

    new Vue({
      el: '#app',
      created: function() {
        this.getSolicitudes();
        this.getClientes();
      },
      data: {
        listSolicitudes: [],
        listClientes: [],
        buscador: '',
        newDetalle: '',
        newColor: '',
        newClienteId: '',
        newCliente: '',
        newTelefono: '',
        newEmail: '',
        errors: []
      },
      methods: {
        getSolicitudes: function() {
          axios.get(urlSolicitudes).then(response => {
            this.listSolicitudes = response.data
          });
        },
        getClientes: function() {
          axios.get(urlClientes).then(response => {
            this.listClientes = response.data
          });
        },
        deleteSolicitud: function(solicitud){
          // var urlSolicitudesDel = urlSolicitudes + solicitud.id;
          var urlSolicitudUpdate = urlSolicitudes+solicitud.id;
          var inputSolicitudNota = solicitud.nota;

          // axios.delete(urlSolicitudesDel).then(response => {
          //   this.getSolicitudes();
          //   $('#modalDelete'+solicitud.id).modal('hide');
          //   toastr.success('Eliminado Correctamente');
          // });

          var dt = new Date();
          var dtYMD = dt.getFullYear() + "-" + ("0" + (dt.getMonth() + 1)).slice(-2) + "-" + ("0" + (dt.getDate())).slice(-2) + " " + ("0" + (dt.getHours())).slice(-2) + ":" + ("0" + (dt.getMinutes())).slice(-2) + ":" + ("0" + (dt.getSeconds())).slice(-2);

          if(inputSolicitudNota ==''){
            toastr.error('Agregue nota.');
          }else{
            axios.put(urlSolicitudUpdate,
              {
                estado: -1,
                solicitud_down:dtYMD,
                nota:solicitud.nota
              },
              {
                headers: {
                  'Content-Type': 'application/json',
              }}).then(response => {
                // console.log(response);
              this.getSolicitudes();
              $('#modalDelete'+solicitud.id).modal('hide');
              toastr.success('Eliminado Correctamente.');
            });
          }


        },
        createSolicitud: function(){
          // console.log(this.newClienteId);
          var urlSolicitudCreate = urlSolicitudes;
          var inputClienteId = $('#cliente_id').val();

          if(!inputClienteId ==''){

            axios.post(urlSolicitudCreate,
              {
                cliente_id: this.newClienteId,
                detalle: this.newDetalle,
                color: '#FFEB3B',
                usuario_id:   <?php echo Session::get('id') ?>
              },
              {
                headers: {
                  'Content-Type': 'application/json',
              }}).then(response => {
                // console.log(response);

              this.getSolicitudes();
              this.newClienteId = '';
              this.newDetalle = '';
              this.newColor = '';
              this.errors = [];
              $('#create').modal('hide');
              toastr.success('Nueva solicitud creada.');

            }).catch(error =>{
              this.errors = error.response.data
            });

          }

        },
        showDetalle: function(solicitud){
          // console.log(solicitud.id);
          if($('#'+solicitud.id).css('display') == 'none'){
             $('#'+solicitud.id).show();
          } else {
             $('#'+solicitud.id).hide();
          }

        },
        selectCliente: function(item){
          // console.log(item.id);
          this.buscador = '';
          this.newClienteId = item.id;
          $('#cliente_id').val(item.id);
          $(cliente_nombre).html(item.nombre);
          $(cliente_celular).html(item.celular);
          $(cliente_email).html(item.email);

        },
        createCliente: function(){
          // console.log('dentro create');
          if($('#createCliente').css('display') == 'none'){
             $('#createCliente').show();
          } else {
             $('#createCliente').hide();
          }

          if($('#showCliente').css('display') == 'none'){
             $('#showCliente').show();
          } else {
             $('#showCliente').hide();
          }
          // $('#createCliente').show();
        },
        formCreateCliente: function(){
          // console.log(this.newClienteId);
          var urlClienteCreate = urlClientes;
          axios.post(urlClienteCreate,
            {
              nombre: this.newCliente,
              email: this.newEmail,
              celular: this.newTelefono,
            },
            {
              headers: {
                'Content-Type': 'application/json',
            }}).then(response => {
              console.log(response);

            this.getClientes();
            this.newCliente = '';
            this.newEmail = '';
            this.newTelefono = '';
            this.errors = [];
            $('#createCliente').modal('hide');
            toastr.success('Nuevo Cliente Creado.');

            $('#createCliente').hide();
            $('#showCliente').show();


          }).catch(error =>{
            this.errors = error.response.data
          });

        },
        confirmar: function(solicitud){
          var dt = new Date();
          var dtYMD = dt.getFullYear() + "-" + ("0" + (dt.getMonth() + 1)).slice(-2) + "-" + ("0" + (dt.getDate())).slice(-2);
          var id = solicitud.cliente_id;
          var action = "shw_cliente";
          var key = "XTaiE$4Y2M~DBc{)wK-|LI+cPwr=x_Dpf"+dtYMD;
          var key = (CryptoJS.MD5((solicitud.cliente_id+key)+action)).toString();
          var tam = key.length;
          var url =(id+'.'+key.substr(0,6)+key.substr(tam-6,tam));

          var dtYMDFull = dt.getFullYear() + "-" + ("0" + (dt.getMonth() + 1)).slice(-2) + "-" + ("0" + (dt.getDate())).slice(-2) + " " + ("0" + (dt.getHours())).slice(-2) + ":" + ("0" + (dt.getMinutes())).slice(-2) + ":" + ("0" + (dt.getSeconds())).slice(-2);

          var urlSolicitudUpdate = urlSolicitudes+solicitud.id;
          // console.log(url +" "+dtYMD);


            axios.put(urlSolicitudUpdate,
              {
                estado: 2,
                solicitud_up:dtYMDFull
              },
              {
                headers: {
                  'Content-Type': 'application/json',
              }}).then(response => {
                // console.log(response);
              this.getSolicitudes();
              //toastr.success('Nueva solicitud creada.');
              return window.location.href = "/dashboard/cotizaciones/agregar/"+url;
              // return window.location.href = "http://localhost:8888/app-turishuila/dashboard/cotizaciones/agregar/"+url;
            }).catch(error =>{
              this.errors = error.response.data
            });




        }
      },
      computed:{
        searchCliente: function () {
          // return this.lists.filter((item) => item.nombre.includes(this.name));
           var self=this;
       return this.listClientes.filter(function(item){return item.nombre.toLowerCase().indexOf(self.buscador.toLowerCase())>=0;})

        }
      },
    });

  </script>



<script type="text/javascript">
// external js: masonry.pkgd.js

var $grid = $('.grid').masonry({
  columnWidth: 520,
  itemSelector: '.grid-item'
});

$grid.on( 'click', '.grid-item-content', function( event ) {
  $( event.currentTarget ).parent('.grid-item').toggleClass('is-expanded');
  $grid.masonry();
  $('.grid-item-footer').show();
});

</script>

<script>
  $(document).ready(function() {
      $('.summernote').summernote({
        height: 300,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
      });
  });
</script>
