<?php View::flash(); ?>

<script type="text/javascript">
    $(function() {
        $('table').kgrid({
            form_to         : $.KumbiaPHP.publicPath+'dashboard/solicitudes/buscar/',            
            order_attr      : '<?php echo (APP_AJAX) ? 'class="js-link js-spinner"' : ''; ?>',
            order_to        : $.KumbiaPHP.publicPath+'dashboard/solicitudes/listar/'
        });
    });
</script>

<div class="container shell-view">

    <?php View::process($page_module, $page_title, $set_title); ?>

    <div class="btn-toolbar btn-toolbar-top">
        <div class="row">
            <div class="btn-actions">
                <?php echo DwHtml::button("dashboard/solicitudes/buscar_cliente", 'agregar', NULL, 'fa-check-square-o', APP_AJAX); ?>
            </div>            
        </div>
    </div>

    <div class="container-overflow">

        <table class="table table-hover table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th>NUM</th>
                    <th>FECHA</th>
                    <th data-search="Nombre" class="col-hidden">CLIENTE NOMBRE</th>
                    <th class="col-hidden">DESTINO</th>
                    <th class="col-hidden text-center">VISTO</th>                    
                    <th class="col-hidden text-center">ITEMS</th>                                        
                    <th class="col-hidden text-center">VALOR</th>                                        
                    <th class="col-hidden text-center" data-order="estado_usuario">ESTADO</th>
                    <th class="col-blocked text-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($solicitudes->items as $solicitud): ?>
                    <?php $key_shw = Security::setKey($solicitud->id, 'shw_cliente'); ?>
                    <?php $key_ina = Security::setKey($solicitud->id, 'bloquear_usuario'); ?>
                    <?php $key_rea = Security::setKey($solicitud->id, 'reactivar_usuario'); ?>
                    
                    <?php $cliente = Load::model('cliente')->find_first($solicitud->cliente_id); ?>
                    <?php $items_cliente = Load::model('cotizacion_item')->count("cotizacion_id =$solicitud->id AND estado >=1"); ?>
                    <?php $items_cliente_valor = Load::model('cotizacion_item')->sum("valor_total","conditions: cotizacion_id =$solicitud->id AND estado >=1"); ?>
                    <tr>
                        <?php // echo $solicitudes->counter; ?>
                        <td><?php echo $solicitud->id; ?></td>
                        <td><time class="timeago" datetime="<?php echo $solicitud->cotizacion_at ?>"></time></td>                        
                        <td><?php echo $cliente->nombre; ?></td>
                        <?php $cliente_destino = Load::model('cotizacion_item')->find_first("conditions: cotizacion_id=$solicitud->id"); ?>
                        <td><?php echo $cliente_destino->destino; ?></td>
                        <td class="text-center" style="color: #23a5fd">
                            <?php if(!$solicitud->visita_cliente == NULL){ ?>
                                <strong><?php echo $solicitud->visita_cliente ?></strong><i class="fa fa-check" style="margin-right: -5px;"></i> <i class="fa fa-check"></i>
                            <?php } ?>
                        </td>                        
                        <td style="font-size: 1.2em"><?php echo $items_cliente ;?></td>
                        <td class="text-bold text-right" style="font-size: 1.2em">$ <?php echo number_format($items_cliente_valor, 0, '', '.') ?></td>
                        <td class="text-center">
                            <?php  if($solicitud->estado == 1) { ?> 
                                <span class="label label-success" title="" rel="tooltip">Activo</span> 
                            <?php }if($solicitud->estado == 2) {?> 
                                <span class="label label-warning" title="" rel="tooltip">Envio Mail</span> 
                            <?php }if($solicitud->estado == 3) { ?> 
                                <span class="label label-primary" title="" rel="tooltip">Procesado</span>
                            <?php }if($solicitud->estado == 4) { ?>
                                <span class="label label-info" title="" rel="tooltip">Aceptado</span>
                            <?php }if($solicitud->estado == 0){ ?>
                                <span class="label label-danger" title="" rel="tooltip">Cancelado</span>                                
                            <?php } ?>
                        </td>
                        <td class="text-right">
                            <script>
                                $(function () { $('[data-toggle="tooltip<?php echo $solicitud->id  ?>"]').tooltip()})
                                </script>
                            <?php $asesor = Load::model("sistema/usuario")->find_first("conditions: id=$solicitud->usuario_id")  ?>
                            <button type="button" class="btn btn-default" data-toggle="tooltip<?php echo $solicitud->id  ?>" data-placement="top" title="Asesor: <?php echo $asesor->nombre." ".$asesor->apellido; ?>"><i class="fa fa-user-circle-o"> </i></button>
                            
                            <?php if((Session::get('perfil_id') <= Perfil::COMERCIAL)) { ?>
                    
                                <!-- Modal -->

                                <div class="modal fade" id="ModalSederAsesor<?php echo $solicitud->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalEstadoLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 style="text-align:left;" class="modal-title" id="myModalLabel"><i class="fa fa-exchange"> </i> Seder Solucitud <?php echo $solicitud->id ;?></h4>
                                      </div>
                                      <div class="modal-body">

                                          <?php $asesorNombre = Load::model('sistema/usuario')->find_first("conditions: id=$solicitud->usuario_id");?>
                                          <div class="text-center" style="font-size:2em;"><b>Asesor Actual: </b><span id="asesorActual<?php echo $solicitud->id ;?>"><?php echo $asesorNombre->nombre; ?> <?php echo $asesorNombre->apellido; ?></span></div>
                                          <?php // echo Ajax::form("asesorActual$solicitud->id");?>
                                          <?php echo Form::open();?>
                                          <select id="cotizacion_usuario_id" name="cotizacion[usuario_id]" class="form-control input-lg">
                                              <option value="<?php echo $asesorNombre->id;?>"><?php echo $asesorNombre->nombre;?> <?php echo $asesorNombre->apellido;?></option>
                                              <?php foreach ($asesores_comerciales as $asesores): ?>
                                              <?php if($asesorNombre->id <>$asesores->id){ ?>
                                                <option value="<?php echo $asesores->id ;?>"><?php echo $asesores->nombre ;?> <?php echo $asesores->apellido;?></option>
                                              <?php } ?>
                                              <?php endforeach; ?>
                                          </select>

                                      <div class="modal-footer">                                                       
                                          <?php echo Form::hidden('cotizacionid', NULL, $solicitud->id);?>
                                          <button type="submit" class="btn btn-primary" >Seder Solicitud</button>
                                          <?php echo Form::close();?>                               
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                      </div>
                                      </div>

                                    </div>
                                  </div>
                                </div> 
                            <?php } ?>
                            
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalInfo<?php echo $solicitud->id ;?>"><i class="fa fa-plus-square"></i></button>                                                            
                                
                        </td>
                    </tr>
                    <?php $solicitudes->counter++; ?>

                    <!-- Modal 1 -->
                    <div class="modal fade" id="ModalInfo<?php echo $solicitud->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalInfoLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Solicitud #<?php echo $solicitud->id ?> | <?php echo $cliente->nombre; ?></h4>
                          </div>
                          <div class="modal-body">
                              <div style="text-align: center;">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSederAsesor<?php echo $solicitud->id ;?>"><i class="fa fa-exchange"></i></button>                                                                                      
                                <?php if($solicitud->estado == 4){ ?>
                                    <?php echo DwHtml::buttonTable('Voucher', "dashboard/vouchers/index/$key_shw/", NULL, 'success', 'fa-ticket'); ?>                                                        
                                <?php  }else{ ?>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalEstado<?php echo $solicitud->id ;?>"><i class="fa fa-refresh"></i></button>                            
                                <?php  } ?>
                                    <?php echo DwHtml::buttonTable('Ver Solicitud', "dashboard/solicitudes/ver/$key_shw/", NULL, 'info', 'fa-search'); ?>                            

                                <?php if($solicitud->estado <> 4){ ?>
                                    <?php echo DwHtml::buttonTable('Editar Solicitud', "dashboard/solicitudes/editar/$key_shw/", NULL, 'warning', 'fa-edit'); ?>                            
                                <?php } ?>  
                                  <?php echo DwButton::report("index/reporte/$key_shw", 'html', 'Imprimir reporte', ''); ?>                                                                                                                                  
                                  <?php echo DwHtml::buttonTable('Enviar Solicitud', "dashboard/solicitudes/send/$key_shw/", NULL, 'default', 'fa-send'); ?>                            
                              </div>
                              <div>
                                  <h1 style="text-align:center;"><small>Celular:</small> <?php echo $cliente->celular; ?></h1>
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                          </div>
                        </div>
                      </div>
                    </div>                      
                    <!-- Fin Modal 1 -->
                    
                    
                    <!-- Modal 2 -->
                    <div class="modal fade" id="ModalEstado<?php echo $solicitud->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalEstadoLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Actualizar Estado Proceso</h4>
                          </div>
                          <div class="modal-body">
                              <?php echo DwHtml::link("dashboard/solicitudes/actualizar_estado/$key_shw/0", "<i class='fa fa-times-circle'></i> Cancelar","class='btn btn-lg btn-danger js-url'") ;?>
                              <?php echo DwHtml::link("dashboard/solicitudes/actualizar_estado/$key_shw/3", "<i class='fa fa-hourglass-half'></i> Procesando","class='btn btn-lg btn-primary js-url'") ;?>
                              <?php echo DwHtml::link("dashboard/solicitudes/actualizar_estado/$key_shw/4", "<i class='fa fa-star'></i> Aceptada","class='btn btn-lg btn-info js-url'") ;?>
                            
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <!-- Fin Modal 2 -->                    
                <?php endforeach; ?>
            </tbody>
        </table>

    </div>

    <?php View::partial('paginators/default', false, array('page'=>$solicitudes, 'url'=>"dashboard/solicitudes/listar/$order/")); ?>
    
    
    <div>
        <span class="label label-danger">Cancelado</span>    
        <span class="label label-success">Activo</span> 
        <span class="label label-warning">Envio Mail</span>
        <span class="label label-primary">Procesando</span>        
        <span class="label label-info">Aceptada</span>        
    </div>

</div>

<script type="text/javascript">           
    if (typeof($.timeago) != "undefined") {
        jQuery.timeago.settings.strings = {
            prefixAgo: "hace",
            prefixFromNow: "dentro de",
            suffixAgo: "",
            suffixFromNow: "",
            seconds: "menos de un minuto",
            minute: "un minuto",
            minutes: "unos %d minutos",
            hour: "una hora",
            hours: "%d horas",
            day: "un día",
            days: "%d días",
            month: "un mes",
            months: "%d meses",
            year: "un año",
            years: "%d años"
        };
    }
    jQuery(document).ready(function() {
      jQuery("time.timeago").timeago();
    });            
</script>