<!DOCTYPE html>
<html lang="es">
    <head>
        <title><?php echo $page_title; ?></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="<?php echo APP_CHARSET; ?>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" />
        <link rel="shortcut icon" href="<?php echo PUBLIC_PATH; ?>img/favicon.png" type="image/x-icon" />
        <?php Tag::css('bootstrap3.3.6/bootstrap.min'); ?>
        <?php //Tag::css('bootstrap3.3.6/bootstrap-theme.min'); ?>
        <?php Tag::css('font-awesome.min'); ?>        
        <?php Tag::css('backend/base'); ?>
        <?php Tag::css('backend/style'); ?>
        <?php Tag::css('backend/login'); ?>
        <?php Tag::css('backend/themes/default/default'); ?>
        <?php echo Html::includeCss(); ?>
        <?php if(!APP_LOCAL) { ?>
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900" rel="stylesheet" type="text/css">
        <?php } ?>

        <?php echo Tag::js('jquery/jquery.min').PHP_EOL; ?>

    </head>
    <body>

        <?php  View::partial('backend/header_login'); ?>

        <div id="shell-load">
            <div id="shell-console"></div>
            <div id="shell-content" class="container">
                <?php View::content(); ?>
            </div>
        </div>

        <?php View::partial('backend/footer'); ?>

        <div id="loading-content" class="alpha60"></div>
        <div id="spinner" class="preview corner-all shadow-dark"></div>

        <script type="text/javascript">
            $(function () {
                jQuery.support.placeholder = false;
                test = document.createElement('input');
                if('placeholder' in test) jQuery.support.placeholder = true;
                if (!$.support.placeholder) {
                    $('.field').find ('label').show();
                }
            });
        </script>

        <?php echo Tag::js('bootstrap3.3.6/bootstrap.min').PHP_EOL; ?>        
        <?php echo Tag::js('jquery/jquery.spin').PHP_EOL; ?>        
        
        <?php echo Tag::js('html5shiv').PHP_EOL; ?>        
        <?php echo Tag::js('backend').PHP_EOL; ?>
        <?php echo Tag::js('validador').PHP_EOL; ?>

        <?php echo DwJs::alert('Se ha generado la siguiente excepción: <br /><span id="error-ajax"></span>.', 'title: Oops! hemos realizado algo mal.', 'name: errorAjax'); ?>
        <?php echo DwJs::alert('Se ha producido un error en la validación del formulario.', 'subtext: Verifica los datos e intenta nuevamente.', 'title: Formulario incorrecto', 'name: errorForm'); ?>

    </body>
</html>
