<!DOCTYPE html>
<html lang="es">
    <head>
       <title>Información Visa Click en el enlace</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="<?php echo APP_CHARSET; ?>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" />
        <link rel="shortcut icon" href="<?php echo PUBLIC_PATH; ?>img/favicon.png" type="image/x-icon" />
        <?php Tag::css('bootstrap/bootstrap.min', 'all'); ?>
        <?php Tag::css('bootstrap/bootstrap-theme.min', 'all'); ?>
        <?php Tag::css('font-awesome.min', 'all'); ?>
        <?php Tag::css('backend/base', 'all'); ?>
        <?php Tag::css('backend/style', 'all'); ?>
        <?php Tag::css('backend/printer', 'all'); ?>
        <?php echo Html::includeCss(); ?>
        <?php if(!APP_LOCAL) { ?>
            <link href="http://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet" type="text/css">
        <?php } ?>
        <style type="text/css">
            .caja-borde{ border-top: 1px solid #eeeeee; padding:5px}
            .f18{font-size: 18px};

        </style>
        <?php echo Tag::js('jquery/jquery.min').PHP_EOL; ?>
    </head>
    <body style="background:#FFF !important;">

    <div id="shell-content" class="container-fluid">


    <span class="movilPantalla" style="display:none;">
        <div class="row">
            <div class="col-sm-5">
                <?php echo Html::img("logo-empresa.png","","class='img-responsive' style='max-width:300px;' ");?>
            </div>
            <div class="col-sm-4">
            <div style="font-size:12px;"><?php echo NOMBRE_EMPRESA; ?></div>
                <div>Tel:  <?php echo TELEFONO ?> / Cel. <?php echo CELULAR ?></div>
                <div class="text-bold" style="font-size:1.6em;">Orden de Cotización #00<?php echo $visa->id ;?></div>
                <?php $asesor = load::model('sistema/usuario')->find_first($visa->usuario_id); ?>
                <div class="" style="font-size:13px;"><?php  if($asesor->fotografia <> "default.png"){ echo Html::img("upload/personas/$asesor->fotografia",NULL,"width='40px' "); } ?> <?php  echo "Asesor ".$asesor->nombre." ".$asesor->apellido; ?></div>        
            </div>
            <div class="col-sm-3">
                        
            </div>
        </div>
    </span>    


    <table class="panelEscritorio" style="display:none;">
        <tr>
            <td><?php echo Html::img("logo-empresa.png","","width='300px' ");?></td>
            <td style="padding-left:30px;">
                <div style="font-size:12px;"><?php echo NOMBRE_EMPRESA; ?></div>
                <div>Tel:  <?php echo TELEFONO ?> / Cel. <?php echo CELULAR ?></div>
                <div class="text-bold" style="font-size:1.6em;">Solicitud  de Visado #00<?php echo $visa->id ;?></div>
                <div class=""><?php $asesor = load::model('sistema/usuario')->find_first($visa->usuario_id); echo "Asesor ".$asesor->nombre." ".$asesor->apellido;  ?></div>
            </td>
            <td style="padding-left:30px;"><?php if($asesor->fotografia <> "default.png"){ echo Html::img("upload/personas/$asesor->fotografia",NULL,"width='70px' "); } ?> </td>
        </tr>
    </table>

    <div style="border:2px solid #<?php echo COLOR_SECUNDARIO ?>;margin-top: 20px">
            <div style="font-size:18px; border-top:1px solid #eeeeee; padding: 5px;background: #<?php echo COLOR_PRIMARIO; ?>; color: #fff" class="text-center"><b> <?php // echo $item->producto;?></b>  <?php // echo $item->origen;?>  <?php // echo $item->destino ;?></div>
            <div class="caja-borde f18 text-center" style="font-size: 2em;background: #<?php echo COLOR_SECUNDARIO ?>;">Hola, <?php $cliente = load::model('cliente')->find_first($visa->cliente_id);  echo $cliente->nombre;?></div>
            <div class="f18" style="background: #<?php echo COLOR_PRIMARIO; ?>;color: white;font-size: 22px;"><b><center>Aquí encontraras, la información que deseas:</center></b></div>
            <div class="f18 text-center" style="background: #<?php echo COLOR_PRIMARIO; ?>;color: white;font-size: 24px;"><b><?php // echo $item->titulo;?></b></div>

            <div class="caja-borde text-center" style="background: whitesmoke; font-size:32px;"> <b> <?php echo $visa_formato->nombre ?></b></div>
            <div class="caja-borde" style="padding-top:0px;padding-left: 10px;padding-right: 10px;">
                <div class="text-center"><h3>Conoce los Requisitos</h3></div> 
                <?php echo $visa_formato->requisitos ;?>
        <div class="text-center" style="background: #f9cc33;padding-top: 10px;padding-bottom: 10px;"><?php if(!empty($visa_formato->formulario)){ ?> <h2>Descargue Formulario <a href="../../../img/upload/<?php echo $visa_formato->formulario; ?>" target="_blank"><i class="fa fa-download"></i></a></h2> <?php } ?></div>
            </div>

        </div>
        <div class="caja-borde" style="margin-top: 20px;font-size: 1.6em;background: #<?php echo COLOR_SECUNDARIO ?>;">
            <div class="row">
                <div class="col-sm-9 text-center"><b>DETALLE</b></div>
                <div class="col-sm-3"><b>PRECIOS</b></div>
            </div>
        </div>

        <div style="border:2px solid #FDCB2E;margin-top: 0px;font-size: 2.4em;background: #<?php echo COLOR_PRIMARIO;?>;color: white;">

            <div class="caja-borde">
                    <div class="row" style="font-size: 1.4em">
                    <div class="col-sm-9">Costos Consulares</div>
                    <div class="col-sm-3 text-right" style="font-weight: 600;"><?php echo $visa_formato->costo;?></div>
                    </div>
                    <hr style="margin-top: 2px !important;margin-bottom: 2px !important;">

                    <div class="row" style="font-size: 1.4em">
                    <div class="col-sm-9">Costos Servicio</div>
                    <div class="col-sm-3 text-right" style="font-weight: 600;"><?php echo  $visa_formato->costo_servicio;?></div>
                    </div>                    
                    <hr style="margin-top: 2px !important;margin-bottom: 2px !important;">
            </div>
        </div>

            <div class="caja-borde" style="border: 2px solid #FDCB2E;margin-top: 20px;font-size: 2.4em;">
                <div class="caja-borde text-center" style="background: whitesmoke; font-size:32px;"> <b> Archivos Adjuntos</b></div>

                <table class="table table-hover table-striped">
                    <tbody>
                        <?php foreach($visa_adjunto as $adjunto):?>
                        <tr>
                            <td><?php echo ucfirst($adjunto->nombre_archivo); ?></td>
                            <td><a href="../../../img/upload/<?php echo $adjunto->archivo ?>" target="_blank"><i class="fa fa-2x fa-download"></i></a></td>
                        </tr>
                        <?php endforeach;?>
                    </tbody>
                </table>            
            
            </div>

        <div style="margin-top: 20px;background: #<?php echo COLOR_SECUNDARIO; ?>;">
            <div class="caja-borde text-center">
                <p style="font-size:1.4em;"><b>Nota:</b> Para efectos de cualquier información y/o confirmación por favor referirse al siguiente número de <b>Solicitud de Visado #<?php echo $visa->id ;?></b></p>
            </div>
        </div>



        </div>

    </body>
</html>

<script language="JavaScript">
    $(window).resize(function() {
    // var heightBrowser =$(window).height();
    var widthBrowser =$(window).width();

    if(widthBrowser < 450){
        console.log('dentro movil');
        $('.movilPantalla').show();
        $('.panelEscritorio').hide();
    }
    if(widthBrowser >=450){
        console.log('dentro escritorio');
        $('.panelEscritorio').show();
        $('.movilPantalla').hide();                
    } 

    });


    var widthBrowser = $(window).width();
    console.log(widthBrowser);
    if(widthBrowser < 450){
        console.log('dentro movil');
        $('.movilPantalla').show();
        // $('.panelEscritorio').hide();
    }
    if(widthBrowser >=450){
        console.log('dentro escritorio');
        $('.panelEscritorio').show();
        // $('.panelMovil').hide();                
    }            
</script>