<div style="color: #454545; font-family: Arial,Helvetica,sans-serif; font-size: 12px;">
    <p><strong>Empresa: </strong><?php echo APP_CLIENT. ' - '.APP_NAME; ?><strong> - Usuario:</strong> <?php echo Session::get('login'); ?> </p>
    <p><strong>Denominación:</strong> <?php echo $denominacion; ?> </p>
    <p><strong>Fecha:</strong> <?php echo $fecha; ?> </p>
    <p><strong>Achivo:</strong> <?php echo $archivo; ?></p>
    <p><strong>Tamaño:</strong> <?php echo $tamano; ?></p>
</div>