<div style="color: #454545; font-family: Arial,Helvetica,sans-serif; font-size: 12px;">
    <p><strong>Nombre:</strong> <?php echo $certificado->clien; ?> </p>
    <p><strong><?= $certificado->tipo_nuip_clien; ?>: </strong><?php echo $certificado->nuip_clien; ?></p>
    <p><strong>Certificado:</strong> <?php echo $certificado->certificado; ?> </p>
    <p><strong>Curso:</strong> <?php echo $certificado->tipo_curso; ?> </p>
    <?php if(!empty($certificado->categoria)) { ?>
    <p><strong>Categoría:</strong> <?php echo $certificado->categoria; ?> </p>
    <?php } ?>    
    <?php if(!empty($certificado->tiempo)) { ?>
    <p><strong>Tiempo:</strong> <?php echo $certificado->tiempo.' '.$certificado->duracion; ?> </p>
    <?php } ?>
    <p><strong>Fecha:</strong> <?php echo trim($certificado->fecha_inicio.' - '.$certificado->fecha_vencimiento, ' - '); ?> </p>
    <p><strong>Instructor:</strong> <?php echo $certificado->inst; ?></p>
    <p><strong><?= $certificado->tipo_nuip_inst; ?>: </strong><?php echo $certificado->nuip_inst; ?></p>
</div>