<div style="color: #454545; font-family: Arial,Helvetica,sans-serif; font-size: 12px;">
    <p><strong>Empresa: </strong><?php echo APP_CLIENT. ' - '.APP_NAME; ?><strong> - Usuario:</strong> <?php echo Session::get('login'); ?> </p>
    <p><strong>Tiempo:</strong> <?php echo $tiempo; ?> </p>
    <p><strong>Ruta:</strong> <?php echo $ruta; ?> </p>
    <p><strong>Fecha:</strong> <?php echo date("Y-m-d H:i:s"); ?> </p>    
</div>