<!DOCTYPE html>
<html lang="es">
    <head>
        <title><?php echo $page_title; ?></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="<?php echo APP_CHARSET; ?>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" />
        <link rel="shortcut icon" href="<?php echo PUBLIC_PATH; ?>img/favicon.ico" type="image/x-icon" />
        <?php Tag::css('bootstrap/bootstrap.min', 'all'); ?>
        <?php //Tag::css('bootstrap/bootstrap-theme.min', 'all'); ?>
        <?php Tag::css('font-awesome.min', 'all'); ?>
        <?php Tag::css('backend/base', 'all'); ?>
        <?php Tag::css('backend/style', 'all'); ?>
        <?php Tag::css('backend/printer', 'all'); ?>
        <?php echo Html::includeCss(); ?>
        <?php if(!APP_LOCAL) { ?>
            <link href="http://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet" type="text/css">
        <?php } ?>
        <style type="text/css">
            .caja-borde{ border-top: 1px solid #eeeeee; padding:5px}
            .f18{font-size: 18px};

        </style>
        <?php echo Tag::js('jquery/jquery.min').PHP_EOL; ?>
        <script type="text/javascript">
            function changeTitle(title) { if($(document).attr('title') != title) { $(document).attr('title', title); } }
            $(function() {
                window.print();
            });
        </script>

    </head>
    <body style="background:#FFF !important;">

    <div id="shell-content" class="container-fluid">

<style>
    .border{ border: 1px solid #ccc;}
</style>
<?php // $vouchers = Load::model('voucher')->find("conditions: cotizacion_id=$id","order: id DESC") ;?>
<?php if($vouchers == NULL){  ?>
<div class="text-center"><h2>No hay Vouchers Para esta solicitud.</h2></div>
<?php }else{ ?>
<?php foreach ($vouchers as $voucher): ?>
<?php $key = Security::setKey($voucher->cotizacion_id, 'shw_cliente'); ?>

<div style="margin-bottom: 20px">

    <div class="row border">
    <div class="col-sm-4"><?php echo Html::img("logo-turishuila.png","","width='200px' style='margin:10px;' ");?></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4 text-right text-bold">REFERENCIA / REFERENCE :</div>
                <div class="col-sm-8" style="font-size:1.5em;">VOU<?php echo $voucher->cotizacion_id ?></div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-right text-bold">FECHA / DATE :</div>
                <div class="col-sm-8"><?php echo $voucher->vouche_at ?></div>
            </div>
        </div>
    </div>

    <div class="row border" style="border-top:0px;">
        <div class="row">
            <div class="col-sm-9">
                <div class="col-sm-4 text-bold">PROVEEDOR: / SUPPLIER:</div>
                <div class="col-sm-8"><?php echo $voucher->proveedor ;?></div>

                <div class="col-sm-4 text-bold">Dirección:</div>
                <div class="col-sm-8"><?php echo $voucher->direccion ;?></div>

                <div class="col-sm-4 text-bold">Teléfono:</div>
                <div class="col-sm-8"><?php echo $voucher->telefono ;?></div>

                <div class="col-sm-4 text-bold">Ciudad:</div>
                <div class="col-sm-8"><?php echo $voucher->ciudad ;?></div>
            </div>
            <div class="col-sm-3 ">
                <div class="col-sm-12 text-bold text-center">No. PAX</div>
                <div class="col-sm-12 text-bold text-center">Adultos / Adult: <?php echo $voucher->adultos ;?></div>
                <div class="col-sm-12 text-bold text-center">Niños / Child: <?php echo $voucher->infantes; ?></div>
            </div>
        </div>

    </div>

    <div class="row border" style="border-top:0px;padding-bottom: 10px;">
        <div class="col-sm-12 text-bold">FAVOR SUMINISTRAR A: / PLEASE PROVIDE TO:</div>
        <div class="col-sm-12 text-bold"><?php echo $voucher->cliente ;?></div>
    </div>

    <div class="row border" style="border-top:0px;padding-bottom: 10px;">
        <div class="col-sm-12 text-bold">LOS SIGUIENTES SERVICIOS: / THE FOLLOWING SERVICES:</div>
        <div class="col-sm-12"><?php echo $voucher->servicios ;?></div>
    </div>

    <div class="row border" style="border-top:0px;padding-bottom: 10px;">
        <div class="col-sm-6 text-bold">OBSERVACIONES: / OBSERVATION:</div>
        <div class="col-sm-6 text-bold text-right">ELABORADOR POR: <?php $usuario = Load::model("sistema/usuario")->find_first("id=$voucher->usuario_id"); echo $usuario->nombre ." ". $usuario->apellido;?></div>
        <div class="col-sm-12"><?php echo $voucher->observaciones ;?></div>
    </div>
</div>

<?php endforeach;?>
<?php  } ;?>




    </div>

    </body>
</html>
