<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>
    
    <?php echo DwForm::open(); ?> 
    
        <div class="row">
            <div class="col-md-8">                    
                <?php echo DwForm::text('tarjeta.nombre', array('class'=>'input-required'), NULL, 'Nombre Tarjeta'); ?>
            </div>
            <div class="col-md-4">                    
                <?php echo DwForm::number('tarjeta.valor', array('class'=>''), NULL, 'Valor'); ?>
            </div>            
        </div>      

    
        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>                    
                
                <?php echo DwForm::send('Editar tarjeta'); ?>                
                <?php echo DwForm::cancel("dashboard/tarjeta_asistencia/"); ?>
            </div>
        </div>
                    
    </div>
    <?php echo DwForm::close(); ?>
    
</div>

