<style>
.servicio_icon{ transition: transform .3s; cursor:pointer;border: 1px solid #7e7e7e;padding: 7px;}
.servicio_icon:hover{ transform: scale(1.1);}
label{font-size: 18px;font-weight: 500;}

.iconAgregar{
  background-image: url(../../../img/upload/terrestre/icono/bus_items.jpg);
    background-repeat: no-repeat;
    background-position: 0 -185px;
    display: block;
    height: 36px;
    width: 36px;
    margin: 0 auto; 
}
.iconRueda{
  height: 30px;
  width: 30px;
  margin: 0 auto;
  display: block;
  background-image: url(../../../img/upload/terrestre/icono/rueda.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  line-height: initial !important;
}

.iconPasillo{
    background-image: url(../../../img/upload/terrestre/icono/icon-pasillo.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain; 
}

/* .iconTv{
    background-image: url(../../../img/upload/terrestre/icono/bus_items.jpg);
    background-repeat: no-repeat;
    background-position: 0 -111px;
    display: block;
    height: 30px;
    width: 35px;
    margin: 0 auto;
} */
.iconTv{
    background-image: url(../../../img/upload/terrestre/icono/icon-tv.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;  
}


/* .iconWc{
    background-image: url(../../../img/upload/terrestre/icono/bus_items.jpg);
    background-repeat: no-repeat;
    background-position: 0 -148px;
    display: block;
    height: 36px;
    width: 36px;
    margin: 0 auto;
} */

.iconWc{
    background-image: url(../../../img/upload/terrestre/icono/icon-wc.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain; 
}

.iconSillaO{
    background-image: url(../../../img/upload/terrestre/icono/bus_items.jpg);
    background-repeat: no-repeat;
    background-position: 0 -74px;
    display: block;
    height: 36px;
    width: 36px;
    margin: 0 auto;
    line-height: initial !important;
}
/* .iconSillas{
    background-image: url(../../../img/upload/terrestre/icono/bus_items.jpg);
    background-repeat: no-repeat;
    background-position: 0 -37px;
    display: block;
    height: 36px;
    width: 36px;
    margin: 0 auto;
} */

.iconSillas{
    background-image: url(../../../img/upload/terrestre/icono/icon-silla.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain; 
    line-height: initial !important;
}

.iconSillaD{
    background-image: url(../../../img/upload/terrestre/icono/bus_items.jpg);
    background-repeat: no-repeat;
    background-position: 0 -0px;
    display: block;
    height: 36px;
    width: 36px;
    margin: 0 auto;
    line-height: initial !important;
}

.square {
  height: 90px;
  width: 90px;
  line-height: 90px;
  font-size: 32px;
  float: left;  
}

.blue {
    background-color: #2196f3!important;
}

.m-2 {
    margin: .5rem!important;
}

.drop-placeholder {
color: blue;
}


</style>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<div id="app" v-cloak>
    <div class="container shell-view">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#crearvehiculo"><i class="fa fa-plus-circle"></i> CREAR VEHICULO</button>

        <!-- modal Ver -->
        <div class="modal animated fadeIn" id="ModalVerItemVehiculo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 1100;">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Seleccione Elemento {{ additemVehiculo.posicion }} - {{ additemVehiculo.fila }}</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                      <span class="iconRueda"></span>
                    </div>
                    <div class="col-md-8">
                      <span style="font-size: 2em;">Conductor</span>
                    </div>
                    {{ additemVehiculo.posicion}}
                    <div class="col-md-2"><button class="btn btn-default"  @click="agregarItemTipo(additemVehiculo.fila,additemVehiculo.posicion,0,1)"><i class="fa fa-plus"></i></button></div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                      <span class="iconTv"></span>
                    </div>
                    <div class="col-md-8">
                      <span style="font-size: 2em;">Televisor</span>
                    </div>
                    <div class="col-md-2"><button class="btn btn-default" @click="agregarItemTipo(additemVehiculo.fila,additemVehiculo.posicion,0,2)"><i class="fa fa-plus"></i></button></div>

                </div> 
                <div class="row">
                    <div class="col-md-2">
                      <span class="iconWc"></span>
                    </div>
                    <div class="col-md-8">
                      <span style="font-size: 2em;">Baño</span>
                    </div>
                    <div class="col-md-2"><button class="btn btn-default" @click="agregarItemTipo(additemVehiculo.fila,additemVehiculo.posicion,0,3)"><i class="fa fa-plus"></i></button></div>
                </div> 

                <div class="row">
                    <div class="col-md-2">
                      <span class="iconSillas"></span>
                    </div>
                    <div class="col-md-8">
                      <span style="font-size: 2em;">Silla <input id="silla" class="form-control input-sm"></span>
                    </div>
                    <div class="col-md-2"><button class="btn btn-default" @click="agregarItemTipo(additemVehiculo.fila,additemVehiculo.posicion,1,4)"><i class="fa fa-plus"></i></button></div>
                </div>                                 

              </div>
            </div>
          </div>
      </div>


			<!-- Modal vehiculo -->
			<div class="modal animated fadeIn" id="crearvehiculo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h1 class="modal-title" id="myModalLabel">Crear vehiculo</h1>
			      </div>
			      <div class="modal-body">
              <form method="POST" v-on:submit.prevent="formCreatevehiculo">
                <div><input class="form-control input-lg" placeholder="Nombres" type="text" id="nombre"  v-model="vehiculo.nombre" required="required"></div>
                <div><input class="form-control input-lg" placeholder="Sillas" type="number" id="nombre" v-model="vehiculo.sillas" required="required"></div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <label>Seleccione Servicios</label>

                    <div style="padding-top:20px;padding-bottom:40px" id="listadoVehiculoServicio">
                      <img src="../../../img/upload/terrestre/vehiculoServicio1.png" @click="addServicio(1,'Sillas Reclinables')" id="vehiculoServicioAdd1" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Sillas Reclinables">
                      <img src="../../../img/upload/terrestre/vehiculoServicio2.png" @click="addServicio(2,'Aire Acondicionado')" id="vehiculoServicioAdd2" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Aire Acondicionado">
                      <img src="../../../img/upload/terrestre/vehiculoServicio3.png" @click="addServicio(3,'Baños')" id="vehiculoServicioAdd3" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Baños">
                      <img src="../../../img/upload/terrestre/vehiculoServicio4.png" @click="addServicio(4,'TV Ambiental')" id="vehiculoServicioAdd4" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="TV Ambiental">
                      <img src="../../../img/upload/terrestre/vehiculoServicio5.png" @click="addServicio(5,'Wifi')" id="vehiculoServicioAdd5" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Wifi">
                      <img src="../../../img/upload/terrestre/vehiculoServicio6.png" @click="addServicio(6,'Toma Corriente')" id="vehiculoServicioAdd6" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Toma Corriente">
                      <img src="../../../img/upload/terrestre/vehiculoServicio7.png" @click="addServicio(7,'Dos Conductores')" id="vehiculoServicioAdd7" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Dos Conductores">
                      <img src="../../../img/upload/terrestre/vehiculoServicio8.png" @click="addServicio(8,'Pantallas Individuales')" id="vehiculoServicioAdd8" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Pantallas Individuales">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>Servicios Seleccionado</label>
                      <div v-if="listServicios.length >=1" style="padding-top:20px;padding-bottom:40px">
                        <img v-for="(servicio, index) in listServicios" v-bind:src="'../../../img/upload/terrestre/vehiculoServicio'+servicio.tipo_servicio+'.png'" @click="DeleteServicio(servicio, index)" v-bind:id="'vehiculoServicio'+servicio.tipo_servicio+''" class="servicio_icon" style="margin: 1px;" data-toggle="tooltip" data-placement="top" v-bind:title="''+servicio.text+''">
                      </div>
                      <!-- <pre>{{ listServicios | json}}</pre> -->
                      <h5 v-else style="color:red; margin-top: 30px;">No hay servicios seleccionados</h5>
                  </div>
                </div>

                <div>
              
                
                </div>

                <div class="row">
                  <div class="col-md-2" style="border-right: 1px solid #e5e5e5;border-top: 1px solid rgb(229, 229, 229);">
                    <ul id="sortableIconos" class="list-group list-unstyled">
                      <li id="1" class="list-group-item text-center white-text blue m-2 square iconRueda" data-id="iconRueda" data-tipo="1"></li>
                      <li id="2" class="list-group-item text-center white-text blue m-2 square iconTv" data-id="iconTv" data-tipo="2"></li>
                      <li id="3" class="list-group-item text-center white-text blue m-2 square iconWc" data-id="iconWc" data-tipo="3"></li>
                      <li id="4" class="list-group-item text-center white-text blue m-2 square iconSillas" data-id="iconSillas" data-tipo="4"></li>
                      <li id="5" class="list-group-item text-center white-text blue m-2 square iconPasillo" data-id="iconPasillo" data-tipo="5"></li>
                    </ul>
                  </div>
                  <div class="col-md-8">
                    <table class="table" id="campoFilaVehiculo">
                      <tbody>
                        <tr class="text-center">
                          <td><span class="iconRueda"></span></td>
                          <td><span class="iconTv"></span></td>
                          <td><span class="iconWc"></span></td>
                          <td><span class="iconSillaS"></span></td>
                          <td>5</td>
                          <td><button class="btn btn-sm btn-danger" ><i class="fa fa-remove"></i></button></td>
                        </tr>
                      </tbody>
                    </table>
                    <button class="btn btn-sm btn-block btn-info" type="button" @click="agregarFilaVehiculo()"><i class="fa fa-plus"></i></button>

                    <table class="table">
                      <tbody>
                        <tr v-for="(vehiculoPlantillaCreate, index) in listVehiculosPlantillaCreate" class="text-center">
                          <td><span class="iconAgregar" @click="agregarItem(index,1)" style="cursor:pointer">F {{ index }} <br> P 1 <br> T {{ vehiculoPlantillaCreate.tipo }} <br> S {{ vehiculoPlantillaCreate.silla}} </span></td>
                          <td><span class="iconAgregar" @click="agregarItem(index,2)" style="cursor:pointer">F {{ index }} <br> P 2 <br> T {{ vehiculoPlantillaCreate.tipo }} <br> S {{ vehiculoPlantillaCreate.silla}}</span></td>
                          <td><span class="iconAgregar" @click="agregarItem(index,3)" style="cursor:pointer">F {{ index }} <br> P 3 <br> T {{ vehiculoPlantillaCreate.tipo }} <br> S {{ vehiculoPlantillaCreate.silla}}</span></td>
                          <td><span class="iconAgregar" @click="agregarItem(index,4)" style="cursor:pointer">F {{ index }} <br> P 4 <br> T {{ vehiculoPlantillaCreate.tipo }} <br> S {{ vehiculoPlantillaCreate.silla}}</span></td>
                          <td><span class="iconAgregar" @click="agregarItem(index,5)" style="cursor:pointer">F {{ index }} <br> P 5 <br> T {{ vehiculoPlantillaCreate.tipo }} <br> S {{ vehiculoPlantillaCreate.silla}}</span></td>
                          <td><button class="btn btn-sm btn-danger" @click="deleteFilaVehiculo2(index)"><i class="fa fa-remove"></i></button></td>
                        </tr>
                      </tbody>
                    </table>
                    <button class="btn btn-sm btn-block btn-info" type="button" @click="agregarFilaVehiculo2()"><i class="fa fa-plus"></i> 2</button>

                   


<ul id="sortable3" class="list-group list-unstyled  col-md-12">
  <li id="1" class="list-group-item text-center white-text blue m-2 square iconRueda"  data-id="iconRueda" data-tipo="10">1</li>
</ul>  

                  </div>
                  <div class="col-md-2"></div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-lg btn-primary">Crear vehiculo</button>
                </div>
              </form>
			      </div>
			    </div>
			  </div>
			</div>


			<!-- Modal Editar vehiculo -->
			<div class="modal animated fadeIn" id="editModalVehiculo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h1 class="modal-title" id="myModalLabel">Editar vehiculo</h1>
			      </div>
			      <div class="modal-body">
              <form method="POST" v-on:submit.prevent="formEditVehiculo">
                <div><input class="form-control input-lg" placeholder="Nombres" type="text" id="nombre"  v-model="editVehiculo.nombre" required="required"></div>
                <div><input class="form-control input-lg" placeholder="Sillas" type="number" id="nombre" v-model="editVehiculo.sillas" required="required"></div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <label>Seleccione Servicios</label>

                    <div style="padding-top:20px;padding-bottom:40px" id="listadoVehiculoServicio">
                      <img src="../../../img/upload/terrestre/vehiculoServicio1.png" @click="addServicio(1,'Sillas Reclinables')" id="vehiculoServicioAdd1" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Sillas Reclinables">
                      <img src="../../../img/upload/terrestre/vehiculoServicio2.png" @click="addServicio(2,'Aire Acondicionado')" id="vehiculoServicioAdd2" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Aire Acondicionado">
                      <img src="../../../img/upload/terrestre/vehiculoServicio3.png" @click="addServicio(3,'Baños')" id="vehiculoServicioAdd3" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Baños">
                      <img src="../../../img/upload/terrestre/vehiculoServicio4.png" @click="addServicio(4,'TV Ambiental')" id="vehiculoServicioAdd4" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="TV Ambiental">
                      <img src="../../../img/upload/terrestre/vehiculoServicio5.png" @click="addServicio(5,'Wifi')" id="vehiculoServicioAdd5" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Wifi">
                      <img src="../../../img/upload/terrestre/vehiculoServicio6.png" @click="addServicio(6,'Toma Corriente')" id="vehiculoServicioAdd6" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Toma Corriente">
                      <img src="../../../img/upload/terrestre/vehiculoServicio7.png" @click="addServicio(7,'Dos Conductores')" id="vehiculoServicioAdd7" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Dos Conductores">
                      <img src="../../../img/upload/terrestre/vehiculoServicio8.png" @click="addServicio(8,'Pantallas Individuales')" id="vehiculoServicioAdd8" class="servicio_icon" data-toggle="tooltip" data-placement="top" title="Pantallas Individuales">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>Servicios Seleccionado</label>
                      <div v-if="listServicios.length >=1" style="padding-top:20px;padding-bottom:40px">
                        <img v-for="(servicio, index) in listServicios" v-bind:src="'../../../img/upload/terrestre/vehiculoServicio'+servicio.tipo_servicio+'.png'" @click="DeleteServicio(servicio, index)" v-bind:id="'vehiculoServicio'+servicio.tipo_servicio+''" class="servicio_icon" style="margin: 1px;" data-toggle="tooltip" data-placement="top" v-bind:title="''+servicio.text+''">
                      </div>
                      <!-- <pre>{{ listServicios | json}}</pre> -->
                      <h5 v-else style="color:red">No hay servicios seleccionados</h5>
                  </div>
                </div>

                <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-lg btn-primary">Crear vehiculo</button>
              </form>
			      </div>
			    </div>
			  </div>
			</div>

        <table class="table table-hover table-condensed table-responsive">
            <thead>
                <tr>
                <th class="text-center"><h4>NOMBRE</h4></th>
                <th class="text-center"><h4>SILLAS</h4></th>
                    <th class="text-center"><h4>ESTADO</h4></th>
                    <th><h4>ACCIONES</h4></th>
                </tr>
            </thead>
            <tbody>
                    <tr v-for="vehiculo in listVehiculos">
                        <td class="text-center">{{ vehiculo.nombre }}</td>
                        <td class="text-center"><i class="fa fa-bus"></i> {{ vehiculo.sillas }}</td>
                        <td class="text-center">
                        	<span v-if="vehiculo.estado >= 1" class="label label-success">Activo</span>
                        	<span v-else class="label label-danger">Cancelado</span>
                        </td>

                        <td>
                          <div class="dropdown">
                            <button class="btn btn-block btn-lg btn-default" id="dLabel" data-target="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                              <li><a href="#" v-bind:data-target="'#ModalVer'+vehiculo.id"  data-toggle="modal"><h5><i class="fa fa-search"></i> Ver Detalle</h5></a></li>
                              <li><a href="#" @click="editModalVehiculo(vehiculo)"><h5><i class="fa fa-edit"></i> Editar Vehiculo</h5></a></li>

                            </ul>

                            <!-- modal Ver -->
                            <div class="modal fade" v-bind:id="'ModalVer'+vehiculo.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h1 class="modal-title" id="myModalLabel">DETALLE {{ vehiculo.nombre | mayuscula }}</h1>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                          <div><h3><strong><div class="small2">Nombre: </strong>{{ vehiculo.nombre }} </h3></div>
                                          <div><h3><strong><div class="small2">Sillas: </strong>{{ vehiculo.sillas }} </h3></div>
                                          <h3>Servicios Disponibles</h3>
                                          <div v-if="vehiculo.vehiculo_serivicios.length >=1" style="padding-top:20px;padding-bottom:40px">
                                            <img v-for="(servicioVer, index) in vehiculo.vehiculo_serivicios" v-bind:src="'../../../img/upload/terrestre/vehiculoServicio'+servicioVer.tipo_servicio+'.png'" v-bind:id="'vehiculoServicio'+servicioVer.tipo_servicio+''" class="servicio_icon" style="margin: 1px;" data-toggle="tooltip" v-bind:title="''+servicioVer.nombre+''" data-placement="top" >
                                          </div>
                                          <h5 v-else style="color:red">No hay servicios seleccionados</h5>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                    </tr>
            </tbody>
        </table>


    </div>
</div>



<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
             
<script type="text/javascript">
    var urlVehiculos = "<?php  echo DOMINIO ?>api/vehiculos/";

    new Vue({
      el: '#app',
      created: function() {
        this.getVehiculos();
      },
      data: {
        listVehiculos: [],
        vehiculo: {
          nombre:'',
          sillas:''
        },
        listServicios: [],
        servicio: {
          id:'',
          tipo_servicio:'',
          nombre:'',
        },
        additemVehiculo: [],
        editVehiculo: [],
        listVehiculosPlantillaCreate:[],
        errors: []
      },
      methods: {
        getVehiculos: function() {
          axios.get(urlVehiculos).then(response => {
            this.listVehiculos = response.data
            console.log(response);
          });
        },
        formCreatevehiculo: function(){
          // console.log(this.newClienteId);
          // var inputClienteId = $('#cliente_id').val();
        //   if(!inputClienteId ==''){
            axios.post(urlVehiculos,
              {
                vehiculo: this.vehiculo,
                servicio: this.listServicios,
                estado: 1,
                usuario_id:   <?php echo Session::get('id') ?>
              },
              {
                headers: {
                  'Content-Type': 'application/json',
              }}).then(response => {
                // console.log(response);

              this.getVehiculos();
              this.vehiculo.nombre = '';
              this.vehiculo.sillas = '';
              this.listServicios = [];
              this.errors = [];
              $('#vehiculoServicioAdd1').removeClass("hidden");
              $('#vehiculoServicioAdd2').removeClass("hidden");
              $('#vehiculoServicioAdd3').removeClass("hidden");
              $('#vehiculoServicioAdd4').removeClass("hidden");
              $('#vehiculoServicioAdd5').removeClass("hidden");
              $('#vehiculoServicioAdd6').removeClass("hidden");
              $('#vehiculoServicioAdd7').removeClass("hidden");
              $('#vehiculoServicioAdd8').removeClass("hidden");

              $('#crearvehiculo').modal('hide');
              toastr.success('Nuevo Vehiculo creada.');

            }).catch(error =>{
              this.errors = error.response.data
            });
        //   }

        },
        addServicio: function(id,text){
          this.listServicios.push({ id,'tipo_servicio':id,'nombre':text});
          $('#vehiculoServicioAdd'+id).addClass("hidden");
          // console.log(this.listServicios);
          // $('[data-toggle="tooltip"]').tooltip()
          // console.log(text);
          // $('#vehiculoServicioAdd'+id).remove();
        },
        DeleteServicio: function(servicio, index){
            this.listServicios.splice(index, 1);
          $('#vehiculoServicioAdd'+servicio.id).removeClass("hidden");
            // console.log(servicio.id);
          // // $('#vehiculoServicio'+id).remove();
          // $('#vehiculoServicio'+id).addClass("hidden");
        },

        agregarFilaVehiculo2: function(){
          console.log('dentro');
          this.listVehiculosPlantillaCreate.push({ 'vehiculo_id':'','posicion1':'','tipo1':'','silla1':'','posicion2':'','tipo2':'','silla2':'','posicion3':'','tipo3':'','silla3':'','posicion4':'','tipo4':'','silla4':'','posicion5':'','tipo5':'','silla5':''});
          console.log(this.listVehiculosPlantillaCreate);

          // campo = '<tr id="campoFilaVehiculo" class="text-center"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td><button class="btn btn-sm btn-danger" type="button" v-on:click.self="deleteFilaVehiculo()"><i class="fa fa-remove"></i></button></td></tr>';
          // $("#campoFilaVehiculo").append(campo);
        },

        agregarFilaVehiculo: function(){
          console.log('dentro');
          campo = '<tr id="campoFilaVehiculo" class="text-center"><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td><button class="btn btn-sm btn-danger" type="button" v-on:click.self="deleteFilaVehiculo()"><i class="fa fa-remove"></i></button></td></tr>';
          $("#campoFilaVehiculo").append(campo);
        },

        deleteFilaVehiculo2: function(index){
          console.log('dentro');
          this.listVehiculosPlantillaCreate.splice(index, 1);
          // console.log(nextinputcotizacion_id);
          // $("#campoFilaVehiculo"+ nextinputcotizacion_id).remove();
          // $("#campoFilaVehiculo").remove();
        },

        deleteFilaVehiculo: function(){
          console.log('dentro');
          // console.log(nextinputcotizacion_id);
          // $("#campoFilaVehiculo"+ nextinputcotizacion_id).remove();
          // $("#campoFilaVehiculo").remove();
        },

        agregarItem: function(index,posicion){
          $('#ModalVerItemVehiculo').modal('show');
          // console.log(index);
          // console.log(posicion);
          var posicion  = posicion;
          this.additemVehiculo = {
            fila: index,
            posicion1: posicion,
            posicion2:'',
            posicion3:'',
            posicion4:'',
            silla1: '',
            silla2:'',
            silla3:'',
            silla4:'',
            tipo1: '',
            tipo2:'',
            tipo3:'',
            tipo4:''
          };
          console.log(this.additemVehiculo);
          
        },

        agregarItemTipo: function(fila,posicion,silla,tipo){
          this.additemVehiculo = {
            fila: fila,
            posicion1: posicion,
            posicion2:'',
            posicion3:'',
            posicion4:'',
            silla1: '',
            silla2:'',
            silla3:'',
            silla4:'',
            tipo1: '',
            tipo2:'',
            tipo3:'',
            tipo4:''
          };
          console.log(fila);
          console.log(posicion);
          console.log(silla);
          console.log(tipo);
          // console.log(this.additemVehiculo);
        },
        editModalVehiculo: function(editVehiculo){
          this.editVehiculo = editVehiculo;
          $('#editModalVehiculo').modal('show');
          // $('#verModalPersona').modal('hide');
        },

        formEditVehiculo: function(id){
          var urlEdit = urlVehiculos + id;
          axios.put(urlEdit,
            {
              vehiculo: this.editVehiculo
              },
              {
                headers: {
                  'Content-Type': 'application/json',
              }}).then(response => {
            // console.log(response.data);
            this.getVehiculos();
            this.editVehiculo = {
              cedula:'',
                nombre:'',
                apellido:''
            };
            this.errors = [];
            $('#editModalVehiculo').modal('hide');
            toastr.success('Vehiculo Editado.');
          }).catch(error =>{
            // this.errors = error.response.empresa
          });

        },


      },

      computed:{
        charactersLeft: function() {
            var char = this.innerHTML.length,
                limit = 10;
                var res = this.substring(1, 4);
                console.log(char);
            // return "res";
        }
      },
      filters:{
        cortaText: function(text, length, clamp){
        clamp = clamp || '...';
        var node = document.createElement('div');
        node.innerHTML = text;
        var content = node.textContent;
        return content.length > length ? content.slice(0, length) + clamp : content;
        },
        mayuscula: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.toUpperCase()
        }
      }

    });



    var itemsIconos = document.getElementById('sortableIconos');
    var sortable = Sortable.create(itemsIconos, {
      group: {
        name: "shared",
        put: false,
        pull: 'clone',
        revertClone: true,
      }
      ,
      setData: function(dataTransfer, element) {
        dataTransfer.setData('text', element.textContent);
      }      
    });     


    var plantilla = document.getElementById('sortable3');
    var sortable = Sortable.create(plantilla, {
      animation: 100,
      swapThreshold: 1,
      touchStartThreshold: 1,
      sort: true,
      dataIdAttr: 'data-tipo',

      group: {
        name: "shared",
        put: true
      },
      // onSort: function (e){
      //   var items = e.item.dataset.tipo;
      //   // localStorage.setItem(items);
      //   // console.log(items);
      //   console.log(e);
      //   // console.log(items.length);
      //   // var result = [];
      //   // for (var i = 0; i < items.length; i++) {
      //   //     result.push($(items[i]).selector('id'));
      //   // }
      //   // console.log(result); 

      //   // console.log(e.dataset.id) //something
      // }

    //   onSort: function (e) {
    //     var items = e.to.children;
    //     var result = [];
    //     for (var i = 0; i < items.length; i++) {
    //         result.push($(items[i]).data('key'));
    //     }
    //     console.log(result);
    //     /* Do ajax call here */
    // }

  
      store: {
       
        /**
        * Get the order of elements. Called once during initialization.
        * @param   {Sortable}  sortable
        * @returns {Array}
        */
        // get: function (sortable) {
        //   var order = localStorage.getItem(sortable.options.group.category);
        //   return order ? order.split('|') : [];
        //   console.log(order);
        // },

        /**
        * Save the order of elements. Called onEnd (when the item is dropped).
        * @param {Sortable}  sortable
        */
        set: function (event, ui) {

          var arr = sortable.toArray();
          
          var i, n;
          var attrs = [];
          for (i = 0, n = arr.length; i < n; i++) {
            console.log(arr[i]);
            // attrs.push($('#' + arr[i]).attribute('data-id'));
          }
          // console.log(attrs);


          // var order = sortable.toArray();
          // console.log(sortable.el.children[0].dataset.tipo);



          // localStorage.setItem(sortable.options.group.category, order.join('|'));
          // console.log(order);

          // var items = sortable.item.dataset.tipo;
          // var result = [];
          // result.push(items);
          // console.log(result);          
        }

        // set: function(event, ui) {
        //   var changedList = this.id;
        //   // var order = $(".square").sortable.toArray();

        //   var order = sortable.toArray();
        //   var positions = order.join(';');

        //   console.log({
        //     id: changedList,
        //     positions: positions
        //   }); 
        // }       
      },
      filter: ".js-remove, .js-edit",
      onFilter: function (evt) {
        var item = evt.item,
          ctrl = evt.target;

        if (Sortable.utils.is(ctrl, ".js-remove")) {  // Click on remove button
          item.parentNode.removeChild(item); // remove sortable item
        }
        else if (Sortable.utils.is(ctrl, ".js-edit")) {  // Click on edit link
          // ...
        }
      },

      // onUpdate: function(event) {
      //   var order = sortable.toArray();
      //   // console.log(order.length);
      //   console.log(order);

      // }
      // onEnd: function (/**Event*/evt) {
      //   var itemEl = evt.item;  // dragged HTMLElement
      //   evt.to;    // target list
      //   evt.from;  // previous list
      //   evt.oldIndex;  // element's old index within old parent
      //   evt.newIndex;  // element's new index within new parent
      //   console.log(evt.from);

      // },      

    });     
  
    // var orde = sortable.toArray();
    // console.log(orde);


  </script>

