<?php View::flash(); ?>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">



<div class="container shell-view">
    <?php View::process($page_module, $page_title, $set_title); ?>

<!-- START APP VUE -->
<div id="app" v-cloak>
  <div class="row">
      <div class="col-md-12">
      <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#ModalGuardarPlantilla" ><i class="fa fa-magic"></i> CREAR PLANTILLA</button>
      </div>
  </div>


<!-- Modal Plantilla  -->
<div class="modal fade" id="ModalGuardarPlantilla" tabindex="-1" role="dialog" aria-labelledby="ModalGuardarPlantilla">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-magic"></i>Guardar Plantilla</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">                        
                        <label for="nombre">Codigo</label>
                        <input type="text" name="codigo" placeholder="Codigo..." class="form-control" required="required" v-model="plantilla.codigo">
                      </div>
                    </div> 

                    <div class="col-md-6">
                      <div class="form-group">                        
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" placeholder="Nombre..." class="form-control" required="required" v-model="plantilla.nombre">
                      </div>
                    </div>

                    <div class="col-md-12">
                        <textarea name="descripcion" id="summernotePlantilla" class="form-control" type="text" v-model="plantilla.descripcion"></textarea>
                    </div>                                             
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" v-if="plantilla.codigo.length >1 && plantilla.nombre.length >1" v-on:click.prevent="savePlantilla" class="btn btn-primary btn-block text-bold">Guardar Plantilla</button>                
            </div>            
        </div>            

    </div>

</div>
<!-- FIN Modal Plantilla -->

<!-- Modal Editar Plantilla  -->
<div class="modal fade" id="ModalEditarPlantilla" tabindex="-1" role="dialog" aria-labelledby="ModalEditarPlantilla">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-magic"></i>Editar Plantilla</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">                        
                        <label for="nombre">Codigo</label>
                        <input type="text" name="codigo" placeholder="Codigo..." class="form-control" required="required" v-model="editPlantilla.codigo">
                      </div>
                    </div> 

                    <div class="col-md-6">
                      <div class="form-group">                        
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" placeholder="Nombre..." class="form-control" required="required" v-model="editPlantilla.nombre">
                      </div>
                    </div>

                    <div class="col-md-12">
                        <button type="button" v-if="editPlantilla.codigo.length >1 && editPlantilla.nombre.length >1" v-on:click.prevent="editarPlantilla(editPlantilla.id)" class="btn btn-primary btn-block text-bold">Editar Plantilla</button>                

                        <textarea name="descripcion" id="summernoteEditarPlantilla" class="form-control" type="text" v-model="editPlantilla.descripcion"></textarea>
                    </div>                                             
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" v-if="editPlantilla.codigo.length >1 && editPlantilla.nombre.length >1" v-on:click.prevent="editarPlantilla(editPlantilla.id)" class="btn btn-primary btn-block text-bold">Editar Plantilla</button>                
            </div>            
        </div>            

    </div>

</div>
<!-- FIN Modal Editar Plantilla -->


      
<!-- contenedor principal -->
  <div>
      <table class="table table-hover table-condensed table-responsive">
          <thead>
              <tr>
                  <th class="text-left"><h5>CODIGO</h5></th>
                  <th class="text-left"><h5>NOMBRE</h5></th>
                  <th class="text-center"><h5>ESTADO</h5></th>
                  <th><h5>ACCIONES</h5></th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="item in listPlatillas">
                  <td><span @click="modalVerPlantilla(item)" style="cursor: pointer;">{{ item.codigo }}</span></td>
                  <td><span @click="modalVerPlantilla(item)" style="cursor: pointer;">{{ item.nombre }}</span></td>
                  <td class="text-center">
                      <span v-if="item.estado == 1" class="label label-warning">Activo</span>
                      <span v-if="item.estado == 0" class="label label-success">Bloqueado</span>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-info" @click="modalVerPlantilla(item)"><i class="fa fa-search"></i></button>                      
                    <button class="btn btn-sm btn-danger" @click="eliminarPlantilla(item.id)"><i class="fa fa-ban"></i></button>                                            
                  </td>                                                                                                
              </tr>
          </tbody>
      </table>
  </div>
<!-- fin contenedor principal -->

  </div>
  <!-- FIN APP VUE -->

</div>  <!-- FIN CONTENEDOR -->



  <script type="text/javascript">
    var urlPlantillas = "<?php echo DOMINIO ?>api/cotizacion_plantilla/";

    new Vue({
      el: '#app',
      created: function() {
        this.getPlantillas();
      },
      data: {
        listPlatillas: [],
        verPlantilla: [],
        plantilla:{
          codigo:'',
          nombre:'',
          descripcion:'',
        }, 
        editPlantilla:{
          codigo:'',
          nombre:'',
          descripcion:'',
        },                         
        errors: []
      },
      methods: {
        getPlantillas: function() {
          axios.get(urlPlantillas).then(response => {
            this.listPlatillas = response.data
              // console.log(response.data);
          });
        },
        modalVerPlantilla: function(item){
          this.editPlantilla = item;
          // this.editSillasRow = Item.vehiculo_plantilla;
          $('#ModalEditarPlantilla').modal('show');  
          $('#summernoteEditarPlantilla').summernote('code', this.editPlantilla.descripcion );
        },
        savePlantilla: function(){
          this.plantilla.descripcion = $('#summernotePlantilla').summernote('code');
          axios.post(urlPlantillas,
                {
                  plantilla:  this.plantilla,
                },
                {
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                    // console.log(response.data);
                    toastr.success('Plantilla Agregada.');        
                    $('#ModalGuardarPlantilla').modal('hide');
                    $('#summernotePlantilla').summernote('reset');
                    this.getPlantillas();
                    this.plantilla = {
                      codigo:'',
                      nombre:'',
                      descripcion:'',
                    }
                    this.errors = [];            
            }).catch(error =>{
            });          
        },
        editarPlantilla: function(itemId){
          this.editPlantilla.descripcion = $('#summernoteEditarPlantilla').summernote('code');
          axios.put(urlPlantillas+itemId,
                {
                  plantilla:  this.editPlantilla,
                },
                {
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                    // console.log(response.data);
                    toastr.success('Plantilla Editada.');        
                    $('#ModalEditarPlantilla').modal('hide');
                    $('#summernoteEditarPlantilla').summernote('reset');
                    this.getPlantillas();
                    this.editPlantilla = {
                      codigo:'',
                      nombre:'',
                      descripcion:'',
                    }
                    this.errors = [];            
            }).catch(error =>{
            });          
        },

        eliminarPlantilla: function(itemId){
          axios.delete(urlPlantillas+itemId,{},
                {
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                    // console.log(response.data);
                    toastr.error('Plantilla Eliminada.');        
                    this.getPlantillas();
                    this.errors = [];            
            }).catch(error =>{
            });          
        },                        

                                                                                  
      },
      
      computed:{
        searchCliente: function () {
          var self=this;
          return this.listClientes.filter(function(item){return item.nombre.toLowerCase().indexOf(self.buscador.toLowerCase())>=0;})
        },
               
      },
      filters:{
        decimalPunto: function(value){
            if (!value) return '0'
            var parts=value.toString().split(".");
            return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".") + (parts[1] ? "." + parts[1] : "");
        }  
      }
    });


  </script>


<script>
	$(document).ready(function() {
		$('#summernoteEdit').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 200,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
        onPaste: function (e) {
          var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
          e.preventDefault();
          document.execCommand('insertText', false, bufferText);
        },          
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenEdit(files[i]);
					}
				}
			}
		});

        function SubirImagenEdit(file){
            if(file.type.includes('image'))
            {
                var name = file.name.split(".");
                name = name[0];  
                var data = new FormData();
                data.append('file', file);
                // console.log('dentro');
                $.ajax({
                    url: '<?php echo DOMINIO ?>api/uploadimg',
                    type: 'POST',
                    contentType: false,
                    cache: false,
                    processData: false,
                    dataType: 'JSON',
                    data: data,
                    success: function (response) 
                    {
                        $('#summernoteEdit').summernote('insertImage', response.url, name);
                    }
                })
                .fail(function(e) {
                    console.log(e);
                });
            }
            else
            {
                console.log("El tipo de archivo que intentaste subir no es una imagen");
            }
        }

        


		$('#summernotePlantilla').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 200,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
        onPaste: function (e) {
          var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
          e.preventDefault();
          document.execCommand('insertText', false, bufferText);
        },          
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenPlantilla(files[i]);
					}
				}
			}
		});

        function SubirImagenPlantilla(file){
            if(file.type.includes('image'))
            {
                var name = file.name.split(".");
                name = name[0];  
                var data = new FormData();
                data.append('file', file);
                // console.log('dentro');
                $.ajax({
                    url: '<?php echo DOMINIO ?>api/uploadimg',
                    type: 'POST',
                    contentType: false,
                    cache: false,
                    processData: false,
                    dataType: 'JSON',
                    data: data,
                    success: function (response) 
                    {
                        $('#summernotePlantilla').summernote('insertImage', response.url, name);
                    }
                })
                .fail(function(e) {
                    console.log(e);
                });
            }
            else
            {
                console.log("El tipo de archivo que intentaste subir no es una imagen");
            }
        }                

        
	});
</script>


