<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>

    
    <?php echo DwForm::open(); ?>
    
    <!-- <ul class="nav nav-tabs hidden-xs">
        <li class="active"><a href="#tab1" data-toggle="tab">Información personal</a></li>
        <li><a href="#tab2" data-toggle="tab">Información de la cuenta</a></li>
        <li><a href="#tab3" data-toggle="tab">Cargar imágen</a></li>
    </ul>
    <ul class="nav nav-pills nav-stacked visible-xs">    
        <li class="active"><a href="#tab1" data-toggle="tab">Información personal</a></li>
        <li><a href="#tab2" data-toggle="tab">Información de la cuenta</a></li>
        <li><a href="#tab3" data-toggle="tab">Cargar imágen</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">                            
        </div>        
    </div> -->

    <div class="row">
                <div class="col-md-6">                    
                    <?php echo DwForm::text('usuario.nombre', array('class'=>'input-required'), $usuario->nombre, 'Nombre'); ?>
                </div>
                <div class="col-md-6">
                    <?php echo DwForm::text('usuario.apellido', array('class'=>'input-required'), $usuario->apellido, 'Apellido'); ?>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <?php echo DwForm::email('usuario.email', array('class'=>'input-email input-readonly input-required mask-email'), $usuario->email, 'Email'); ?>
                </div>
                <div class="col-md-6">
                    <?php echo DwForm::oneSelect('usuario.perfil_id', $usuario->perfil, array('class'=>'input-readonly'), 'Perfil'); ?>
                </div>                
            </div>

            <div class="row">
                <div class="col-md-6">
                    <?php echo DwForm::oneSelect('usuario.perfil_id', $usuario->perfil, array('class'=>'input-readonly'), 'Perfil'); ?>
                </div>
            </div>
            
            <!-- <div class="row">
                <div class="col-md-6">
                    <?php // echo DwForm::select('usuario.app_ajax', array('1'=>'On', '0'=>'Off'), array('class'=>'input-required'), $usuario->app_ajax, 'App con AJAX', 'Deshabilitar para conexiones lentas'); ?>
                </div>
                <div class="col-md-6">
                    <?php // echo DwForm::select('usuario.tema', $temas, array('class'=>'input-required'), $usuario->tema, 'Apariencia'); ?>
                </div>
            </div> -->
            
            <!-- <div class="row">
                <div class="col-md-6">
                    <?php // echo DwForm::number('usuario.datagrid', array('class'=>'input-integer input-required mask-pint'), $usuario->datagrid, 'Cantidad de datos por página', 'Esta información se utiliza en los listados de informaciones y reportes'); ?>
                </div>
            </div> -->
            
            <div class="row">
                <div class="col-md-6">
                    <?php //  echo DwForm::pass('oldpassword', array('class'=>''), '', 'Contraseña anterior'); ?>
                </div>
            </div>
            
            <div class="row">
                <!-- <div class="col-md-4">
                    <?php // echo DwForm::pass('oldpassword', array('class'=>''), '', 'Contraseña anterior'); ?>
                </div>             -->
                <div class="col-md-4">
                    <?php  echo DwForm::pass('usuario.password', array('class'=>'input-pass'), '', 'Contraseña'); ?>
                </div>
                <div class="col-md-4">
                    <?php echo DwForm::pass('repassword', array('class'=>'input-repass', 'data-equalto'=>'usuario_password'), '', 'Confirmación'); ?>
                </div>
            </div> 


            <div class="row fileupload-buttonbar">

                <div class="col-md-6" style="margin-bottom: 20px;">

                    <div class="row">

                        <div class="col-md-6">
                            <?php echo DwForm::upload('fotografia', array('data-to'=>PUBLIC_PATH.'sistema/mi_cuenta/upload/', 'data-size'=>5000000, 'data-files'=>'images', 'data-success'=>'loadImg'), 'Fotografía'); ?>
                        </div>

                        <div class="col-md-6">
                            <div class="picture-profile text-center text-middle shadow-dark" style="margin: 5px auto 0px;">
                                <?php echo DwHtml::img("upload/personas/$usuario->fotografia", "$usuario->nombre $usuario->apellido", array('id'=>'img-usuario')); ?>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <?php echo DwForm::hidden('usuario.fotografia', NULL, $usuario->fotografia); ?>            
            
    
    <div class="row">
        <div class="form-actions">
            <?php echo DwForm::send('Actualizar mis datos'); ?>
            <?php echo DwForm::cancel(); ?>
            <?php echo DwForm::focus('usuario.nombre'); ?>
        </div>
    </div>

   
    <?php echo DwForm::close(); ?>
    
</div>

<script type="text/javascript">
    
    function loadImg(result, input) {
        $("#usuario_fotografia").val(result.name);
        $("#img-usuario").attr('src', '<?php echo PUBLIC_PATH; ?>img/upload/personas/'+result.name);        
    }
    
</script>