<style type="text/css">
.modal-backdrop{ display:none !important;}
.modal-open {overflow: scroll !important;}
</style>
<?php View::flash(); ?>
<div class="container shell-view">

<a class="btn btn-primary btn-block" role="button" data-toggle="collapse" href="#collapseVoucher" aria-expanded="false" aria-controls="collapseVoucher">AGREGAR ITEM VOUCHER</a>

<div class="collapse" id="collapseVoucher">
    <div class="well">
        <?php echo DwForm::open("dashboard/vouchers/agregar") ;?>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <?php echo DwForm::text('voucher.proveedor', array('class'=>'input-required'), NULL, 'Proveedor'); ?>
                </div>

                <div class="col-md-6">
                    <?php echo DwForm::date('voucher.fecha_inicio', array('class'=>'input-required'), date("Y-m-d"), 'Fecha Inicio'); ?>
                </div>

                <div class="col-md-6">
                    <?php echo DwForm::date('voucher.fecha_fin', array('class'=>'input-required'), date("Y-m-d"), 'Fecha Fin'); ?>
                </div>

                <div class="col-md-4">
                    <?php echo DwForm::text('voucher.direccion', array('class'=>'input-required'), NULL, 'Dirección'); ?>
                </div>
                <div class="col-md-4">
                    <?php echo DwForm::text('voucher.telefono', array('class'=>'input-required'), NULL, 'Teléfono'); ?>
                </div>
                <div class="col-md-4">
                    <?php echo DwForm::text('voucher.ciudad', array('class'=>'input-required'), NULL, 'Ciudad'); ?>
                </div>

                <div class="col-md-8">
                    <?php echo DwForm::text('voucher.cliente', array('class'=>'input-required'), NULL, 'Cliente'); ?>
                </div>
                <div class="col-md-2">
                    <?php echo DwForm::number('voucher.adultos', array('class'=>'input-required'), NULL, 'Adultos'); ?>
                </div>
                <div class="col-md-2">
                    <?php echo DwForm::number('voucher.infantes', array('class'=>'input-required'), NULL, 'Niños'); ?>
                </div>

                <div class="col-md-12">
                    <?php echo DwForm::textarea('voucher.observaciones', array('class'=>''), NULL, 'Observaciones'); ?>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <textarea class="summernote" name="voucher[servicios]"></textarea>
                </div>
            </div>

        </div>

        <div>
                <?php echo DwForm::send('Crear Voucher'); ?>
        </div>
        <?php echo DwForm::hidden("voucher.cotizacion_id",NULL,"$id") ?>
        <?php echo DwForm::close() ;?>

    </div>
</div>

<div id="vouchers">
    <?php echo View::partial("backend/vouchers", FALSE, array("id"=>$id) ) ?>
</div>

<div class="row">
    <div class="form-actions">
        <?php echo DwForm::cancel(); ?>
    </div>
</div>

</div>

<script>
  $(document).ready(function() {
      $('.summernote').summernote({
        height: 280,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
      });
  });
</script>

