<?php View::flash(); ?>
<style type="text/css">
[v-cloak]{
  display: none;
}
</style>
<div class="container shell-view">
    
  <?php View::process($page_module, $page_title, $set_title); ?>
  <!-- START APP VUE -->
  <div id="app" v-cloak>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><?= Html::img('logo-empresa.png','',"class='img-responsive text-center' style='width: 250px;' ") ;?></div>
            <div class="col-md-8">
                <h4>Accesos Rápidos</h4>
                <?php foreach($proveedoresAncla as $ancla):?>
                <div class="col-xs-2 col-sm-1 text-center" style="padding-left:5px; padding-right:5px;"><a href="<?php echo $ancla->link ?>" target="_blank"><?php echo DwHtml::img("upload/proveedores/$ancla->img", "img", array('id'=>'img-proveedor','class'=>'img-thumbnail')); ?></a></div>
                <?php endforeach ;?>                
            </div>
        </div>
        <hr>
        <div class="row"> 
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">                        
                          <div class="row">
                              <div class="col-xs-12"><h3 class="panel-title"><?= DwHtml::link('dashboard', '<i class="fa fa-money fa-1x"></i>', array('class'=>'js-link js-url'));  ?> TRM USD </h3></div>
                              
                              <div class="col-xs-12 text-left">
                                <h1 style="margin:0px;font-size: 27px;">
                                  <span id="trmActual" v-on:click="actualizarTrm()">{{ trmActual.valor }} <div style="font-size:0.3em;">{{ trmActual.trm_at }}</div></span>
                                  <div id="actulizarTrm" style="display:none" class="input-group">
                                    <input type="number" class="form-control input-md" v-model="trmActual.valor" placeholder="TRM" style="font-size: 0.8em;">
                                    <span class="input-group-btn">
                                        <button class="btn btn-md btn-default" type="button" v-on:click="crearTrm()"><i class="fa fa-save"></i></button>
                                    </span>
                                  </div> 
                                </h1> 
                              </div> 
                              <div class="col-xs-6"></div>                          
                            
                          </div>
                      </div>
                  </div>
              </div>             
              <div class="col-md-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">                        
                          <div class="row">
                              <div class="col-xs-12"><h3 class="panel-title"><?= DwHtml::link('dashboard/solicitudes', '<i class="fa fa-calendar-check-o fa-1x"></i>', array('class'=>'js-link js-url'));  ?> Solicitudes</h3></div>
                              <div class="col-xs-12 text-left"><h1 style="margin: 0px;"><?= $count_solicitudes?></h1> </div>                            
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">                        
                          <div class="row">
                              <div class="col-xs-12"><h3 class="panel-title"><?= DwHtml::link('dashboard/cotizaciones', '<i class="fa fa-calendar-check-o fa-1x"></i>', array('class'=>'js-link js-url'));  ?> Cotizaciones</h3></div>
                              <div class="col-xs-12 text-left">
                                <h1 style="margin: 0px;">
                                  <?= $count_cotizaciones_activas ?>
                                  <small style="font-size: small;">Procesadas <?= $count_cotizaciones ?></small>
                                </h1> 
                              </div>                            
                          </div>
                      </div>
                  </div>
              </div>            
              <div class="col-md-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">                        
                          <div class="row">
                              <div class="col-xs-12"><h3 class="panel-title"><?= DwHtml::link('dashboard/clientes', '<i class="fa fa-group fa-1x"></i>', array('class'=>'js-link js-url'));  ?> Clientes</h3></div>
                              <div class="col-xs-12 text-left"><h1 style="margin: 0px;"><?= $count_clientes?></h1> </div>                            
                          </div>
                      </div>
                  </div>
              </div>  
              <div class="col-md-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">                        
                          <div class="row">
                              <div class="col-xs-12"><h3 class="panel-title"><?= DwHtml::link('dashboard/clientes', '<i class="fa fa-credit-card fa-1x"></i>', array('class'=>'js-link js-url'));  ?> Visas</h3></div>
                              <div class="col-xs-12 text-left"><h1 style="margin: 0px;"><?= $count_visas?></h1> </div>                            
                          </div>
                      </div>
                  </div>
              </div>  

              <div class="col-md-6">
                <button class="btn btn-lg btn-default" v-on:click="notifyMe()">Notify me!</button>
              </div>           
            </div>
          </div>          
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body" style="border-bottom: 2px solid #ddd;background: #f5f5f5;">
                <h4>Cotizaciones Procesadas</h4>                
              </div>
              <div style="height: 400px;overflow-y: scroll;">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nota</th>
                      <th>Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                    <?php foreach ($cotizacion_historial as $itemHistorial) {?>                                 
                    <tr>
                      <td><b><?= $itemHistorial->cotizacion_id ?></b></td>
                      <td><?= $itemHistorial->detalle ?></td>
                      <td><?= $itemHistorial->cotizacion_historial_at ?></td>
                    </tr>
                    <?php } ?>
                  </tbody>
                </table>
              </div>
            </div>              
          </div>          
                                      
        </div>        
        <hr>
                  
        
    </div> 
  </div>
</div>



<script type="text/javascript">
    var urlTrm = "<?php echo DOMINIO ?>api/trm/";

    new Vue({
      el: '#app',
      created: function() {
        this.getTrm();
      },
      data: {
        trmActual:'',
        listTrm: [],       
        errors: []
      },
      methods: {
        getTrm: function() {
          axios.get(urlTrm).then(response => {
            this.listTrm = response.data;
            this.trmActual = response.data['trmActual'];
          });
        },
        actualizarTrm: function(){
          $('#trmActual').hide();   
          $('#actulizarTrm').show();             
        },

        crearTrm: function(){
          console.log(this.trmActual);
          axios.post(urlTrm,
            {
              trm: this.trmActual,
              estado: 1
            },
            {
            headers: {
              'Content-Type': 'application/json',
            }}).then(response => {
              // console.log(response.data);
              $('#actulizarTrm').hide();
              $('#trmActual').show();   
              toastr.success('Agregado TRM.');                 
              this.getTrm();
              this.errors = [];            
            }).catch(error =>{
              // console.log(error.response)
              // this.errors = error.response.data;
            });           
        }, 

        notifyMe: function(){
          // Let's check if the browser supports notifications
          if (!("Notification" in window)) {
            alert("This browser does not support desktop notification");
          }  

          // Let's check whether notification permissions have already been granted
          else if (Notification.permission === "granted") {

            var dts = Math.floor(Date.now());
            console.log(dts);
            fecha = new Date();
            var dts2 = fecha.setMinutes(fecha.getMinutes() + 1);
            console.log(dts2);

            // If it's okay let's create a notification
            var notification = new Notification("Hola Notificacion!",{
              body: "tealdfjaslfjkalsdjf",
              icon: "http://localhost:8888/app-turishuila/img/favicon.png",
              timestamp: Date.parse('28 Dec 2019 00:27:00')
            });



          } 

          // Otherwise, we need to ask the user for permission
          else if (Notification.permission !== "denied") {
            Notification.requestPermission().then(function (permission) {
              // If the user accepts, let's create a notification
              if (permission === "granted") {
                var notification = new Notification("Hi there!");
              }
            });
          }                         
          
        }        


      },
      computed:{
             
      },
    });

  </script>

