<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>

    <div class="container">
        <div class="row">           
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">                        
                        <div class="row">
                            <div class="col-xs-12"><h3 class="panel-title"><?= DwHtml::link('dashboard', '<i class="fa fa-money fa-1x"></i>', array('class'=>'js-link js-url'));  ?> TRM </h3></div>
                            <div class="col-xs-12 text-left"><h1 style="margin: 0px;">$<?php if(!empty($_SESSION['trmHoy'])){ echo $_SESSION['trmHoy'];}else{ echo " 0";} ?> <?php // $o = $trm +10 ?></h1> </div>                            
                        </div>
                    </div>
                </div>
            </div>             
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">                        
                        <div class="row">
                            <div class="col-xs-12"><h3 class="panel-title"><?= DwHtml::link('dashboard/solicitudes', '<i class="fa fa-calendar-check-o fa-1x"></i>', array('class'=>'js-link js-url'));  ?> Solicitudes</h3></div>
                            <div class="col-xs-12 text-left"><h1 style="margin: 0px;"><?= $count_solicitudes?></h1> </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">                        
                        <div class="row">
                            <div class="col-xs-12"><h3 class="panel-title"><?= DwHtml::link('dashboard/cotizaciones', '<i class="fa fa-calendar-check-o fa-1x"></i>', array('class'=>'js-link js-url'));  ?> Cotizaciones</h3></div>
                            <div class="col-xs-12 text-left"><h1 style="margin: 0px;"><?= $count_cotizaciones?></h1> </div>                            
                        </div>
                    </div>
                </div>
            </div>            
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">                        
                        <div class="row">
                            <div class="col-xs-12"><h3 class="panel-title"><?= DwHtml::link('dashboard/clientes', '<i class="fa fa-group fa-1x"></i>', array('class'=>'js-link js-url'));  ?> Clientes</h3></div>
                            <div class="col-xs-12 text-left"><h1 style="margin: 0px;"><?= $count_clientes?></h1> </div>                            
                        </div>
                    </div>
                </div>
            </div>             
        </div>

        <hr>
        <div class="row">
            <?php foreach($proveedoresAncla as $ancla):?>
            <div class="col-md-1 text-center" style="padding-left:5px; padding-right:5px;"><a href="<?php echo $ancla->link ?>" target="_blank"><?php echo DwHtml::img("upload/proveedores/$ancla->img", "img", array('id'=>'img-proveedor','class'=>'img-thumbnail')); ?></a></div>
            <?php endforeach ;?>
        </div>
        <hr>
         
        
    </div>
    
</div>