<table class="table table-bordered table-hover table-striped table-condensed table-responsive">
     <thead>
         <tr>
            <th>NUM</th>                     
             <th class="col-hidden col-md-4" >Descripción</th>
             <th class="col-hidden col-md-4" >Observación</th>
             <th class="col-hidden col-md-1 text-center" >Cant</th>                                        
             <th class="col-hidden col-md-1 text-center" >Unidad</th>
             <th class="col-hidden col-md-1" >Valor Unidad</th>
             <th class="col-hidden col-md-1" >Valor Total</th>
         </tr>
     </thead>
     <tbody>
        <?php $actividades = Load::model('actividad')->find("contrato_id = $contrato_id");?>
        <?php $counter = 0 ?>         
        <?php foreach($actividades as $actividad): ?>
        <?php $counter++; ?>                     
         
            <tr>
                <td class="text-center"><?php echo  $counter; ?></td>                         
                <td><?php echo $actividad->descripcion; ?></td>
                <td><?php echo $actividad->observacion; ?></td>
                <td class="text-center"><?php echo $actividad->cantidad; ?></td>
                <td class="text-center"><?php echo $actividad->unidad; ?></td>

                <td class="text-right">$<?= number_format($actividad->valor, 0, '', '.'); ?></td>
                <td class="text-right text-bold">$<?= number_format($actividad->valor_total, 0, '', '.'); ?></td>

            </tr>
        <?php endforeach; ?>
     </tbody>
 </table>
         <?php $total_actividad = Load::model('actividad')->sum("valor_total","conditions: contrato_id = $contrato_id");?>
         <?php $contrato = Load::model('contrato')->find_first("$contrato_id");?>

    <div class="row" style="font-size: 16px">
        <div class="col-md-10 text-right">Total Actividades</div>
        <div class="col-md-2 text-right text-bold">$<?php echo number_format($total_actividad, 0, '', '.'); ?></div>
    </div> 
    <div class="row" style="font-size: 16px">
        <div class="col-md-10 text-right">A: <?= $contrato->porce_admon ?> %</div>
        <div class="col-md-2 text-right text-bold">$<?php echo number_format($admon = $total_actividad * $contrato->porce_admon / 100, 0, '', '.'); ?></div>
    </div> 
    <div class="row" style="font-size: 16px">
        <div class="col-md-10 text-right">I: <?= $contrato->porce_imprevistos ?> %</div>
        <div class="col-md-2 text-right text-bold">$<?php echo number_format($imprevistos = $total_actividad * $contrato->porce_imprevistos / 100, 0, '', '.'); ?></div>
    </div> 
    <div class="row" style="font-size: 16px">
        <div class="col-md-10 text-right">U: <?= $contrato->porce_utilidad ?> %</div>
        <div class="col-md-2 text-right text-bold">$<?php echo number_format($utilidad = $total_actividad * $contrato->porce_utilidad / 100, 0, '', '.'); ?></div>
    </div> 
    <div class="row" style="font-size: 16px">
        <div class="col-md-10 text-right">IVA sobre Utilidad: 16 %</div>
        <div class="col-md-2 text-right text-bold">$<?php echo number_format($iva = $utilidad * 16 / 100, 0, '', '.'); ?></div>
    </div>   
    <div class="row" style="font-size: 16px">
        <div class="col-md-10 text-right"><h3>Total:</h3></div>
        <div class="col-md-2 text-right text-bold "><h3>$<?php echo number_format($total = $total_actividad + $admon + $imprevistos + $utilidad + $iva , 0, '', '.'); ?></h3></div>
    </div>   