<?php 
    function listar_archivos($carpeta,$id){
        $folder = "/default/public/files/clientes/$id";        
//        $folder = "http://localhost:8888/app-turishuila/default/public/files/clientes/$id";
        
    if(is_dir($carpeta.$id)){
        if($dir = opendir($carpeta.$id)){
            while(($archivo = readdir($dir)) !== false){
                if($archivo != '.' && $archivo != '..' && $archivo != '.htaccess'){ ?>                         
                <tr>
                    <td><a data-toggle="tooltip" title="<?= $archivo ?>" href="<?php echo $folder.'/'.$archivo ?>" target="_blank"><?= $archivo ?></a></td>
                </tr>                
               <?php }
            }
            closedir($dir);
        }
    }
} ?>
                
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-11">Archivos </th>
        </tr>
    </thead>
    <tbody>
        <?php echo listar_archivos($ruta,$id); ?>
    </tbody>
</table>