<footer class="navbar navbar-inverse navbar-fixed-bottom hidden-xs" style="background: #<?php echo COLOR_SECUNDARIO;?>;">
    <div class="container">
        <div class="pull-right hidden-xs">
            <p>Versión: <?php echo APP_VERSION; ?> - Ip: <?php echo Session::has('ip') ? Session::get('ip') : DwUtils::getIp(); ?> - Tiempo: <?php echo number_format(round((microtime(1)-START_TIME),4),4),' seg.'?></p>            
        </div>
        <div>
            <p class="visible-xs">&copy; Copyright <?php echo date("Y"); ?>.</p>
            <p class="visible-xs">Todos los derechos reservados.</p>
            <p class="hidden-xs">&copy; Copyright <?php echo date("Y"); ?>. Todos los derechos reservados.</p>
        </div>                
    </div>        
</footer>