<header class="navbar navbar-inverse user-nav" role="navigation" id="slide-nav" style="background: #<?php echo COLOR_SECUNDARIO;?>;">
    
    <div class="container-fluid">
        
        <div class="navbar-header hidden-xs"> 
            <div id="logo"><?php echo DwHtml::link('dashboard', APP_NAME, array('class'=>'navbar-brand'), '' , FALSE); ?></div>            
        </div>
        
        <div class="navbar-header visible-xs">
            <a class="navbar-toggle"> 
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>
            <?php echo DwHtml::link('dashboard', APP_NAME, array('class'=>'navbar-brand'), '' , FALSE); ?>           
        </div>
        
        <div id="slidemenu" class="visible-xs"> 
            
            <div class="text-center navbar-form" style="height: 50px;">
                <h3 style="color:#fff;"><?php echo APP_NAME ?></h3>
            </div>
            <div class="slide-navbar">                
                <?php echo DwMenu::phone(); ?>
                <ul class="nav navbar-nav">                                    
                    <li class="divider"></li>
                    <li><?php echo DwHtml::link('sistema/mi_cuenta/', 'Mi Cuenta'); ?></li>
                    <li><?php echo DwHtml::link('sad/faq/', 'Centro de ayuda'); ?></li>
                    <li class="divider"></li>                    
                    <li><?php echo DwHtml::link('login/salir/', 'Salir', array('class'=>'no-load'), 'fa-power-off', FALSE); ?></li>
                    <li class="divider"></li>                       
                    <li>                        
                        <div class="text-center">
                            <p style="color: #f5f5f5">&copy; Copyright <?php echo date("Y"); ?>.</p>
                            <p style="color: #f5f5f5">Todos los derechos reservados Servidigital.co/ .</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        
        <div class="pull-right hidden-xs">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <?php $usuario_foto =  Session::get('fotografia'); if($usuario_foto <> "default.png"){ ?> 
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="background-image: url('<?php echo DOMINIO ?>/img/upload/personas/<?php echo $usuario_foto ;?>');background-size: cover;background-position-x: center;width: 50px;height: 50px;"> </i></a>                         
                    <?php }  else { ?>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">  <i class="fa fa-2x fa-user"> </i></a>     
                    <?php } ?>                    
                    <ul class="dropdown-menu" role="menu" style="left: auto; right: 0 !important">                                
                        <li><?php echo DwHtml::link('sistema/mi_cuenta/', '<i class="fa fa-cog"></i> Mi Cuenta'); ?></li>
                        <li class="divider"></li>
                        <li><?php echo DwHtml::link('sistema/login/salir', '<i class="fa fa-sign-out"></i> Salir', array('class'=>'no-load'),'', FALSE); ?></li>                
                    </ul>
                </li>
            </ul>
        </div>       
        
    </div>            
    
</header>