<!--<header class="navbar navbar-inverse">
    <div class="container">
        <div class="row">                    
            <div class="col-md-8">
                <?php //  DwHtml::link('dashboard', '<i class="fa fa-globe fa-pd-expand"></i>'.APP_NAME, array('class'=>'navbar-brand'), '', FALSE); ?>
            </div>            
        </div>
    </div>
</header>-->
<div id="balance-bar" style="height: 1.214286rem;"></div>
