<div class="main-nav-wrapper hidden-xs">
    <div class="navbar main-nav">
        <div class="navbar-inner">
            <div class="container">                        
                <div class="nav-collapse">
                    <?php echo DwMenu::desktop(); ?>
                </div>
            </div>                    
        </div>
    </div> 
    <?php echo DwMenu::getItems(); ?>                       
</div>
