<style>
    .border{ border: 1px solid #ccc; border-radius:5px;}
    .caja-borde{ border-top: 1px solid #eeeeee; padding:5px}
    .f18{font-size: 18px};
</style>
<?php $vouchers = Load::model('voucher')->find("conditions: cotizacion_id=$id","order: id DESC") ;?>
<?php if($vouchers == NULL){  ?>
<div class="text-center"><h2>No hay Vouchers Para esta solicitud.</h2></div>
<?php }else{ ?>
<?php $key_shw = Security::setKey($id, 'shw_cliente'); ?>
<div>
    <h2>Vouchers Creados: <?php echo $contador = count($vouchers); ?> <?php echo DwButton::report("vouchers/reporte/$key_shw", 'PDF', 'Imprimir reporte Vouchers', ''); ?></h2>
</div>

<?php foreach ($vouchers as $voucher): ?>
<?php $key = Security::setKey($voucher->cotizacion_id, 'shw_cliente'); ?>
<div class="row border text-right" style="padding:10px;background: #ccc;margin-top:20px;margin-bottom:10px;">
    <?php echo DwHtml::buttonTable('Editar Voucher', "dashboard/vouchers/editar/$key/$voucher->id", NULL, 'success', 'fa-edit'); ?>
    <?php echo DwHtml::buttonTable('Eliminar Voucher', "dashboard/vouchers/eliminar/$key/$voucher->id", array('class'=>'js-confirm', 'confirm-title'=>'Eliminar menú', 'confirm-body'=>'Está seguro de eliminar este menú? <br />Recuerda que esta operación no se puede reversar.'), 'danger', 'fa-trash'); ?>
</div>

<div style="margin-bottom: 20px;">
    <div style="text-align:right;padding-bottom:0px;"><?php echo $voucher->vouche_at ?></div>
    <div class="text-bold text-right">ELABORADOR POR: <?php $usuario = Load::model("sistema/usuario")->find_first("id=$voucher->usuario_id"); echo $usuario->nombre ." ". $usuario->apellido;?></div>

    <div class="row" style="padding-bottom:5px;">
        <div class="col-sm-4" style="width:25%;float:left;text-align:left;font-size:1.2em;line-height:1;padding-top:5px;">
            <b>Tu destino, nuestra pasión</b>
        </div>
        <div class="col-sm-8" style="width:65%;float:left;font-size:1.5em; border: 1px solid #ccc; border-radius:6px;">
            <b>Voucher de Servicio # / Service  Voucher #:</b>  VOU<?php echo $voucher->id.' - '.$voucher->cotizacion_id ?>
        </div>
    </div>

    <div class="row" style="margin-bottom:5px;">
        <div class="border" style="width:56%;float:left;padding-bottom:10px;height:110px;">
            <div style="text-align:center; width:100%;float:left;background:#ccc;border-radius: 3px 3px 0px 0px;">
                <b style="font-size:1.5em;">Servicios prestados por / Services provided by:</b>
            </div>
            <div style="padding-left:10px;padding-right:10px;">
                <div><b style="font-size:1.4em;"><?php echo $voucher->proveedor ;?></b></div>
                <div><?php echo $voucher->direccion ;?></div>
                <div style="font-size:1.3em;">Tel: <?php echo $voucher->telefono ;?></div>
                <div><?php echo $voucher->ciudad ;?></div>
            </div>
        </div>
        <?php if(strlen($voucher->proveedor) > 35){ $height='120px';}else{ $height='110px';} ?>
        <div class="border" style="width:40%;float:left;padding-left:10px;padding-right:10px;padding-bottom:10px;height:<?php echo $height;?>; margin-left:2px">
            <div class="text-center">
            <?php echo Html::img("logo-turishuila.png","","width='200px' style='margin:10px;padding-left:20px;' ");?>
            </div>
            <div style="text-align:center;"><b>C.C. Las Américas Local 110 – Neiva (Huila)</b></div>
            <div style="text-align:center;"><b>Tel: +578 8722101 - 8721665</b></div>
        </div>
    </div>

    <div class="row border" style="margin-top:5px;margin-bottom:5px;">
        <div style="padding-left:10px;padding-top:2px;padding-bottom:2px; font-size:1.3em;"><b>Pasajeros / Passenger:</b> <b style="font-size:1.4em;"><?php echo $voucher->cliente ;?></b></div>
    </div>

    <div class="row" style="margin-bottom:5px;">
        <div class="border" style="width:22%;float:left;text-align:center;">
            <div><b>Desde / From</b></div>
            <div><?php echo $inicio = date("d-M-Y", strtotime($voucher->fecha_inicio)); ?></div><div style="padding-left:20px;"></div>
        </div>

        <div class="border" style="width:22%;float:left; padding-left:10px; padding-right:10px;text-align:center;margin-left:5px;">
            <div><b>Hasta / To</b></div>
            <div><?php echo $fin = date("d-M-Y", strtotime($voucher->fecha_fin)); ?></div><div style="padding-left:20px;"></div>
        </div>

        <div class="border" style="width:22%;float:left; padding-left:10px; padding-right:10px;text-align:center;margin-left:5px;">
            <div><b>Adultos / Adult</b></div>
            <div><?php echo $voucher->adultos ;?></div><div style="padding-left:20px;"></div>
        </div>

        <div class="border" style="width:22%;float:left; padding-left:10px; padding-right:10px;text-align:center;margin-left:5px;">
            <div><b>Niños / Child</b></div>
            <div><?php echo $voucher->infantes; ?></div><div style="padding-left:20px;"></div>
        </div>
    </div>




    <div class="row border" style="margin-bottom:5px;border: 1px solid #ccc">
        <div class="col-sm-12" style="padding-left:10px;background:#ccc;border-radius: 3px 3px 0px 0px;">
            <b style="font-size:1.5em;">Servicios Confirmados / Provide services:</b>
        </div>
        <div class="col-sm-12" style="padding-top:10px;padding-bottom:10px;"><?php echo $voucher->servicios ;?></div>
    </div>

    <div class="row border" style="border-top:0px;padding-bottom: 10px;border: 1px solid #ccc">
        <div style="padding-left:10px;width:100%;float:left;background:#ccc;border-radius: 3px 3px 0px 0px;">
            <b style="font-size:1.5em;">Observaciones: / Remarks:</b>
        </div>
        <div class="col-sm-12" style="color:red;padding-top:10px;"><?php echo $voucher->observaciones ;?></div>
        <div class="col-sm-12"><b>Nota:</b> Para efectos de cualquier información y/o confirmación por favor referirse al siguiente número de Voucher VOU<?php echo $voucher->id.' - '.$voucher->cotizacion_id ?></div>
    </div>
</div>




<?php endforeach;?>
<?php  } ;?>