<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>
    
    <?php echo DwForm::open(); ?>    
        <div class="row">
            <div class="col-md-12">                    
                <?php echo DwForm::text('politica.nombre', array('class'=>'input-required'), NULL, 'Nombre Politica'); ?>
            </div>         
        </div>
           
        <div class="row">
            <div class="col-md-12">                    
                <?php echo DwForm::textarea('politica.descripcion', array('class'=>'input-required summernote','rows'=>'8'), NULL, 'Descripcion Politica'); ?>
            </div>
        </div> 


        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>            
                <?php echo DwForm::send('Crear politica'); ?>
                <?php echo DwForm::cancel("dashboard/politicas/"); ?>
                <?php echo DwForm::focus('politica.nombre'); ?>
            </div>
        </div>
            
        
    </div>
 
    <?php echo DwForm::close(); ?>
    
</div>


<script>
  $(document).ready(function() {
      $('.summernote').summernote({
        height: 300,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
      });        
  });
</script>