<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>
    
    <?php echo DwForm::open(); ?>    
        <div class="row">
            <div class="col-md-12">                    
                <?php echo DwForm::text('politica.nombre', array('class'=>'input-required','disabled'=>'disabled'), NULL, 'Nombre Politica'); ?>
            </div>         
        </div>
           
        <div class="row">
            <div class="col-md-12">     
                <?php echo $politica->descripcion; ?>
            </div>
        </div> 


        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>            
                <?php // DwForm::send('Crear politica'); ?>
                <?php echo DwForm::cancel('dashboard/politicas/'); ?>
                <?php echo DwForm::focus('politica.nombre'); ?>
            </div>
        </div>
            
        
    </div>
 
    <?php echo DwForm::close(); ?>
    
</div>


