
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <?php Tag::css('bootstrap3.3.6/bootstrap'); ?>
    <?php Tag::css('backend/style'); ?>

    <?php echo Html::includeCss(); ?>
    <?php echo Tag::js('jquery/jquery.min').PHP_EOL; ?>        
    <title>Solicitud</title>
</head>
<body style="background-image: url(https://www.minervatel.com/images/bg-cc3.jpg);
    background-size: cover;">

<style>

.tabla{
    width: 50%;
    height: 100px;
    display: table;
    margin: 0 auto;
    margin-top: 3%;
    border: 2px solid red;
    border-radius: 15px;
}
.caja{
    position: relative;
    width: 100%;
    height: 90px;
    display: table;
    margin: 0 auto;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: red;*/
}
.cajon{
    position: absolute;
    width: 80%;
    height: 25px;
    display: right;
    border-radius: 3px;
}
.cajonn{
    width: 80%;
    height: 60px;
    margin-top: 5%;
    border-radius: 3px;
}
.nombre{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    display: left;
    margin-top: -35px;
}
.btnenviar{
    width: 20%;
    height: 35px;
    background: red;
    color: white;
    display: table;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 8px;
}
</style>
<?php View::flash(); ?>

<div class="row">
    <div class="col-md-6">
        <div class="row" style="padding:100px;margin-top:50px;">
            <h1 class="text-center" style="margin-top:10px;margin-bottom:30px;">SOLICITUD DE COTIZACIÓN</h1>
            <?php if(empty($estadoForm)){ ?> 
            <?php echo DwForm::open(); ?>
            <div class="row">
                <div class="col-md-12">
                    <?php echo DwForm::text('nombre', array('class'=>'input-required'), NULL, 'Nombre Completo'); ?>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <?php echo DwForm::number('celular', array('class'=>'input-required'), NULL, 'Celular de contacto'); ?>
                </div>
                <div class="col-md-6">
                    <?php echo DwForm::email('email', array('class'=>'input-required input-email mask-email'), NULL, 'Email'); ?>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <?php echo DwForm::text('ciudad', array('class'=>'input-required'), NULL, 'Tu Ciudad'); ?>
                </div>
            </div>            

            <div class="row">
                <div class="col-md-12">
                    <?php echo DwForm::textarea('detalle', array('class'=>'input-required','rows'=>"7"), NULL, 'Donde Deseas Viajar? <br> <h4></h3>Indicanos Fecha de viaje y el numero de personas adultos y niños.'); ?>
                </div>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-md btn-success">Enviar Solicitud de Cotización</button>
            </div>
            <?php echo DwForm::close(); ?>
            <?php }else{ ?>
                <h3>Gracias por enviar tu solicitud, uno de nuestros asesores te contestará lo mas pronto posible.</h3>
            <?php } ?>
        </div>
    
    </div>
    <div class="col-md-6"></div>
</div>



 <?php echo Tag::js('bootstrap3.3.6/bootstrap').PHP_EOL; ?>
 <?php echo Tag::js('validador').PHP_EOL; ?>

</body>
</html>