<!DOCTYPE html>
<html lang="es">
    <head>
        <title><?php echo $page_title; ?></title>
       <title><?php echo $page_title; ?></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="<?php echo APP_CHARSET; ?>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" /> 
        <link rel="shortcut icon" href="<?php echo PUBLIC_PATH; ?>img/favicon.ico" type="image/x-icon" />
        <?php Tag::css('bootstrap/bootstrap.min', 'all'); ?>
        <?php Tag::css('bootstrap/bootstrap-theme.min', 'all'); ?>                
        <?php Tag::css('font-awesome.min', 'all'); ?>        
        <?php Tag::css('backend/base', 'all'); ?>
        <?php Tag::css('backend/style', 'all'); ?>        
        <?php Tag::css('backend/printer', 'all'); ?>
        <?php echo Html::includeCss(); ?>
        <?php if(!APP_LOCAL) { ?>
            <link href="http://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet" type="text/css">
        <?php } ?>
        <style type="text/css">
            .caja-borde{ border-top: 1px solid #eeeeee; padding:5px}
            .f18{font-size: 18px};

        </style>
        <?php echo Tag::js('jquery/jquery.min').PHP_EOL; ?>
        <script type="text/javascript">
//            function changeTitle(title) { if($(document).attr('title') != title) { $(document).attr('title', title); } }
//            $(function() {
//                window.print();
//            }); 
//            #0060b0

        </script>

    </head>
    <body style="background:#FFF !important;">

    <div id="shell-content" class="container-fluid">
                

    <table>
        <tr>
            <td><?php echo Html::img("logo-turishuila.png","","width='300px' ");?></td>
            <td style="padding-left:30px;">
                <div style="font-size:12px;">Organización Turística del Huila Turishuila LTDA - Turishuila.com</div>
                <div>Tel:  8722101 - 8721665 / Cel. 317 4405432</div>
                <div class="text-bold">Orden de Solicitud #00<?php echo $cotizacion->id ;?></div>
                <div class=""><?php $asesor = load::model('sistema/usuario')->find_first($cotizacion->usuario_id); echo "Asesor ".$asesor->nombre." ".$asesor->apellido;  ?></div>
            </td>  
            <td style="padding-left:30px;"><?php if($asesor->fotografia <> "default.png"){ echo Html::img("upload/personas/$asesor->fotografia",NULL,"width='70px' "); } ?> </td>            
        </tr>
    </table>
                
    <?php foreach($cotizacion_items as $item): ?>
        <div style="border:2px solid #FDCB2E;margin-top: 20px">
            <div style="font-size:18px; border-top:1px solid #eeeeee; padding: 5px;background: #0060b0; color: #fff"><b><?php echo $item->producto;?></b> - <?php echo $item->origen;?> | <?php echo $item->destino ;?></div>
            <div class="caja-borde f18"><?php if(!empty($item->fechain)){  ?> <b>Fecha Ida:</b> <?php echo $item->fechain ?> &nbsp;&nbsp;&nbsp;&nbsp; <?php } ?> <b>Fecha Llegada:</b> <?php echo $item->fecha_out ?></div>
            <?php if($item->producto <> "CARRO"){ ?>
                <div class="caja-borde f18"><b>Adultos:</b> <?php echo $item->adultos ?> &nbsp;&nbsp;&nbsp;&nbsp; <b>Menores:</b> <?php echo $item->infantes ?></div>                
            <?php } ?>
            <div class="caja-borde f18"><b><center>Descripción Producto</center></b></div>
            <div class="caja-borde"><?php echo $item->descripcion ;?></div>
            <div class="caja-borde f18 text-right"><b>Valor Producto <?php echo $item->producto; ?>:</b> $<?php echo number_format($item->valor_total, 0, '', '.') ?> </div>
        </div>                
                
    <?php endforeach;?>
        <div style="border:2px solid #FDCB2E;margin-top: 20px">
            <div class="caja-borde text-right">
                <h5>Items Cotizados: ( <?php echo $items_cotizacion = count($cotizacion_items) ?>)</h5>

                <h3>Valor Total $<?php $valor_total= Load::model('cotizacion_item')->sum("valor_total","conditions: cotizacion_id=$cotizacion->id AND estado=1"); echo number_format($valor_total, 0, '', '.') ?></h3>
            </div>
        </div>
        
        <!--Politicas-->
        <?php $count_politicas = Load::model("cotizacion_politica")->count("cotizacion_id=$cotizacion->id ") ?>
        <?php if(!$count_politicas == NULL){ ?>
        
        <?php $politicas = Load::model("cotizacion_politica")->find("cotizacion_id=$cotizacion->id ") ?>
        <?php foreach ($politicas as $politica): ?>
        
            <?php $ver_politica = Load::model("politica")->find_first("id='$politica->politica_id'") ?>
          
            <div style="border:2px solid #FDCB2E;margin-top: 20px">
                <div style="font-size:18px; border-top:1px solid #eeeeee; padding: 5px;background: #0060b0; color: #fff"><b>POLITICAS <?php echo $ver_politica->nombre;?></b></div>                
                <div class="caja-borde">
                   <?php echo $ver_politica->descripcion; ?>
                </div>
            </div>
        
        <?php endforeach ;?>
        
        <?php } ?>
        
            
            
        </div>

    </body>
</html>
