<?php View::flash(); ?>

<div class="container shell-view">

    <?php View::process($page_module, $page_title, $set_title); ?>

    <?php echo DwForm::open(); ?>
        <div class="row">
            <div class="col-md-6">
                <?php echo DwForm::text('cliente.nombre', array('class'=>'input-required'), NULL, 'Nombre Completo'); ?>
            </div>
            <div class="col-md-6">
                <?php echo DwForm::email('cliente.email', array('class'=>'input-required input-email mask-email'), NULL, 'Email'); ?>                
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <?php echo DwForm::number('cliente.celular', array('class'=>'input-required'), NULL, 'Celular de contacto'); ?>
                <?php echo DwForm::text('cliente.ciudad', array('class'=>''), NULL, 'Ciudad'); ?>
            </div>
            <div class="col-md-6">
                <?php echo DwForm::textarea('cliente.nota', array('class'=>'','rows'=>'4'), NULL, 'Nota'); ?>            
            </div>
        </div>
        <?php if(!empty($clienteSeleccion)){ ?> 
        <div style="background:#fbd633;padding:20px;">
            <h5>Registros encontrados..</h5>
            <div class="container-overflow">

                <table class="table table-hover table-striped table-condensed table-responsive" style="background: #f3f3f3;">
                    <thead>
                        <tr>
                            <th class="col-hidden" data-search="nombre" data-order="nombre">NOMBRE</th>
                            <th class="col-hidden" data-search="email" data-order="email">EMAIL</th>
                            <th class="col-hidden">CELULAR</th>     
                            <th class="col-hidden" data-order="estado_usuario">ESTADO</th>
                            <th class="col-blocked text-center">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($clienteSeleccion as $seleccion):?>
                            <?php  $key_shw = Security::setKey($seleccion->id, 'shw_cliente'); ?>
                            <tr>
                                <td><?php echo $seleccion->nombre; ?></td>
                                <td><?php echo $seleccion->email; ?></td>
                                <td><?php echo $seleccion->celular; ?></td>
                                <td><?php echo ($seleccion->estado == EstadoUsuario::ACTIVO) ? '<span class="label label-success" title="" rel="tooltip">Activo</span>' : '<span class="label label-danger" title="" rel="tooltip">Bloqueado</span>' ;?></td>
                                <td class="text-center">
                                    <?php echo DwHtml::buttonTable("Crear Solicitud $seleccion->nombre", "dashboard/cotizaciones/agregar/$key_shw", NULL, 'primary', 'fa-plus'); ?>                            
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>

            </div>

        </div>
        <?php } ?>
        

        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>
                <?php echo DwForm::send('Crear Cliente'); ?>
                <?php echo DwHtml::link('dashboard/cotizaciones/buscar_cliente',"<i class='fa fa-user'></i> CREAR COTIZACIÓN",array('class'=>'btn btn-default text-bold'))?>            </div>
                <?php echo DwHtml::link('dashboard/clientes',"<i class='fa fa-arrow-left'></i> ATRAS",array('class'=>'btn btn-default text-bold'))?>            </div>
        </div>


    </div>

    <?php echo DwForm::close(); ?>

</div>


