<?php View::flash(); ?>

<script type="text/javascript">
    $(function() {
        $('table').kgrid({            
            form_data       : ['<?php echo $field; ?>', '<?php echo $value; ?>'],
            form_to         : $.KumbiaPHP.publicPath+'dashboard/clientes/buscar/',            
            order_attr      : '<?php echo (APP_AJAX) ? 'class="js-link js-spinner"' : ''; ?>',
            order_to        : $.KumbiaPHP.publicPath+'dashboard/clientes/buscar/<?php echo $field; ?>/<?php echo $value; ?>'
        });
    });
</script>

<div class="container shell-view">

    <?php View::process($page_module, $page_title, $set_title); ?>

    <div class="btn-toolbar btn-toolbar-top">
        <div class="row">
            <div class="btn-actions">
                <?php echo DwHtml::button("dashboard/clientes/agregar/", 'agregar', NULL, 'fa-check-square-o', APP_AJAX); ?>
                <?php echo DwHtml::button("dashboard/clientes/listar/", 'listar', NULL, 'fa-check', APP_AJAX); ?>
            </div>
        </div>
    </div>

    <div class="container-overflow">

        <table class="table table-hover table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th>NUM</th>
                    <th class="col-hidden" data-search="email" data-order="email">EMAIL</th>
                    <th class="col-hidden" data-search="nombre" data-order="nombre">NOMBRE</th>
                    <th class="col-hidden">CELULAR</th>                                        
                    <th class="col-hidden" data-order="estado_usuario">ESTADO</th>
                    <th class="col-blocked text-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($clientes->items as $usuario): ?>
                    <?php $key_shw = Security::setKey($usuario->id, 'shw_cliente'); ?>
                    <?php $key_ina = Security::setKey($usuario->id, 'bloquear_usuario'); ?>
                    <?php $key_rea = Security::setKey($usuario->id, 'reactivar_usuario'); ?>
                    <tr>
                        <td><?php echo $clientes->counter; ?></td>
                        <td><?php echo ($field=='email') ? DwUtils::resaltar($value, $usuario->email) : $usuario->email; ?></td>
                        <td><?php echo ($field=='nombre') ? DwUtils::resaltar($value, $usuario->nombre) : $usuario->nombre; ?></td>
                        <td><?php echo $usuario->celular; ?></td>
                        <td><?php echo ($usuario->estado == EstadoUsuario::ACTIVO) ? '<span class="label label-success" title="" rel="tooltip">Activo</span>' : '<span class="label label-danger" title="" rel="tooltip">Bloqueado</span>' ;?></td>
                        <td>
                            <?php echo DwHtml::buttonTable('Ver Cliente', "dashboard/clientes/ver/$key_shw/", NULL, 'info', 'fa-search'); ?>                            
                            <?php echo DwHtml::buttonTable('Editar Cliente', "dashboard/clientes/editar/$key_shw", NULL, 'warning', 'fa-edit'); ?>                                                        
                            <?php echo DwHtml::buttonTable("Crear Solicitud $usuario->nombre", "dashboard/cotizaciones/agregar/$key_shw", NULL, 'primary', 'fa-plus'); ?>                            
                            
                        </td>
                    </tr>
                    <?php $clientes->counter++; ?>
                <?php endforeach; ?>
            </tbody>
        </table>

    </div>

    <?php View::partial('paginators/default', false, array('page'=>$clientes, 'url'=>"dashboard/clientes/listar/$order/")); ?>

</div>