<?php View::flash(); ?>

<div class="container shell-view">

    <?php View::process($page_module, $page_title, $set_title); ?>

    <?php echo DwForm::open(); ?>
        <div class="row">
            <div class="col-md-12">
                <?php echo DwForm::text('cliente.nombre', array('class'=>'input-required'), NULL, 'Nombre Completo'); ?>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <?php echo DwForm::number('cliente.celular', array('class'=>'input-required'), NULL, 'Celular de contacto'); ?>
            </div>
            <div class="col-md-6">
                <?php echo DwForm::email('cliente.email', array('class'=>'input-required input-email mask-email'), NULL, 'Email'); ?>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <?php echo DwForm::text('cliente.ciudad', array('class'=>''), NULL, 'Ciudad'); ?>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <?php echo DwForm::text('cliente.cc', array('class'=>''), NULL, 'Numero de identificación'); ?>
            </div>
            <div class="col-md-4">
                <?php echo DwForm::text('cliente.direccion', array('class'=>''), NULL, 'Dirección'); ?>
            </div>
            <div class="col-md-4">
                <?php echo DwForm::text('cliente.telefono', array('class'=>''), NULL, 'Telefono de contacto'); ?>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <?php echo DwForm::textarea('cliente.nota', array('class'=>''), NULL, 'Nota'); ?>
            </div>
        </div>

        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>
                <?php echo DwForm::send('Editar Cliente'); ?>
                <?php echo DwHtml::link('dashboard/clientes',"<i class='fa fa-arrow-left'></i> ATRAS",array('class'=>'btn btn-default text-bold'))?>
                <?php DwForm::focus('cliente.nombre'); ?>
            </div>
        </div>


    </div>

    <?php echo DwForm::close(); ?>

</div>



