<?php View::flash(); ?>

<div class="container shell-view">
    <?php View::process($page_module, $page_title, $set_title); ?>
    <?php 
    function listar_archivos($carpeta,$id){
//        $folder = "http://107.170.48.114/files/clientes/$id";
        $folder = "/default/public/files/clientes/$id";        
//        $folder = "http://localhost:8888/app-turishuila/default/public/files/clientes/$id";
        
    if(is_dir($carpeta)){
        if($dir = opendir($carpeta)){
            while(($archivo = readdir($dir)) !== false){
                if($archivo != '.' && $archivo != '..' && $archivo != '.htaccess'){ ?>                         
                <tr>
                    <td><a data-toggle="tooltip" title="<?= $archivo ?>" href="<?php echo $folder.'/'.$archivo ?>" target="_blank"><?= $archivo ?></a></td>
                    <td>
                        <?php echo DwHtml::buttonTable('Eliminar Adjunto', "dashboard/clientes/adjunto_eliminar/$id/$archivo/", array('class'=>'js-confirm js-url', 'msg-title'=>'Eliminar Adjunto', 'msg'=>'Está seguro de eliminar este Adjunto? <br />Recuerda que esta operación no se puede reversar.'), 'danger', 'fa-trash'); ?>
                    </td>
                </tr>                
               <?php }
            }
            closedir($dir);
        }
    }
} ?>

    <div class="row">
        <div class="col-md-4">

            <div class="panel panel-default">
              <div class="panel-heading panel-heading-azul" >Información del Cliente</div>                
              <div class="panel-body">
                <div class="row"style="font-size: 16px">
                    <div class="col-md-12 text-bold"><?php echo $cliente->nombre ;?></div>
                    <div class="col-md-12"><strong>CC:</strong> <?php echo $cliente->cc ;?></div>
                    <div class="col-md-12"><strong>Email:</strong> <?php echo $cliente->email ;?></div>                    
                    <div class="col-md-12"><strong>TEL:</strong> <?php echo $cliente->telefono ;?></div>
                    <div class="col-md-12"><strong>CEL:</strong> <?php echo $cliente->celular ;?></div>
                </div>   
              </div>
            </div>
            

                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Cargar Archivos</strong> <small> </small></div>
                    <div class="panel-body">
                    <?php echo Form::openMultipart("dashboard/clientes/adjunto/$key") ?>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Ingrese un archivo
                                    .jpg, .png, .pdf:</h4>
                                <?php echo Form::file('archivo',"class='col-md-12' style='display: block;border: 1px solid #ccc;padding: 10px;border-radius: 6px;background: #FFB700;' ") ?>                                            
                            </div>
                            <div class="col-md-12" style="margin-top: 3%;">
                                <h4> </h4>
                                <?php echo Form::submit("Cargar Documento","class='btn btn-md btn-success'"); ?>                                            
                            </div>
                        </div>
                        <?php echo Form::hidden('oculto', NULL, '1') //para saber si se envió el form ?>
                    <?php echo Form::close() ?>                                      

                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Adjuntos Cargados</strong> <small> </small></div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-11">Archivos </th>
                                    <th class="col-md-1 col-blocked"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php echo listar_archivos($ruta,$id); ?>
                            </tbody>
                        </table>
                        <br />
                    </div>
                </div>

            
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">                        
                            <div class="row">
                                <div class="col-xs-12"><h3 class="panel-title"><?= DwHtml::link('dashboard', '<i class="fa fa-user fa-1x"></i>', array('class'=>'js-link js-url'));  ?> Efectividad Cliente </h3></div>
                                <div class="col-xs-12 text-left"><h1 style="margin: 0px;margin-top: 10px">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<?php echo $porcetaje_calificacion ?>" aria-valuemin="0" aria-valuemax="100" style="width: <?php echo $porcetaje_calificacion ?>%">
                                       <?php echo $porcetaje_calificacion ?>% 
                                      </div>
                                    </div>                                   
                                    </h1> 
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>  
            </div>            
            
            <table class="table table-hover table-striped table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="col-hidden text-center">FECHA</th>
                        <th class="col-hidden text-center">ITEMS</th>
                        <th class="col-hidden text-right">VALOR</th>
                        <th class="col-hidden text-center">VISTO</th>
                        <th class="col-hidden text-center">ESTADO</th>
                        <th class="col-blocked text-center">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($solicitudes_cl as $solicitud_cl): ?>
                        <?php $key_shw = Security::setKey($solicitud_cl->id, 'shw_cliente'); ?>
                        <?php $items_cliente = Load::model('cotizacion_item')->count("cotizacion_id =$solicitud_cl->id AND estado >=1"); ?>                
                        <?php $items_cliente_valor = Load::model('cotizacion_item')->sum("valor_total","conditions: cotizacion_id =$solicitud_cl->id AND estado >=1"); ?>                
                        <tr>
                            <td style="font-size: 1.2em"><?php echo $solicitud_cl->id ?></td>
                            <td class="text-center"><time class="timeago" datetime="<?php echo $solicitud_cl->cotizacion_at ?>"></time></td>                                                    
                            <td class="text-center" style="font-size: 1.3em"><?php echo $items_cliente ;?></td>
                            <td class="text-bold text-right" style="font-size: 1.3em">$ <?php echo number_format($items_cliente_valor, 0, '', '.') ?></td>
                            <td class="text-center" style="color: #23a5fd">
                                <?php if(!$solicitud_cl->visita_cliente == NULL){ ?>
                                    <strong><?php echo $solicitud_cl->visita_cliente ?></strong><i class="fa fa-check" style="margin-right: -5px;"></i> <i class="fa fa-check"></i>
                                <?php } ?>
                            </td>                             <td class="text-center">
                                <?php  if($solicitud_cl->estado == 1) { ?> 
                                    <span class="label label-success" title="" rel="tooltip">Activo</span> 
                                <?php }if($solicitud_cl->estado == 2) {?> 
                                    <span class="label label-warning" title="" rel="tooltip">Envio Mail</span> 
                                <?php }if($solicitud_cl->estado == 3) { ?> 
                                    <span class="label label-primary" title="" rel="tooltip">Procesado</span>
                                <?php }if($solicitud_cl->estado == 4) { ?>
                                    <span class="label label-info" title="" rel="tooltip">Aceptado</span>
                                <?php }if($solicitud_cl->estado == 0){ ?>
                                    <span class="label label-danger" title="" rel="tooltip">Cancelado</span>                                
                                <?php } ?>                                
                            </td>
                            <td class="text-center">
                                <?php echo DwHtml::buttonTable('Ver Solicitud', "dashboard/solicitudes/ver/$key_shw/", NULL, 'info', 'fa-search'); ?>                            
                            </td>
                        </tr>
                        <?php // $solicitudes_cl->counter++; ?>
                    <?php endforeach; ?>
                </tbody>
            </table>                
        </div>
    </div>
    
        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>
                <?php $key_shw = Security::setKey($cliente->id, 'shw_cliente') ?>
                <?php // DwHtml::link("dashboard/solicitudes/agregar/$key_shw", "CREAR SOLICITUD","class='btn btn-success text-bold js-link js-url' ","fa-calendar-check-o") ?>
                <?php echo DwHtml::link("dashboard/clientes/listar/", "ATRAS","class='btn btn-default text-bold js-link js-url' ","fa-arrow-left") ?>
                <?php // DwForm::cancel(); ?>
                <?php // DwForm::focus('usuario.nombre'); ?>
            </div>
        </div>
            
        
    </div>
 
    
</div>

<script type="text/javascript">
    function loadImg(result, input) {
        $("#usuario_fotografia").val(result.name);
        $("#img-usuario").attr('src', '<?php echo PUBLIC_PATH; ?>img/upload/personas/'+result.name);                
    }
    
</script>

<script type="text/javascript">           
    if (typeof($.timeago) != "undefined") {
        jQuery.timeago.settings.strings = {
            prefixAgo: "hace",
            prefixFromNow: "dentro de",
            suffixAgo: "",
            suffixFromNow: "",
            seconds: "menos de un minuto",
            minute: "un minuto",
            minutes: "unos %d minutos",
            hour: "una hora",
            hours: "%d horas",
            day: "un día",
            days: "%d días",
            month: "un mes",
            months: "%d meses",
            year: "un año",
            years: "%d años"
        };
    }
    jQuery(document).ready(function() {
      jQuery("time.timeago").timeago();
    });            
</script>

