<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>
    
    <?php echo DwForm::open(); ?>    
        <div class="row">
            <div class="col-md-12">                    
                <?php echo DwForm::text('codigo_iata.codigo', array('class'=>'input-required'), NULL, 'Codigo IATA'); ?>
            </div>         
        </div>
           
        <div class="row">
            <div class="col-md-12">                    
                <?php echo DwForm::text('codigo_iata.ciudad', array('class'=>'input-required'), NULL, 'Ciudad'); ?>
            </div>
        </div> 


        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>            
                <?php echo DwForm::send('Crear IATA'); ?>
                <?php echo DwForm::cancel('dashboard/codigo_iata/'); ?>
                <?php echo DwForm::focus('codigo_iata.codigo'); ?>
            </div>
        </div>
            
        
    </div>
 
    <?php echo DwForm::close(); ?>
    
</div>
