<?php View::flash(); ?>

<script type="text/javascript">
//    $(function() {
//        $('table').kgrid({
//            form_to         : $.KumbiaPHP.publicPath+'dashboard/codigo_iata/buscar/',            
//            order_attr      : '<?php // echo (APP_AJAX) ? 'class="js-link js-spinner"' : ''; ?>',
//            order_to        : $.KumbiaPHP.publicPath+'dashboard/codigo_iata/listar/'
//        });
//    });
</script>

<div class="container shell-view">

    <?php View::process($page_module, $page_title, $set_title); ?>

    <div class="btn-toolbar btn-toolbar-top">
        <div class="row">
            <div class="btn-actions">
                <?php echo DwHtml::button("dashboard/codigo_iata/agregar", 'agregar', NULL, 'fa-check-square-o', APP_AJAX); ?>
            </div>            
        </div>
        <hr style="margin-top: 5px;margin-bottom: 5px;">
    </div>

    <div class="container-overflow">

        <table class="table table-hover table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="col-hidden" data-search="nombre" data-order="nombre">CODIGO</th>
                    <th class="col-hidden" data-search="ciudad" data-order="ciudad">CIUDAD</th>
                    <th class="col-hidden" >ESTADO</th>
                    <th class="col-blocked text-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($iatas->items as $iata): ?>
                    <?php $key_shw = Security::setKey($iata->id, 'shw_cliente'); ?>
                    <?php $key_upd = Security::setKey($iata->id, 'upd_cliente'); ?>                
                    <?php $key_blo = Security::setKey($iata->id, 'blo'); ?>
                
                    <tr>
                        <td><?php echo $iata->codigo; ?></td>
                        <td><?php echo $iata->ciudad; ?></td>
                        <td><?php if($iata->estado == 1){ ?><?php $color="danger"; $icono="fa-arrow-down"; ?><span class="label label-success">Activo</span> <?php }else{?><?php $color="success"; $icono="fa-arrow-up"; ?><span class="label label-danger">Inactivo</span><?php } ?> </td>
                        <td>
                            <?php echo DwHtml::buttonTable('Editar Proveedor', "dashboard/codigo_iata/editar/$key_upd/", NULL, 'warning', 'fa-edit'); ?>                                                        
                            <?php echo DwHtml::buttonTable('Inactivar Codigo', "dashboard/codigo_iata/bloquear/$key_blo/", NULL, "$color","$icono"); ?>                                                                                    
                        </td>
                    </tr>
                    <?php $iatas->counter++; ?>
                <?php endforeach; ?>
            </tbody>
        </table>

    </div>

    <?php View::partial('paginators/default', false, array('page'=>$iatas, 'url'=>"dashboard/codigo_iata/listar/$order/")); ?>

</div>