<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>

    
    <?php echo DwForm::open(); ?>
    

            
            <div class="row">
                <div class="col-md-6">                    
                    <?php echo DwForm::text('usuario.nombre', array('class'=>'input-required'), NULL, 'Nombre'); ?>
                </div>
                <div class="col-md-6">
                    <?php echo DwForm::text('usuario.apellido', array('class'=>'input-required'), NULL, 'Apellido'); ?>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <?php echo DwForm::email('usuario.email', array('class'=>'input-required input-email mask-email'), NULL, 'Email Login'); ?>
                </div>
            </div>
                            
            
            <div class="row">
                <div class="col-md-6">
                    <?php echo DwForm::dbSelect('usuario.perfil_id', 'perfil', array('sistema/perfil', 'getListadoPerfil', Perfil::ACTIVO), NULL, array('class'=>'input-required'), NULL, 'Perfil'); ?>
                </div>
                <div class="col-md-6">
                    <?php echo DwForm::number('usuario.datagrid', array('class'=>'input-integer input-required mask-pint'), 30, 'Cantidad de datos por página', 'Esta información se utiliza en los listados de informaciones y reportes'); ?>
                </div>
            </div>
                        
            <div class="row">
                <div class="col-md-6">
                    <?php echo DwForm::pass('usuario.password', array('class'=>'input-pass'), '', 'Contraseña'); ?>
                </div>
                <div class="col-md-6">
                    <?php echo DwForm::pass('repassword', array('class'=>'input-repass', 'data-equalto'=>'usuario_password'), '', 'Confirmación'); ?>
                </div>
            </div>
            
            
            <div class="row fileupload-buttonbar">

                <div class="col-md-6" style="margin-bottom: 20px;">

                    <div class="row">

                        <div class="col-md-6">
                            <?php echo DwForm::upload('fotografia', array('data-to'=>PUBLIC_PATH.'sistema/usuarios/upload/', 'data-size'=>5000000, 'data-files'=>'images', 'data-success'=>'loadImg'), 'Fotografía'); ?>
                        </div>

                        <div class="col-md-6">
                            <div class="picture-profile text-center text-middle shadow-dark" style="margin: 5px auto 0px;">
                                <?php echo DwHtml::img("upload/personas/default.png", "Fotografía", array('id'=>'img-usuario')); ?>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            
            <?php echo DwForm::hidden('usuario.fotografia', NULL, 'default.png'); ?>
            
            <div class="row">
                <div class="form-actions">                   
                    <?php echo DwForm::send('Crear usuario'); ?>
                    <?php echo DwForm::cancel(); ?>
                    <?php echo DwForm::focus('usuario.nombre'); ?>
                </div>
            </div>
            
        
    </div>
    
    
    <?php echo DwForm::close(); ?>
    
</div>

<script type="text/javascript">
    
    function loadImg(result, input) {
        $("#usuario_fotografia").val(result.name);
        $("#img-usuario").attr('src', '<?php echo PUBLIC_PATH; ?>img/upload/personas/'+result.name);                
    }
    
</script>