<!DOCTYPE html>
<html lang="es">    
    <head>
        <title><?php echo $page_title; ?></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="<?php echo APP_CHARSET; ?>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" /> 
        <link rel="shortcut icon" href="<?php echo PUBLIC_PATH; ?>img/favicon.ico" type="image/x-icon" />
        <?php Tag::css('bootstrap3.3.6/bootstrap'); ?>
        <?php //Tag::css('bootstrap3.3.6/bootstrap-theme.min'); ?>        
        <?php Tag::css('bootstrap/bootstrap-datetimepicker.min'); ?>
        <?php Tag::css('bootstrap/typehead'); ?>
        <?php Tag::css('font-awesome.min'); ?>               
        <?php echo Html::includeCss(); ?>
        <?php if(!APP_LOCAL) { ?>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,900' rel='stylesheet' type='text/css'>
        <?php } ?>
            
        <?php echo Tag::js('jquery/jquery.min').PHP_EOL; ?>        
        
    </head>
    
    <body style="font-family: Play,Lucila,Verdana,sans-serif;">

        <?php DwMenu::load(Menu::FRONTEND); ?>

        <?php // View::partial('frontend/header'); ?>

        <div id="shell-load">
            <div id="console" class="container"></div>
            <div id="shell-content" class="container-fluid">
                <noscript><h5 style="text-align: center;">¡Tu navegador no soporta Javascript!.. Activa el uso de Javascript en tu navegador.</h5><meta http-equiv="refresh" content="1; URL=<?php echo PUBLIC_PATH; ?>sistema/login/salir/no-script/" /></noscript>
                <?php View::content(); ?>
            </div>
        </div>
        
        <?php echo Tag::js('html5shiv').PHP_EOL; ?>        
        <?php echo Tag::js('bootstrap3.3.6/bootstrap').PHP_EOL; ?>
    </body>
    
</html>
