/*  
Base.css
Archivo que contiene atributos básicos para ser utilizados en los demás temas y estilos
--------------------------------------------------------------------------------------------------------------
License
-------------------------------------------------------
• New BSD License
-------------------------------------------------------
*/

/*----- Formato para los enlaces -----*/
a { text-decoration:none; }
a:hover { text-decoration: none; }

/*----- Margin y padding -----*/
.mg-center { margin: 0 auto !important;}
.pd-left {padding-left: 1% !important;}
.pd-right {padding-right: 1% !important;}

/*----- Formato del texto -----*/
.text-minimal { font-size:  9px !important;}
.text-small { font-size:  10px !important;}
.text-medium { font-size: 11px !important;}
.text-normal { font-size: 12px !important;}
.text-large { font-size: 13px !important;}
.text-extra { font-size: 14px !important;}
.text-center { text-align: center !important;}
.text-left { text-align: left !important;}
.text-right { text-align: right !important;}
.text-justify { text-align: justify !important;}
.text-bold { font-weight: bold !important; }
.text-middle { vertical-align: middle !important;}
.text-shadow { text-shadow: #fff 0px 1px 0px; }
.text-shadow-dark { text-shadow: #0c0c0c 0px 1px 0px; }
.text-shadow-light { text-shadow: #ccc 0px 1px 0px; }

/*----- Sombras -----*/
.shadow-dark{ box-shadow: rgba(200,200,200,1) 2px 2px 8px;-moz-box-shadow: rgba(200,200,200,1) 2px 2px 8px;-webkit-box-shadow: rgba(200,200,200,1) 2px 2px 8px;-khtml-box-shadow: rgba(200,200,200,1) 2px 2px 8px;}

/*----- Transision -----*/
.transition { transition: background-color 350ms ease-out; -webkit-transition: background-color 350ms ease-out; -moz-transition: background-color 350ms ease-out; -o-transition: background-color 350ms ease-out; }

/*----- Opacidad -----*/
.opacity { opacity: 0.3;}

/*----- Blur -----*/
.blur { color: transparent; text-shadow: 0 0 4px #454545; -ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelRadius=2)"; filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2); }

/*----- Corner medium -----*/
.corner-tl { -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; border-top-left-radius: 8px; }
.corner-tr { -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; border-top-right-radius: 8px; }
.corner-bl { -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px; }
.corner-br { -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; }
.corner-t { -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; border-top-left-radius: 8px; -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; border-top-right-radius: 8px; }
.corner-b { -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; }
.corner-r {  -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; border-top-right-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; }
.corner-l { -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; border-top-left-radius: 8px; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px; }
.corner-all { -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }

/*----- Corner max -----*/
.corner-max-tl { -moz-border-radius-topleft: 15px; -webkit-border-top-left-radius: 15px; border-top-left-radius: 15px; }
.corner-max-tr { -moz-border-radius-topright: 15px; -webkit-border-top-right-radius: 15px; border-top-right-radius: 15px; }
.corner-max-bl { -moz-border-radius-bottomleft: 15px; -webkit-border-bottom-left-radius: 15px; border-bottom-left-radius: 15px; }
.corner-max-br { -moz-border-radius-bottomright: 15px; -webkit-border-bottom-right-radius: 15px; border-bottom-right-radius: 15px; }
.corner-max-t { -moz-border-radius-topleft: 15px; -webkit-border-top-left-radius: 15px; border-top-left-radius: 15px; -moz-border-radius-topright: 15px; -webkit-border-top-right-radius: 15px; border-top-right-radius: 15px; }
.corner-max-b { -moz-border-radius-bottomleft: 15px; -webkit-border-bottom-left-radius: 15px; border-bottom-left-radius: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-bottom-right-radius: 15px; border-bottom-right-radius: 15px; }
.corner-max-r {  -moz-border-radius-topright: 15px; -webkit-border-top-right-radius: 15px; border-top-right-radius: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-bottom-right-radius: 15px; border-bottom-right-radius: 15px; }
.corner-max-l { -moz-border-radius-topleft: 15px; -webkit-border-top-left-radius: 15px; border-top-left-radius: 15px; -moz-border-radius-bottomleft: 15px; -webkit-border-bottom-left-radius: 15px; border-bottom-left-radius: 15px; }
.corner-max-all { -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }

/*----- Utils -----*/
.cursor-pointer { cursor: pointer !important;}

/*----- Menú -----*/
.main-nav-wrapper .navbar-fixed-top { top: 40px !important; z-index: 1020; }
.navbar-fixed-top { margin-bottom: 0 !important; }
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle { background-color: transparent !important; }
.main-nav li.active a { background-image:none; background-position: center bottom; background-repeat: no-repeat; background-color: transparent; }
/*.nav>li>a:hover, .nav>li>a:focus{ text-decoration:none;background: -moz-linear-gradient(center top , #414141, #323232) repeat-x scroll 0 0 #3A3A3A; }*/
.nav>li>a:hover, .nav>li>a:focus{ text-decoration:none;background: none repeat scroll 0 0 #47a0ff; }
.main-nav li i { font-size: 22px; vertical-align: middle; }
.main-nav li.main-nav-arrow a { background-position: center bottom; background-repeat: no-repeat;  }
.subnav { left: 0; right: 0; position: inherit; top: 80px; z-index: 1021; background-color: #ffffff; border-bottom: 1px solid #e5e5e5; margin-bottom: 0; width: 100%; height: 36px; margin-top: 0px; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;}
.subnav .nav { margin-bottom: 0; }
.subnav .nav > li > a { color: #369BD7; margin: 0; padding-top: 6px; padding-bottom: 10px; border-left: 1px solid #f5f5f5; border-right: 1px solid #e5e5e5; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
.subnav .nav > li > a > i { color: #555555; }
.subnav .nav > li > a:hover, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-pills > li > a:focus, .nav-pills > li > a:hover { text-decoration: none; background-color: #f5f5f5 !important; color: #FF9900 !important; }
.subnav .nav > .active > a, .subnav .nav > .active > a:hover { padding-left: 13px; color: #2071A1; background-color: inherit; border-right-color: #ddd; border-left: 0; font-weight: 500; }
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover { border-left: 0; padding-left: 12px; border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; }
.subnav .nav > li:last-child > a { border-right: 0; }
.subnav .dropdown-menu { border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px;-moz-border-radius: 0 0 4px 4px; }
.subnav .nav-pills > li + li { margin-left: 0px }

/*----- Responsive -----*/
@media (min-width: 768px) and (max-width: 979px) {
    body { padding-top: 0px !important; }
    .main-nav-wrapper { width: 100%; margin-left: 0; margin-right: 0; }   
    .subnav { position: static; top: auto !important; }
    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
    .main-nav .btn-group { margin-top: 18px; }
}

@media (min-width: 980px) {
    body, #loading-content { padding-top: 0px !important; }    
    .main-nav-wrapper { width: 100%; margin-left: 0; margin-right: 0; }    
    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
    .main-nav .btn-group { margin-top: 18px; }
}

@media (max-width: 1020px) {        
    .nav-collapse .dropdown-menu:before, .nav-collapse .dropdown-menu:after { display: none !important; }
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { color: #999 !important; }
    .nav-collapse .nav > li .active a { color: #fff !important; }    
}

footer.navbar { min-height: 20px !important; }
footer.navbar p { margin: 3px 0px !important; font-size: 12px;  }

/* Round Corners 3px
----------------------------------------------------------------------------------------------------*/
.round-all { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.round-t { -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-radius: 3px 3px 0 0; }
.round-b { -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-radius: 0 0 3px 3px; }
.round-l { -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-radius: 3px 0 0 3px; }
.round-r { -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-radius:0 3px 3px 0; }

@media (min-width:767px){
    .hidden-xs { display: inline !important; }    
}

.modal-backdrop { opacity:  0.5 !important}
.modal-footer { padding: 0px 20px 20px !important}
.input-group-addon { min-width: 40px !important}
header.navbar { min-height: 35px !important;border-radius: 0px; }

.navbar-nav > li > a {
    padding-top:	9px;
    padding-bottom:	10px;
}
@media (min-width:767px){
    .container { max-width: 98%; padding-right: 0; padding-left: 0; }
}

@media print {                
    header, footer, .btn, .navbar, #console, #loading-content, #spinner, a { 
        visibility:hidden;
        display: none;
    }
    body, #shell-content  { font-size: 9px !important}
}

.tab-pane { margin-top: 20px; }
.modal-footer .btn { margin-top: 20px; }
span.label { font-size: 100% !important}

.form-actions { background-color: #F5F5F5; border-top: 1px solid #E5E5E5; margin-bottom: 20px; margin-top: 20px; padding: 19px 20px 20px; }

body.slide-active { overflow-x: hidden }
.no-margin-top { margin-top: 0px!important }
#shell-load { position: relative; padding-top: 70px; left: 0; }
#slide-nav .navbar-toggle { cursor: pointer; position: relative; line-height: 0; float: left; margin: 0; width: 30px; height: 40px; padding: 10px 0 0 0; border: 0; background: transparent; }
#slide-nav .navbar-toggle > .icon-bar { width: 100%; display: block; height: 3px; margin: 5px 0 0 0; }
#slide-nav .navbar-toggle.slide-active .icon-bar { background: orange }
.navbar-header { position: relative }
.slide-navbar { overflow: auto; }
.slide-navbar a { font-size: 18px; margin: 5px 0; }
.slide-navbar > ul > li { margin: 5px 0px; }

@media (max-width:767px) {
    .navbar-inverse { background: #043c98!important; }
    #slide-nav .container { margin: 0; padding: 0!important; }
    #slide-nav .navbar-header { margin: 0 auto; padding: 0 15px; }
    #slide-nav .navbar.slide-active { position: absolute; width: 80%; top: -1px; z-index: 1000; }
    #slide-nav #slidemenu { background: #f7f7f7; left: -100%; width: 80%; min-width: 0; position: absolute; padding-left: 0; z-index: 2; top: -8px; margin: 0; }
    #slide-nav #slidemenu .navbar-nav { min-width: 0; width: 100%; margin: 0; }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a { min-width: 0; width: 100%; white-space: normal; }
    #slide-nav { border-top: 0 }
    #slide-nav.navbar-inverse #slidemenu { background: #043c98 }
    #slide-nav #navbar-height-col { position: fixed; top: 0; height: 100%; width: 80%; left: -80%; background: #eee; }
    #slide-nav.navbar-inverse #navbar-height-col { background: #333; z-index: 1; border: 0; }
    #slide-nav .navbar-form { width: 100%; margin: 8px 0; text-align: center; overflow: hidden; padding: 1px 0px; }
    #slide-nav .navbar-form .form-control { text-align: center }
    #slide-nav .navbar-form .btn { width: 100% }
    #slide-nav li.divider { border-bottom: #043c98 1px solid; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);  margin: 9px 0; overflow: hidden; }
}
@media (min-width:768px) { 
    #shell-load { left: 0!important }
    .navbar.navbar-fixed-top.slide-active { position: fixed; }
    .navbar-header { left: 0!important; }
}

li.dropdown-submenu ul.dropdown-menu { margin-left: 20px;}

/*Personalizado css*/
body{background: #eceeee!important}
#logo{vertical-align: middle;display: inline-block;color: #fff;font-size: 32px;font-weight: 900;}
.navbar{margin-bottom: 0px!important; border: none!important}
.navbar-inverse { background: #043c98; }
.navbar-inverse .navbar-brand {color: #FAFAFA;font-size: x-large;}
#balance-bar {height: 1.2142857143rem;background: #fdcb2e;color: #fff;}

/*Boton estilos*/
.btn {-webkit-border-radius: 5px !important;-moz-border-radius: 5px !important;border-radius: 5px !important;}

/*Quitar espacio entre columns*/
.row.no-gutters {margin-right: 0;margin-left: 0;}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {padding-right: 0;padding-left: 0;}


/*Notificaciones*/
.alert-info {color: #FFFFFF;background-color: #00AAFF;border-color: #00AAFF;}
.alert-warning {color: #000000;background-color: #FFD600;border-color: #FFD600;}
.alert-success {color: #FFFFFF;background-color: #5CB85C;border-color: #d6e9c6;}
.alert-danger {color: #FFFFFF;background-color: #FF0000;border-color: #FF0000;}

/*modal estilo*/
.modal-header {color: white;background: #fdcb2e;}