/*
Style.css
Archivo que contiene la maquetación del tema
-------------------------------------------------------
License
-------------------------------------------------------
• New BSD License
-------------------------------------------------------
*/

/*----- Shell principal -----*/
#shell-load { margin: 0px auto !important; min-height: 550px; padding-top: 10px;}
#shell-load { background-color: #FFFFFF; border-radius: 0 0 6px 6px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);}
#loading-content { display: none; bottom: 0; left: 0; position: fixed; right: 0; top: 0; z-index: 1019; }
#spinner { color: white; width: 80px; height: 80px; background: #666; position: fixed; z-index: 9999; opacity: 1; display: none; }
#shell-content { font-size: 12px !important;}
#shell-content div.container { width: 98%; padding-left: 1%; padding-right: 1%;}
#shell-content div.page-header { margin: 0px 0px 5px;  padding-bottom: 2px;}
.shell-view { padding-bottom: 50px; min-height: 200px}
.shell-view .btn-toolbar-top .row { width: 100%; margin: 0 auto;}
.shell-view .btn-toolbar-top .row .btn-actions { margin-left: 1%;}
.shell-view .btn-toolbar-top .row .pull-right { margin-right: 1%;}


/*----- Formato del div de los mensajes -----*/

.flash-message { font-family: Play,Lucila,Verdana,sans-serif; font-size: 14px; margin: 5px auto; padding: 0.07em 0 0; text-align: center; width: 35%; }
.flash-message { float: right; left: 64%; position: fixed; top: 78px; z-index: 1055; }

@media (max-width: 767px) {
    .flash-message { left: 5% !important; top: 50px; width: 90%; }
    body { padding-top: 0px !important; }
}

@media (min-width: 768px) and (max-width: 979px){
    body { padding-top: 0px !important; }
}

.fa-pd-expand { padding-right: 5px; }
.alpha60 { background: rgb(170, 170, 170); background: rgba(170, 170, 170, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99f5f5f5, endColorstr=#99f5f5f5); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99f5f5f5, endColorstr=#99f5f5f5)";}
.container-overflow { overflow-x: auto !important; min-height: 100px;}
tfoot > tr > th, tbody > tr > td { vertical-align: middle !important; }
th.data-order > i.active, th.data-order > i:hover { color: #FF9900; }

.table thead tr a, td a { font-size: 12px;}
.table thead tr a span.caret , td a span.caret { vertical-align: middle !important;}
.table th a:first-child, td a:first-child { vertical-align: middle !important;}

th.btn-actions {  width: 200px;}
th.btn-actions, td.btn-actions {text-align: center;    }
.btn-actions .btn-small { margin-right: 0.5em;  font-size: 15px; padding: 4px 5px 5px; }
.btn-icon-only { padding-left: 3px; padding-right: 3px; font-size: 15px; }
tbody td button.btn-disabled, tbody td button.input-disabled { min-width: 33px; opacity: 0.4 !important}
tbody td .btn { padding: 2px 5px !important; min-width: 21px;}

hr.divider { margin: 5px 0px !important;}
.btn-toolbar .btn, .btn-toolbar .btn-group { font-size: 12px; /*min-width: 15px;*/ margin-left: 5px !important; float: left}
.btn-toolbar .btn:first-child, .btn-toolbar .btn-group:first-child { margin-left: 0px !important;}
.btn-toolbar i { font-size: 15px; }
.btn-toolbar form { margin-bottom: 0px !important;}
.btn-toolbar form input {  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; }
.btn-toolbar form select { border-radius: 0 !important; border: 1px solid #CCCCCC;}
.btn-toolbar form .btn-medium { padding: 7px 14px !important; margin-left: 0px !important}
.btn-toolbar .dropdown-menu { font-size: 12px;}
.btn-toolbar form .input-medium { width: 90%; margin-bottom: 3px;}
.btn-toolbar > .btn-actions { min-height: 30px;}
.btn-toolbar-top { margin: 0px 0px 5px;}
.btn-toolbar-top .dropdown-menu li { padding-left: 10px;}
.btn-toolbar-subline { border-bottom: 1px solid #EEEEEE; padding-bottom: 5px }
.btn-toolbar .dropdown-toggle { margin-left: 0px !important}
.btn-toolbar .btn-group > .dropdown-menu li { padding-left:  0px !important}

form span.req { color: red !important;display: inline;float: none;font-weight: bold; }
.form-actions { text-align: right; }
.form-actions .btn { font-size: 12px; }
.control-error .checkbox, .control-error .radio, .control-error input, .control-error select, .control-error textarea { border-color: #B94A48; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;color: #B94A48 !important; }
.control-error .control-label, .control-error .help-block, .control-error .help-inline { color: #B94A48 !important; }
/*.help-block { margin-top: -5px;}*/
label { margin-bottom: -1px;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    line-height: 17px; margin-bottom: 2px; /*height: 30px;*/ }
.input-group-addon { padding: 4px 12px;} 
.nav-tabs li a, .nav-pills li a, .accordion-heading a { font-size: 18px !important;font-weight: 300;}
.bar { height: 17px }
.picture-profile { max-width: 200px}
.input-money, .input-float { text-align: right !important}

@media (max-width: 640px) {
    .table-responsive {border-bottom: 0px !important;}
    .table-responsive, .table-responsive thead, .table-responsive tbody, .table-responsive th, .table-responsive tr { display: block; }
    .table-responsive thead tr { position: absolute; top: -9999px; left: -9999px; }
    .table-responsive td { display: block;}
    .table-responsive td.col-hidden { display: block !important;}
    .table-responsive tr { border-bottom: 1px solid #DDDDDD;}
    .table-responsive td { border: none;position: relative; /*padding-left: 50%;*/ }
    .table-responsive td:before { /*position: absolute;*/ /*top: 6px;*/position: relative;left: 2px;width: 45%; padding-right: 10px; white-space: nowrap;font-weight: bold;}
    .table-responsive th, .table-responsive td { border-top: 0px !important; border-bottom: 0px !important; }
    .table-responsive th.btn-actions, .table-responsive td.btn-actions { text-align: left !important; }
    .table-responsive td div.btn-group {position: absolute;right: 5px;top: 0; }
    .table-responsive td.btn-actions { display: none;}
}
@media (min-width: 641px) {
    .table-responsive td.btn-actions { display: table-cell !important; }
}
@media (min-width: 768px) {
    .table-responsive td div.btn-group { display: none !important; }    
    .form-actions .btn, .modal-footer .btn { min-width: 90px; }     
}
@media (max-width: 1020px) {
    #loading-content { z-index: -1 !important;}
}
@media (max-width: 1130px) {
    .fa-pd-expand { padding-right: 2px;}
    .subnav > .nav-tabs > li > a, .nav-pills > li > a {
        padding-left: 7px;
        padding-right: 7px;
    }
}

small.help-error { display: none;}

.has-error small.help-error { display: block;background: none repeat scroll 0 0 #A94442; color: #FFFFFF; display: block; font-size: 11px; font-style: italic; padding: 2px 4px; width: 100%; border-radius: 0px 0px 4px 4px; }
.has-error input, .has-error textarea, .has-error select { margin-bottom: 0px; border-radius: 4px 4px 0px 0px;}
.has-error input + .input-group-addon { border-radius: 0px 4px 0px 0px;}
.has-error .input-group-addon + input { border-radius: 4px 0px 0px 0px;}
.has-error p.help-block { margin-top: 0px;}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { margin-top: 2px; }


.product-box{background: #043c98;padding: 10px;margin: 10px;color: #fff157;border-radius: 6px;}
.product-box h3{color: #fff}
a:hover .product-box{background: #052252;padding: 10px;margin: 10px;color: #fff157;border-radius: 6px;}
a:active .product-box{background: #052252;padding: 10px;margin: 10px;color: #fff157;border-radius: 6px;}
a:focus .product-box{background: #052252;padding: 10px;margin: 10px;color: #fff157;border-radius: 6px;}
.req{color:#FF0000}
/*Colores botones personalizados*/

.btn-primary {color: #fff;background-color: #043c98;border-color: #2e6da4;}
a {color: #043c98;}

.panel-heading-azul{
    color: #fff !important;
    font-size: 18px;
    background-color: #043c98 !important;
    border-color: #043c98 !important;    
}
