<?php View::flash(); ?>

<div class="container shell-view">
    <?php View::process($page_module, $page_title, $set_title); ?>
        <?php echo count($cotizaciones); ?>
        <?php foreach($cotizaciones as $cotizacion): ?>
        <div><h2><?php echo $cotizacion->id ?></h2></div>
        <?php endforeach; ?>

    </div>

</div>