<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>
    
<div class="panel panel-default">
    <div class="panel-heading panel-heading-azul">CLIENTE</div>
  <div class="panel-body">
    <div class="col-md-6 col-md-offset-3" style="margin-top: 20px;">
    <?php echo DwForm::open(); ?>
        <?php echo DwForm::text('cl_nombre', array('class'=>'input-required'), NULL, 'Nombre Cliente'); ?> 
        <center>
            <input class="btn btn-lg btn-warning" type="submit" value="Buscar Cliente">
            <?php if($newcliente == 1){ ?> O <?php echo Html::link('dashboard/clientes/agregar', 'Agregar Nuevo Cliente',"class='btn btn-lg btn-info js-url js-spinner js-link'"); ?> <?php } ?>                            
        </center><br></br>
    </div> 
    <?php echo DwForm::focus('cl_nombre'); ?>      
    <?php echo DwForm::close(); ?>
    <?php if(!empty($busqueda)){ ?>     
        <table class="table table-hover table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="col-hidden" >Nombre Cliente</th>
                    <th class="col-hidden" >Nit / Cedula</th>                                        
                    <th class="col-hidden" >Ciudad</th>
                    <th class="col-hidden" >Email</th>
                    <th class="col-md-1 text-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($busqueda as $busq): ?>
                    <?php $select_cl = Security::setKey($busq->id, 'shw_cliente'); ?>
                    <tr>
                        <td><?php echo $busq->nombre; ?></td>
                        <td><?php echo $busq->cc; ?></td>
                        <td><?php echo $busq->ciudad; ?></td>
                        <td><?php echo $busq->email; ?></td>
                        <td class="text-center">
                            <?php echo Html::link("dashboard/cotizaciones/agregar/$select_cl", "<i class='fa fa-dot-circle-o'></i>","class='btn btn-lg btn-success'"); ?>
                            <?php // echo DwHtml::buttonTable('Seleccionar Cliente', "dashboard/cotizaciones/agregar/$select_cl/", NULL, 'success', 'fa-dot-circle-o'); ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table> 
    <?php }?> 
      
      
  </div>
</div>    
<!--FIN PANEL CLIENTE-->    

     
<div class="row">
    <div class="form-actions">
        <div class="pull-left">
        </div>
        <?php echo DwHtml::link("dashboard/cotizaciones/", "ATRAS","class='btn btn-default text-bold js-link js-url' ","fa-arrow-left") ?>
    </div>
</div>
    
</div>


