 <?php View::flash(); ?>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">
<?php // echo Tag::js('md5').PHP_EOL; ?>

<style type="text/css">
[v-cloak]{
  display: none;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.modal-lg {
    width: auto !important;
}
.product-box{cursor: pointer;}
</style>


<script>

// Validacion cierre de pestaña por Error
var areYouReallySure = false;
function areYouSure() {
    if(allowPrompt){
        // console.log('dentro0');
        if (!areYouReallySure && true) {
            areYouReallySure = true;
            var confMessage = "*****";
            return confMessage;
            // console.log('dentro1');
        }
    }else{
        // console.log('fuera1');
        allowPrompt = true;
    }
}

var allowPrompt = true;
window.onbeforeunload = areYouSure;


	$(document).ready(function() {
		$('#summernote').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 500,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
        onPaste: function (e) {
          var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
          e.preventDefault();
          document.execCommand('insertText', false, bufferText);
        },         
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagen(files[i]);
					}
				}
			}
		});

	function SubirImagen(file){
		if(file.type.includes('image'))
		{
			var name = file.name.split(".");
			name = name[0];  
			var data = new FormData();
			data.append('file', file);
            // console.log('dentro');
			$.ajax({
				url: '<?php echo DOMINIO ?>api/uploadimg',
				type: 'POST',
				contentType: false,
				cache: false,
				processData: false,
				dataType: 'JSON',
				data: data,
				success: function (response) 
				{
					$('#summernote').summernote('insertImage', response.url, name);
				}
			})
			.fail(function(e) {
				console.log(e);
			});
		}
		else
		{
			console.log("El tipo de archivo que intentaste subir no es una imagen");
		}
	}

		$('#summernoteMascara').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 300,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
        onPaste: function (e) {
          var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
          e.preventDefault();
          document.execCommand('insertText', false, bufferText);
        },         
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenMascara(files[i]);
					}
				}
			}
		});
	});

	function SubirImagenMascara(file){
		if(file.type.includes('image'))
		{
			var name = file.name.split(".");
			name = name[0];  
			var data = new FormData();
			data.append('file', file);
            // console.log('dentro');
			$.ajax({
				url: '<?php echo DOMINIO ?>api/uploadimg',
				type: 'POST',
				contentType: false,
				cache: false,
				processData: false,
				dataType: 'JSON',
				data: data,
				success: function (response) 
				{
					$('#summernoteMascara').summernote('insertImage', response.url, name);
				}
			})
			.fail(function(e) {
				console.log(e);
			});
		}
		else
		{
			console.log("El tipo de archivo que intentaste subir no es una imagen");
		}
	}    
</script>



<div class="container shell-view">
    <?php View::process($page_module, $page_title, $set_title); ?>

<!-- START APP VUE -->
<div id="app" v-cloak>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <?php $key_cl = Security::setKey($cliente->id, 'shw_cliente'); ?>
            <div class="panel-heading panel-heading-azul" >Información del Cliente <div style="float:right"><?php echo DwHtml::buttonTable('Editar Cliente', "dashboard/clientes/editar/$key_cl", array('style'=>'color: #fff;'), '', 'fa-edit'); ?> <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#myModal"><i class="fa fa-folder-open"></i></button></div></div>
            <div class="panel-body">
                <div class="row"style="font-size: 16px">
                    <div class="col-md-6"><?php echo $cliente->nombre ;?></div>
                    <div class="col-md-6"><?php echo $cliente->cc ;?></div>
                    <div class="col-md-6"><?php echo $cliente->direccion ;?></div>
                    <div class="col-md-6"><?php echo $cliente->ciudad ;?></div>
                    <div class="col-md-6"><?php echo $cliente->email ;?></div>
                    <div class="col-md-6"><?php echo $cliente->telefono ;?></div>
                    <div class="col-md-6"><?php echo $cliente->celular ;?></div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Adjuntos <?php echo $cliente->nombre; ?></h4>
                        </div>
                        <div class="modal-body">
                            <?php View::partial('backend/adjuntos_cliente', false, array('id'=>$cliente->id,'ruta'=>$ruta)); ?>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">                        
                        <div class="row">
                            <div class="col-xs-12"><h3 class="panel-title"><?= DwHtml::link('dashboard', '<i class="fa fa-user fa-1x"></i>', array('class'=>'js-link js-url'));  ?> Efectividad Cliente </h3></div>
                            <div class="col-xs-12 text-left"><h1 style="margin: 0px;margin-top: 10px">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<?php echo $porcetaje_calificacion ?>" aria-valuemin="0" aria-valuemax="100" style="width: <?php echo $porcetaje_calificacion ?>%">
                                    <?php echo $porcetaje_calificacion ?>% 
                                    </div>
                                </div>                                   
                                </h1> 
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>  
        </div>         
    </div>
    <!-- Fin col-md-8 -->

    <div class="col-md-4">
    
        <!-- Modal Editar cotizacion item -->
        <div class="modal fade" id="editModalProductoItem" tabindex="-1" role="dialog" aria-labelledby="modalitem">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><i class="fa fa-edit"></i> {{ editProductoItem.producto }}</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" v-on:submit.prevent="formEditProductoItem(editProductoItem.id)">
                            <div class="col-md-12" style="margin-bottom:20px;">
                                <button type="submit" class="btn btn-block btn-md btn-default">Editar Producto</button>
                            </div>                          
                            <div class="row" style="font-size: 1.4em !important;">
                                <div class="col-md-6"><label>Origen:</label> {{ editProductoItem.origen }}</div>
                                <div class="col-md-6"><label>Destino:</label> {{ editProductoItem.destino }}</div>
                                <div class="col-md-6"><label>Partida:</label> {{ editProductoItem.fechain }}</div>
                                <div class="col-md-6"><label>Regreso:</label> {{ editProductoItem.fecha_out }}</div>
                                <div class="col-md-12"><label>Titulo:</label> {{ editProductoItem.titulo }}</div>
                                
                                <div class="col-md-12"><label>Titulo:</label>
                                    <input type="text" name="titulo" placeholder="Titulo..." class="form-control" required="required" v-model="editProductoItem.titulo">
                                </div>

                                <div class="col-md-12 text-right" style="margin-top:20px;">
                                    <button class="btn btn-default" type="button" v-on:click.prevent="plantillasEditar"><i class="fa fa-cloud-download"></i></button>
                                    <button class="btn btn-default" type="button" v-on:click.prevent="guardarPlantilla"><i class="fa fa-save"></i></button>
                                </div>
                                <div class="col-md-12">
                                    <textarea name="descripcion" id="summernoteEdit" class="form-control" type="text" v-model="editProductoItem.descripcion"></textarea>
                                </div>

                                <div class="col-md-12" style="margin-top:20px;">
                                    <!-- precio contizacion -->
                                    <div class="col-md-12" style="padding-bottom:10px;">
                                        <div><label>Precio Cotización</label></div>
                                        <div class="row">
                                          <div class="col-md-4"><label>Detalle</label></div>
                                          <div class="col-md-1"><label>Cantidad</label></div>
                                          <div class="col-md-2"><label>Valor</label></div>
                                          <div class="col-md-1"><label>Valor USD</label></div>
                                          <div class="col-md-2"><label>Valor Total</label></div>
                                        </div>
                                        <div class="row" v-for="(iprecioEdit, index) in editProductoItemPrecio" :id="'ItemPEdit'+index">
                                            <div class="col-md-4">
                                              <input class="form-control" :id="'iprecioEdit_detalle'+index" type="text" placeholder="Detalle.." v-model="iprecioEdit.detalle">
                                            </div>
                                            <div class="col-md-1">
                                              <input class="form-control" :id="'iprecioEdit_cantidad'+index" type="number" placeholder="Cant" v-model="iprecioEdit.cantidad" v-on:keyup="actualizarPrecioEdit(index,iprecioEdit.detalle,iprecioEdit.cantidad,iprecioEdit.valor_unidad,iprecioEdit.valor_usd)">
                                            </div>  
                                            <div class="col-md-2">
                                              <input class="form-control" :id="'iprecioEdit_valor_unidad'+index" type="number" placeholder="Unid" v-model="iprecioEdit.valor_unidad" v-on:keyup="actualizarPrecioEdit(index,iprecioEdit.detalle,iprecioEdit.cantidad,iprecioEdit.valor_unidad,iprecioEdit.valor_usd)">
                                            </div>                                               

                                            <div class="col-md-1">
                                              <input class="form-control" :id="'iprecioEdit_valor_usd'+index" type="number" placeholder="USD" v-model="iprecioEdit.valor_usd" v-on:keyup="actualizarPrecioEdit(index,iprecioEdit.detalle,iprecioEdit.cantidad,iprecioEdit.valor_unidad,iprecioEdit.valor_usd)">
                                            </div>                                                                                                                                       
                                            <div class="col-md-2">
                                                <input class="form-control" :id="'iprecioEdit_valor'+index" type="number" placeholder="Valor" v-model="iprecioEdit.valor">
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn " :id="'botonAgregarPrecioEdit'+index" type="button" v-on:click.prevent="agregarCamposPrecioCotizacionInicialEdit(index,iprecioEdit.detalle, iprecioEdit.cantidad, iprecioEdit.valor_unidad, iprecioEdit.valor_usd,iprecioEdit.valor)"><i class="fa fa-check"></i></button>                
                                                <button class="btn btn-danger" type="button" v-on:click.prevent="deleteCamposPrecioCotizacionEdit(index)"><i class="fa fa-remove"></i></button>                
                                            </div>
                                            
                                        </div>
                                        <div style="margin-top:10px;"><h5>TRM ACTUAL <b>{{ trmActual.valor }}</b></h5></div>
                                        <button class="btn btn-default" type="button" v-on:click.prevent="agregarCamposPrecioCotizacionEdit()"><i class="fa fa-plus"></i></button>                
                                    </div>
                                    <!-- Fin precio contizacion -->
                                </div>                            

                                <!--Mascara-->
                                <div class="col-md-12">
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMascaraEdit" aria-expanded="false" aria-controls="collapseMascaraEdit">Mascara de tarifas.</button>
                                    <div class="collapse" id="collapseMascaraEdit">
                                        <div class="well">
                                            <textarea name="mascara" id= "summernoteEditMascara" class="form-control" type="text" v-model="editProductoItem.mascara_tarifa"></textarea>
                                        </div>
                                    </div>            
                                </div>
                                <!--fin mascara-->                             
                                <div class="col-md-12" style="margin-top:20px;">
                                    <button type="submit" class="btn btn-block btn-lg btn-primary">Editar Producto</button>
                                </div>                                
                            </div>
                        </form>                         
                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="text-center" v-if="cotizacion_id.length === 0">No hay items en la cotizacion.</h3>
                    <h3 v-else><center>Cotización # {{ cotizacion_id}}</center></h3>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="itemCotizacion in listCotizacionItem">
                            <div class="row">
                                <div class="col-sm-5" style="font-size:1.2em;">
                                    <i :class="'fa '+itemCotizacion.icono"></i> {{ itemCotizacion.producto }}
                                </div>
                                <div class="col-sm-7 text-right">
                                    <button class="btn btn-sm- btn-default" data-toggle="modal" :data-target="'#modalitem'+itemCotizacion.id"><i class="fa fa-search"></i></button>
                                    <button class="btn btn-sm- btn-default" v-on:click="editModalProdutoItem(itemCotizacion)"><i class="fa fa-edit"></i></button>                                
                                    <button class="btn btn-sm- btn-danger" v-if="listCotizacionItem.length > 1" v-on:click="deleteProdutoItem(itemCotizacion)"><i class="fa fa-trash-o"></i></button>                                
                                </div>
                            </div>

                            <!-- Modal ver cotizacion item -->
                            <div class="modal fade" :id="'modalitem'+itemCotizacion.id" tabindex="-1" role="dialog" aria-labelledby="modalitem">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="modalitem"><i :class="'fa '+itemCotizacion.icono"></i> {{ itemCotizacion.producto }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" style="font-size: 1.4em !important;">
                                                <div v-if="itemCotizacion.origen.length >0" class="col-md-6"><label>Origen:</label> {{ itemCotizacion.origen }}</div>
                                                <div v-if="itemCotizacion.destino.length >0"class="col-md-6"><label>Destino:</label> {{ itemCotizacion.destino }}</div>
                                                <div v-if="itemCotizacion.fechain.length >0" class="col-md-6"><label>Partida:</label> {{ itemCotizacion.fechain }}</div>
                                                <div v-if="itemCotizacion.fecha_out.length >0"class="col-md-6"><label>Regreso:</label> {{ itemCotizacion.fecha_out }}</div>
                                                <div v-if="itemCotizacion.titulo.length >0"class="col-md-12"><label>Titulo:</label> {{ itemCotizacion.titulo }}</div>
                                                <div v-if="itemCotizacion.noches.length >0"class="col-md-6"><label>Noches:</label> {{ itemCotizacion.noches }}</div>
                                                <div v-if="itemCotizacion.habitaciones.length >0"class="col-md-6"><label>Habitaciones:</label> {{ itemCotizacion.habitaciones }}</div>
                                                <div v-if="itemCotizacion.adultos.length >0"class="col-md-6"><label>Adultos:</label> {{ itemCotizacion.adultos }}</div>
                                                <div v-if="itemCotizacion.infantes.length >0" class="col-md-6"><label>Infantes:</label> {{ itemCotizacion.infantes }}</div>
                                                <div v-if="itemCotizacion.descripcion.length >0" class="col-md-12"><label>Descripción:</label> <div style="border: 1px solid #ccc;border-radius: 6px;padding: 15px;margin-top: 10px;margin-bottom: 10px;" v-html="itemCotizacion.descripcion"></div></div>
                                                
                                                <div class="col-md-12"><label>Precio Cotización</label></div>
                                                <div class="row-fluid">
                                                  <div class="col-md-6"><label>Detalle</label></div>
                                                  <div class="col-md-1"><label>Cantidad</label></div>
                                                  <div class="col-md-2"><label>Valor</label></div>
                                                  <div class="col-md-1"><label>Valor USD</label></div>
                                                  <div class="col-md-2"><label>Valor Total</label></div>
                                                </div>                                                
                                                <div class="row-fluid" v-for="itemCotizacionItemPrecio in itemCotizacion.cotizacion_item_precio">
                                                  <div class="col-md-6">
                                                    <div style="border-bottom: 1px solid #ccc;padding: 5px;margin-top: 5px;margin-bottom: 5px;">{{itemCotizacionItemPrecio.detalle}}</div>
                                                  </div>
                                                  <div class="col-md-1 text-center">
                                                    <div style="border: 1px solid #ccc;border-radius: 6px;padding: 5px;margin-top: 5px;margin-bottom: 5px;">{{itemCotizacionItemPrecio.cantidad}}</div>
                                                  </div>
                                                  <div class="col-md-2 text-right">
                                                    <div style="border: 1px solid #ccc;border-radius: 6px;padding: 5px;margin-top: 5px;margin-bottom: 5px;padding-right:10px;">{{itemCotizacionItemPrecio.valor_unidad}}</div>
                                                  </div>
                                                  <div class="col-md-1 text-center">
                                                    <div style="border: 1px solid #ccc;border-radius: 6px;padding: 5px;margin-top: 5px;margin-bottom: 5px;">{{itemCotizacionItemPrecio.valor_usd}}</div>
                                                  </div>
                                                  <div class="col-md-2 text-right">
                                                    <div style="border: 1px solid #ccc;border-radius: 6px;padding: 5px;margin-top: 5px;margin-bottom: 5px;padding-right:10px;">{{itemCotizacionItemPrecio.valor}}</div>
                                                  </div>                                                                                                                                                        
                                                    
                                                </div>

                                                <div v-if="itemCotizacion.mascara_tarifa.length >0" class="col-md-12" style="margin-top:5%;"><label>Máscara:</label> <div style="border: 1px solid #ccc;border-radius: 6px;padding: 15px;margin-top: 10px;margin-bottom: 10px;" v-html="itemCotizacion.mascara_tarifa"></div></div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </li>                    
                    </ul>


                    <div class="text-right"  v-if="cotizacion_id.length > 0">
                        <a :href="url_whatsapp" target="_blank" style="border: 1px solid #ccc;padding: 3%;font-weight: bold;">{{url_whatsapp}}</a>
                        <a v-if="url_whatsapp.length >0" class="btn btn-md btn-success" :href="'https://api.whatsapp.com/send?phone=57'+cliente_celular+'&text='+url_whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a>
                        <?php // $key_shw = Security::setKey($cotizacion->id, 'shw_cliente'); ?>
                        <a class="btn btn-md btn-info" :href="'../send/'+token" target="_blank"><i class="fa fa-send"></i></a>
                        <?php // echo DwHtml::link("dashboard/cotizaciones/send/", "", array('class'=>'btn btn-md btn-info','data-toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Enviar cotizacion'), "fa fa-send") ?>
                        <?php // echo DwButton::report("index/reporte/", 'html', 'Imprimir reporte', ''); ?>
                        <hr style="margin-bottom:10px;">
                        <div class="row">
                            <div class="col-md-6 text-right"><label style="font-size: 1.4em;">Vencimiento {{cotizacion_item.vencimiento}}</label></div>
                            <div class="col-md-6">
                            <select class="form-control" v-model="cotizacion.vencimiento" v-on:change.prevent="formEditCotizacion">
                                <option value="1">1 Día</option>
                                <option value="2">2 Días</option>
                                <option value="3">3 Días</option>
                                <option value="4">4 Días</option>
                                <option value="5">5 Días</option>
                                <option value="10">10 Días</option>
                                <option value="15">15 Días</option>
                                <option value="30">30 Días</option>
                                <option value="45">45 Días</option>
                                <option value="60">60 Días</option>
                            </select>
                            </div>
                        </div>                                            
                        <hr style="margin-top:10px;">

                    </div>

                    <!-- POLITICAS  -->
                    <div v-if="cotizacion_id.length > 0" style="margin-top:20px;">
                        <form method="POST" v-on:submit.prevent="formAddPoliticaCotizacion"> 
                            <div class="row">
                                <div class="col-md-8">
                                    <select class="form-control" v-model="politica">
                                        <option v-for="itemPolitica in listPoliticas" :value="itemPolitica.id">{{ itemPolitica.nombre }}</option>
                                    </select>                            
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-block btn-success">Agregar</button>                            
                                </div>                        
                            </div>
                        </form>

                        <ul class="list-group">
                            <li class="list-group-item" v-for="itemPoliticaCotizacion in listPoliticasCotizacion.politicas">
                                <div class="row">
                                    <div class="col-sm-9">{{ itemPoliticaCotizacion.nombre}} {{ itemPoliticaCotizacion.cotizacion_politica_id }}</div>
                                    <div class="col-sm-3"><button class="btn btn-sm btn-danger" type="button"><i class="fa fa-trash" v-on:click.prevent="deletePoliticaCotizacion(itemPoliticaCotizacion.cotizacion_politica_id)"></i></button></div>
                                </div>                                
                            </li>
                        </ul>
                    </div>
                    <!-- FIN POLITICAS -->

                </div>
            </div>
        </div>
        <br>
        <div class="col-md-12" style="display:none;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center><h3><?php if(!$cotizacion == NULL){ echo "cotizacion  #".$cotizacion->id; } ?></h3></center>
                    <?php if($items_cotizacion == NULL){ ?>
                        <h3 class="text-center">No hay items en la cotizacion.</h3>
                    <?php }else{ ?>


                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <?php foreach($items_cotizacion as $item): ?>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading<?php echo $item->id ?>">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<?php echo $item->id ?>" aria-expanded="false" aria-controls="collapse<?php echo $item->id ?>">
                                        <i class="fa fa-<?php echo strtolower($item->producto); ?>"></i> <?php echo $item->producto; ?> <span style="margin-left:40px;">$<?php echo $item->valor_total; ?><?php // number_format($item->valor_total, 0, '', '.'); ?></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse<?php echo $item->id ?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?php echo $item->id ?>">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12"><strong>Origen:</strong> <?php echo $item->origen ?></div>
                                        <div class="col-md-12"><strong>Destino:</strong> <?php echo $item->destino ?></div>
                                        <div class="col-md-12"><strong>Fecha In:</strong> <?php echo $item->fechain ?></div>
                                        <div class="col-md-12"><strong>Fecha Out:</strong> <?php echo $item->fecha_out ?></div>
                                        <div class="col-md-12"><strong>Adultos:</strong> <?php echo $item->adultos ?></div>
                                        <div class="col-md-12"><strong>Infantes:</strong> <?php echo $item->infantes ?></div>
                                        <div class="col-md-12"><strong>Habitaciones:</strong> <?php echo $item->habitaciones ?></div>
                                    </div>

                                    <div class="text-right" style="margin-top: 5px;margin-bottom: 5px;border: 0;border-top: 1px solid #eee;padding-top: 5px;">
                                        <?php $key_shw = Security::setKey($item->id, 'shw_cliente'); ?>
                                        <?php $key_del = Security::setKey($item->id, 'del_cliente'); ?>
                                        <?php echo DwHtml::link("dashboard/cotizaciones/eliminar/$key/$key2/$key_del", "", array('class'=>'btn btn-md btn-danger','data-toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Eliminar cotizacion'), "fa fa-trash") ?>
                                        <?php // DwHtml::link("dashboard/cotizaciones/editar/$key_shw", "", array('class'=>'btn btn-md btn-success','data-toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Editar cotizacion'), "fa fa-edit") ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                    </div>

                        <div>
                            <?php $vTotal = Load::model('cotizacion_item')->sum("valor_total","conditions: cotizacion_id=$cotizacion->id") ?>
                            <h2 class="text-right">Total: $<?php echo number_format($vTotal, 0, '', '.'); ?></h2>
                        </div>
                        <div class="text-right">
                            <!--<a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" title="Enviar cotizacion"><i class="fa fa-send"></i></a>-->
                            <!--<a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" title="Descargar cotizacion"><i class="fa fa-download"></i></a>-->
                            <?php $key_shw = Security::setKey($cotizacion->id, 'shw_cliente'); ?>
                            <?php echo DwHtml::link("dashboard/cotizaciones/send/$key_shw", "", array('class'=>'btn btn-md btn-default','data-toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Enviar cotizacion'), "fa fa-send") ?>
                            <?php // DwHtml::link("reporte/html/$key_shw", "", array('class'=>'btn btn-md btn-default','data-toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Descargar cotizacion'), "fa fa-download") ?>
                            <?php echo DwButton::report("index/reporte/$key_shw", 'html', 'Imprimir reporte', ''); ?>
                        </div>
                        <div class="row">
                            <?php echo DwForm::open("dashboard/cotizaciones/agregar_politica/$key/$key2"); ?>
                            <hr><div class="col-md-8">
                                <select class="form-control input-sm" name="cotizacion_politica[politica_id]">
                                    <option>Seleccione Politica</option>
                                <?php $politicas = Load::model("politica")->find() ;?>
                                <?php foreach ($politicas as $politica): ?>
                                    <option value="<?php echo $politica->id ;?>"><?php echo $politica->nombre ?></option>
                                    <?php endforeach;?>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <?php echo Form::hidden("cotizacion_politica[cotizacion_id]", NULL,"$cotizacion->id"); ?>
                                <?php echo Form::hidden("cotizacion_politica[key]", NULL,"$key"); ?>
                                <?php echo Form::hidden("cotizacion_politica[key2]", NULL,"$key2"); ?>
                                <?php echo DwForm::btnSubmit("Agregar","class='btn btn-sm btn-success'"); ?>
                            </div>
                            <?php echo DwForm::close(); ?>

                            <hr><div class="col-md-12">
                                <table class="table table-hover table-striped">
                                <?php $politicas = Load::model("Cotizacion_politica")->find("cotizacion_id=$cotizacion->id") ;?>
                                <?php foreach ($politicas as $politica): ?>
                                <?php $politica_data = Load::model("politica")->find_first("id=$politica->politica_id"); ?>
                                <?php $key_politica = Security::setKey($politica->id, 'del_cliente'); ?>
                                    <tr>
                                        <td><?php if(strlen("$politica_data->nombre")<= 30){ echo $politica_data->nombre; }else{ echo substr($politica_data->nombre, 0, 30) ."...";}?></td>
                                        <td><?php echo Html::link("dashboard/cotizaciones/eliminar_politica/$key/$key2/$key_politica/", "<i class='fa fa-trash'></i>","class='btn btn-sm btn-danger js-link' "); ?></td>
                                    </tr>
                                <?php endforeach; ?>
                                </table>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            </div>
            <!-- Fin panel -->
        </div>

    </div>
    <!-- FIN col-md-4 -->
</div>
<!-- Fin row -->





<h4 class="text-center">Seleccione producto</h4>

<!-- loader -->
<div class="sk-cube-grid" v-if="listProductos.length === 0">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
</div>
<!-- fin loader -->

<div class="row" id="panelProducto">
    <div class="col-md-6 text-center"  v-for="item in listProductos" v-on:click.prevent="selectProducto(item)">
        <div class="product-box" style="padding:5px;margin: 5px;">
            <i :class="'fa fa-3x '+item.icono"></i>
            <div>{{ item.nombre }}</div>
        </div>
    </div>
</div>


<div class="tab-content" id="panelContenido" style="background-color: #fff157;padding: 30px;border-radius: 6px;display:none">
<div style="margin-bottom:10px;">
    <button class="btn btn-default" type="button" v-on:click.prevent="selectHomeProductos()"><i class="fa fa-home"></i></button>
</div>

    <div role="tabpanel" >
    <form method="POST" v-on:submit.prevent="formCreateCotizacion"> 

        <!-- TICKETS -->
        <div class="row" v-if="cotizacion_item.producto_id == 1">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Origen</label>
                    <input type="text" placeholder="Origen..." class="form-control input-required" required="required" v-model="buscadorOrigen">
                        <div v-if="!buscadorOrigen.length"></div>

                        <ul class="list-group" style="position: absolute;z-index: 1000;" v-else>
                            <a href="#" v-for="itemIata in searchIataOrigen" class="list-group-item" style="font-size: 1.2em" v-on:click.prevent="selectIataOrigen(itemIata)">
                            {{ itemIata.codigo }} - {{ itemIata.ciudad }}
                            </a>
                        </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Destino</label>
                    <input type="text" placeholder="Destino..." class="form-control  input-required" required='required' v-model="buscadorDestino">
                        <div v-if="!buscadorDestino.length"></div>

                        <ul class="list-group" style="position: absolute; z-index: 1000;" v-else>
                            <a href="#" v-for="itemIata in searchIataDestino" class="list-group-item" style="font-size: 1.2em" v-on:click.prevent="selectIataDestino(itemIata)">
                            {{ itemIata.codigo }} - {{ itemIata.ciudad }}
                            </a>
                        </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">            
                    <label for="nombre">Fecha Ida</label>
                    <input type="date" id="cotizacion_item_fechain" placeholder="" class="form-control" v-model="cotizacion_item.fechain" required="required" v-on:change="selectDate()" >
                </div>
            </div> 

            <div class="col-md-3">
                <div class="form-group">            
                    <label for="nombre">Fecha Llegada</label>
                    <input type="date" placeholder="Regreso..." class="form-control" required="required" v-model="cotizacion_item.fecha_out">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">                        
                    <label for="nombre">Adultos</label>
                    <input type="number" name="adultos" placeholder="Adultos..." class="form-control" required="required" v-model="cotizacion_item.adultos">
                </div>
            </div>              

            <div class="col-md-3">
                <div class="form-group">                        
                    <label for="nombre">Menores</label>
                    <input type="number" name="menores" placeholder="Menores..." class="form-control" required="required" v-model="cotizacion_item.menores">
                </div>
            </div>                        


            <div class="col-md-12">
                <div class="form-group">                        
                    <label for="nombre">Titulo</label>
                    <input type="text" name="titulo" placeholder="Titulo..." class="form-control" required="required" v-model="cotizacion_item.titulo">
                </div>
            </div>

        </div>
        <!-- FIN TICKETS -->  

        <!-- HOTEL -->
        <div class="row" v-if="cotizacion_item.producto_id == 2">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nombre">Destino</label>
                    <input type="text" placeholder="Destino" class="form-control input-required" required="required" v-model="buscadorOrigen">
                        <div v-if="!buscadorOrigen.length"></div>

                        <ul class="list-group" style="position: absolute;z-index: 1000;" v-else>
                            <a href="#" v-for="itemIata in searchIataOrigen" class="list-group-item" style="font-size: 1.2em" v-on:click.prevent="selectIataOrigen(itemIata)">
                            {{ itemIata.codigo }} - {{ itemIata.ciudad }}
                            </a>
                        </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Entrada</label>
                    <input type="date" id="cotizacion_item_fechain" placeholder="" class="form-control" v-model="cotizacion_item.fechain" required="required" v-on:change="selectDate()" >
                </div>
            </div> 

            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Salida</label>
                    <input type="date" placeholder="" class="form-control" required="required" v-model="cotizacion_item.fecha_out">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">                        
                    <label for="nombre">Habitaciones</label>
                    <input type="number" name="habitaciones" placeholder="Habitaciones..." class="form-control" required="required" v-model="cotizacion_item.habitaciones">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">                        
                    <label for="nombre">Adultos</label>
                    <input type="number" name="adutos" placeholder="Adutos..." class="form-control" required="required" v-model="cotizacion_item.adultos">
                </div>
            </div>  

            <div class="col-md-4">
                <div class="form-group">                        
                    <label for="nombre">Menores</label>
                    <input type="number" name="menores" placeholder="Menores..." class="form-control" required="required" v-model="cotizacion_item.menores">
                </div>
            </div>                        


            <div class="col-md-12">
                <div class="form-group">                        
                    <label for="nombre">Titulo</label>
                    <input type="text" name="titulo" placeholder="Titulo..." class="form-control" required="required" v-model="cotizacion_item.titulo">
                </div>
            </div>

        </div>
        <!-- FIN HOTEL -->

        <!-- AUTO -->
        <div class="row" v-if="cotizacion_item.producto_id == 3">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nombre">¿Dónde deseas retirarlo?</label>
                    <input type="text" placeholder="¿Dónde deseas retirarlo?*" class="form-control input-required" required="required" v-model="buscadorOrigen">
                        <div v-if="!buscadorOrigen.length"></div>

                        <ul class="list-group" style="position: absolute;z-index: 1000;" v-else>
                            <a href="#" v-for="itemIata in searchIataOrigen" class="list-group-item" style="font-size: 1.2em" v-on:click.prevent="selectIataOrigen(itemIata)">
                            {{ itemIata.codigo }} - {{ itemIata.ciudad }}
                            </a>
                        </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Fecha de alquiler</label>
                    <input type="date" id="cotizacion_item_fechain" placeholder="" class="form-control" v-model="cotizacion_item.fechain" required="required" v-on:change="selectDate()" >
                </div>
            </div> 

            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Fecha de devolución</label>
                    <input type="date" placeholder="" class="form-control" required="required" v-model="cotizacion_item.fecha_out">
                </div>
            </div>

              

            <div class="col-md-12">
                <div class="form-group">                        
                    <label for="nombre">Titulo</label>
                    <input type="text" name="titulo" placeholder="Titulo..." class="form-control" required="required" v-model="cotizacion_item.titulo">
                </div>
            </div>

        </div>
        <!-- FIN AUTO -->        

        <!-- PAQUETE -->
        <div class="row" v-if="cotizacion_item.producto_id == 4">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Origen</label>
                    <input type="text" placeholder="Origen..." class="form-control input-required" required="required" v-model="buscadorOrigen">
                        <div v-if="!buscadorOrigen.length"></div>

                        <ul class="list-group" style="position: absolute;z-index: 1000;" v-else>
                            <a href="#" v-for="itemIata in searchIataOrigen" class="list-group-item" style="font-size: 1.2em" v-on:click.prevent="selectIataOrigen(itemIata)">
                            {{ itemIata.codigo }} - {{ itemIata.ciudad }}
                            </a>
                        </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Destino</label>
                    <input type="text" placeholder="Destino..." class="form-control  input-required" required='required' v-model="buscadorDestino">
                        <div v-if="!buscadorDestino.length"></div>

                        <ul class="list-group" style="position: absolute; z-index: 1000;" v-else>
                            <a href="#" v-for="itemIata in searchIataDestino" class="list-group-item" style="font-size: 1.2em" v-on:click.prevent="selectIataDestino(itemIata)">
                            {{ itemIata.codigo }} - {{ itemIata.ciudad }}
                            </a>
                        </ul>
                </div>
            </div> 

            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Partida</label>
                    <input type="date" id="cotizacion_item_fechain" placeholder="" class="form-control" v-model="cotizacion_item.fechain" required="required" v-on:change="selectDate()" >
                </div>
            </div> 

            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Regreso</label>
                    <input type="date" placeholder="Regreso..." class="form-control" required="required" v-model="cotizacion_item.fecha_out">
                </div>
            </div>

              

            <div class="col-md-12">
                <div class="form-group">                        
                    <label for="nombre">Titulo</label>
                    <input type="text" name="titulo" placeholder="Titulo..." class="form-control" required="required" v-model="cotizacion_item.titulo">
                </div>
            </div>

        </div>
        <!-- FIN PAQUETE -->

        <!-- CRUCERO -->
        <div class="row" v-if="cotizacion_item.producto_id == 5">
            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Puerto de salida</label>
                    <input type="text" placeholder="Puerto de salida..." class="form-control  input-required" required='required' v-model="buscadorDestino">
                        <div v-if="!buscadorDestino.length"></div>

                        <ul class="list-group" style="position: absolute; z-index: 1000;" v-else>
                            <a href="#" v-for="itemIata in searchIataDestino" class="list-group-item" style="font-size: 1.2em" v-on:click.prevent="selectIataDestino(itemIata)">
                            {{ itemIata.codigo }} - {{ itemIata.ciudad }}
                            </a>
                        </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Fecha de salida</label>
                    <input type="date" id="cotizacion_item_fechain" placeholder="" class="form-control" v-model="cotizacion_item.fechain" required="required" v-on:change="selectDate()" >
                </div>
            </div> 

            <div class="col-md-3">
                <div class="form-group">                        
                    <label for="nombre">Noches</label>
                    <input type="number" name="noches" placeholder="Noches..." class="form-control" required="required" v-model="cotizacion_item.noches">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">                        
                    <label for="nombre">Cabinas</label>
                    <input type="number" name="habitaciones" placeholder="Cabinas..." class="form-control" required="required" v-model="cotizacion_item.habitaciones">
                </div>
            </div> 

            <div class="col-md-3">
                <div class="form-group">                        
                    <label for="nombre">Adultos</label>
                    <input type="number" name="adultos" placeholder="Adultos..." class="form-control" required="required" v-model="cotizacion_item.adultos">
                </div>
            </div>              

            <div class="col-md-3">
                <div class="form-group">                        
                    <label for="nombre">Menores</label>
                    <input type="number" name="menores" placeholder="Menores..." class="form-control" required="required" v-model="cotizacion_item.menores">
                </div>
            </div>                        


            <div class="col-md-12">
                <div class="form-group">                        
                    <label for="nombre">Titulo</label>
                    <input type="text" name="titulo" placeholder="Titulo..." class="form-control" required="required" v-model="cotizacion_item.titulo">
                </div>
            </div>

        </div>
        <!-- FIN CRUCERO -->

        <!-- ASISTENCIA -->
        <div class="row" v-if="cotizacion_item.producto_id == 6">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Origen</label>
                    <input type="text" placeholder="Origen..." class="form-control input-required" required="required" v-model="buscadorOrigen">
                        <div v-if="!buscadorOrigen.length"></div>

                        <ul class="list-group" style="position: absolute;z-index: 1000;" v-else>
                            <a href="#" v-for="itemIata in searchIataOrigen" class="list-group-item" style="font-size: 1.2em" v-on:click.prevent="selectIataOrigen(itemIata)">
                            {{ itemIata.codigo }} - {{ itemIata.ciudad }}
                            </a>
                        </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Destino</label>
                    <input type="text" placeholder="Destino..." class="form-control  input-required" required='required' v-model="buscadorDestino">
                        <div v-if="!buscadorDestino.length"></div>

                        <ul class="list-group" style="position: absolute; z-index: 1000;" v-else>
                            <a href="#" v-for="itemIata in searchIataDestino" class="list-group-item" style="font-size: 1.2em" v-on:click.prevent="selectIataDestino(itemIata)">
                            {{ itemIata.codigo }} - {{ itemIata.ciudad }}
                            </a>
                        </ul>
                </div>
            </div> 

            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Partida</label>
                    <input type="date" id="cotizacion_item_fechain" placeholder="" class="form-control" v-model="cotizacion_item.fechain" required="required" v-on:change="selectDate()" >
                </div>
            </div> 

            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre">Regreso</label>
                    <input type="date" placeholder="Regreso..." class="form-control" required="required" v-model="cotizacion_item.fecha_out">
                </div>
            </div>


            <div class="col-md-2">
                <div class="form-group">                        
                    <label for="nombre">Días</label>
                    <input type="number" name="noches" placeholder="Días..." class="form-control" required="required" v-model="cotizacion_item.noches">
                </div>
            </div>


            <div class="col-md-2">
                <div class="form-group">                        
                    <label for="nombre">Adultos y Niños</label>
                    <input type="number" name="adultos" placeholder="Adultos..." class="form-control" required="required" v-model="cotizacion_item.adultos">
                </div>
            </div>              
            

            <div class="col-md-12">
                <div class="form-group">                        
                    <label for="nombre">Titulo</label>
                    <input type="text" name="titulo" placeholder="Titulo..." class="form-control" required="required" v-model="cotizacion_item.titulo">
                </div>
            </div>

        </div>
        <!-- FIN ASISTENCIA -->        
      


        <div class="row">
            <div class="col-md-12 text-right">
              <button class="btn btn-default" type="button" v-on:click.prevent="plantillasNuevo"><i class="fa fa-cloud-download"></i></button>
              <button class="btn btn-default" type="button" v-on:click.prevent="guardarPlantilla"><i class="fa fa-save"></i></button>
            </div>        
            <div class="col-md-12">
                <textarea name="descripcion" id= "summernote" class="form-control" type="text" v-model="cotizacion_item.descripcion"></textarea>
            </div>

            <!-- precio contizacion -->
            <div class="col-md-12" style="padding-bottom:10px;">
                <div><h4>Precio Cotización</h4></div>
                <div class="row">
                  <div class="col-md-4"><label>Detalle</label></div>
                  <div class="col-md-1"><label>Cantidad</label></div>
                  <div class="col-md-2"><label>Valor</label></div>
                  <div class="col-md-1"><label>Valor USD</label></div>
                  <div class="col-md-2"><label>Valor Total</label></div>
                </div>
                <div class="row" v-for="(iprecio, index) in cotizacionItemPrecio" :id="'ItemPEdit'+index">
                    <div class="col-md-4">
                      <input class="form-control" :id="'iprecio_detalle'+index" type="text" placeholder="Detalle.." v-model="iprecio.detalle">
                    </div>
                    <div class="col-md-1">
                      <input class="form-control" :id="'iprecio_cantidad'+index" type="number" placeholder="Cant" v-model="iprecio.cantidad" v-on:keyup="actualizarPrecio(index,iprecio.detalle,iprecio.cantidad,iprecio.valor_unidad,iprecio.valor_usd)">
                    </div>  
                    <div class="col-md-2">
                      <input class="form-control" :id="'iprecio_valor_unidad'+index" type="number" placeholder="Unid" v-model="iprecio.valor_unidad" v-on:keyup="actualizarPrecio(index,iprecio.detalle,iprecio.cantidad,iprecio.valor_unidad,iprecio.valor_usd)">
                    </div>                                               

                    <div class="col-md-1">
                      <input class="form-control" :id="'iprecio_valor_usd'+index" type="number" placeholder="USD" v-model="iprecio.valor_usd" v-on:keyup="actualizarPrecio(index,iprecio.detalle,iprecio.cantidad,iprecio.valor_unidad,iprecio.valor_usd)">
                    </div>                                                                                                                                       
                    <div class="col-md-2">
                        <input class="form-control" :id="'iprecio_valor'+index" type="number" placeholder="Valor" v-model="iprecio.valor">
                    </div>
                    <div class="col-md-2">
                        <button class="btn " :id="'botonAgregarPrecioEdit'+index" type="button" v-on:click.prevent="agregarCamposPrecioCotizacionInicial(index,iprecio.detalle, iprecio.cantidad, iprecio.valor_unidad, iprecio.valor_usd,iprecio.valor)"><i class="fa fa-check"></i></button>                
                        <button class="btn btn-danger" type="button" v-on:click.prevent="deleteCamposPrecioCotizacion(index)"><i class="fa fa-remove"></i></button>                
                    </div>
                    
                </div>
                <div style="margin-top:10px;"><h5>TRM ACTUAL <b>{{ trmActual.valor }}</b></h5></div>

                <!-- <div class="row" v-for="(iprecio, index) in cotizacionItemPrecio" :id="'ItemP'+index">
                    <div class="col-md-7">
                        <input class="form-control" :id="'iprecio_detalle'+index" type="text" placeholder="Detalle.." v-model= iprecio.detalle>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" :id="'iprecio_valor'+index" type="number" placeholder="Valor" v-model= iprecio.valor>
                    </div>
                    <div class="col-md-2">
                        <button class="btn " :id="'botonAgregarPrecio'+index" type="button" v-on:click.prevent="agregarCamposPrecioCotizacionInicial(index,iprecio.detalle, iprecio.valor)"><i class="fa fa-check"></i></button>                
                        <button class="btn btn-danger" type="button" v-on:click.prevent="deleteCamposPrecioCotizacion(index)"><i class="fa fa-remove"></i></button>                
                    </div>                    
                </div> -->
                <button class="btn btn-default" type="button" v-on:click.prevent="agregarCamposPrecioCotizacion()"><i class="fa fa-plus"></i></button>                
            </div>
            <!-- Fin precio contizacion -->

            <!--Mascara-->
            <div class="col-md-12">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Mascara de tarifas.</button>
                <div class="collapse" id="collapseExample">
                    <div class="well">
                        <textarea name="mascara" id= "summernoteMascara" class="form-control" type="text" v-model="cotizacion_item.mascara_tarifa"></textarea>
                    </div>
                </div>            
            </div>
            <!--fin mascara-->  

            <div class="col-md-12" style="margin-top:20px;">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block text-bold">AGREGAR PRODUCTO</button>                
                </div>
            </div>

        </div>
    </form>
    </div>
</div>


    <!-- Modal Plantilla Nuevo -->
    <div class="modal fade" id="listadoModalPlantillaNuevo" tabindex="-1" role="dialog" aria-labelledby="listadoModalPlantillaNuevoLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Plantillas</h4>
                </div>
                <div class="modal-body">
                  <div class="text-center" v-if="listPlantillas.length <1"><h4>No hay plantillas disponibles</h4></div>
                  <div v-else><h4 class="text-center">Seleccione Plantilla</h4></div>
                  <ul class="list-group">
                    <a href="#"  class="list-group-item" v-for="itemPlantilla in listPlantillas" v-on:click.prevent="cargarPlantillaNuevo(itemPlantilla)">
                        <div class="row">
                          <div class="col-md-3 text-uppercase"><b>{{ itemPlantilla.codigo }}</b></div>
                          <div class="col-md-9 text-capitalize">{{ itemPlantilla.nombre }}</div>
                        </div>
                    </a>
                  </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Plantilla Editar -->
    <div class="modal fade" id="listadoModalPlantillaEditar" tabindex="-1" role="dialog" aria-labelledby="listadoModalPlantillaEditarLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Plantillas Editar</h4>
                </div>
                <div class="modal-body">
                  <div class="text-center" v-if="listPlantillas.length <1"><h4>No hay plantillas disponibles</h4></div>
                  <div v-else><h4 class="text-center">Seleccione Plantilla</h4></div>
                  <ul class="list-group">
                    <a href="#"  class="list-group-item" v-for="itemPlantilla in listPlantillas" v-on:click.prevent="cargarPlantillaEditar(itemPlantilla)">
                        <div class="row">
                          <div class="col-md-3 text-uppercase"><b>{{ itemPlantilla.codigo }}</b></div>
                          <div class="col-md-9 text-capitalize">{{ itemPlantilla.nombre }}</div>
                        </div>
                    </a>
                  </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal Guardar Plantilla -->
    <div class="modal fade" id="ModalGuardarPlantilla" tabindex="-1" role="dialog" aria-labelledby="listadoModalPlantillaLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Guardar Plantilla</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">                        
                          <label for="nombre">Codigo</label>
                          <input type="text" name="codigo" placeholder="Codigo..." class="form-control" required="required" v-model="plantilla.codigo">
                        </div>
                      </div> 

                      <div class="col-md-6">
                        <div class="form-group">                        
                          <label for="nombre">Nombre</label>
                          <input type="text" name="nombre" placeholder="Nombre..." class="form-control" required="required" v-model="plantilla.nombre">
                        </div>
                      </div>

                      <div class="col-md-12">
                          <textarea name="descripcion" id= "summernotePlantilla" class="form-control" type="text" v-model="plantilla.descripcion"></textarea>
                      </div>                                             
                  </div>

                </div>
                <div class="modal-footer">
                    <button type="button" v-if="plantilla.codigo.length >1 && plantilla.nombre.length >1" v-on:click.prevent="savePlantilla" class="btn btn-primary btn-block text-bold">Guardar Plantilla</button>                
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button> -->
                </div>
            </div>
        </div>
    </div>    



</div>
<!-- FIN APP VUE -->

    <hr>


</div>





<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})



      function utilidadHotel()
      {
          var valor = parseFloat(document.getElementById('cotizacion_item_valor').value);
          var utilidad = parseFloat(document.getElementById('cotizacion_item_utilidad').value);
          var r_utlidad = (valor * utilidad) /100;
          document.getElementById('cotizacion_item_valor_total').value= valor+r_utlidad;
      }

      function utilidadTicket()
      {
          var valor = parseFloat(document.getElementsByTagName('cotizacion_item_valor')[1].value);
          var utilidad = parseFloat(document.getElementsByTagName('cotizacion_item_utilidad')[1].value);
          var r_utlidad = (valor * utilidad) /100;
          document.getElementsByTagName('cotizacion_item_valor_total')[1].value= valor+r_utlidad;
      }

  </script>



  <script type="text/javascript">
    var urlProductos = "<?php echo DOMINIO ?>api/productos/";
    var urlCotizacion = "<?php echo DOMINIO ?>api/cotizacion/";    
    var urlCotizacionItem = "<?php echo DOMINIO ?>api/cotizacion_item/";
    var urlCotizaciones = "<?php echo DOMINIO ?>api/cotizaciones/";
    var urlIata = "<?php echo DOMINIO ?>api/iata/";
    var urlPoliticas = "<?php echo DOMINIO ?>api/cotizacion_politica/";
    var urlPlantillas = "<?php echo DOMINIO ?>api/cotizacion_plantilla/";
    var urlTrm = "<?php echo DOMINIO ?>api/trm/";

    new Vue({
      el: '#app',
      created: function() {
        this.getProductos();
        this.getIata();
        this.getPoliticas();
        this.getCotizaciones(this.cotizacion_id);
        this.getPoliticasCotizacion(this.cotizacion_id);
        this.getTrm();
      },
      data: {
        listProductos: [],
        listIata: [],
        listPoliticas:[],
        listPoliticasCotizacion:[],
        politica:'',
        cotizacion_item: {
            producto:'',
            origen:'',
            destino:'',
            fechain:'',
            fecha_out:'',
            adultos:'',
            infantes:'',
            habitaciones:'',
            descripcion:'',
            mascara_tarifa:'',
            titulo:'',
            valor:'',
            utilidad:'',
            estado:'',
            valor_total:'',
            noches:'',
            producto_id:'',
            vencimiento:''
        },
        cotizacionItemPrecio:[],
        buscadorOrigen:'',
        buscadorDestino:'',
        cotizacion_id:"<?php echo $cotizacion->id ?>", 
        url_whatsapp:"<?php echo $cotizacion->url_corta ?>",
        cliente_celular:"<?php echo $cliente->celular ;?>",
        token:"<?php echo $cotizacion->token ;?>",
        cotizacion:{
          vencimiento:''
        },
        listCotizacionItem:[],
        editProductoItem:{
            producto:'',
            origen:'',
            destino:'',
            fechain:'',
            fecha_out:'',
            adultos:'',
            infantes:'',
            habitaciones:'',
            descripcion:'',
            mascara_tarifa:'',
            titulo:'',            
        },
        editProductoItemPrecio:[],
        listPlantillas:[],
        plantilla:{
          codigo:'',
          nombre:'',
          descripcion:'',
        },        
        trmActual:'',
        errors: []
      },
      methods: {
        getProductos: function() {
          axios.get(urlProductos).then(response => {
            this.listProductos = response.data
            // console.log(response.data)
          });
        },
        getIata: function() {
          axios.get(urlIata).then(response => {
            this.listIata = response.data
          });
        }, 
        getPoliticas: function() {
          axios.get(urlPoliticas).then(response => {
            this.listPoliticas = response.data
          });
        },
        getPoliticasCotizacion: function(cotizacion_id){
            axios.get(urlPoliticas + cotizacion_id).then(response => {
                this.listPoliticasCotizacion = response.data;
                // console.log(this.listPoliticasCotizacion);
            });
        },        
        getCotizaciones: function(cotizacion_id){            
            axios.get(urlCotizaciones + cotizacion_id).then(response => {
              this.listCotizacionItem = response.data.cotizaciones_item;
              this.cotizacion = response.data.cotizacion;
                // console.log(this.cotizacion);
            });
        },   
        getTrm: function() {
          axios.get(urlTrm).then(response => {
            this.listTrm = response.data;
            this.trmActual = response.data['trmActual'];
          });
        },          
        selectProducto: function(item){
            $('#panelProducto').hide();
            $('#panelContenido').show();
            this.cotizacion_item.producto_id = item.id;
            this.cotizacion_item.producto = item.nombre;
            // console.log(this.cotizacion_item.producto_id);
        },
        selectHomeProductos: function(){
            $('#panelProducto').show();
            $('#panelContenido').hide();
        },
        selectDate: function(){
            this.cotizacion_item.fechain = this.cotizacion_item.fechain;
            this.cotizacion_item.fecha_out = this.cotizacion_item.fechain;
            // console.log(this.cotizacion_item.fechain),
        },
        selectIataOrigen: function(item){
            this.cotizacion_item.origen = item.codigo+' - '+item.ciudad;
            this.buscadorOrigen = item.codigo+' - '+item.ciudad;
            // console.log(this.cotizacion_item.origen);
        },
        selectIataDestino: function(item){
            this.cotizacion_item.destino = item.codigo+' - '+item.ciudad;
            this.buscadorDestino  = item.codigo+' - '+item.ciudad;
            // console.log(this.cotizacion_item.destino);
        },
        agregarCamposPrecioCotizacionInicial: function(index,detalle,cantidad,valor_unidad,valor_usd,valor){
            this.cotizacionItemPrecio.splice(index, 1);
            this.cotizacionItemPrecio.push({ 'detalle':detalle,'cantidad':cantidad,'valor_unidad':valor_unidad,'valor_usd':valor_usd,'valor':valor});
            $("#iprecio_detalle"+index).prop("disabled", true);
            $("#iprecio_cantidad"+index).prop("disabled", true);
            $("#iprecio_valor_unidad"+index).prop("disabled", true);
            $("#iprecio_valor_usd"+index).prop("disabled", true);
            $("#iprecio_valor"+index).prop("disabled", true);
            $("#botonAgregarPrecio"+index).prop("disabled", true);
            $("#botonAgregarPrecio"+index).addClass("btn-success");
            // console.log(this.cotizacionItemPrecio);
        },        
        agregarCamposPrecioCotizacion: function(){
            this.cotizacionItemPrecio.push({ 'detalle':'','valor':''});
        },
        deleteCamposPrecioCotizacion: function(index){
          this.cotizacionItemPrecio.splice(index, 1);
        },  
        agregarCamposPrecioCotizacionInicialEdit: function(index,detalle,cantidad,valor_unidad,valor_usd,valor){
            this.editProductoItemPrecio.splice(index, 1);
            this.editProductoItemPrecio.push({ 'detalle':detalle,'cantidad':cantidad,'valor_unidad':valor_unidad,'valor_usd':valor_usd,'valor':valor});
            $("#iprecioEdit_detalle"+index).prop("disabled", true);
            $("#iprecioEdit_cantidad"+index).prop("disabled", true);
            $("#iprecioEdit_valor_unidad"+index).prop("disabled", true);
            $("#iprecioEdit_valor_usd"+index).prop("disabled", true);
            $("#iprecioEdit_valor"+index).prop("disabled", true);
            $("#botonAgregarPrecioEdit"+index).prop("disabled", true);
            $("#botonAgregarPrecioEdit"+index).addClass("btn-success");
            // console.log(this.editProductoItemPrecio);

        },        
        agregarCamposPrecioCotizacionEdit: function(){
            this.editProductoItemPrecio.push({ 'detalle':'','cantidad':'','valor_unidad':'','valor_usd':'','valor':''});
        },
        deleteCamposPrecioCotizacionEdit: function(index){
          this.editProductoItemPrecio.splice(index, 1);
        //   console.log(this.editProductoItemPrecio);
        },               
        formCreateCotizacion: function(){
            this.cotizacion_item.descripcion = $('#summernote').summernote('code');
            this.cotizacion_item.mascara_tarifa = $('#summernoteMascara').summernote('code');
            var cliente_id = <?php echo $cliente->id ;?>;

            $('#panelContenido').hide();
            $('#panelProducto').show();

            axios.post(urlCotizaciones,
                {
                    cliente_id:  cliente_id,
                    cotizacion_item: this.cotizacion_item,
                    cotizacion_item_precio: this.cotizacionItemPrecio,
                    estado: 1,
                    cotizacion_id : this.cotizacion_id
                },
                {
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                //  console.log(response.data);
                 toastr.success('Nuevo Publicacion Creada.');
                //  this.cotizacion_id = response.data.cotizacion_id;
                //  this.url_whatsapp = response.data.url_corta;
                //  this.cliente_celular = response.data.celular;
                //  this.token = response.data.token;


                this.getCotizaciones(this.cotizacion_id);
                // this.buscadorOrigen ='';
                // this.buscadorDestino ='';
                this.cotizacion_item = {
                    producto:'',
                    origen:'',
                    destino:'',
                    fechain:'',
                    fecha_out:'',
                    adultos:'',
                    infantes:'',
                    habitaciones:'',
                    descripcion:'',
                    mascara_tarifa:'',
                    titulo:'',
                    valor:'',
                    utilidad:'',
                    estado:'',
                    valor_total:'',
                    noches:'',
                    producto_id:''
                };
                this.cotizacionItemPrecio = '';
                this.errors = [];            
                $('#panelContenido').modal('hide');
                $('#summernote').summernote('reset');
                $('#summernoteMascara').summernote('reset');
                               
                // $('#crearCategoria').hide();

            }).catch(error =>{
                // console.log(error.response)
                // this.errors = error.response.data;
            });

        }, 


        formEditCotizacion: function(){
          axios.put(urlCotizacion+this.cotizacion_id,
              { cotizacion: this.cotizacion,},
              {
              headers: {
                  'Content-Type': 'application/json',
              }}).then(response => {
                  console.log(response.data);
                toastr.success(response.data['msg']);
              this.cotizacion = {
                vencimiento:''
              };
              this.getCotizaciones(this.cotizacion_id);

              this.errors = [];            
              // $('#panelContenido').modal('hide');
              }).catch(error =>{
              // console.log(error.response)
              // this.errors = error.response.data;
              });
        },        

        formAddPoliticaCotizacion: function(){
            axios.post(urlPoliticas,
                {
                    politica_id:  this.politica,
                    cotizacion_id : this.cotizacion_id
                },
                {
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                    // console.log(response.data);
                    toastr.success('Politica Agregada.');                 
                    this.getPoliticasCotizacion(this.cotizacion_id);
                    // console.log(this.getPoliticasCotizacion(this.cotizacion_id));                 
                    this.politica_id = '';
                    this.errors = [];            
            }).catch(error =>{
                // console.log(error.response)
                // this.errors = error.response.data;
            });

        },

        deletePoliticaCotizacion: function(id){
            var urlEdit = urlPoliticas + id;
            axios.delete(urlEdit,
                {
                    politica_id:  id,
                },
                {
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                    // console.log(response.data);
                    toastr.success('Politica Eliminada.');                 
                    this.getPoliticasCotizacion(this.cotizacion_id);
                    this.errors = [];            
            }).catch(error =>{
                // console.log(error.response)
                // this.errors = error.response.data;
            });
        },

        deleteProdutoItem: function(productoItem){
          var urlEdit = urlCotizacionItem + productoItem.id;
          // console.log(productoItem.id);
          if(confirm('Desea Eliminar Este Producto.')) {
            axios.delete(urlEdit,
                {
                    id:  productoItem.id,
                },
                {
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                    // console.log(response.data);
                    toastr.success('Politica Eliminada.');  
                    this.getCotizaciones(this.cotizacion_id);
                    this.getPoliticasCotizacion(this.cotizacion_id);
                    this.errors = [];            
            }).catch(error =>{
                // console.log(error.response)
                // this.errors = error.response.data;
            });            
          }
        },

        editModalProdutoItem: function(editProductoItem){
            this.editProductoItem = editProductoItem;
            this.editProductoItemPrecio = editProductoItem.cotizacion_item_precio;

            // console.log(this.editProductoItemPrecio);
            // console.log(this.editProductoItem);
            $('#editModalProductoItem').modal('show');
            $('#summernoteEdit').summernote('code', this.editProductoItem.descripcion );
            $('#summernoteEditMascara').summernote('code', this.editProductoItem.mascara_tarifa );
        },

        formEditProductoItem: function(id){
            this.editProductoItem.descripcion = $('#summernoteEdit').summernote('code');
            this.editProductoItem.mascara_tarifa = $('#summernoteEditMascara').summernote('code');
            
            var urlEdit = urlCotizaciones + id;
            axios.put(urlEdit,
                {
                cotizacion_item: this.editProductoItem,
                cotizacion_item_precio: this.editProductoItemPrecio
                },
                {
                    headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                // console.log(response.data);
                this.editProductoItem = {
                    cedula:'',
                    nombre:'',
                    apellido:'',
                };
                this.editProductoItemPrecio = '';
                this.errors = [];
                $('#editModalProductoItem').modal('hide');
                toastr.success('Producto Editado.');
            }).catch(error =>{
                // this.errors = error.response.empresa
            });

        },
        plantillasNuevo: function(){
            $('#listadoModalPlantillaNuevo').modal('show');
            this.getPlantillas();
        },
        plantillasEditar: function(){
            $('#listadoModalPlantillaEditar').modal('show');
            this.getPlantillas();
        },        
        getPlantillas: function() {
          axios.get(urlPlantillas).then(response => {
            this.listPlantillas = response.data
            // console.log(response.data)
          });
        },
        cargarPlantillaNuevo: function(item){
            $("#summernote").summernote("code", item.descripcion);
            $('#listadoModalPlantillaNuevo').modal('hide');
        },
        cargarPlantillaEditar: function(item){
            $("#summernoteEdit").summernote("code", item.descripcion);
            $('#listadoModalPlantillaEditar').modal('hide');
        },        
        guardarPlantilla: function(){
          $('#ModalGuardarPlantilla').modal('show');
          descripcion = $('#summernoteEdit').summernote('code');
          // this.plantilla.descripcion = descripcion;
          $("#summernotePlantilla").summernote("code", descripcion);

        },
        savePlantilla: function(){
          this.plantilla.descripcion = $('#summernotePlantilla').summernote('code');
          axios.post(urlPlantillas,
                {
                  plantilla:  this.plantilla,
                },
                {
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                    // console.log(response.data);
                    toastr.success('Plantilla Agregada.');        
                    $('#ModalGuardarPlantilla').modal('hide');
                    this.getPlantillas();
                    this.plantilla = {
                      codigo:'',
                      nombre:'',
                      descripcion:'',
                    }
                    this.errors = [];            
            }).catch(error =>{
            });          

        },

        actualizarPrecio: function(index,detalle,cantidad,valor_unidad,valor_usd){
          if(cantidad === undefined){ cantidad= parseInt(0);}
          if(valor_unidad === undefined){ valor_unidad= parseInt(0);}
          if(valor_usd === undefined){ valor_usd= parseInt(0);}


          if(valor_usd.length > 0){
            valor_unidad = parseInt(0);
            let valor = parseInt(valor_usd) * parseInt(cantidad);
            // trm = this.trmActual.valor;
            valor = valor * this.trmActual.valor;
            this.cotizacionItemPrecio.splice(index, 1, { 'detalle':detalle,'cantidad':cantidad,'valor_unidad':valor_unidad,'valor_usd':valor_usd,'valor':valor});
          }

          if(valor_unidad.length > 0){            
            valor_usd = parseInt(0);
            let valor = parseInt(valor_unidad) * parseInt(cantidad);
            // trm = this.trmActual.valor;
            this.cotizacionItemPrecio.splice(index, 1, { 'detalle':detalle,'cantidad':cantidad,'valor_unidad':valor_unidad,'valor_usd':valor_usd,'valor':valor}); 
          }          
        },

        actualizarPrecioEdit: function(index,detalle,cantidad,valor_unidad,valor_usd){
          if(cantidad === undefined){ cantidad= parseInt(0);}
          if(valor_unidad === undefined){ valor_unidad= parseInt(0);}
          if(valor_usd === undefined){ valor_usd= parseInt(0);}


          if(valor_usd.length > 0){
            valor_unidad = parseInt(0);
            let valor = parseInt(valor_usd) * parseInt(cantidad);
            // trm = this.trmActual.valor;
            valor = valor * this.trmActual.valor;
            this.editProductoItemPrecio.splice(index, 1, { 'detalle':detalle,'cantidad':cantidad,'valor_unidad':valor_unidad,'valor_usd':valor_usd,'valor':valor});
          }

          if(valor_unidad.length > 0){
            valor_usd = parseInt(0);
            let valor = parseInt(valor_unidad) * parseInt(cantidad);
            // trm = this.trmActual.valor;
            this.editProductoItemPrecio.splice(index, 1, { 'detalle':detalle,'cantidad':cantidad,'valor_unidad':valor_unidad,'valor_usd':valor_usd,'valor':valor}); 
          }          
        },        
        

      },
      computed:{
        searchIataOrigen: function () {
            var self=this;
            return this.listIata.filter(function(item){return item.ciudad.toLowerCase().indexOf(self.buscadorOrigen.toLowerCase())>=0;})
        },
        searchIataDestino: function () {
            var self=this;
            return this.listIata.filter(function(item){return item.ciudad.toLowerCase().indexOf(self.buscadorDestino.toLowerCase())>=0;})
        }                  
      },
    });

  </script>

<script>
	$(document).ready(function() {
		$('#summernoteEdit').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 400,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote                    
			callbacks: {
        onPaste: function (e) {
          var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
          e.preventDefault();
          document.execCommand('insertText', false, bufferText);
        },        
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenEdit(files[i]);
					}
				}
			}
		});

        function SubirImagenEdit(file){
            if(file.type.includes('image'))
            {
                var name = file.name.split(".");
                name = name[0];  
                var data = new FormData();
                data.append('file', file);
                // console.log('dentro');
                $.ajax({
                    url: '<?php echo DOMINIO ?>api/uploadimg',
                    type: 'POST',
                    contentType: false,
                    cache: false,
                    processData: false,
                    dataType: 'JSON',
                    data: data,
                    success: function (response) 
                    {
                        $('#summernoteEdit').summernote('insertImage', response.url, name);
                    }
                })
                .fail(function(e) {
                    console.log(e);
                });
            }
            else
            {
                console.log("El tipo de archivo que intentaste subir no es una imagen");
            }
        }


		$('#summernoteEditMascara').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 200,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
        onPaste: function (e) {
          var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
          e.preventDefault();
          document.execCommand('insertText', false, bufferText);
        },         
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenEditMascara(files[i]);
					}
				}
			}
		});

        function SubirImagenEditMascara(file){
            if(file.type.includes('image'))
            {
                var name = file.name.split(".");
                name = name[0];  
                var data = new FormData();
                data.append('file', file);
                // console.log('dentro');
                $.ajax({
                    url: '<?php echo DOMINIO ?>api/uploadimg',
                    type: 'POST',
                    contentType: false,
                    cache: false,
                    processData: false,
                    dataType: 'JSON',
                    data: data,
                    success: function (response) 
                    {
                        $('#summernoteEditMascara').summernote('insertImage', response.url, name);
                    }
                })
                .fail(function(e) {
                    console.log(e);
                });
            }
            else
            {
                console.log("El tipo de archivo que intentaste subir no es una imagen");
            }
        }        


		$('#summernotePlantilla').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 200,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
        onPaste: function (e) {
          var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
          e.preventDefault();
          document.execCommand('insertText', false, bufferText);
        },         
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenPlantilla(files[i]);
					}
				}
			}
		});

        function SubirImagenPlantilla(file){
            if(file.type.includes('image'))
            {
                var name = file.name.split(".");
                name = name[0];  
                var data = new FormData();
                data.append('file', file);
                // console.log('dentro');
                $.ajax({
                    url: '<?php echo DOMINIO ?>api/uploadimg',
                    type: 'POST',
                    contentType: false,
                    cache: false,
                    processData: false,
                    dataType: 'JSON',
                    data: data,
                    success: function (response) 
                    {
                        $('#summernotePlantilla').summernote('insertImage', response.url, name);
                    }
                })
                .fail(function(e) {
                    console.log(e);
                });
            }
            else
            {
                console.log("El tipo de archivo que intentaste subir no es una imagen");
            }
        }                

        
	});
</script>

