<?php View::flash(); ?>
<script type="text/javascript">
    $(function() {
        $('table').kgrid({
            form_to         : $.KumbiaPHP.publicPath+'dashboard/cotizaciones/buscar/',
            order_attr      : '<?php echo (APP_AJAX) ? 'class="js-link js-spinner"' : ''; ?>',
            order_to        : $.KumbiaPHP.publicPath+'dashboard/cotizaciones/listar/'
        });
    });
</script>

<div class="container shell-view">

<?php View::process($page_module, $page_title, $set_title); ?>
<!-- START APP VUE -->
<div id="app" v-cloak>   
    <div class="btn-toolbar btn-toolbar-top">
        <div class="row">
            <div class="btn-actions">
                <?php echo DwHtml::button("dashboard/cotizaciones/buscar_cliente", 'agregar', NULL, 'fa-check-square-o', APP_AJAX); ?>
            </div>
        </div>
    </div>


    <div class="container-overflow">

<div>




<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Listado General</a></li>
    <?php foreach($usuarios_comercial as $usuario){ ?>
    <li role="presentation"><a href="#tab<?php echo $usuario->id ?>" aria-controls="tab<?php echo $usuario->id ?>" role="tab" data-toggle="tab"><?php echo $usuario->nombre ?></a></li>
    <?php }?>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div>
        <table class="table table-hover table-striped table-condensed table-responsive">
                <thead>
                    <tr>
                        <th data-search="numero">NUM</th>
                        <th>FECHA</th>
                        <th data-search="Nombre" class="col-hidden">CLIENTE NOMBRE</th>
                        <th class="col-hidden">DESTINO</th>
                        <th class="col-hidden text-center">VISTO</th>
                        <th class="col-hidden text-center">ITEMS</th>
                        <th class="col-hidden text-center" data-order="estado_usuario">ESTADO</th>
                        <th class="col-blocked text-center">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($cotizaciones->items as $cotizacion): ?>
                        <?php $key_shw = Security::setKey($cotizacion->id, 'shw_cliente'); ?>
                        <?php $key_ina = Security::setKey($cotizacion->id, 'bloquear_usuario'); ?>
                        <?php $key_rea = Security::setKey($cotizacion->id, 'reactivar_usuario'); ?>

                        <?php $cliente = Load::model('cliente')->find_first($cotizacion->cliente_id); ?>
                        <?php $items_cliente = Load::model('cotizacion_item')->count("cotizacion_id =$cotizacion->id AND estado >=1"); ?>
                        <?php $items_cliente_valor = Load::model('cotizacion_item')->sum("valor_total","conditions: cotizacion_id =$cotizacion->id AND estado >=1"); ?>
                        <tr>
                            <?php // echo $cotizaciones->counter; ?>
                            <td><?php echo $cotizacion->id; ?></td>
                            <td><span data-toggle="tooltip<?php echo $cotizacion->id  ?>" data-placement="top" title="Fecha: <?php echo $cotizacion->cotizacion_at; ?>"><time class="timeago" datetime="<?php echo $cotizacion->cotizacion_at ?>"></time></span></td>
                            <td><?php echo $cliente->nombre; ?></td>
                            <?php $cliente_destino = Load::model('cotizacion_item')->find_first("conditions: cotizacion_id=$cotizacion->id"); ?>
                            <td><?php echo $cliente_destino->destino; ?></td>
                            <td class="text-center" style="color: #23a5fd">
                                <?php if(!$cotizacion->visita_cliente == NULL){ ?>
                                    <strong><?php echo $cotizacion->visita_cliente ?></strong><i class="fa fa-check" style="margin-right: -5px;"></i> <i class="fa fa-check"></i>
                                <?php } ?>
                            </td>
                            <td style="font-size: 1.2em"><?php echo $items_cliente ;?></td>
                            <td class="text-center">
                                <?php  if($cotizacion->estado == 1) { ?>
                                    <span class="label label-success" title="" rel="tooltip">Activo</span>
                                <?php }if($cotizacion->estado == 2) {?>
                                    <span class="label label-warning" title="" rel="tooltip">Envio Mail</span>
                                <?php }if($cotizacion->estado == 3) { ?>
                                    <span class="label label-primary" title="" rel="tooltip">Procesado</span>
                                <?php }if($cotizacion->estado == 4) { ?>
                                    <span class="label label-info" title="" rel="tooltip">Aceptado</span>
                                <?php }if($cotizacion->estado == 0){ ?>
                                    <span class="label label-danger" title="" rel="tooltip">Cancelado</span>
                                <?php } ?>
                            </td>
                            <td class="text-right">
                                <script>
                                    $(function () { $('[data-toggle="tooltip<?php echo $cotizacion->id  ?>"]').tooltip()})
                                    </script>
                                <?php $asesor = Load::model("sistema/usuario")->find_first("conditions: id=$cotizacion->usuario_id")  ?>
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalCosteoCotizacion<?php echo $cotizacion->id ;?>" ><i class="fa fa-money"> </i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip<?php echo $cotizacion->id  ?>" data-placement="top" title="Asesor: <?php echo $asesor->nombre." ".$asesor->apellido; ?>"><i class="fa fa-user-circle-o"> </i></button>

                                <?php if((Session::get('perfil_id') <= Perfil::COMERCIAL)) { ?>

                                    <!-- Modal Seder Asesor -->
                                    <div class="modal fade" id="ModalCederAsesor<?php echo $cotizacion->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalEstadoLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 style="text-align:left;" class="modal-title" id="myModalLabel"><i class="fa fa-exchange"> </i> Ceder Solucitud <?php echo $cotizacion->id ;?></h4>
                                        </div>
                                        <div class="modal-body">

                                            <?php $asesorNombre = Load::model('sistema/usuario')->find_first("conditions: id=$cotizacion->usuario_id");?>
                                            <div class="text-center" style="font-size:2em;"><b>Asesor Actual: </b><span id="asesorActual<?php echo $cotizacion->id ;?>"><?php echo $asesorNombre->nombre; ?> <?php echo $asesorNombre->apellido; ?></span></div>
                                            <?php // echo Ajax::form("asesorActual$cotizacion->id");?>
                                            <?php echo Form::open();?>
                                            <select id="cotizacion_usuario_id" name="cotizacion[usuario_id]" class="form-control input-lg">
                                                <option value="<?php echo $asesorNombre->id;?>"><?php echo $asesorNombre->nombre;?> <?php echo $asesorNombre->apellido;?></option>
                                                <?php foreach ($asesores_comerciales as $asesores): ?>
                                                <?php if($asesorNombre->id <>$asesores->id){ ?>
                                                    <option value="<?php echo $asesores->id ;?>"><?php echo $asesores->nombre ;?> <?php echo $asesores->apellido;?></option>
                                                <?php } ?>
                                                <?php endforeach; ?>
                                            </select>

                                        <div class="modal-footer">
                                            <?php echo Form::hidden('cotizacionid', NULL, $cotizacion->id);?>
                                            <button type="submit" class="btn btn-primary" >Ceder cotización</button>
                                            <?php echo Form::close();?>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        </div>
                                        </div>

                                        </div>
                                    </div>
                                    </div>

                                    <!-- Modal costeo -->
                                    <div class="modal fade" id="ModalCosteoCotizacion<?php echo $cotizacion->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalEstadoLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 style="text-align:left;" class="modal-title" id="myModalLabel"><i class="fa fa-money"> </i> Costeo Cotizacion <?php echo $cotizacion->id ;?></h4>
                                        </div>
                                        <div class="modal-body">
                                            <h2 class="text-center">Costeo Cotización</h2>
                                            <?php echo Form::open();?>
                                            <?php //echo Ajax::form("camposCosteo") //especificamos el id del div que se actualizará luego del envio ajax ?>
                                                <?php  $cotizacion_item_costeo = load::model('cotizacion_item_costeo')->find("conditions: cotizacion_id=$cotizacion->id") ?>
                                                <?php $costeo_valor = 0; ?>
                                                <?php foreach ($cotizacion_item_costeo as $cotizacion_costeo) { ?>
                                                <div class="row" id="campoGeneralCosteo<?php echo $cotizacion_costeo->id ?><?php echo $cotizacion->id ;?>">
                                                <div class="col-md-8">
                                                    <input type="text" id="cotizacion_costeo_detalle" name="cotizacion_costeo_detalle[]" class="form-control" placeholder="Producto vendido" value="<?php echo $cotizacion_costeo->detalle ?>">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="number" id="cotizacion_costeo_valor" name="cotizacion_costeo_valor[]" class="form-control costeo_valor<?php echo $cotizacion->id ?>" style="text-align:right;" placeholder="VALOR" value="<?php echo $cotizacion_costeo->valor ?>">
                                                </div>
                                                <div class="col-md-1">
                                                    <button class="btn btn-lg btn-danger" type="button" onclick="deleteCampoGeneralCosteo(<?php echo $cotizacion_costeo->id ?><?php echo $cotizacion->id ;?>)"><i class="fa fa-remove"></i></button>
                                                </div>
                                                </div>
                                                <?php $costeo_valor =$costeo_valor + $cotizacion_costeo->valor ;?>
                                                <?php }  ?>


                                                <div id="camposCosteo<?php echo $cotizacion->id ;?>"></div>
                                                <button class="btn btn-lg btn-info" type="button" onclick="AgregarCamposCosteo(<?php echo $cotizacion->id ;?>)"><i class="fa fa-plus"></i></button>
                                                <div class="row">
                                                    <div class="col-md-8" style="font-size:2em;">Total: </div>
                                                    <div class="col-md-4 text-left" style="font-size:2em;">$ <span id="totalCosteo"><?php echo number_format($costeo_valor, 0, '', '.');?></span></div>
                                                </div>
                                                <?php echo Form::hidden('cotizacion_costeo_cotizacion_id', NULL, $cotizacion->id);?>
                                                <div class="modal-footer">
                                                <button type="submit" class="btn btn-success">Guardar</button>
                                            <?php echo Form::close() ?>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                </div>
                                        </div>

                                        </div>
                                    </div>
                                    </div>


                                <?php } ?>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalInfo<?php echo $cotizacion->id ;?>"><i class="fa fa-plus-square"></i></button>

                            </td>
                        </tr>
                        <?php $cotizaciones->counter++; ?>

                        <!-- Modal 1 -->
                        <div class="modal fade" id="ModalInfo<?php echo $cotizacion->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalInfoLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">cotizacion #<?php echo $cotizacion->id ?> | <?php echo $cliente->nombre; ?></h4>
                            </div>
                            <div class="modal-body">
                                <div style="text-align: center;">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCederAsesor<?php echo $cotizacion->id ;?>" ><i class="fa fa-exchange"></i></button>
                                    <?php if($cotizacion->estado == 4){ ?>
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalCosteoCotizacion<?php echo $cotizacion->id ;?>"><i class="fa fa-money"></i></button>
                                        <?php echo DwHtml::buttonTable('Voucher', "dashboard/vouchers/index/$key_shw/", NULL, 'success', 'fa-ticket'); ?>
                                    <?php  }else{ ?>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalEstado<?php echo $cotizacion->id ;?>"><i class="fa fa-refresh"></i></button>
                                    <?php  } ?>
                                        <?php echo DwHtml::buttonTable('Ver cotizacion', "dashboard/cotizaciones/ver/$key_shw/", NULL, 'info', 'fa-search'); ?>

                                    <?php if($cotizacion->estado <> 4){ ?>
                                        <?php echo DwHtml::link("dashboard/cotizaciones/editar/$key_shw/", "<i class='fa fa-edit'></i>","class='btn btn-warning js-url'") ;?>
                                        <?php // echo DwHtml::buttonTable('Editar cotizacion', "dashboard/cotizaciones/editar/$key_shw/", NULL, 'warning', 'fa-edit'); ?>
                                    <?php } ?>
                                    <?php echo DwButton::report("index/reporte/$key_shw", 'html', 'Imprimir reporte', ''); ?>
                                    <?php echo DwHtml::buttonTable('Enviar cotizacion', "dashboard/cotizaciones/send/$key_shw/", NULL, 'default', 'fa-send'); ?>

                                    <a href="https://api.whatsapp.com/send?phone=57<?php echo $cliente->celular; ?>&text=<?php echo $cotizacion->url_corta ;?>" class="btn btn-small btn-success text-bold" rel="tooltip" data-original-title="Enviar WhatsApp" target="_blank"><i class="btn-icon-only fa fa-whatsapp"></i> </a>
                                </div>
                                <div>
                                    <h1 style="text-align:center;"><small>Celular:</small> <?php echo $cliente->celular; ?></h1>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                            </div>
                        </div>
                        </div>
                        <!-- Fin Modal 1 -->


                        <!-- Modal 2 -->
                        <div class="modal fade" id="ModalEstado<?php echo $cotizacion->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalEstadoLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Actualizar Estado Proceso</h4>
                            </div>
                            <div class="modal-body">
                                <?php echo DwHtml::link("dashboard/cotizaciones/actualizar_estado/$key_shw/0", "<i class='fa fa-times-circle'></i> Cancelar","class='btn btn-lg btn-danger js-url'") ;?>
                                <?php echo DwHtml::link("dashboard/cotizaciones/actualizar_estado/$key_shw/3", "<i class='fa fa-hourglass-half'></i> Procesando","class='btn btn-lg btn-primary js-url'") ;?>
                                <?php echo DwHtml::link("dashboard/cotizaciones/actualizar_estado/$key_shw/4", "<i class='fa fa-star'></i> Aceptada","class='btn btn-lg btn-info js-url'") ;?>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                            </div>
                        </div>
                        </div>
                        <!-- Fin Modal 2 -->
                    <?php endforeach; ?>
                </tbody>
            </table>

        </div>

        <?php View::partial('paginators/default', false, array('page'=>$cotizaciones, 'url'=>"dashboard/cotizaciones/listar/$order/")); ?>


    </div>
    <?php foreach($usuarios_comercial as $usuario){ ?>
        <?php $cotizaciones_usuario = $cotizacion->GetListadoCotizaciones($order, $page, $usuario->id); ?>

    <div role="tabpanel" class="tab-pane fade" id="tab<?php echo $usuario->id ?>">

        <div>
        <table class="table table-hover table-striped table-condensed table-responsive">
                <thead>
                    <tr>
                        <th data-search="numero">NUM</th>
                        <th>FECHA</th>
                        <th data-search="Nombre" class="col-hidden">CLIENTE NOMBRE</th>
                        <th class="col-hidden">DESTINO</th>
                        <th class="col-hidden text-center">VISTO</th>
                        <th class="col-hidden text-center">ITEMS</th>
                        <th class="col-hidden text-center" data-order="estado_usuario">ESTADO</th>
                        <th class="col-blocked text-center">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($cotizaciones_usuario->items as $cotizacion): ?>
                        <?php $key_shw = Security::setKey($cotizacion->id, 'shw_cliente'); ?>
                        <?php $key_ina = Security::setKey($cotizacion->id, 'bloquear_usuario'); ?>
                        <?php $key_rea = Security::setKey($cotizacion->id, 'reactivar_usuario'); ?>

                        <?php $cliente = Load::model('cliente')->find_first($cotizacion->cliente_id); ?>
                        <?php $items_cliente = Load::model('cotizacion_item')->count("cotizacion_id =$cotizacion->id AND estado >=1"); ?>
                        <?php $items_cliente_valor = Load::model('cotizacion_item')->sum("valor_total","conditions: cotizacion_id =$cotizacion->id AND estado >=1"); ?>
                        <tr>
                            <?php // echo $cotizaciones->counter; ?>
                            <td><?php echo $cotizacion->id; ?></td>
                            <td><time class="timeago" datetime="<?php echo $cotizacion->cotizacion_at ?>"></time></td>
                            <td><?php echo $cliente->nombre; ?></td>
                            <?php $cliente_destino = Load::model('cotizacion_item')->find_first("conditions: cotizacion_id=$cotizacion->id"); ?>
                            <td><?php echo $cliente_destino->destino; ?></td>
                            <td class="text-center" style="color: #23a5fd">
                                <?php if(!$cotizacion->visita_cliente == NULL){ ?>
                                    <strong><?php echo $cotizacion->visita_cliente ?></strong><i class="fa fa-check" style="margin-right: -5px;"></i> <i class="fa fa-check"></i>
                                <?php } ?>
                            </td>
                            <td style="font-size: 1.2em"><?php echo $items_cliente ;?></td>
                            <td class="text-center">
                                <?php  if($cotizacion->estado == 1) { ?>
                                    <span class="label label-success" title="" rel="tooltip">Activo</span>
                                <?php }if($cotizacion->estado == 2) {?>
                                    <span class="label label-warning" title="" rel="tooltip">Envio Mail</span>
                                <?php }if($cotizacion->estado == 3) { ?>
                                    <span class="label label-primary" title="" rel="tooltip">Procesado</span>
                                <?php }if($cotizacion->estado == 4) { ?>
                                    <span class="label label-info" title="" rel="tooltip">Aceptado</span>
                                <?php }if($cotizacion->estado == 0){ ?>
                                    <span class="label label-danger" title="" rel="tooltip">Cancelado</span>
                                <?php } ?>
                            </td>
                            <td class="text-right">
                                <script>
                                    $(function () { $('[data-toggle="tooltip<?php echo $cotizacion->id  ?>"]').tooltip()})
                                    </script>
                                <?php $asesor = Load::model("sistema/usuario")->find_first("conditions: id=$cotizacion->usuario_id")  ?>
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalCosteoCotizacion<?php echo $cotizacion->id ;?>" ><i class="fa fa-money"> </i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip<?php echo $cotizacion->id  ?>" data-placement="top" title="Asesor: <?php echo $asesor->nombre." ".$asesor->apellido; ?>"><i class="fa fa-user-circle-o"> </i></button>

                                <?php if((Session::get('perfil_id') <= Perfil::COMERCIAL)) { ?>

                                    <!-- Modal Seder Asesor -->
                                    <div class="modal fade" id="ModalCederAsesor<?php echo $cotizacion->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalEstadoLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 style="text-align:left;" class="modal-title" id="myModalLabel"><i class="fa fa-exchange"> </i> Ceder Solucitud <?php echo $cotizacion->id ;?></h4>
                                        </div>
                                        <div class="modal-body">

                                            <?php $asesorNombre = Load::model('sistema/usuario')->find_first("conditions: id=$cotizacion->usuario_id");?>
                                            <div class="text-center" style="font-size:2em;"><b>Asesor Actual: </b><span id="asesorActual<?php echo $cotizacion->id ;?>"><?php echo $asesorNombre->nombre; ?> <?php echo $asesorNombre->apellido; ?></span></div>
                                            <?php // echo Ajax::form("asesorActual$cotizacion->id");?>
                                            <?php echo Form::open();?>
                                            <select id="cotizacion_usuario_id" name="cotizacion[usuario_id]" class="form-control input-lg">
                                                <option value="<?php echo $asesorNombre->id;?>"><?php echo $asesorNombre->nombre;?> <?php echo $asesorNombre->apellido;?></option>
                                                <?php foreach ($asesores_comerciales as $asesores): ?>
                                                <?php if($asesorNombre->id <>$asesores->id){ ?>
                                                    <option value="<?php echo $asesores->id ;?>"><?php echo $asesores->nombre ;?> <?php echo $asesores->apellido;?></option>
                                                <?php } ?>
                                                <?php endforeach; ?>
                                            </select>

                                        <div class="modal-footer">
                                            <?php echo Form::hidden('cotizacionid', NULL, $cotizacion->id);?>
                                            <button type="submit" class="btn btn-primary" >Ceder cotización</button>
                                            <?php echo Form::close();?>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        </div>
                                        </div>

                                        </div>
                                    </div>
                                    </div>

                                    <!-- Modal costeo -->
                                    <div class="modal fade" id="ModalCosteoCotizacion<?php echo $cotizacion->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalEstadoLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 style="text-align:left;" class="modal-title" id="myModalLabel"><i class="fa fa-money"> </i> Costeo Cotizacion <?php echo $cotizacion->id ;?></h4>
                                        </div>
                                        <div class="modal-body">
                                            <h2 class="text-center">Costeo Cotización</h2>
                                            <?php echo Form::open();?>
                                            <?php //echo Ajax::form("camposCosteo") //especificamos el id del div que se actualizará luego del envio ajax ?>
                                                <?php  $cotizacion_item_costeo = load::model('cotizacion_item_costeo')->find("conditions: cotizacion_id=$cotizacion->id") ?>
                                                <?php $costeo_valor = 0; ?>
                                                <?php foreach ($cotizacion_item_costeo as $cotizacion_costeo) { ?>
                                                <div class="row" id="campoGeneralCosteo<?php echo $cotizacion_costeo->id ?><?php echo $cotizacion->id ;?>">
                                                <div class="col-md-8">
                                                    <input type="text" id="cotizacion_costeo_detalle" name="cotizacion_costeo_detalle[]" class="form-control" placeholder="Producto vendido" value="<?php echo $cotizacion_costeo->detalle ?>">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="number" id="cotizacion_costeo_valor" name="cotizacion_costeo_valor[]" class="form-control costeo_valor<?php echo $cotizacion->id ?>" style="text-align:right;" placeholder="VALOR" value="<?php echo $cotizacion_costeo->valor ?>">
                                                </div>
                                                <div class="col-md-1">
                                                    <button class="btn btn-lg btn-danger" type="button" onclick="deleteCampoGeneralCosteo(<?php echo $cotizacion_costeo->id ?><?php echo $cotizacion->id ;?>)"><i class="fa fa-remove"></i></button>
                                                </div>
                                                </div>
                                                <?php $costeo_valor =$costeo_valor + $cotizacion_costeo->valor ;?>
                                                <?php }  ?>


                                                <div id="camposCosteo<?php echo $cotizacion->id ;?>"></div>
                                                <button class="btn btn-lg btn-info" type="button" onclick="AgregarCamposCosteo(<?php echo $cotizacion->id ;?>)"><i class="fa fa-plus"></i></button>
                                                <div class="row">
                                                    <div class="col-md-8" style="font-size:2em;">Total: </div>
                                                    <div class="col-md-4 text-left" style="font-size:2em;">$ <span id="totalCosteo"><?php echo number_format($costeo_valor, 0, '', '.');?></span></div>
                                                </div>
                                                <?php echo Form::hidden('cotizacion_costeo_cotizacion_id', NULL, $cotizacion->id);?>
                                                <div class="modal-footer">
                                                <button type="submit" class="btn btn-success">Guardar</button>
                                            <?php echo Form::close() ?>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                </div>
                                        </div>

                                        </div>
                                    </div>
                                    </div>


                                <?php } ?>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalInfo<?php echo $cotizacion->id ;?>"><i class="fa fa-plus-square"></i></button>

                            </td>
                        </tr>
                        <?php $cotizaciones->counter++; ?>

                        <!-- Modal 1 -->
                        <div class="modal fade" id="ModalInfo<?php echo $cotizacion->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalInfoLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">cotizacion #<?php echo $cotizacion->id ?> | <?php echo $cliente->nombre; ?></h4>
                            </div>
                            <div class="modal-body">
                                <div style="text-align: center;">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCederAsesor<?php echo $cotizacion->id ;?>" ><i class="fa fa-exchange"></i></button>
                                    <?php if($cotizacion->estado == 4){ ?>
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalCosteoCotizacion<?php echo $cotizacion->id ;?>"><i class="fa fa-money"></i></button>
                                        <?php echo DwHtml::buttonTable('Voucher', "dashboard/vouchers/index/$key_shw/", NULL, 'success', 'fa-ticket'); ?>
                                    <?php  }else{ ?>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalEstado<?php echo $cotizacion->id ;?>"><i class="fa fa-refresh"></i></button>
                                    <?php  } ?>
                                        <?php echo DwHtml::buttonTable('Ver cotizacion', "dashboard/cotizaciones/ver/$key_shw/", NULL, 'info', 'fa-search'); ?>

                                    <?php if($cotizacion->estado <> 4){ ?>
                                        <?php echo DwHtml::link("dashboard/cotizaciones/editar/$key_shw/", "<i class='fa fa-edit'></i>","class='btn btn-lg btn-warning js-url'") ;?>
                                        <?php // echo DwHtml::buttonTable('Editar cotizacion', "dashboard/cotizaciones/editar/$key_shw/", NULL, 'warning', 'fa-edit'); ?>
                                    <?php } ?>
                                    <?php echo DwButton::report("index/reporte/$key_shw", 'html', 'Imprimir reporte', ''); ?>
                                    <?php echo DwHtml::buttonTable('Enviar cotizacion', "dashboard/cotizaciones/send/$key_shw/", NULL, 'default', 'fa-send'); ?>

                                    <a href="https://api.whatsapp.com/send?phone=57<?php echo $cliente->celular; ?>&text=<?php echo $cotizacion->url_corta ;?>" class="btn btn-small btn-success text-bold" rel="tooltip" data-original-title="Enviar WhatsApp" target="_blank"><i class="btn-icon-only fa fa-whatsapp"></i> </a>
                                </div>
                                <div>
                                    <h1 style="text-align:center;"><small>Celular:</small> <?php echo $cliente->celular; ?></h1>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                            </div>
                        </div>
                        </div>
                        <!-- Fin Modal 1 -->


                        <!-- Modal 2 -->
                        <div class="modal fade" id="ModalEstado<?php echo $cotizacion->id ;?>" tabindex="-1" role="dialog" aria-labelledby="ModalEstadoLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Actualizar Estado Proceso</h4>
                            </div>
                            <div class="modal-body">
                                <?php echo DwHtml::link("dashboard/cotizaciones/actualizar_estado/$key_shw/0", "<i class='fa fa-times-circle'></i> Cancelar","class='btn btn-lg btn-danger js-url'") ;?>
                                <?php echo DwHtml::link("dashboard/cotizaciones/actualizar_estado/$key_shw/3", "<i class='fa fa-hourglass-half'></i> Procesando","class='btn btn-lg btn-primary js-url'") ;?>
                                <?php echo DwHtml::link("dashboard/cotizaciones/actualizar_estado/$key_shw/4", "<i class='fa fa-star'></i> Aceptada","class='btn btn-lg btn-info js-url'") ;?>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                            </div>
                        </div>
                        </div>
                        <!-- Fin Modal 2 -->
                    <?php endforeach; ?>
                </tbody>
            </table>

        </div>

        <?php View::partial('paginators/default', false, array('page'=>$cotizaciones_usuario, 'url'=>"dashboard/cotizaciones/listar/$order/")); ?>


    </div>



    <?php } ?>
</div>

</div>




    <div>
        <span class="label label-danger">Cancelado</span>
        <span class="label label-success">Activo</span>
        <span class="label label-warning">Envio Mail</span>
        <span class="label label-primary">Procesando</span>
        <span class="label label-info">Aceptada</span>
    </div>


  

  </div> <!-- FIN VUE -->

</div>



<script type="text/javascript">
    var urlTrm = "<?php echo DOMINIO ?>api/trm/";

    new Vue({
      el: '#app',
      created: function() {
        this.getTrm();
      },
      data: {
        trmActual:'',
        listTrm: [],       
        errors: []
      },
      methods: {
        getTrm: function() {
          axios.get(urlTrm).then(response => {
            this.listTrm = response.data;
            this.trmActual = response.data['trmActual'];
          });
        },
        // actualizarTrm: function(){
        //   $('#trmActual').hide();   
        //   $('#actulizarTrm').show();             
        // },

        // crearTrm: function(){
        //   console.log(this.trmActual);
        //   axios.post(urlTrm,
        //     {
        //       trm: this.trmActual,
        //       estado: 1
        //     },
        //     {
        //     headers: {
        //       'Content-Type': 'application/json',
        //     }}).then(response => {
        //       // console.log(response.data);
        //       $('#actulizarTrm').hide();
        //       $('#trmActual').show();   
        //       toastr.success('Agregado TRM.');                 
        //       this.getTrm();
        //       this.errors = [];            
        //     }).catch(error =>{
        //       // console.log(error.response)
        //       // this.errors = error.response.data;
        //     });           
        // }       

      },
      computed:{
             
      },
    });

  </script>



<script type="text/javascript">
        console.log('dentro');

   window.onload = function () {
        let url = document.location.toString();
        let splitHash = url.split("#");
        // document.getElementById(splitHash[1]).click();
        console.log(url);

    };

    if (typeof($.timeago) != "undefined") {
        jQuery.timeago.settings.strings = {
            prefixAgo: "hace",
            prefixFromNow: "dentro de",
            suffixAgo: "",
            suffixFromNow: "",
            seconds: "menos de un minuto",
            minute: "un minuto",
            minutes: "unos %d minutos",
            hour: "una hora",
            hours: "%d horas",
            day: "un día",
            days: "%d días",
            month: "un mes",
            months: "%d meses",
            year: "un año",
            years: "%d años"
        };
    }
    jQuery(document).ready(function() {
      jQuery("time.timeago").timeago();
    });
</script>


<script>
    var nextinput = 1;
    function AgregarCamposCosteo(cotizacion_id){
        // var nextinputcotizacion_id = nextinput + cotizacion_id;
        // console.log(nextinput);
        campo = '<div class="row" id="campoCosteo' + nextinput + cotizacion_id + '"><div class="col-md-8" ><input type="text" size="20" autocomplete="off" class="form-control" placeholder="Producto Vendido" id="cotizacion_costeo_detalle"&nbsp; name="cotizacion_costeo_detalle[]"&nbsp; /></div> <div class="col-md-3"><input type="number" autocomplete="off" size="20" class="form-control" style="text-align:right;" placeholder="Valor" id="cotizacion_costeo_valor"&nbsp; name="cotizacion_costeo_valor[]"&nbsp; /></div><div class="col-md-1"><button class="btn btn-lg btn-danger" type="button" onclick="deleteCampoCosteo('+nextinput+cotizacion_id+')"><i class="fa fa-remove"></i></button></div></div>';
        $("#camposCosteo"+ cotizacion_id).append(campo);
        nextinput++;
    }
    function deleteCampoCosteo(nextinputcotizacion_id){
        // console.log(nextinputcotizacion_id);
        $("#campoCosteo"+ nextinputcotizacion_id).remove();
    }

    function deleteCampoGeneralCosteo(nextinputcotizacion_id){
        // console.log(nextinput);
        // console.log(nextinputcotizacion_id);
        $("#campoGeneralCosteo"+ nextinputcotizacion_id).remove();
    }


</script>