<?php View::flash(); ?>
<style type="text/css">
[v-cloak]{
  display: none;
}
</style>
<div class="container shell-view">
    
  <?php View::process($page_module, $page_title, $set_title); ?>
  <!-- START APP VUE -->
  <div id="app" v-cloak>
    <div class="btn-toolbar btn-toolbar-top">
        <div class="row">
            <div class="btn-actions">
                <?php echo DwHtml::button("dashboard/cotizaciones/buscar_cliente", 'agregar', NULL, 'fa-check-square-o', APP_AJAX); ?>
            </div>
        </div>
    </div>
    <div>
    <table class="table table-hover table-striped table-condensed table-responsive">
        <thead>
          <tr>
            <th data-search="numero">NUM</th>
            <th>FECHA</th>
            <th data-search="Nombre" class="col-hidden">CLIENTE NOMBRE</th>
            <th class="col-hidden">DESTINO</th>
            <th class="col-hidden text-center">VISTO</th>
            <th class="col-hidden text-center">ITEMS</th>
            <th class="col-hidden text-center" data-order="estado_usuario">ESTADO</th>
            <th class="col-blocked text-center">ACCIONES</th>
          </tr>
        </thead> 
        <tbody>
          <tr v-for="(item, index) in listCotizaciones">
            <td></td>             
            <td></td>
            <td>{{ item.cliente}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>                                    
          </tr>
        </tbody>   
    </table>
    </div>
  </div>
</div>



<script type="text/javascript">
    var urlCotizacion = "<?php echo DOMINIO ?>api/cotizaciones/";

    new Vue({
      el: '#app',
      created: function() {
        this.getCotizaciones();
      },
      data: {
        trmActual:'',
        listCotizaciones: [],       
        errors: []
      },
      methods: {
        getCotizaciones: function() {
          axios.get(urlCotizacion).then(response => {
            this.listCotizaciones = response.data.cotizaciones;
            // this.trmActual = response.data['trmActual'];
          });
        },
        actualizarTrm: function(){
          $('#trmActual').hide();   
          $('#actulizarTrm').show();             
        },

        crearTrm: function(){
          console.log(this.trmActual);
          axios.post(urlTrm,
            {
              trm: this.trmActual,
              estado: 1
            },
            {
            headers: {
              'Content-Type': 'application/json',
            }}).then(response => {
              // console.log(response.data);
              $('#actulizarTrm').hide();
              $('#trmActual').show();   
              toastr.success('Agregado TRM.');                 
              this.getTrm();
              this.errors = [];            
            }).catch(error =>{
              // console.log(error.response)
              // this.errors = error.response.data;
            });           
        }, 

        notifyMe: function(){
          // Let's check if the browser supports notifications
          if (!("Notification" in window)) {
            alert("This browser does not support desktop notification");
          }  

          // Let's check whether notification permissions have already been granted
          else if (Notification.permission === "granted") {

            var dts = Math.floor(Date.now());
            console.log(dts);
            fecha = new Date();
            var dts2 = fecha.setMinutes(fecha.getMinutes() + 1);
            console.log(dts2);

            // If it's okay let's create a notification
            var notification = new Notification("Hola Notificacion!",{
              body: "tealdfjaslfjkalsdjf",
              icon: "http://localhost:8888/app-turishuila/img/favicon.png",
              timestamp: Date.parse('28 Dec 2019 00:27:00')
            });



          } 

          // Otherwise, we need to ask the user for permission
          else if (Notification.permission !== "denied") {
            Notification.requestPermission().then(function (permission) {
              // If the user accepts, let's create a notification
              if (permission === "granted") {
                var notification = new Notification("Hi there!");
              }
            });
          }                         
          
        }        


      },
      computed:{
             
      },
    });

  </script>

