<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>
    
    <div class="row">
        <?php echo DwForm::open();?>
        <?php $cliente = Load::model('cliente')->find_first("$cotizacion->cliente_id"); ?>
        <?php $urlLink = DOMINIO.''."reporte/cotizacion/ver/".$cotizacion->token; ?>
        <?php $nombre_empresa = NOMBRE_EMPRESA; ?>
        <?php $mensaje_data="<p>Estimado(a) $cliente->nombre.<br>adjunto envío propuesta de acuerdo a su cotización.<p><br></p><b><b>Click en el enlace para ver propuesta</b> </br>$urlLink<b><p><br></p>Estoy atento a su pronta respuesta.<p><br></br></p> att<p><br></p> $asesor_nombre $asesor_apellido<br><b>Asesor $nombre_empresa</b> "; ?>
        <div class="col-md-12"><div class="form-group"><label for="desde">Desde el correo electrónico</label><h4><?php echo $asesor_email; ?></h4></div></div>
        <div class="col-md-6"><?php echo DwForm::text("send.email", array('class'=>'input-required'), $cliente->email,"Para E-mail");?></div>
        <div class="col-md-6"><?php echo DwForm::text("send.cc", array('class'=>''),NULL,"cc");?></div>
        <div class="col-md-12"><?php echo DwForm::text("send.asunto", array('class'=>'input-required'), NULL,"Asunto");?></div>
        <div class="col-md-12">
            <textarea class="summernote" name="mensaje"><?php echo $mensaje_data ?></textarea></div>
            
        <div class="row">
            <div class="form-actions">
                <?php echo DwForm::btnSubmit("ENVIAR", array('class'=>'btn btn-success text-bold'), "fa fa-send"); ?>
                <?php echo DwHtml::link("dashboard/cotizaciones/editar/$key", "EDITAR", array('class'=>'btn btn-warning text-bold'), "fa fa-edit");?>
                <?php echo DwForm::cancel(); ?>
                <?php echo DwForm::focus('send.email'); ?>
            </div>
        </div>            
        <?php echo DwForm::close();?>
    </div>
</div>

<script>
  $(document).ready(function() {
      $('.summernote').summernote({
        height: 300,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
      });        
  });
</script>

<script type="text/javascript">
    document.getElementsByClassName("modal-backdrop")[0].style.display = "none";            
    document.getElementsByClassName("modal-backdrop")[0].style.display = "none";            
    document.getElementsByClassName("modal-backdrop")[0].className = "no-modal";        
    document.getElementsByClassName("modal-open")[0].style.overflow = "scroll";
</script>  