    <style type="text/css">
        .caja-borde{ border-top: 1px solid #eeeeee; padding:5px;font-size: 16px;}
        .f18{font-size: 18px};
    </style>
    <table>
        <tr>
            <td><?php echo Html::img("logo-turishuila.png","","width='300px' ");?></td>
            <td style="padding-left:30px;">
                <div style="font-size:12px;">Organización Turística del Huila Turishuila LTDA - Turishuila.com</div>
                <div>Tel:  8722101 - 8721665 / Cel. 317 4405432</div>
                <div class="text-bold" style="font-size:1.6em;">Orden de cotización #00<?php echo $cotizacion->id ;?></div>
                <div class=""><?php $asesor = load::model('sistema/usuario')->find_first($cotizacion->usuario_id); echo "Asesor ".$asesor->nombre." ".$asesor->apellido;  ?> </div>
            </td>
            <td style="padding-left:30px;"><?php if($asesor->fotografia <> "default.png"){ echo Html::img("upload/personas/$asesor->fotografia",NULL,"width='70px' "); } ?> </td>
        </tr>
    </table>

    <!--Items cotizacion-->
    <?php foreach($cotizacion_items as $item): ?>
        <div style="border:2px solid #FDCB2E;margin-top: 20px">
            <div class="collapse" id="collapse<?php echo $item->id ?>">
                <div class="well">
                    <div class="caja-borde f18"><b><center>Mascara Tarifa</center></b></div>
                    <?php echo $item->mascara_tarifa ;?>
                </div>
            </div>
            <span style="float:right;"><button class="btn btn-warning" data-toggle="collapse" data-target="#collapse<?php echo $item->id ?>" href="#collapseExample" aria-expanded="false" aria-controls="collapse<?php echo $item->id ?>"><i class="fa fa-chain"></i> Mascara Tarifa</button></span>
            <div style="font-size:18px; border-top:1px solid #eeeeee; padding: 5px;background: #0060b0; color: #fff" class="text-center"><b> <?php // echo $item->producto;?></b>  <?php // echo $item->origen;?>  <?php // echo $item->destino ;?></div>
            <div class="caja-borde f18 text-center" style="font-size: 2em;background: #f9cc33;">Hola, <?php $cliente = load::model('cliente')->find_first($cotizacion->cliente_id);  echo $cliente->nombre;?></div>
            <div class="f18" style="background: #1460b0;color: white;font-size: 22px;"><b><center>Aquí encontraras, el viaje que deseas:</center></b></div>
            <div class="f18 text-center" style="background: #0060b0;color: white;font-size: 24px;"><b><?php echo $item->titulo;?></b></div>

            <div class="caja-borde f18 text-center" style="background: whitesmoke;"><?php if(!empty($item->fechain)){  ?> <b>Fecha Ida:</b> <?php echo date("d/M/Y", strtotime($item->fechain)); ?> &nbsp;&nbsp;&nbsp;&nbsp; <?php } ?> <?php if(!empty($item->fecha_out)){ ?><b>Fecha Regreso:</b> <?php echo date("d/M/Y", strtotime($item->fecha_out));?><?php } ?></div>
            <?php if($item->producto <> "CARRO"){ ?>
            <div class="caja-borde f18 text-center" style="background:whitesmoke;"><?php if($item->adultos > 0){ ?><b>Adultos:</b> <?php echo $item->adultos ?> &nbsp;&nbsp;&nbsp;&nbsp; <?php } ?><?php if($item->infantes > 0){ ?><b>Menores:</b> <?php echo $item->infantes ?><?php } ?></div>
            <?php } ?>
            <div class="caja-borde" style="padding-top:30px;"><?php  echo $item->descripcion ;?></div>
        </div>

        <div class="caja-borde" style="margin-top: 20px;font-size: 1.6em;background: #f9cc33;">
            <div class="row">
                <div class="col-sm-9 text-center"><b>DETALLE</b></div>
                <div class="col-sm-3"><b>PRECIOS</b></div>
            </div>
        </div>

        <div style="border:2px solid #FDCB2E;margin-top: 0px;font-size: 2.4em;background: #1460b0;color: white;">

            <div class="caja-borde">

            <?php $cotizacion_item_precios = load::model("cotizacion_item_precio")->find("conditions: cotizacion_id=$cotizacion->id"); ?>
                <?php foreach($cotizacion_item_precios as $item_precios): ?>
                    <div class="row" style="font-size: 1.4em">
                    <div class="col-sm-9"><?php echo $item_precios->detalle ;?></div>
                    <div class="col-sm-3 text-right" style="font-weight: 600;">$ <?php if(!empty($item_precios->valor)){ echo number_format($item_precios->valor, 0, '', '.'); } ?></div>
                    </div><hr style="margin-top: 2px !important;margin-bottom: 2px !important;">
                <?php endforeach ;?>
            </div>
        </div>

    <?php endforeach;?>
        <!-- <div style="border:2px solid #FDCB2E;margin-top: 20px">
            <div class="caja-borde text-right">
                <h5>Items Cotizados: ( <?php // echo $items_cotizacion = count($cotizacion_items) ?>)</h5>

                <h3>Valor Total $<?php //$valor_total= Load::model('cotizacion_item')->sum("valor_total","conditions: cotizacion_id=$cotizacion->id AND estado=1"); echo number_format($valor_total, 0, '', '.') ?></h3>
            </div>
        </div> -->

        <div style="border:2px solid #FDCB2E;margin-top: 20px;background: #f9cc33;">
            <div class="caja-borde text-center">
                <p style="font-size:1.4em;"><b>Nota:</b> Para efectos de cualquier información y/o confirmación por favor referirse al siguiente número de <b>Cotización #<?php echo $cotizacion->id ;?></b></p>
            </div>
        </div>


        <!--Politicas-->
        <?php $count_politicas = Load::model("cotizacion_politica")->count("cotizacion_id=$cotizacion->id ") ?>
        <?php if(!$count_politicas == NULL){ ?>

        <?php $politicas = Load::model("cotizacion_politica")->find("cotizacion_id=$cotizacion->id ") ?>
        <?php foreach ($politicas as $politica): ?>

            <?php $ver_politica = Load::model("politica")->find_first("id='$politica->politica_id'") ?>

            <div style="border:2px solid #FDCB2E;margin-top: 20px">
                <div style="font-size:18px; border-top:1px solid #eeeeee; padding: 5px;background: #0060b0; color: #fff"><b>POLITICAS <?php echo $ver_politica->nombre;?></b></div>
                <div class="caja-borde">
                   <?php echo $ver_politica->descripcion; ?>
                </div>
            </div>

        <?php endforeach ;?>

        <?php } ?>


        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>
                <?php echo DwButton::report("index/reporte/$key_shw", 'html', 'Imprimir reporte', ''); ?>
                <?php echo DwForm::cancel("dashboard/cotizaciones/"); ?>
            </div>
        </div>

<script type="text/javascript">
    document.getElementsByClassName("modal-backdrop")[0].style.display = "none";
    document.getElementsByClassName("modal-backdrop")[0].style.display = "none";
    document.getElementsByClassName("modal-backdrop")[0].className = "no-modal";
    document.getElementsByClassName("modal-open")[0].style.overflow = "scroll";
</script>