<script>
	$(document).ready(function() {
		$('.summernoteAsistencia').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 500,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenAsistencia(files[i]);
					}
				}
			}
		});

	function SubirImagenAsistencia(file){
		if(file.type.includes('image'))
		{
			var name = file.name.split(".");
			name = name[0];  
			var data = new FormData();
			data.append('file', file);
            // console.log('dentro');
			$.ajax({
				url: '<?php echo DOMINIO ?>api/uploadimg',
				type: 'POST',
				contentType: false,
				cache: false,
				processData: false,
				dataType: 'JSON',
				data: data,
				success: function (response) 
				{
					$('.summernoteAsistencia').summernote('insertImage', response.url, name);
				}
			})
			.fail(function(e) {
				console.log(e);
			});
		}
		else
		{
			console.log("El tipo de archivo que intentaste subir no es una imagen");
		}
	}


		$('.summernoteAsistenciaMascara').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 500,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenAsistenciaMascara(files[i]);
					}
				}
			}
		});
	});



	function SubirImagenAsistenciaMascara(file){
		if(file.type.includes('image'))
		{
			var name = file.name.split(".");
			name = name[0];  
			var data = new FormData();
			data.append('file', file);
            // console.log('dentro');
			$.ajax({
				url: '<?php echo DOMINIO ?>api/uploadimg',
				type: 'POST',
				contentType: false,
				cache: false,
				processData: false,
				dataType: 'JSON',
				data: data,
				success: function (response) 
				{
					$('.summernoteAsistenciaMascara').summernote('insertImage', response.url, name);
				}
			})
			.fail(function(e) {
				console.log(e);
			});
		}
		else
		{
			console.log("El tipo de archivo que intentaste subir no es una imagen");
		}
	}    

</script> 

        <div class="row" style="margin:10px">
          <?php $proveedores = Load::model('proveedor')->find("columns: proveedor.id, proveedor.img, proveedor.link, proveedor_producto.producto_nombre","join: inner join proveedor_producto on proveedor.id = proveedor_producto.proveedor_id","conditions: proveedor_producto.producto_nombre='asistencia' "); ?>
                                       
          <?php foreach ($proveedores as $proveedor):?>
            <a href="<?php echo $proveedor->link ?>" target="_blank"><?php echo DwHtml::img("upload/proveedores/$proveedor->img", "img", array('id'=>'img-proveedor','class'=>'img-responsive','width'=>'32px','style'=>'float:left;margin-right:5px;')); ?></a>
          <?php endforeach; ?>
        </div>   
        
        <?php echo DwForm::open();?>
        <div class="row">
            <div class="col-md-6"><?php echo DwForm::text("cotizacion_item.origen", array('class'=>'input-required','autocomplete'=>'off'), NULL,"Origen");?></div>
            <div class="col-md-6"><?php echo DwForm::text("cotizacion_item.destino", array('class'=>'input-required','autocomplete'=>'off'), NULL,"Destino");?></div>
        </div>



<div class="row">
    <div class="col-md-8">
        <div class="row">
            <?php $tarjetas = Load::model('tarjeta_asistencia')->find("conditions: estado=1"); ?>
            <div class="col-md-12" style="margin-bottom:15px;">
                <div>
                    <?php foreach ($tarjetas as $tarjeta):?>
                    <div class="btn btn-primary">
                        <input onclick="buttonRadio()" type="radio" name="optionstarjetas" id="optiontarjeta" class="optiontarjeta" autocomplete="off" value="<?php echo $tarjeta->valor ?>"> <?php echo $tarjeta->nombre ?>  USD
                    </div>                        
                    <?php endforeach; ?>
                </div>
            </div>
        </div>        

        <div class="row">
            <div class="col-md-6"><?php echo DwForm::date('cotizacion_item.fechain', array('class'=>'input-required fIn','onkeyup'=>'tarifaAsistencia()'), date("Y-m-d"), 'Partida'); ?></div>
            <div class="col-md-6"><?php echo DwForm::date('cotizacion_item.fecha_out', array('class'=>'input-required fOut','onkeyup'=>'tarifaAsistencia()'), date("Y-m-d"), 'Regreso'); ?></div>
        </div>
        <div class="row">
            <div class="col-md-4"><?php echo DwForm::number("cotizacion_item.adultos", array('class'=>'input-required cotizacion_item_adultos','onkeyup'=>'tarifaAsistencia()'), NULL,"Adultos");?></div>
            <div class="col-md-4"><?php echo DwForm::number("cotizacion_item.infantes", array('class'=>'input-required cotizacion_item_infantes','onkeyup'=>'tarifaAsistencia()'), NULL,"Menores");?></div>            
            <div class="col-md-4"><label>TRM</label><div style="font-size: 20px;">$<span id="trm"><?php echo $dolar ;?></span></div></div>
        </div>        
    </div>
    <div class="col-md-4">
        <div class="col-md-12 text-center" id="barraradio" style="background: #fff;font-size: 15px;margin-bottom: 10px;"><small>USD Día </small><span id="valorradio" style="font-size: 20px"></span></div>        
        <div class="col-md-12 text-center" style="background: #fff;font-size: 15px;margin-bottom: 10px;"><small>Días </small><span id="barradias" style="font-size: 20px"></span></div>
        <div class="col-md-12 text-center" style="background: #fff;font-size: 15px;margin-bottom: 10px;"><small>USD Total </small><span id="barratotalusd" style="font-size: 20px"></span></div>
        <div class="col-md-12"><?php echo DwForm::number("cotizacion_item.valor_total", array('class'=>'input-required cotizacion_item_valor_total'), NULL,"Valor total");?></div>                                
    </div>
</div>


      
        <div class="row">
            <div class="col-md-12">
                <textarea class="summernoteAsistencia" name="cotizacion_item[descripcion]"></textarea>
            </div>
        </div>   

        <!--Mascara-->
        <div class="row" style="border-top: 1px solid #cccccc;border-bottom: 1px solid #cccccc;margin-top: 10px;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
            <div class="col-md-12">
                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseAsistencia" aria-expanded="false" aria-controls="collapseAsistencia">
                  Mascara de tarifas.
                </button>
                <div class="collapse" id="collapseAsistencia">
                    <textarea class="summernoteAsistenciaMascara" name="cotizacion_item[mascara_tarifa]"></textarea>
                </div>        
            </div>
        </div>
        <!--fin mascara-->
        <div class="row">
            <center>
                <?php echo DwForm::hidden("cotizacion_item.producto_id",NULL,"6") ?>   
                <?php echo DwForm::hidden("cotizacion_item.producto",NULL,"ASISTENCIA") ?>                 
                <?php echo DwForm::submit("$btext ASISTENCIA", array('class'=>'btn btn-primary btn-lg btn-block text-bold'));?>
                <?php // DwForm::send('Agregar Solicitud'); ?>
                <?php echo DwForm::focus('cotizacion_item.origen'); ?>
            </center>                    
        </div>        
        <?php echo DwForm::close();?>

        <script type="text/javascript">
                       
 
//        function diasdate(){    
//            console.log('dentro');
//            var fIn = document.getElementsByClassName('fIn')[0].value;   
//            var fOut = document.getElementsByClassName('fOut')[0].value;       
//            var fechaInicio = new Date(fIn).getTime();
//            var fechaFin    = new Date(fOut).getTime();
//            var diff = fechaFin - fechaInicio;
//            var diasFecha = (diff/(1000*60*60*24));
//            document.getElementById('barradias').innerHTML = diasFecha;    
//                        console.log(diff/(1000*60*60*24) );    
//        } 

            function buttonRadio(){             
                var radioButtons = document.getElementsByName("optionstarjetas");
                for (var i = 0; i < radioButtons.length; i++) {
                    if (radioButtons[i].checked) {
                        var valorRadio = radioButtons[i].value;
                        document.getElementById('valorradio').innerHTML = valorRadio;
            //                    console.log("radioButton " + i + ": " + radioButtons[i].value);
                    }
                }
                tarifaAsistencia();
            }   

            function tarifaAsistencia(){
                
             
//                var optionTarjeta = document.getElementsByClassName('optiontarjeta')[0].value; 
//                console.log(optionTarjeta);
                var fIn = document.getElementsByClassName('fIn')[0].value;   
                var fOut = document.getElementsByClassName('fOut')[0].value;   
                
                
                var fechaInicio = new Date(fIn).getTime();
                var fechaFin    = new Date(fOut).getTime();
                var diff = fechaFin - fechaInicio;
                var diasFecha = (diff/(1000*60*60*24));
//                console.log(diff/(1000*60*60*24) );
                document.getElementById('barradias').innerHTML = diasFecha;    


                var valorRadio = document.getElementById('valorradio').innerHTML; 
                var valorRadio = parseInt(valorRadio) || 0;

                
                var adultos = document.getElementsByClassName('cotizacion_item_adultos')[0].value;   
                var adultos = parseInt(adultos) || 0;
                
                
                var infantes = document.getElementsByClassName('cotizacion_item_infantes')[0].value;  
                var infantes = parseInt(infantes) || 0;
                
                var valor_total = document.getElementsByClassName('cotizacion_item_valor_total')[0].value;  
                var valor_total = parseInt(valor_total) || 0;

                
                // Aquí valido si hay un valor previo, si no hay datos, le pongo un cero "0".                
                valor_total = (valor_total == null || valor_total == undefined || valor_total == "") ? 0 : valor_total;
//                document.getElementsByClassName('cotizacion_item_valor_total')[0].value = valor_total;
                
//                /* Esta es la suma. */
                var total = (parseInt(adultos) + parseInt(infantes)) * parseInt(valorRadio)* parseInt(diasFecha);
                
                // Colocar el resultado de la suma en el control "span".
//                document.getElementsByClassName('cotizacion_item_valor_total')[0].value = total;
                document.getElementById('barratotalusd').innerHTML = total;    
                
                // cambio divisa TRM
                var cambiodivisa = document.getElementById('trm').innerHTML * document.getElementById('barratotalusd').innerHTML;
                var cambiodivisa = parseInt(cambiodivisa) || 0;
                
                document.getElementsByClassName('cotizacion_item_valor_total')[0].value = parseInt(cambiodivisa);    
            }
                
        
//        
        </script>