<script>
	$(document).ready(function() {
		$('.summernoteCrucero').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 500,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenCrucero(files[i]);
					}
				}
			}
		});

	function SubirImagenCrucero(file){
		if(file.type.includes('image'))
		{
			var name = file.name.split(".");
			name = name[0];  
			var data = new FormData();
			data.append('file', file);
            // console.log('dentro');
			$.ajax({
				url: '<?php echo DOMINIO ?>api/uploadimg',
				type: 'POST',
				contentType: false,
				cache: false,
				processData: false,
				dataType: 'JSON',
				data: data,
				success: function (response) 
				{
					$('.summernoteCrucero').summernote('insertImage', response.url, name);
				}
			})
			.fail(function(e) {
				console.log(e);
			});
		}
		else
		{
			console.log("El tipo de archivo que intentaste subir no es una imagen");
		}
	}


		$('.summernoteCruceroMascara').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 500,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenCruceroMascara(files[i]);
					}
				}
			}
		});
	});



	function SubirImagenCruceroMascara(file){
		if(file.type.includes('image'))
		{
			var name = file.name.split(".");
			name = name[0];  
			var data = new FormData();
			data.append('file', file);
            // console.log('dentro');
			$.ajax({
				url: '<?php echo DOMINIO ?>api/uploadimg',
				type: 'POST',
				contentType: false,
				cache: false,
				processData: false,
				dataType: 'JSON',
				data: data,
				success: function (response) 
				{
					$('.summernoteCruceroMascara').summernote('insertImage', response.url, name);
				}
			})
			.fail(function(e) {
				console.log(e);
			});
		}
		else
		{
			console.log("El tipo de archivo que intentaste subir no es una imagen");
		}
	}    

</script>      
     
     
        <div class="row" style="margin:10px">
          <?php $proveedores = Load::model('proveedor')->find("columns: proveedor.id, proveedor.img, proveedor.link, proveedor_producto.producto_nombre","join: inner join proveedor_producto on proveedor.id = proveedor_producto.proveedor_id","conditions: proveedor_producto.producto_nombre='crucero' "); ?>

          <?php foreach ($proveedores as $proveedor):?>
            <a href="<?php echo $proveedor->link ?>" target="_blank"><?php echo DwHtml::img("upload/proveedores/$proveedor->img", "img", array('id'=>'img-proveedor','class'=>'img-responsive','width'=>'32px','style'=>'float:left;margin-right:5px;')); ?></a>
          <?php endforeach; ?>
        </div>

        <?php echo DwForm::open();?>
        <div class="row">
            <div class="col-md-6"><?php echo DwForm::text("cotizacion_item.destino", array('class'=>'input-required','autocomplete'=>'off'), NULL,"Puerto de salida");?></div>
            <div class="col-md-6"><?php echo DwForm::date('cotizacion_item.fechain', array('class'=>'input-required'), date("Y-m-d"), 'Fecha de salida'); ?></div>
        </div>
        <div class="row">
            <div class="col-md-3"><?php echo DwForm::number("cotizacion_item.noches", array('class'=>'input-required'), NULL,"# Noches"); ?></div>
            <div class="col-md-3"><?php echo DwForm::number("cotizacion_item.habitaciones", array('class'=>'input-required'), NULL,"Cabinas");?></div>
            <div class="col-md-3"><?php echo DwForm::number("cotizacion_item.adultos", array('class'=>'input-required'), NULL,"Adultos");?></div>
            <div class="col-md-3"><?php echo DwForm::number("cotizacion_item.infantes", array('class'=>'input-required'), NULL,"Menores");?></div>
        </div>
        <div class="row">
            <div class="col-md-12"><?php echo DwForm::text("cotizacion_item.titulo", array('class'=>'input-required','autocomplete'=>'off'), NULL,"Titulo");?></div>
            <div class="col-md-3"><?php // echo DwForm::number("cotizacion_item.valor", array('onkeyup'=>'utilidadHotel()','class'=>'input-required'), NULL,"Valor");?></div>
            <div class="col-md-2"><?php // echo DwForm::number("cotizacion_item.utilidad", array('onkeyup'=>'utilidadHotel()','class'=>'input-required'), NULL,"Utilidad");?></div>
            <div class="col-md-3"><?php // echo DwForm::number("cotizacion_item.valor_total", array('class'=>'input-required'), NULL,"Valor total");?></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="summernoteCrucero" id="editSummernoteCrucero" name="cotizacion_item[descripcion]"></textarea>
            </div>
        </div>


<?php if(!empty($cotizacion_item)){ ?>
    <script>
    $(document).ready(function() {
        $('#editSummernoteCrucero').summernote('code','<?php echo $cotizacion_item->descripcion;?>','height','400');
        $('#editSummernoteCruceroMascara').summernote('code','<?php echo $cotizacion_item->mascara_tarifa;?>');
    });
    </script>
<?php } ?>

            <div class="col-md-12"><label>Precio Cotización</label></div>
            <?php if(!empty($cotizacion_item->cotizacion_id)){ $cotizacion_item_precio = load::model('cotizacion_item_precio')->find("conditions: cotizacion_id=$cotizacion_item->cotizacion_id") ?>
            <?php foreach ($cotizacion_item_precio as $cotizacion_precio) { ?>
            <div class="row" id="campogeneral<?php echo $cotizacion_precio->id ?>">
            <div class="col-md-7">
                <input type="text" id="cotizacion_precio_detalle" name="cotizacion_precio_detalle[]" class="form-control" placeholder="Detalle" value="<?php echo $cotizacion_precio->detalle ?>">
            </div>
            <div class="col-md-3">
                <input type="number" id="cotizacion_precio_valor" name="cotizacion_precio_valor[]" class="form-control" placeholder="VALOR" value="<?php echo $cotizacion_precio->valor ?>">
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger" type="button" onclick="deleteCampoGeneral(<?php echo $cotizacion_precio->id ?>)"><i class="fa fa-remove"></i></button>
            </div>
            </div>
            <?php } } ?>


        <div id="campos"></div>
        <button class="btn btn-info" type="button" onclick="AgregarCampos()"><i class="fa fa-plus"></i></button>


        <!--Mascara-->
        <div class="row" style="border-top: 1px solid #cccccc;border-bottom: 1px solid #cccccc;margin-top: 10px;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
            <div class="col-md-12">
                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseCrucero" aria-expanded="false" aria-controls="collapseCrucero">
                  Mascara de tarifas.
                </button>
                <div class="collapse" id="collapseCrucero">
                    <textarea class="summernoteCruceroMascara" id="editSummernoteCruceroMascara" name="cotizacion_item[mascara_tarifa]"></textarea>
                </div>
            </div>
        </div>
        <!--fin mascara-->



        <div class="row">
            <center>
                <?php echo DwForm::hidden("cotizacion_item.producto_id",NULL,"5") ?>
                <?php echo DwForm::hidden("cotizacion_item.producto",NULL,"CRUCERO") ?>
                <?php echo DwForm::submit("$btext CRUCERO", array('class'=>'btn btn-primary btn-lg btn-block text-bold'));?>
                <?php // DwForm::send('Agregar Solicitud'); ?>
                <?php echo DwForm::focus('cotizacion_item.origen'); ?>
            </center>
        </div>
        <?php echo DwForm::close();?>

        <script>
            var nextinput = 1;
            function AgregarCampos(){
                campo = '<div class="row" id="campo' + nextinput + '"><div class="col-md-7" ><input type="text" size="20" autocomplete="off" class="form-control" placeholder="Detalle" id="cotizacion_precio_detalle"&nbsp; name="cotizacion_precio_detalle[]"&nbsp; /></div> <div class="col-md-3"><input type="number" autocomplete="off" size="20" class="form-control" placeholder="Valor" id="cotizacion_precio_valor"&nbsp; name="cotizacion_precio_valor[]"&nbsp; /></div><div class="col-md-2"><button class="btn btn-danger" type="button" onclick="deleteCampo('+nextinput+')"><i class="fa fa-remove"></i></button></div></div>';
                $("#campos").append(campo);
                nextinput++;
            }
            function deleteCampo(nextinput){
                console.log(nextinput);
                $("#campo"+nextinput).remove();
            }

            function deleteCampoGeneral(nextinput){
                console.log(nextinput);
                $("#campogeneral"+nextinput).remove();
            }
        </script>
