<script>
	$(document).ready(function() {
		$('.summernoteHotel').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 500,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenHotel(files[i]);
					}
				}
			}
		});

	function SubirImagenHotel(file){
		if(file.type.includes('image'))
		{
			var name = file.name.split(".");
			name = name[0];  
			var data = new FormData();
			data.append('file', file);
            // console.log('dentro');
			$.ajax({
				url: '<?php echo DOMINIO ?>api/uploadimg',
				type: 'POST',
				contentType: false,
				cache: false,
				processData: false,
				dataType: 'JSON',
				data: data,
				success: function (response) 
				{
					$('.summernoteHotel').summernote('insertImage', response.url, name);
				}
			})
			.fail(function(e) {
				console.log(e);
			});
		}
		else
		{
			console.log("El tipo de archivo que intentaste subir no es una imagen");
		}
	}


		$('.summernoteHotelMascara').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 500,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenHotelMascara(files[i]);
					}
				}
			}
		});
	});



	function SubirImagenHotelMascara(file){
		if(file.type.includes('image'))
		{
			var name = file.name.split(".");
			name = name[0];  
			var data = new FormData();
			data.append('file', file);
            // console.log('dentro');
			$.ajax({
				url: '<?php echo DOMINIO ?>api/uploadimg',
				type: 'POST',
				contentType: false,
				cache: false,
				processData: false,
				dataType: 'JSON',
				data: data,
				success: function (response) 
				{
					$('.summernoteHotelMascara').summernote('insertImage', response.url, name);
				}
			})
			.fail(function(e) {
				console.log(e);
			});
		}
		else
		{
			console.log("El tipo de archivo que intentaste subir no es una imagen");
		}
	}    

</script>


        <div class="row" style="margin:10px">
          <?php $proveedores = Load::model('proveedor')->find("columns: proveedor.id, proveedor.img, proveedor.link, proveedor_producto.producto_nombre","join: inner join proveedor_producto on proveedor.id = proveedor_producto.proveedor_id","conditions: proveedor_producto.producto_nombre='hotel' "); ?>

          <?php foreach ($proveedores as $proveedor):?>
            <a href="<?php echo $proveedor->link ?>" target="_blank"><?php echo DwHtml::img("upload/proveedores/$proveedor->img", "img", array('id'=>'img-proveedor','class'=>'img-responsive','width'=>'32px','style'=>'float:left;margin-right:5px;')); ?></a>
          <?php endforeach; ?>
        </div>

        <?php echo DwForm::open();?>
        <div class="row">
            <div class="col-md-12"><?php echo DwForm::text("cotizacion_item.destino", array('class'=>'input-required','autocomplete'=>'off'), NULL,"Destino");?></div>
        </div>
        <div class="row">
            <div class="col-md-6"><?php echo DwForm::date('cotizacion_item.fechain', array('class'=>'input-required'), date("Y-m-d"), 'Entrada'); ?></div>
            <div class="col-md-6"><?php echo DwForm::date('cotizacion_item.fecha_out', array('class'=>'input-required'), date("Y-m-d"), 'Salida'); ?></div>
        </div>
        <div class="row">
            <div class="col-md-4"><?php echo DwForm::number("cotizacion_item.habitaciones", array('class'=>'input-required'), NULL,"Habitaciones");?></div>
            <div class="col-md-4"><?php echo DwForm::number("cotizacion_item.adultos", array('class'=>'input-required'), NULL,"Adultos");?></div>
            <div class="col-md-4"><?php echo DwForm::number("cotizacion_item.infantes", array('class'=>'input-required'), NULL,"Menores");?></div>
        </div>
        <div class="row">
            <div class="col-md-12"><?php echo DwForm::text("cotizacion_item.titulo", array('class'=>'input-required','autocomplete'=>'off'), NULL,"Titulo");?></div>
            <div class="col-md-3"><?php // echo DwForm::number("cotizacion_item.valor", array('onkeyup'=>'utilidadHotel()','class'=>'input-required'), NULL,"Valor");?></div>
            <div class="col-md-2"><?php // echo DwForm::number("cotizacion_item.utilidad", array('onkeyup'=>'utilidadHotel()','class'=>'input-required'), NULL,"Utilidad");?></div>
            <div class="col-md-3"><?php // echo DwForm::number("cotizacion_item.valor_total", array('class'=>'input-required'), NULL,"Valor total");?></div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <textarea class="summernoteHotel" name="cotizacion_item[descripcion]"></textarea>
            </div>
        </div>
        <!--Mascara-->
        <div class="row" style="border-top: 1px solid #cccccc;border-bottom: 1px solid #cccccc;margin-top: 10px;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
            <div class="col-md-12">
                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseHotel" aria-expanded="false" aria-controls="collapseHotel">
                  Mascara de tarifas.
                </button>
                <div class="collapse" id="collapseHotel">
                    <textarea class="summernoteHotelMascara" name="cotizacion_item[mascara_tarifa]"></textarea>
                </div>
            </div>
        </div>
        <!--fin mascara-->
        <div class="row">
            <center>
                <?php echo DwForm::hidden("cotizacion_item.producto_id",NULL,"2") ?>
                <?php echo DwForm::hidden("cotizacion_item.producto",NULL,"HOTEL") ?>
                <?php echo DwForm::submit("$btext HOTEL", array('class'=>'btn btn-primary btn-lg btn-block text-bold'));?>
                <?php echo DwForm::focus('cotizacion_item.origen'); ?>
            </center>
        </div>
        <?php echo DwForm::close();?>