<script>
	$(document).ready(function() {
		$('.summernoteTicket').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 500,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagen(files[i]);
					}
				}
			}
		});

	function SubirImagen(file){
		if(file.type.includes('image'))
		{
			var name = file.name.split(".");
			name = name[0];  
			var data = new FormData();
			data.append('file', file);
            // console.log('dentro');
			$.ajax({
				url: '<?php echo DOMINIO ?>api/uploadimg',
				type: 'POST',
				contentType: false,
				cache: false,
				processData: false,
				dataType: 'JSON',
				data: data,
				success: function (response) 
				{
					$('.summernoteTicket').summernote('insertImage', response.url, name);
				}
			})
			.fail(function(e) {
				console.log(e);
			});
		}
		else
		{
			console.log("El tipo de archivo que intentaste subir no es una imagen");
		}
	}


		$('.summernoteTicketMascara').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 500,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenMascara(files[i]);
					}
				}
			}
		});
	});



	function SubirImagenMascara(file){
		if(file.type.includes('image'))
		{
			var name = file.name.split(".");
			name = name[0];  
			var data = new FormData();
			data.append('file', file);
            // console.log('dentro');
			$.ajax({
				url: '<?php echo DOMINIO ?>api/uploadimg',
				type: 'POST',
				contentType: false,
				cache: false,
				processData: false,
				dataType: 'JSON',
				data: data,
				success: function (response) 
				{
					$('.summernoteTicketMascara').summernote('insertImage', response.url, name);
				}
			})
			.fail(function(e) {
				console.log(e);
			});
		}
		else
		{
			console.log("El tipo de archivo que intentaste subir no es una imagen");
		}
	}    

</script>



        <div class="row" style="margin:10px">
          <?php $proveedores = Load::model('proveedor')->find("columns: proveedor.id, proveedor.img, proveedor.link, proveedor_producto.producto_nombre","join: inner join proveedor_producto on proveedor.id = proveedor_producto.proveedor_id","conditions: proveedor_producto.producto_nombre='tickets' "); ?>

          <?php foreach ($proveedores as $proveedor):?>
            <a href="<?php echo $proveedor->link ?>" target="_blank"><?php echo DwHtml::img("upload/proveedores/$proveedor->img", "img", array('id'=>'img-proveedor','class'=>'img-responsive','width'=>'32px','style'=>'float:left;margin-right:5px;')); ?></a>
          <?php endforeach; ?>
        </div>
      <?php echo DwForm::open() ?>
        <div class="row">
            <div class="col-md-6"><?php echo DwForm::text("cotizacion_item.origen", array('class'=>'input-required','autocomplete'=>'off'), NULL,"Origen");?></div>
            <div class="col-md-6"><?php echo DwForm::text("cotizacion_item.destino", array('class'=>'input-required','autocomplete'=>'off'), NULL,"Destino");?></div>
        </div>
        <div class="row">
            <div class="col-md-3"><?php echo DwForm::date('cotizacion_item.fechain', array('class'=>'input-required'), date("Y-m-d"), 'Fecha Ida'); ?></div>
            <div class="col-md-3"><?php echo DwForm::date('cotizacion_item.fecha_out', array('class'=>'input-required'), date("Y-m-d"), 'Fecha Llegada'); ?></div>
            <div class="col-md-3"><?php echo DwForm::number("cotizacion_item.adultos", array('class'=>'input-required item_adultos'), NULL,"Adultos");?></div>
            <div class="col-md-3"><?php echo DwForm::number("cotizacion_item.infantes", array('class'=>'input-required item_infantes'), NULL,"Menores");?></div>
        </div>
        <div class="row" style="border-top: 1px solid #cccccc;border-bottom: 1px solid #cccccc;margin-top: 10px;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
            <div class="col-md-12 text-center">
                <label class="radio-inline">
                    <input type="radio" onclick="selectTipo()" name="inlineRadioOptions" id="inlineRadio1" value="nacional"> <b>NACIONAL</b>
                </label>
                <label class="radio-inline">
                    <input type="radio" onclick="selectTipo()" name="inlineRadioOptions" id="inlineRadio2" value="internacional"><b>INTERNACIONAL</b>
                </label>
            </div>
        </div>
<!--NACIONAL-->
        <div class="row" id="nacional" style="margin-bottom: 10px;display: none">
            <div class="col-md-6">
                <div class="col-md-12"><?php echo DwForm::number("item.valor", array('class'=>' valor_ticket','data'=>'valor_ticket'), NULL,"Valor Tiquete");?></div>
                <div class="col-md-6"><?php echo DwForm::number("item.utilidad", array('class'=>' utilidad_ticket_valor','data'=>'utilidad_ticket_valor'), NULL,"TA+IVA");?></div>
                <div class="col-md-6"><?php echo DwForm::number("item.fee", array('class'=>' utilidad_ticket_valor fee_nacional','data'=>'utilidad_ticket_valor'), NULL,"FEE");?></div>
                <div class="col-md-12"><?php echo DwForm::number("item.valor_total", array('class'=>' valor_total_ticket','data'=>'valortotal_ticket'), NULL,"Valor total X <span id='cpersonas' style='color:red;'></span> ");?></div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12"><h3>Tarifa Administrativa + Iva</h3></div>
                <div class="col-md-12">
                    <div class="btn-group">
                        <label class="btn btn-sm btn-primary">
                            <input onclick="nacional()" type="radio" name="nacionalOptions" id="nacionalOption1" value="<?php echo TARIFA_OW ;?>"> OW
                        </label>
                        <label class="btn btn-sm btn-primary">
                            <input onclick="nacional()" type="radio" name="nacionalOptions" id="nacionalOption2" value="<?php echo TARIFA_RT ;?>"> RT
                        </label>
                    </div>
                </div>
                <div class="col-md-12"><h3>Fee de Emisión</h3></div>
                <div class="col-md-12">
                    <div class="btn-group">
                        <label class="btn btn-sm btn-primary">
                            <input onclick="nacional()" type="radio" name="FeeNacionalOptions" id="inlineRadio2" value="0"> NO FEE
                        </label>
                        <label class="btn btn-sm btn-primary">
                            <input onclick="nacional()" type="radio" name="FeeNacionalOptions" id="inlineRadio3" value="<?php echo FEE_NACIONAL1 ;?>"> $<?php echo FEE_NACIONAL1 ;?>
                        </label>
                    </div>
                </div>
            </div>
        </div>
<!--INTERNACIONAL-->
        <div class="row" id="internacional" style="margin-bottom: 10px;display: none">
            <div class="col-md-6">
                <div class="col-md-12"><?php echo DwForm::number("item.valor", array('class'=>'valor_ticket_internacional','data'=>'valor_ticket'), NULL,"Valor Tiquete COP");?></div>
                <div class="col-md-6"><?php echo DwForm::number("item.utilidad", array('class'=>'utilidad_ticket_valor_internacional','data'=>'utilidad_ticket_valor'), NULL,"TA+IVA - USD");?></div>
                <div class="col-md-6"><?php echo DwForm::number("item.fee", array('class'=>' fee_internacional','data'=>'utilidad_ticket_valor'), NULL,"FEE - USD");?></div>
                <div class="col-md-12"><?php echo DwForm::number("item.valor_total", array('class'=>'valor_total_ticket_internacional','data'=>'valortotal_ticket'), NULL,"Valor total COP X <span id='cpersonas_internacional' style='color:red;'></span> ");?></div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12"><h3>TRM $<span id="dolar"><?php echo $dolar;?></span></h3></div>

                <div class="col-md-12"><h4>Tarifa Administrativa + Iva</h4></div>
                <div class="col-md-12">


                    <div class="btn-group">
                      <label class="btn btn-sm btn-primary">
                        <input onclick="internacional()" type="radio" autocomplete="off" name="FeeInternacionalOptions" id="inlineRadio1" value="<?php echo FEE_INTER_USD1 ;?>"> USD<?php echo FEE_INTER_USD1 ;?>
                      </label>
                      <label class="btn btn-sm btn-primary">
                        <input onclick="internacional()" type="radio" autocomplete="off" name="FeeInternacionalOptions" id="inlineRadio2" value="<?php echo FEE_INTER_USD2 ;?>"> USD<?php echo FEE_INTER_USD2 ;?>
                      </label>
                      <label class="btn btn-sm btn-primary">
                        <input onclick="internacional()" type="radio" autocomplete="off" name="FeeInternacionalOptions" id="inlineRadio3" value="<?php echo FEE_INTER_USD3 ;?>"> USD<?php echo FEE_INTER_USD3 ;?>
                      </label>
                      <label class="btn btn-sm btn-primary">
                        <input onclick="internacional()" type="radio" autocomplete="off" name="FeeInternacionalOptions" id="inlineRadio4" value="<?php echo FEE_INTER_USD4 ;?>"> USD<?php echo FEE_INTER_USD4 ;?>
                      </label>
                    </div>

                </div>
                <div class="col-md-12"><h4>Fee de Emisión</h4></div>
                <div class="col-md-12">
                    <div class="btn-group">
                        <label class="btn btn-sm btn-primary">
                            <input onclick="internacional()" type="radio" name="InternacionalOptionsFee" id="inlineRadio2" value="0"> NO FEE
                        </label>
                        <label class="btn btn-sm btn-primary">
                            <input onclick="internacional()" type="radio" name="InternacionalOptionsFee" id="inlineRadio3" value="<?php echo FEE_INTERNACIONAL ;?>"> USD<?php echo FEE_INTERNACIONAL ;?>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <textarea id="cotizacion_item_descripcion" class="summernoteTicket" name="cotizacion_item[descripcion]"><?php if(isset($cotizacion_item->descripcion)){ echo $cotizacion_item->descripcion;} ;?></textarea>
            </div>
        </div>
<!--Mascara-->
        <div class="row" style="border-top: 1px solid #cccccc;border-bottom: 1px solid #cccccc;margin-top: 10px;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
            <div class="col-md-12">
                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Mascara de tarifas.
                </button>
                <div class="collapse" id="collapseExample">
                    <textarea class="summernoteTicketMascara" name="cotizacion_item[mascara_tarifa]"><?php if(isset($cotizacion_item->mascara_tarifa)){ echo $cotizacion_item->mascara_tarifa;} ;?></textarea>
                </div>
            </div>
        </div>
<!--fin mascara-->
        <div class="row">
            <center>
                <?php echo DwForm::hidden("cotizacion_item.producto_id",NULL,"1") ?>
                <?php echo DwForm::hidden("cotizacion_item.producto",NULL,"TICKET") ?>

                <?php echo DwForm::hidden("cotizacion_item.valor",array('class'=>'cotizacion_item_valor')) ?>
                <?php echo DwForm::hidden("cotizacion_item.utilidad",NULL) ?>
                <?php echo DwForm::hidden("cotizacion_item.fee",NULL) ?>
                <?php echo DwForm::hidden("cotizacion_item.valor_total",array('class'=>'cotizacion_item_valor_total')) ?>

                <?php echo DwForm::submit("$btext TICKET", array('class'=>'btn btn-primary btn-lg btn-block text-bold','Onclick'=>'valores()'));?>
                <?php echo DwForm::focus('cotizacion_item.origen'); ?>
                <!--<button type="button" onclick="valores()">Submit test</button>-->
            </center>
        </div>
        <?php echo DwForm::close();?>
        <script>
            function selectTipo(){
                var selectedOption = $("input:radio[name=inlineRadioOptions]:checked").val();


                if(selectedOption == "nacional"){
                    document.getElementById('nacional').style.display = "block";
                    document.getElementById('internacional').style.display = "none";

                    document.getElementsByClassName('valor_ticket')[0].style.display = "form-control input-required valor_ticket";
                    document.getElementsByClassName('utilidad_ticket_valor')[0].className = "form-control input-required utilidad_ticket_valor";
                    document.getElementsByClassName('valor_total_ticket')[0].className = "form-control input-required valor_total_ticket";

                    document.getElementsByClassName('valor_ticket_internacional')[0].style.display = "valor_ticket_internacional";
                    document.getElementsByClassName('utilidad_ticket_valor_internacional')[0].className = "utilidad_ticket_valor_internacional";
                    document.getElementsByClassName('valor_total_ticket_internacional')[0].className = "valor_total_ticket_internacional";


                }else{
                    document.getElementById('nacional').style.display = "none";
                    document.getElementById('internacional').style.display = "block";

                    document.getElementsByClassName('valor_ticket')[0].style.display = "valor_ticket";
                    document.getElementsByClassName('utilidad_ticket_valor')[0].className = "utilidad_ticket_valor";
                    document.getElementsByClassName('valor_total_ticket')[0].className = "valor_total_ticket";


                    document.getElementsByClassName('valor_ticket_internacional')[0].style.display = "form-control input-required valor_ticket_internacional";
                    document.getElementsByClassName('utilidad_ticket_valor_internacional')[0].className = "form-control input-required utilidad_ticket_valor_internacional";
                    document.getElementsByClassName('valor_total_ticket_internacional')[0].className = "form-control input-required valor_total_ticket_internacional";

                }
            }

            function nacional(){
                var selectedOption = $("input:radio[name=nacionalOptions]:checked").val();
                var valor = document.getElementsByClassName('valor_ticket')[0].value;

                var adultos = document.getElementsByClassName('item_adultos')[0].value;
                var infantes = document.getElementsByClassName('item_infantes')[0].value;
                var Cpersonas = (parseFloat(adultos))+(parseFloat(infantes));
                document.getElementById('cpersonas').innerHTML = Cpersonas;


                if ($('input:radio[name=nacionalOptions]:checked').length > 0) {
                    document.getElementsByClassName('utilidad_ticket_valor')[0].setAttribute("value", selectedOption);
                    var utilid = document.getElementsByClassName('utilidad_ticket_valor')[0].value;
                    var fee_n = document.getElementsByClassName('fee_nacional')[0].value;
                    var fee = parseInt(fee_n) || 0;
                    document.getElementsByClassName('fee_nacional')[0].setAttribute("value", 0);
                    var r_valor = (parseFloat(valor) + parseFloat(fee) + parseFloat(utilid));
                    var r_valor =(parseFloat(r_valor) * parseFloat(Cpersonas));
                    document.getElementsByClassName('valor_total_ticket')[0].setAttribute("value", r_valor);

                }

                var selectedOptionFee = $("input:radio[name=FeeNacionalOptions]:checked").val();
                if ($('input:radio[name=FeeNacionalOptions]:checked').length > 0) {
                    document.getElementsByClassName('fee_nacional')[0].setAttribute("value", selectedOptionFee);
                    var fee_n = document.getElementsByClassName('fee_nacional')[0].value;
                    var fee = parseInt(fee_n) || 0;
                    var r_valor = (parseFloat(valor) + parseFloat(fee) + parseFloat(utilid));
                    var r_valor =(parseFloat(r_valor) * parseFloat(Cpersonas));
                    document.getElementsByClassName('valor_total_ticket')[0].setAttribute("value", r_valor);

                }
            }

            function internacional(){
                var adultos = document.getElementsByClassName('item_adultos')[0].value;
                var infantes = document.getElementsByClassName('item_infantes')[0].value;
                var Cpersonas = (parseFloat(adultos))+(parseFloat(infantes));
                document.getElementById('cpersonas_internacional').innerHTML = Cpersonas;
//                console.log(Cpersonas);

                var selectedOptionFee = $("input:radio[name=FeeInternacionalOptions]:checked").val();

                if ($('input:radio[name=FeeInternacionalOptions]:checked').length > 0) {
                    var utilid = document.getElementsByClassName('utilidad_ticket_valor_internacional')[0].value;
                    var utilidad = parseInt(utilid) || 0;

                    var r_fee = (parseFloat(selectedOptionFee * parseFloat(<?php echo IVA ;?>) / 100 + parseFloat(selectedOptionFee) ) );
                    var r_fee=  Math.round(r_fee);
                    document.getElementsByClassName('utilidad_ticket_valor_internacional')[0].setAttribute("value", r_fee);

                    var utilid = document.getElementsByClassName('utilidad_ticket_valor_internacional')[0].value;

                    var dolar = document.getElementById('dolar').innerHTML;

                    var selectedOptionFeeInternacional = $("input:radio[name=InternacionalOptionsFee]:checked").val();
                    if ($('input:radio[name=InternacionalOptionsFee]:checked').length > 0) {
                        document.getElementsByClassName('fee_internacional')[0].setAttribute("value", selectedOptionFeeInternacional);
                    }else{
                        document.getElementsByClassName('fee_internacional')[0].setAttribute("value", 0);
                    }

                    var valor = document.getElementsByClassName('valor_ticket_internacional')[0].value;
                    var fee = document.getElementsByClassName('fee_internacional')[0].value;
                    var r_valor = (parseFloat(r_fee) + parseFloat(fee) );
                    var r_valor_dolar = (parseFloat(r_valor)* parseInt(dolar));
                    var t_valor =(parseFloat(r_valor_dolar) + parseFloat(valor));
                    var t_valor =(parseFloat(t_valor) * parseFloat(Cpersonas));
//                    console.log(t_valor);

                    document.getElementsByClassName('valor_total_ticket_internacional')[0].setAttribute("value", t_valor);
                }
            }

            function valores(){
              var selectedOption = $("input:radio[name=inlineRadioOptions]:checked").val();

                if(selectedOption == "nacional"){
                    var valorN = document.getElementsByClassName('valor_ticket')[0].value;
                    var utilidadN = document.getElementsByClassName('utilidad_ticket_valor')[0].value;
                    var feeN = document.getElementsByClassName('fee_nacional')[0].value;
                    var ValorTotalTicketN = document.getElementsByClassName('valor_total_ticket')[0].value;

                    //Cambio input  cotizacion_item_valor
                    document.getElementsByClassName('cotizacion_item_valor')[0].value =valorN;

                    //cambio input cotizacion_item.utilidad
                    document.getElementById('cotizacion_item_utilidad').value =utilidadN;


                    //cambio input cotizacion_item.fee
                    document.getElementById('cotizacion_item_fee').value =feeN;

                    //cambio input cotizacion_valor_total
                    document.getElementsByClassName('cotizacion_item_valor_total')[0].value =ValorTotalTicketN;


                }else{
                    var valorI = document.getElementsByClassName('valor_ticket_internacional')[0].value;
                    var utilidadI = document.getElementsByClassName('utilidad_ticket_valor_internacional')[0].value;
                    var feeI = document.getElementsByClassName('fee_internacional')[0].value;
                    var ValorTotalTicketI = document.getElementsByClassName('valor_total_ticket_internacional')[0].value;

                    //Cambio input  cotizacion_item_valor
                    document.getElementsByClassName('cotizacion_item_valor')[0].value =valorI;

                    //cambio input cotizacion_item.utilidad
                    document.getElementById('cotizacion_item_utilidad').value =utilidadI;


                    //cambio input cotizacion_item.fee
                    document.getElementById('cotizacion_item_fee').value =feeI;

                    //cambio input cotizacion_valor_total
                    document.getElementsByClassName('cotizacion_item_valor_total')[0].value =ValorTotalTicketI;

                }

            }

        </script>