<?php View::flash(); ?>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">
<?php // echo Tag::js('md5').PHP_EOL; ?>

<style type="text/css">
[v-cloak]{
  display: none;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.product-box{cursor: pointer;}
a .img-thumbnail:hover { border-color: #337ab7 !important;}
a .img-thumbnail:hover { border: 2px solid; }
img .activeVisa { border-color: #337ab7 !important; border: 2px solid !important;}


.switchBtn {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 34px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f00;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    right: 6px;
    /* left: 78px; */
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #4caf50;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}

.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}

.modal.fade .modal-dialog{
   -webkit-transform: inherit;
}

</style>


<div class="container shell-view">
    <?php View::process($page_module, $page_title, $set_title); ?>

    <!-- START APP VUE -->
    <div id="app" v-cloak>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#modalFormato" ><i class="fa fa-file-text"></i> FORMATOS</button>
                <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#modalVisa" ><i class="fa fa-file-text"></i> CREAR SOLICITUD VISA</button>
            </div>
        </div>
              

        <!-- Modal Formato -->
        <div class="modal fade" id="modalFormato" tabindex="-1" role="dialog" aria-labelledby="modalFormato">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Formato Visa</h4>
                    </div>
                    <div class="modal-body">
                      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalCrearFormato"><i class="fa fa-file-text"></i> CREAR FORMATO VISA</button>                  
                      <hr>

                      <div>
                      <table class="table table-hover table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-center"><h4>NOMBRE</h4></th>
                                    <th class="text-center"><h4>COSTO CONSULARES</h4></th>
                                    <th class="text-center"><h4>COSTO SERVICIO</h4></th>
                                    <th class="text-center"><h4>ESTADO</h4></th>
                                    <th><h4>ACCIONES</h4></th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr v-for="item_formato in listVisaFormato">
                                        <td><img v-if="item_formato.img.length >1" :src="'../../img/upload/'+item_formato.img" class="img-circle" style="width:30px;height:30px;"></td>
                                        <td class="text-center">{{ item_formato.nombre }}</td>
                                        <td class="text-center">{{ item_formato.costo }}</td>
                                        <td class="text-center">{{ item_formato.costo_servicio }}</td>
                                        <td class="text-center">
                                            <span v-if="item_formato.estado >= 1" class="label label-success">Activo</span>
                                            <span v-else class="label label-danger">Cancelado</span>
                                        </td>
                                        <td>
                                        <button class="btn btn-sm btn-info" data-toggle="modal" :data-target="'#verFormatoVisa'+item_formato.id"><i class="fa fa-search"></i></button>
                                        
                                        <a class="btn btn-sm btn-warning" :href="'<?php echo DOMINIO ?>reporte/visa/formato/'+item_formato.id+'/'+item_formato.nombre+'/'" target="_blank"><i class="fa fa-send"></i></a>
                                        <button class="btn btn-sm- btn-default" v-on:click="editModalVisaFormato(item_formato)"><i class="fa fa-edit"></i></button>                                


                                            <!-- Modal Ver Formato Visa -->
                                            <div class="modal fade" :id="'verFormatoVisa'+item_formato.id" tabindex="-1" role="dialog" aria-labelledby="verFormatoVisa">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Ver Formato Visa</h4>
                                                </div>
                                                <div class="modal-body">
                                                        <div class="row" style="font-size: 1.5em;">
                                                            <div class="col-md-12">
                                                                <label>Nombre Visa</label>
                                                                <div>{{ item_formato.nombre }}</div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Costos Consulares</label>
                                                                {{ item_formato.costo}}
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Costo Servicio</label>
                                                                {{ item_formato.costo_servicio }}
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label>Requisitos</label>
                                                                <div v-html="item_formato.requisitos" style="border: 1px solid #ccc;padding: 10px;margin-bottom:20px;"></div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label>Formulario</label>
                                                                <embed v-if="item_formato.formulario !== ''" :src="'../../img/upload/'+item_formato.formulario" width=100% height='400'>
                                                            </div>                
                                                        </div>
                                                </div>
                                                </div>
                                            </div>
                                            </div>                                        
                                        </td>

                                    </tr>
                            </tbody>
                        </table>



                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div> <!-- FIN MODAL        -->


<!-- Modal Editar Formato Visa -->
<div class="modal fade" id="editFormatoVisa" tabindex="-1" role="dialog" aria-labelledby="editFormatoVisa">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Formato Visa</h4>
      </div>
      <div class="modal-body">
        <form method="POST" v-on:submit.prevent="actualizarVisaFormato"> 
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">            
                        <label for="nombre">Nombre Visa</label>
                        <input type="text" id="editVisaFormato_nombre" placeholder="" class="form-control" v-model="editVisaFormato.nombre" required="required" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">                                                    
                            <input type="file" name="file" id="file" class="inputfile" @change="previewImage" accept="image/*">
                            <h5><label for="file">Imagen Destacada <i class="fa fa-upload"></i></label></h5>
                            <div class="image-preview img-responsive text-center" v-if="editVisaFormato.img !== ''">
                            <!-- <img  v-if="editVisaFormato.img !== ''" class="img-thumbnail img-circle" :src="imageData" style="width:80px;height: 80px;"> -->
                            <img v-if="editVisaFormato.img.length >1" :src="'../../img/upload/'+editVisaFormato.img" class="img-thumbnail img-circle" style="width:80px;height: 80px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">            
                        <label for="nombre">Costos Consulares</label>
                        <input type="text" id="editVisaFormato_costo" placeholder="" class="form-control" v-model="editVisaFormato.costo" required="required" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">            
                        <label for="nombre">Costo Servicio</label>
                        <input type="text" id="editVisaFormato_costo_servicio" placeholder="" class="form-control" v-model="editVisaFormato.costo_servicio" required="required" required>
                    </div>
                </div> 
                <div class="col-md-12" style="margin-top:20px;">
                    <label>Requisitos</label>
                    <textarea name="descripcion" id="summernoteEditVisaFormato" class="form-control" type="text" v-model="editVisaFormato.requisitos"></textarea>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <input type="file" name="file" id="file" class="inputfile" @change="previewArchivo" accept="application/pdf">
                            <h5><label for="file">Formulario (Pdf) <i class="fa fa-upload"></i></label></h5>
                            <div class="image-preview img-responsive" v-if="editVisaFormato.formulario !== ''">
                            <embed v-if="editVisaFormato.formulario !== ''" :src="'../../img/upload/'+editVisaFormato.formulario" width=100% height='400'>
                            <!-- <embed v-if="editVisaFormato.formulario !== ''" :src="archivoData" width=100% height='400'> -->
                            </div>
                        </div>
                    </div>
                </div>                                                                                                                            
            </div>
            <button class="btn btn-block btn-success" type="submit"><i class="fa fa-plus"></i> EDITAR FORMATO VISA</button>
        </form>
      </div>
    </div>
  </div>
</div>         
<!-- Modal FIN Editar Formato Visa -->


        <!-- MODAL CREAR FORMATO -->
        <div class="modal fade" id="modalCrearFormato" tabindex="-1" role="dialog" aria-labelledby="modalCrearFormato">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Crear Formato Visa</h4>
                    </div>
                    <div class="modal-body">
                      <form method="POST" v-on:submit.prevent="crearFormatoVisa"> 
                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">            
                                  <label for="nombre">Nombre Visa</label>
                                  <input type="text" id="visa_formato_nombre" placeholder="" class="form-control" v-model="visa_formato.nombre" required="required" required>
                              </div>
                          </div>
                          <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <input type="file" name="file" id="file" class="inputfile" @change="previewImage" accept="image/*">
                                        <h5><label for="file">Imagen Destacada <i class="fa fa-upload"></i></label></h5>
                                        <div class="image-preview img-responsive text-center" v-if="visa_formato.img !== ''">
                                        <img v-if="visa_formato.img !== ''" class="img-thumbnail img-circle" :src="imageData" style="width:80px;height: 80px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <div class="col-md-6">
                              <div class="form-group">            
                                  <label for="nombre">Costos Consulares</label>
                                  <input type="text" id="visa_formato_costo" placeholder="" class="form-control" v-model="visa_formato.costo" required="required" required>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">            
                                  <label for="nombre">Costo Servicio</label>
                                  <input type="text" id="visa_formato_costo_servicio" placeholder="" class="form-control" v-model="visa_formato.costo_servicio" required="required" required>
                              </div>
                          </div> 
                            <div class="col-md-12" style="margin-top:20px;">
                                <label>Requisitos</label>
                                <textarea name="descripcion" id="summernote" class="form-control" type="text" v-model="visa_formato.requisitos"></textarea>
                            </div>
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <input type="file" name="file" id="file" class="inputfile" @change="previewArchivo" accept="application/pdf">
                                        <h5><label for="file">Formulario (Pdf) <i class="fa fa-upload"></i></label></h5>
                                        <div class="image-preview img-responsive" v-if="visa_formato.formulario !== ''">
                                        <embed v-if="visa_formato.formulario !== ''" :src="archivoData" width=100% height='400'>
                                        </div>
                                    </div>
                                </div>
                            </div>                                                                                                                            
                        </div>
                        <button class="btn btn-block btn-success" type="submit"><i class="fa fa-plus"></i> CREAR FORMATO VISA</button>
                      </form>
                       
                    </div>
                </div>
            </div>
        </div> 
        <!-- FIN CREAR FORMATO MODAL -->            




        <!-- Modal VISA -->
        <div class="modal fade" id="modalVisa" tabindex="-1" role="dialog" aria-labelledby="modalVisa">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Solicitud de Visa</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label><h4>Paso 1 Seleccione Cliente</h4></label>
                            </div>
                            <div class="col-md-12">
                                <label for="nombre">Buscar Cliente</label>
                                <input type="text" placeholder="Buscar Cliente..." class="form-control input-lg" v-model="buscador">
                                <div v-if="!buscador.length"></div>

                                <ul class="list-group" style="position: absolute;z-index: 1000;" v-else>
                                <a href="#" v-for="item in searchCliente" class="list-group-item" style="font-size: 1.2em" v-on:click.prevent="selectCliente(item)">
                                    {{ item.nombre }}
                                </a>
                                <a href="#" class="list-group-item text-bold" style="background:red; color:white;font-size: 1.2em" v-if="!searchCliente.length" v-on:click.prevent="createCliente(buscador)">
                                    <i class="fa fa-2x fa-exclamation-triangle" ></i> CLIENTE NO EXISTE. CREA UN CLIENTE. <i class="fa fa-2x fa-user-plus"> </i>
                                </a>
                                </ul>
                            </div>
                            
                            <div class="col-md-12" style="margin-top: 20px">
                                <div class="panel panel-default" >
                                    <div class="panel-body" style="background: #053c98;color: #fff;">
                                        <h4 class="text-bold">Cliente Seleccionado</h4>
                                        <div id="showCliente">
                                            <div class="" style="font-size: 1.3em" id="cliente_nombre"></div>
                                            <div class="" style="font-size: 1.3em" id="cliente_email"></div>
                                            <div class="" style="font-size: 1.3em" id="cliente_celular"></div>
                                        </div>

                                        <form method="POST" v-on:submit.prevent="formCreateCliente">
                                            <div id="createCliente" style="display: none;">
                                            <div><input class="form-control" placeholder="Nombre" type="text" id="nombre" name="nombre" v-model="newCliente" required="required"></div>
                                            <div><input class="form-control" placeholder="Telefono" type="text" id="telefono" name="telefono" v-model="newTelefono" required="required"></div>
                                            <div><input class="form-control" placeholder="Email" type="text" id="email" name="email" v-model="newEmail" required="required"></div>
                                            <a href="#" v-on:click.prevent="createCliente" class="btn btn-danger">Cerrar</a>
                                            <button type="submit" class="btn btn-success">Guardar Cliente</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <label><h4>Paso 2 Seleccione Tipo Visa</h4></label>
                                <div id="showProductosVisas" class="row" style="display:none;">
                                    <div v-for="item_FormatoVisa in listVisaFormato" class="col-md-2"><a href="#"  v-on:click.prevent="selectVisa(item_FormatoVisa)"><img v-if="item_FormatoVisa.img.length >1" :src="'../../img/upload/'+item_FormatoVisa.img" class="img-thumbnail" :id="'itemVisa'+item_FormatoVisa.id"></a></div>                                    
                                </div>
                                
                                <div id="showVisa"  style="display:none; margin-top:10px;">
                                    <div class="panel panel-default" >
                                        <div class="panel-body">
                                            <div>
                                                <h4 class="text-bold">Visa Seleccionada</h4>
                                                <div class="row">
                                                    <div class="col-md-4"><img id="imgVisa"  src="" class="img-thumbnail"></div>
                                                    <div class="col-md-8">
                                                        <div style="font-size: 2em" id="visa_nombre"></div>
                                                        <div style="font-size: 1.3em">Costos Consulares: <b><span id="visa_costo"></b></span></div>
                                                        <div style="font-size: 1.3em">Costo Servicio: <b><span id="visa_costo_servicio"></b></span></div>
                                                        <div style="margin-top:10px;"><button class="btn btn-lg btn-default" v-on:click.prevent="crearVisa">Crear Solicitud</button></div>
                                                    </div>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div> 
        <!-- FIN MODAL -->


    <!-- VISAS -->
        <div>
            <table class="table table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th class="text-center"><h5>ID</h5></th>
                        <th class="text-center"><h5>VISA</h5></th>
                        <th class="text-center"><h5>NOMBRE</h5></th>
                        <th class="text-center"><h5>CONTACTO</h5></th>
                        <th class="text-center"><h5>PERSONAS</h5></th>
                        <th class="text-center"><h5>FOTOS</h5></th>
                        <th class="text-center"><h5>FORMULARIOS</h5></th>
                        <th class="text-center"><h5>PASAPORTE</h5></th>
                        <th class="text-center"><h5>FECHA CITA</h5></th>
                        <th class="text-center"><h5>VISTO</h5></th>
                        <th><h5>ESTADO</h5></th>
                        <th><h5>ACCIONES</h5></th>
                    </tr>
                </thead>
                <tbody>
                        <tr v-for="item_visa in listVisa">
                            <td>{{ item_visa.id }}</td>
                            <td><img v-if="item_visa.img.length >1" :src="'../../img/upload/'+item_visa.img" class="img-circle" style="width:30px;height:30px;"></td>
                            <td class="text-left"><span data-toggle="modal" v-on:click.prevent="addIdSelect(item_visa.cliente_id, item_visa.id)" :data-target="'#modalPersonaVisa'+item_visa.id"  style="cursor:pointer">{{ item_visa.nombre }}</span></td>
                            <td class="text-center">{{ item_visa.cliente_celular }}</td>
                            <td class="text-center">{{ item_visa.personas }}</td>
                            <td class="text-center"><i class="fa fa-2x fa-check" style="color:#5cb85c;" v-if="item_visa.foto.length >=1"></i> <i class="fa fa-2x fa-remove" style="color:red;" v-else></i> </td>
                            <td class="text-center"><i class="fa fa-2x fa-check" style="color:#5cb85c;" v-if="item_visa.formulario.length >=1"></i> <i class="fa fa-2x fa-remove" style="color:red;" v-else></i> </td>
                            <td class="text-center"><i class="fa fa-2x fa-check" style="color:#5cb85c;" v-if="item_visa.pasaporte.length >=1"></i> <i class="fa fa-2x fa-remove" style="color:red;" v-else></i> </td>
                            <td class="text-center">{{ item_visa.fecha_cita1 }}</td>
                            <td class="text-center"><span v-if="item_visa.visita_cliente >=1" style="color:#23a5fd;">{{ item_visa.visita_cliente}} <i class="fa fa-check" style="margin-right: -5px;"></i><i class="fa fa-check"></i></span></td>
                            <td class="text-center">
                                <span v-if="item_visa.estado_solicitud <= 1" class="label label-info">Consulta</span>
                                <span v-if="item_visa.estado_solicitud == 2" class="label label-warning">En Proceso</span>
                                <span v-if="item_visa.estado_solicitud == 3" class="label label-success">Agendado</span>
                                <span v-if="item_visa.estado_solicitud == 4" class="label label-success">Aprobada</span>
                                <span v-if="item_visa.estado_solicitud == 5" class="label label-danger">Denegada</span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-info" data-toggle="modal" v-on:click.prevent="addIdSelect(item_visa.cliente_id, item_visa.id)" :data-target="'#modalPersonaVisa'+item_visa.id"><i class="fa fa-search"></i></button>
                                <a v-if="item_visa.url_corta.length >0" class="btn btn-md btn-success" :href="'https://api.whatsapp.com/send?phone=57'+item_visa.cliente_celular+'&text='+item_visa.url_corta" target="_blank"><i class="fa fa-whatsapp"></i></a>

    <!-- Modal -->
    <div class="modal fade" :id="'modalPersonaVisa'+item_visa.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">DETALLE SOLICITUD</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                        <div class="panel-heading"><strong><i class="fa fa-star"></i> Acciones</strong></div>
                        <div class="panel-body">
                            <div class="text-center"><h4>Solicitud {{item_visa.visa_nombre }} </h4></div>
                            <form method="POST" v-on:submit.prevent="actualizarVisaEstados(item_visa)"> 
                                
                                <label class="switchBtn" v-if="item_visa.estado_solicitud == 4 || item_visa.estado_solicitud == 5">
                                    <input type="checkbox" v-model="item_visa.foto" disabled>
                                    <div class="slide round">Fotos</div>
                                </label>
                                <label class="switchBtn" v-else>
                                    <input type="checkbox" v-model="item_visa.foto">
                                    <div class="slide round">Fotos</div>
                                </label>


                                <label class="switchBtn" v-if="item_visa.estado_solicitud == 4 || item_visa.estado_solicitud == 5">                                
                                        <input type="checkbox" v-model="item_visa.pasaporte" disabled>
                                    <div class="slide round">Pasaporte</div>
                                </label>
                                <label class="switchBtn" v-else>                                
                                        <input type="checkbox" v-model="item_visa.pasaporte">
                                    <div class="slide round">Pasaporte</div>
                                </label>



                                <label class="switchBtn" v-if="item_visa.estado_solicitud == 4 || item_visa.estado_solicitud == 5">
                                    <input type="checkbox" v-model="item_visa.formulario" disabled>
                                    <div class="slide round">Formularios</div>
                                </label>
                                <label class="switchBtn" v-else>
                                    <input type="checkbox" v-model="item_visa.formulario" >
                                    <div class="slide round">Formularios</div>
                                </label>                                



                                <label class="switchBtn" v-if="item_visa.estado_solicitud == 4 || item_visa.estado_solicitud == 5">
                                    <input type="checkbox" v-model="item_visa.derecho_consular" disabled>
                                    <div class="slide round">Consulares</div>
                                </label>
                                <label class="switchBtn" v-else>
                                    <input type="checkbox" v-model="item_visa.derecho_consular" >
                                    <div class="slide round">Consulares</div>
                                </label>                                


                                <label class="switchBtn" v-if="item_visa.estado_solicitud == 4 || item_visa.estado_solicitud == 5" style="margin-bottom:10px;">
                                    <input type="checkbox" v-model="item_visa.fecha_cita1" disabled>
                                    <div class="slide round">Fecha Cita</div>
                                </label> 
                                <label class="switchBtn" v-else>
                                    <input type="checkbox" v-model="item_visa.fecha_cita1" >
                                    <div class="slide round">Fecha Cita</div>
                                </label> 
                                
                                
                                <span v-if="item_visa.fecha_cita1 == true || item_visa.fecha_cita1.length >1  ">
                                <hr>
                                    <div class="text-center"><h5>Fecha Cita 1</h5>
                                        <input class="form-control" type="datetime-local" v-model="item_visa.fecha_cita1" v-on:change="selectDate()" v-if="item_visa.estado_solicitud == 4 || item_visa.estado_solicitud == 5" disabled>
                                        <input class="form-control" type="datetime-local" v-model="item_visa.fecha_cita1" v-on:change="selectDate()" v-else>
                                    </div>

                                    <div class="text-center"><h5>Fecha Cita 2</h5>
                                        <input class="form-control" type="datetime-local" v-model="item_visa.fecha_cita2" v-if="item_visa.estado_solicitud == 4 || item_visa.estado_solicitud == 5" disabled>
                                        <input class="form-control" type="datetime-local" v-model="item_visa.fecha_cita2" v-else>
                                    </div>
                                </span> 
                                <hr>
                                <label>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-md-7"><h4>Personas</h4></div>
                                        <div class="col-md-5">
                                            <input type="number" v-model="item_visa.personas" class="form-control" v-if="item_visa.estado_solicitud == 4 || item_visa.estado_solicitud == 5" disabled>
                                            <input type="number" v-model="item_visa.personas" class="form-control" v-else>
                                        </div>
                                    </div>                                                                
                                </label> 

                                <label>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-md-7"><h4>Valor Servicio</h4></div>
                                        <div class="col-md-5">
                                            <input type="number" v-model="item_visa.valor_servicio" class="form-control" v-if="item_visa.estado_solicitud == 4 || item_visa.estado_solicitud == 5" disabled>
                                            <input type="number" v-model="item_visa.valor_servicio" class="form-control" v-else>
                                        </div>
                                    </div>                                                                
                                </label>                                 

                                <span v-if="item_visa.foto == true && item_visa.pasaporte == true && item_visa.formulario == true || item_visa.derecho_consular == true || item_visa.fecha_cita1 == true ">
                                    <hr>
                                    <h4 class="text-center">Estado Solicitud</h4>
                                         
                                    <div>
                                        <label class="btn btn-block btn-info">
                                            <input type="radio" value="1" v-model="item_visa.estado_solicitud" style="display:none;"> CONSULTA
                                        </label>                                                                         
                                        <label class="btn btn-block btn-warning">
                                            <input type="radio" value="2" v-model="item_visa.estado_solicitud" style="display:none;"> EN PROCESO
                                        </label>
                                        <label class="btn btn-block btn-success">
                                            <input type="radio" value="3" v-model="item_visa.estado_solicitud" style="display:none;"> AGENDADO
                                        </label>
                                        <span v-if="item_visa.estado_solicitud <= 1"><h4 class="text-center">CONSULTA</h4></span>
                                        <span v-if="item_visa.estado_solicitud == 2"><h4 class="text-center">EN PROCESO</h4></span>
                                        <span v-if="item_visa.estado_solicitud == 3"><h4 class="text-center">AGENDADO</h4></span>
                                        <span v-if="item_visa.estado_solicitud == 4"><h4 class="text-center">PROBADO</h4></span>
                                        <span v-if="item_visa.estado_solicitud == 5"><h4 class="text-center">DENEGADA</h4></span>
                                    </div>
                                </span>   
                                <hr>


                                <div style="margin-top:10px;"><button type="submit" class="btn btn-block btn-info">Actualizar Estados</button></div>
                                
                                <div style="margin-top:20px;">
                                    <div><label>Link Whatsapp</label></div>
                                    <a :href="item_visa.url_corta" target="_blank">{{item_visa.url_corta}}</a>
                                    <a v-if="item_visa.url_corta.length >0" class="btn btn-md btn-success" :href="'https://api.whatsapp.com/send?phone=57'+item_visa.cliente_celular+'&text='+item_visa.url_corta" target="_blank"><i class="fa fa-whatsapp"></i></a>                            
                                </div>
                            </form>

                        </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading"><strong><i class="fa fa-upload"></i> Cargar Archivos</strong></div>
                            <div class="panel-body">
                                <input type="text" class="form-control" placeholder="Nombre Archivo" v-model="fileDataNombre">
                                <div id="fileUploadV"><input type="file" name="file" class="inputfile" @change="uploadFile" accept="image/jpeg,image/gif,image/png,application/pdf" style="margin-top: 20px;"></div>
                                <h5><label for="file">Adjuntos PDF, PNG, JPG <i class="fa fa-upload"></i></label></h5>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Adjuntos Cargados</strong> <small> </small></div>
                            <div class="panel-body">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="col-md-11">Archivos </th>
                                            <th class="col-md-1 col-blocked"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item_adjunto in listVisaAdjuntos">
                                            <td class="text-left"><a :href="'../../img/upload/'+item_adjunto.archivo" target="_blank">{{ item_adjunto.nombre_archivo }} <p style="font-size: 0.7em;"></p></a></td>
                                            <td class="text-left"><a :href="'../../img/upload/'+item_adjunto.archivo" target="_blank"><i class="fa fa-download"></i></a></td>
                                        </tr>                                    
                                    </tbody>
                                </table>
                                <br />
                            </div>
                        </div>                        

                    </div>
                    <div class="col-md-8">
                        <h3>
                            {{ item_visa.nombre }} <img v-if="item_visa.img.length >1" :src="'../../img/upload/'+item_visa.img" class="img-circle" style="width:25px;height:25px;">
                        </h3>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="label label-info" v-if="item_visa.estado_solicitud <= 1">CONSULTA</span>
                                <span class="label label-warning" v-if="item_visa.estado_solicitud == 2">EN PROCESO</span>
                                <span class="label label-success" v-if="item_visa.estado_solicitud == 3">AGENDADO</span>
                                <span class="label label-success" v-if="item_visa.estado_solicitud == 4">APROBADA</span>
                                <span class="label label-danger" v-if="item_visa.estado_solicitud == 5">DENEGADO</span>
                            </div>
                            <div class="col-md-6"><h6>Asesor Comercial: {{ item_visa.usuario }}</h6></div>
                            <div class="col-md-6"><h5>{{ item_visa.visa_at }}</h5></div> 

                        </div>
                        <div class="panel panel-default" style="margin-bottom:0px;">
                            <div class="panel-heading">
                                <strong><i class="fa fa-calendar"></i> Historial</strong>
                                <form method="POST" v-on:submit.prevent="crearHistorialVisa(item_visa.cliente_id, item_visa.id)">
                                    <textarea placeholder="Detalle" class="form-control" v-model="visa_historial.detalle" required="required" required></textarea>
                                    <button type="submit" class="btn btn-block btn-success">Agregar</button>
                                </form>
                            </div>
                        </div>


                        <!-- TABLA HISTORIAL-->                        
                        <table class="table table-hover table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th class="text-left"><h5>FECHA</h5></th>
                                    <th class="text-left"><h5>DETALLE</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item_historial in item_visa.historial">
                                    <td class="text-left" style="width: 150px;">{{ item_historial.visa_historial_at }} <p style="font-size: 0.7em;">{{ item_historial.usuario }}</p></td>
                                    <td class="text-left"><span v-html="item_historial.detalle"></span> <span v-if="item_historial.archivo.length >1"><a :href="'../../img/upload/'+item_historial.archivo" target="_blank"><i class="fa fa-download"></i></a></span></td>
                                </tr>
                            </tbody>
                        </table>                                                
                        <!-- FIN TABLA HISTORIAL -->
                        
                        <div class="row"  v-if="item_visa.estado_solicitud >= 3">
                            <div class=" col-md-12 text-center"><h3>Cual fue el resultado final de la solicitud</h3></div>
                            <div class="col-md-6" v-if="item_visa.estado_solicitud < 4">
                                <label class="btn btn-lg btn-block btn-success">
                                    <input type="radio" value="4" v-model="item_visa.estado_solicitud" style="display:none;"> APROBADA
                                </label>                             
                            </div>
                            <div class="col-md-6" v-if="item_visa.estado_solicitud < 4">
                                <label class="btn btn-lg btn-block btn-danger">
                                    <input type="radio" value="5" v-model="item_visa.estado_solicitud" style="display:none;"> DENEGADA
                                </label>                            
                            </div>
                            <div class="col-md-12 text-center">
                                <span class="label label-lg label-success" v-if="item_visa.estado_solicitud == 4">APROBADA</span>
                                <span class="label label-lg label-danger" v-if="item_visa.estado_solicitud == 5">DENEGADO</span>
                            </div>                                                                 

                        </div>
                    </div>
                </div>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        </div>
    </div>

                            </td>
                           
                        </tr>
                </tbody>
            </table>
        </div>
        <!-- loader -->
        <div class="sk-cube-grid" v-if="listVisa.length === 0">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
        <!-- fin loader -->  

        <!-- FIN VISAS -->


    </div>
    <!-- FIN APP VUE -->

</div>  <!-- FIN CONTENEDOR -->





  <script type="text/javascript">
    var urlVisaFormato = "<?php echo DOMINIO ?>api/visa_formato/";
    var urlVisa = "<?php echo DOMINIO ?>api/visa/";
    var urlVisaHistorial = "<?php echo DOMINIO ?>api/visa_historial/";
    var urlImgUpload = "<?php  echo DOMINIO ?>api/img_upload/";
    var urlFileUpload = "<?php  echo DOMINIO ?>api/file_upload/";
    var urlAdjuntarArchivo = "<?php  echo DOMINIO ?>api/adjuntar_archivo/";
    var urlClientes = "<?php  echo DOMINIO ?>api/clientes/";
    
    new Vue({
      el: '#app',
      created: function() {
        this.getFormatoVisa();
        this.getVisa();
        this.getClientes();
      },
      data: {
        listVisaFormato: [],
        listVisa: [],
        listClientes:[],
        listHistorial:[],
        listVisaAdjuntos:[],
        visa_formato:{
          nombre:'',
          requisitos:'',
          costo:'',
          costo_servicio:'',
          formulario:'',
          img:'',
        },
        editVisaFormato:{
          nombre:'',
          requisitos:'',
          costo:'',
          costo_servicio:'',
          formulario:'',
          img:'',
        },
        visa_historial:{
            detalle:'',
            visa_id:'',
            cliente_id:''
        },
        editVisa:{
            foto:'',
            pasaporte:'',
            formulario:'',
            derecho_consular:'',
            fechas:'',
            fecha_cita1:'',
            fecha_cita2:'',
            personas:'',
            estado_solicitud:'',
            valor_servicio:'',
            estado:''
        },
        imageData:'',
        archivoData:'',
        uploadImagen:'',
        uploadAchivo:'',
        fileData:'',
        fileDataNombre:'',
        buscador: '',
        newClienteId: '',
        newCliente: '',
        newTelefono: '',
        newEmail: '',
        visa_id:'',
        costo_servicio:'',
        clienteIdSelect:'', 
        visaIdSelect:'',       
        errors: []
      },
      methods: {
        getFormatoVisa: function() {
          axios.get(urlVisaFormato).then(response => {
            this.listVisaFormato = response.data
          });
        },
        getVisa: function() {
          axios.get(urlVisa).then(response => {
            this.listVisa = response.data;
            // console.log(response.data);
          });
        }, 
        getClientes: function() {
          axios.get(urlClientes).then(response => {
            this.listClientes = response.data
          });
        },   
        getVisaHistorial: function(id) {
          axios.get(urlVisaHistorial+id).then(response => {
            this.listHistorial = response.data.visa_historial
          });
        },  
        getVisaAdjuntos: function(id){
            axios.get(urlFileUpload+id).then(response => {
                this.listVisaAdjuntos = response.data.visa_adjuntos
            });
        },                    
        crearFormatoVisa: function(){
            this.visa_formato.requisitos = $('#summernote').summernote('code');
            axios.post(urlVisaFormato,
                {
                    visa_formato:  this.visa_formato,
                },
                {
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                    // console.log(response.data);
                    toastr.success('Formato Visa Agregada.');                 
                    this.getFormatoVisa();
                    $('#modalCrearFormato').modal('hide');
                    this.visa_formato = {
                        nombre:'',
                        costo:'',
                        costo_servicio:'',
                        requisitos:'',
                        formulario:'',
                        img:''
                    };
                    this.imageData ='';
                    this.archivoData ='';
                    this.errors = [];            
                }).catch(error =>{
                    // console.log(error.response)
                    // this.errors = error.response.data;
                });
        },
        previewImage: function(event) {
            // Reference to the DOM input element
            var input = event.target;
            // Ensure that you have a file before attempting to read it
            if (input.files && input.files[0]) {
                // create a new FileReader to read this image and convert to base64 format
                var reader = new FileReader();
                // Define a callback function to run, when FileReader finishes its job
                reader.onload = (e) => {
                    // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                    // Read image as base64 and set to imageData
                    this.imageData = e.target.result;

                    // SUBO LA IMAGEN
                    axios.post(urlImgUpload,
                      {
                        archivo: this.imageData,
                        id: 1
                      },
                      {
                        headers: {
                          'Content-Type': 'application/json',
                      }}).then(response => {
                        this.visa_formato.img = response.data.filename;
                        this.uploadImagen = response.data.filename;
                        toastr.success('Imagen Cargado Exitosamente');

                        // console.log('dentro img');
                        this.errors = [];
                    }).catch(error =>{
                      this.errors = error.response.data
                    });
                }
                // Start the reader job - read file as a data url (base64 format)
                reader.readAsDataURL(input.files[0]);
            }
        },
        previewArchivo: function(event){
            // Reference to the DOM input element
            var input = event.target;
            // Ensure that you have a file before attempting to read it
            if (input.files && input.files[0]) {
                // create a new FileReader to read this image and convert to base64 format
                var reader = new FileReader();
                // Define a callback function to run, when FileReader finishes its job
                reader.onload = (e) => {
                    // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                    // Read image as base64 and set to imageData
                    this.archivoData = e.target.result;

                    // SUBO LA IMAGEN
                    axios.post(urlAdjuntarArchivo,
                      {
                        archivo: this.archivoData,
                        id: 1
                      },
                      {
                        headers: {
                          'Content-Type': 'application/json',
                      }}).then(response => {
                        this.visa_formato.formulario = response.data.filename;
                        this.uploadAchivo = response.data.filename;
                        toastr.success('Archivo Cargado Exitosamente');

                        // console.log('dentro img');
                        console.log(response.data);
                        this.errors = [];
                    }).catch(error =>{
                      this.errors = error.response.data
                    });
                }
                // Start the reader job - read file as a data url (base64 format)
                reader.readAsDataURL(input.files[0]);            
            }  
        },
        addIdSelect: function(cliente_id, visa_id){
            // console.log(cliente_id);
            this.clienteIdSelect = cliente_id;            
            this.visaIdSelect = visa_id; 
            this.getVisaAdjuntos(visa_id);           
        },
        inputNombreFile: function(){
            // console.log('dentro');
            // console.log(this.fileDataNombre);
            if(this.fileDataNombre.length > 1){
                console.log('mayor');
                $('#fileUploadV').show();

                console.log(this.fileDataNombre.length);
            }else{
                $('#fileUploadV').hide();
                console.log('menor');
            }
        },
        uploadFile: function(event){

            if(this.fileDataNombre.length > 1){
                // console.log(event);
                // Reference to the DOM input element
                var input = event.target;
                // Ensure that you have a file before attempting to read it
                if (input.files && input.files[0]) {
                    // create a new FileReader to read this image and convert to base64 format
                    var reader = new FileReader();
                    // Define a callback function to run, when FileReader finishes its job
                    reader.onload = (e) => {
                        // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
                        // Read image as base64 and set to imageData
                        this.fileData = e.target.result;
                        console.log(this.fileData);
                        // console.log(event.target.files[0].name);

                        console.log(this.clienteIdSelect);
                        console.log(this.visaIdSelect);

                        // SUBO LA IMAGEN
                        axios.post(urlFileUpload,
                        {
                            archivo: this.fileData,
                            cliente_id: this.clienteIdSelect,
                            visa_id: this.visaIdSelect,
                            nombre_archivo: this.fileDataNombre
                        },
                        {
                            headers: {
                            'Content-Type': 'application/json',
                        }}).then(response => {
                            // this.visa_formato.img = response.data.filename;
                            // console.log('dentro img');
                            toastr.success('Adjunto Subir con exito.');
                            this.fileDataNombre = '';
                            this.fileData = '';
                            // console.log(response.data.visa_id);
                            this.getVisaAdjuntos(response.data.visa_id);
                            this.getVisa();

                            this.errors = [];
                        }).catch(error =>{
                        this.errors = error.response.data
                        });
                    }
                    // Start the reader job - read file as a data url (base64 format)
                    reader.readAsDataURL(input.files[0]);
                }
            }else{
                $('#fileUploadV').val(' ');
                toastr.success('Por favor asigne nombre al archivo.');
            }
        },
        selectCliente: function(item){
          // console.log(item.id);
          this.buscador = '';
          this.newClienteId = item.id;
          $('#cliente_id').val(item.id);
          $(cliente_nombre).html(item.nombre);
          $(cliente_celular).html(item.celular);
          $(cliente_email).html(item.email);
          $('#showProductosVisas').show();

        },
        
        createCliente: function(input){
          // console.log('dentro create');
          if($('#createCliente').css('display') == 'none'){
             $('#createCliente').show();
             this.newCliente =  input;
          } else {
             $('#createCliente').hide();
          }

          if($('#showCliente').css('display') == 'none'){
             $('#showCliente').show();
          } else {
             $('#showCliente').hide();
          }
        },
        formCreateCliente: function(){
          // console.log(this.newClienteId);
          var urlClienteCreate = urlClientes;
          axios.post(urlClienteCreate,
            {
              nombre: this.newCliente,
              email: this.newEmail,
              celular: this.newTelefono,
            },
            {
              headers: {
                'Content-Type': 'application/json',
            }}).then(response => {
              console.log(response);

            this.getClientes();
            this.newCliente = '';
            this.newEmail = '';
            this.newTelefono = '';
            this.errors = [];
            $('#createCliente').modal('hide');
            // $('#showProductosVisas').show();
            toastr.success('Nuevo Cliente Creado.');

            $('#createCliente').hide();
            $('#showCliente').show();


          }).catch(error =>{
            this.errors = error.response.data
          });

        },
        selectVisa: function(itemFormato){
          // console.log(item.id);
          $('#showVisa').show();
          console.log(itemFormato.img);
          $('#imgVisa').attr("src", '../../img/upload/'+itemFormato.img);
          this.visa_id = itemFormato.id;
          $('#visa_id').html(itemFormato.id);
          $('#visa_nombre').html(itemFormato.nombre);
          $('#visa_costo').html(itemFormato.costo);
          $('#visa_costo_servicio').html(itemFormato.costo_servicio);
          this.costo_servicio = itemFormato.costo_servicio;
        },        
        crearVisa: function(){
            axios.post(urlVisa,
                {
                    visa_id:  this.visa_id,
                    cliente_id: this.newClienteId,
                    valor_servicio: this.costo_servicio,
                    usuario_id: <?php echo Session::get('id') ?>
                },
                {
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                    console.log(response.data);
                    toastr.success('Visa Agregada.');                 
                    this.getVisa();
                    $('#modalVisa').modal('hide');
                    this.visa_formato = {
                        nombre:'',
                        costo:'',
                        costo_servicio:'',
                        requisitos:'',
                        formulario:'',
                        img:''
                    };
                    this.errors = [];            
                }).catch(error =>{
                    // console.log(error.response)
                    // this.errors = error.response.data;
                });
        },
        crearHistorialVisa: function(clienteId, visaId){
            this.visa_historial.cliente_id = clienteId;
            this.visa_historial.visa_id = visaId;
            this.visa_historial.usuario_id = <?php echo Session::get('id') ?>;

            axios.post(urlVisaHistorial,
                {
                    visa_historial:  this.visa_historial,
                },
                {
                headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                    // console.log(response.data);
                    toastr.success('Historial Agregado.');                 
                    this.getVisa();
                    this.visa_historial = {
                        detalle:'',
                        visa_id:'',
                        cliente_id:''
                    };
                    this.errors = [];            
                }).catch(error =>{
                    // console.log(error.response)
                    // this.errors = error.response.data;
                });

        },
        selectDate: function(){
            this.editVisa.fecha_cita1 = this.editVisa.fecha_cita1;
            this.editVisa.fecha_cita2 = this.editVisa.fecha_cita1;
        },
        actualizarVisaEstados: function(item){
            this.editVisa.foto = item.foto;
            this.editVisa.pasaporte = item.pasaporte;
            this.editVisa.formulario = item.formulario;
            this.editVisa.derecho_consular = item.derecho_consular;
            this.editVisa.derecho_consular = item.derecho_consular;
            this.editVisa.fecha_cita1 = item.fecha_cita1;
            this.editVisa.fecha_cita2 = item.fecha_cita2;
            this.editVisa.personas = item.personas;
            this.editVisa.estado_solicitud = item.estado_solicitud;
            this.editVisa.valor_servicio = item.valor_servicio;
            this.editVisa.estado = item.estado;
            // console.log(this.editVisa.foto);

            var urlEdit = urlVisa + item.id;
            axios.put(urlEdit,
                {
                    editVisa: this.editVisa
                },
                {
                    headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                console.log(response.data);
                this.getVisa();
                this.errors = [];
                toastr.success('Visa Actualizada');
            }).catch(error =>{
                // this.errors = error.response.empresa
            });            
        },
        editModalVisaFormato: function(Item){
            this.editVisaFormato = Item;
            console.log(Item);
            $('#editFormatoVisa').modal('show');
            $('#summernoteEditVisaFormato').summernote('code', this.editVisaFormato.requisitos );
            
        }, 

        actualizarVisaFormato: function(){
            this.editVisaFormato.requisitos = $('#summernoteEditVisaFormato').summernote('code');
            if(this.uploadImagen.length >1){
                this.editVisaFormato.img = this.uploadImagen;
            }
            if(this.uploadAchivo.length >1){
                this.editVisaFormato.formulario = this.uploadAchivo;
            }

            var urlEdit = urlVisaFormato + this.editVisaFormato.id;
            axios.put(urlEdit,
                {
                    editVisaFormato: this.editVisaFormato
                },
                {
                    headers: {
                    'Content-Type': 'application/json',
                }}).then(response => {
                console.log(response.data);
                this.getFormatoVisa();
                this.errors = [];
                toastr.success('Formato Visa Actualizada');
                $('#editFormatoVisa').modal('hide');
            }).catch(error =>{
                // this.errors = error.response.empresa
            });            
        },                                           

      },
      
      computed:{
        searchCliente: function () {
          // return this.lists.filter((item) => item.nombre.includes(this.name));
           var self=this;
       return this.listClientes.filter(function(item){return item.nombre.toLowerCase().indexOf(self.buscador.toLowerCase())>=0;})

        }                 
      },
    });




  </script>


<script>
	$(document).ready(function() {
		$('#summernoteEdit').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 200,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenEdit(files[i]);
					}
				}
			}
		});

        function SubirImagenEdit(file){
            if(file.type.includes('image'))
            {
                var name = file.name.split(".");
                name = name[0];  
                var data = new FormData();
                data.append('file', file);
                // console.log('dentro');
                $.ajax({
                    url: '<?php echo DOMINIO ?>api/uploadimg',
                    type: 'POST',
                    contentType: false,
                    cache: false,
                    processData: false,
                    dataType: 'JSON',
                    data: data,
                    success: function (response) 
                    {
                        $('#summernoteEdit').summernote('insertImage', response.url, name);
                    }
                })
                .fail(function(e) {
                    console.log(e);
                });
            }
            else
            {
                console.log("El tipo de archivo que intentaste subir no es una imagen");
            }
        }


		$('#summernoteEditMascara').summernote({
			placeholder: 'Escribe aquí',
			lang: 'es-ES',
			height: 200,	// set editor height
			minHeight: null,	// set minimum height of editor
			maxHeight: null,	// set maximum height of editor
			focus: true,	// set focus to editable area after initializing summernote
			callbacks: {
				onImageUpload: function(files)
				{
					for(var i = 0; i < files.length; i++)
					{
						SubirImagenEditMascara(files[i]);
					}
				}
			}
		});

        function SubirImagenEditMascara(file){
            if(file.type.includes('image'))
            {
                var name = file.name.split(".");
                name = name[0];  
                var data = new FormData();
                data.append('file', file);
                // console.log('dentro');
                $.ajax({
                    url: '<?php echo DOMINIO ?>api/uploadimg',
                    type: 'POST',
                    contentType: false,
                    cache: false,
                    processData: false,
                    dataType: 'JSON',
                    data: data,
                    success: function (response) 
                    {
                        $('#summernoteEditMascara').summernote('insertImage', response.url, name);
                    }
                })
                .fail(function(e) {
                    console.log(e);
                });
            }
            else
            {
                console.log("El tipo de archivo que intentaste subir no es una imagen");
            }
        }        

        
	});
</script>

