<!DOCTYPE html>
<html lang="es">
    <head>
       <title>Politicas Turishuila</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="<?php echo APP_CHARSET; ?>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" />
        <link rel="shortcut icon" href="<?php echo PUBLIC_PATH; ?>img/favicon.png" type="image/x-icon" />
        <?php Tag::css('bootstrap3.3.6/bootstrap.min'); ?>
        <?php // Tag::css('bootstrap/bootstrap.min', 'all'); ?>
        <?php // Tag::css('bootstrap/bootstrap-theme.min', 'all'); ?>
        <?php Tag::css('font-awesome.min', 'all'); ?>
        <?php Tag::css('backend/base', 'all'); ?>
        <?php Tag::css('backend/style', 'all'); ?>
        <?php //Tag::css('backend/printer', 'all'); ?>
        <?php echo Html::includeCss(); ?>
        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet" type="text/css">
        <!-- <?php // if(!APP_LOCAL) { ?>
            <link href="http://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet" type="text/css">
        <?php // } ?> -->
        <style type="text/css">
            body{ font-family: 'Roboto', sans-serif !important;}
            .margen{padding: 4% 4%;}
            .caja-borde{ border-top: 1px solid #eeeeee; padding:5px}
            h1{ font-family: 'Roboto', sans-serif !important;}
            h3{ font-family: 'Roboto', sans-serif !important;}
            h4{font-family: 'Roboto', sans-serif !important;}
            h6{ font-family: 'Roboto', sans-serif !important;}
            .MsoNormal{ font-family: 'Roboto', sans-serif !important;}
            .MsoNormal span{ line-height: 2vw !important; font-family: 'Roboto', sans-serif !important;}
            u{  font-family: 'Roboto', sans-serif !important;}
            ul > li > span{  font-family: 'Roboto', sans-serif !important;}
            font span{ font-family: 'Roboto', sans-serif !important;}
            
            .marca_separador{min-height:800px;}
              /* Small devices (tablets, 768px and up) */
              @media screen and (max-width: 600px) {
                h2{font-size:18px;}
                h3{font-size:14px;}
                h4{font-size:16px;}
                .marca_separador{min-height: 350px;}
              }

              /* Medium devices (desktops, 992px and up) */
              @media screen and (max-width: 992px) and (min-width: 600px) {
                .marca_separador{min-height: 450px;}

              }

              /* Large devices (large desktops, 1200px and up) */
              @media (min-width: @screen-lg-min) { }

        </style>
        <?php echo Tag::js('jquery/jquery.min').PHP_EOL; ?>
    </head>
    <body style="color: white;min-height: 100vh !important;background-color: #252525 !important;padding-top: 20px !important;">

    <div class="container">
      <?php // echo Html::img("cotizacion/cotizacion-assets-01.jpg","","width='' style='padding: 0% 0%;' class='img-responsive' ");?>
    </div>

    <div id="shell-content" class="container" style="background-color: #fff;color: #1a1a1a;">
    <div class="margen">
      <div class="row style="padding-top:5%;">
          <div class="col-xs-12 text-center"><h1><?php echo $politica->nombre?></h1></div>
          <div class="col-xs-12"><?php echo $politica->descripcion?></div>
        </div>
      </div>
    </div>


    <div class="container">
      <?php echo Html::img("cotizacion/cotizacion-assets-02.jpg","","width='' style='padding: 0% 0%;' class='img-responsive' ");?>
    </div>        

    </body>
</html>

<script language="JavaScript">
    $(window).resize(function() {
    // var heightBrowser =$(window).height();
    var widthBrowser =$(window).width();

    if(widthBrowser < 450){
        console.log('dentro movil');
        $('.movilPantalla').show();
        $('.panelEscritorio').hide();
    }
    if(widthBrowser >=450){
        console.log('dentro escritorio');
        $('.panelEscritorio').show();
        $('.movilPantalla').hide();                
    } 

    });


    var widthBrowser = $(window).width();
    console.log(widthBrowser);
    if(widthBrowser < 450){
        console.log('dentro movil');
        $('.movilPantalla').show();
        // $('.panelEscritorio').hide();
    }
    if(widthBrowser >=450){
        console.log('dentro escritorio');
        $('.panelEscritorio').show();
        // $('.panelMovil').hide();                
    }            
</script>