<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>
    
    <?php echo DwForm::open(); ?> 
    
        <div class="row">
            <div class="col-md-8">                    
                <?php echo DwForm::text('proveedor.nombre', array('class'=>'input-required'), NULL, 'Nombre Proveedor'); ?>
            </div>
            <div class="col-md-4">                    
                <?php echo DwForm::text('proveedor.contacto', array('class'=>''), NULL, 'Contacto'); ?>
            </div>            
        </div>
           
        <div class="row">
            <div class="col-md-6">                    
                <?php echo DwForm::text('proveedor.link', array('class'=>'input-required','style'=>'text-transform: none;'), NULL, 'link Proveedor http://'); ?>
            </div>
        </div>        

        <div class="row">
            <div class="col-md-2 text-center">
                <div class="picture-profile text-center text-middle shadow-dark" style="margin: 5px auto 0px;">
                    <?php echo DwHtml::img("upload/proveedores/$proveedor->img", "img", array('id'=>'img-proveedor','class'=>'img-responsive')); ?>
                </div>
            </div>
            <div class="col-md-2">
                <?php echo DwForm::upload('img', array('data-to'=>'http://'.DOMINIO.'/dashboard/proveedores/upload/', 'data-size'=>5000000, 'data-files'=>'images', 'data-success'=>'loadImg'), 'Imagen Proveedor'); ?>                                                                                                              
            </div>
        </div>
    
        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>                    
                
                <?php echo DwForm::hidden('proveedor.img', $proveedor->img); ?>                    
                <?php echo DwForm::send('Editar Proveedor'); ?>                
                <?php echo DwForm::cancel("dashboard/proveedores/"); ?>
            </div>
        </div>
                    
    </div>
    <?php echo DwForm::close(); ?>
    
</div>

<script type="text/javascript">
    function loadImg(result, input) {
        $("#proveedor_img").val(result.name);
        $("#img-proveedor").attr('src', '<?php echo PUBLIC_PATH; ?>img/upload/proveedores/'+result.name);                
    }    
</script>