<?php View::flash(); ?>

<script type="text/javascript">
    $(function() {
        $('table').kgrid({
            form_to         : $.KumbiaPHP.publicPath+'dashboard/proveedores/buscar/',            
            order_attr      : '<?php echo (APP_AJAX) ? 'class="js-link js-spinner"' : ''; ?>',
            order_to        : $.KumbiaPHP.publicPath+'dashboard/proveedores/listar/'
        });
    });
</script>

<div class="container shell-view">

    <?php View::process($page_module, $page_title, $set_title); ?>

    <div class="btn-toolbar btn-toolbar-top">
        <div class="row">
            <div class="btn-actions">
                <?php echo DwHtml::button("dashboard/proveedores/agregar", 'agregar', NULL, 'fa-check-square-o', APP_AJAX); ?>
            </div>            
        </div>
    </div>

    <div class="container-overflow">

        <table class="table table-hover table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th>IMG</th>
                    <th class="col-hidden" data-search="nombre" data-order="nombre">NOMBRE</th>
                    <th class="col-hidden" data-search="contacto">CONTACTO</th>                                        
                    <th class="col-hidden" >LINK</th>
                    <th class="col-hidden" data-order="estado_usuario">ESTADO</th>
                    <th class="col-blocked text-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($proveedores->items as $proveedor): ?>
                    <?php $key_shw = Security::setKey($proveedor->id, 'shw_cliente'); ?>
                    <?php $key_upd = Security::setKey($proveedor->id, 'upd_cliente'); ?>                
                    <?php $key_blo = Security::setKey($proveedor->id, 'blo'); ?>
                
                    <tr>
                        <td><?php echo DwHtml::img("upload/proveedores/$proveedor->img", "img", array('id'=>'img-proveedor','class'=>'img-responsive','width'=>'60px')); ?></td>                        
                        <td><?php echo $proveedor->nombre; ?></td>
                        <td><?php echo $proveedor->contacto; ?></td>
                        <td><?php echo substr($proveedor->link, 0, 50);?>...</td>
                        <td><?php if($proveedor->estado == 1){ ?><?php $color="danger"; $icono="fa-arrow-down"; ?><span class="label label-success">Activo</span> <?php }else{?><?php $color="success"; $icono="fa-arrow-up"; ?><span class="label label-danger">Inactivo</span><?php } ?> </td>
                        <td>
                            <?php // echo DwHtml::buttonTable('Ver Proveedor', "dashboard/proveedores/ver/$key_shw/", NULL, 'info', 'fa-search'); ?>                            
                            <?php echo DwHtml::buttonTable('Editar Proveedor', "dashboard/proveedores/editar/$key_upd/", NULL, 'warning', 'fa-edit'); ?>                                                        
                            <?php echo DwHtml::buttonTable('Inactivar Proveedor', "dashboard/proveedores/bloquear/$key_blo/", NULL, "$color","$icono"); ?>                                                                                    
                            <?php if($proveedor->anclar_inicio == 1){ ?><?php $colorAncla="success"; $iconoAncla="fa-flag"; ?> <?php }else{?><?php $colorAncla="info"; $iconoAncla="fa-flag-o"; ?><?php } ?>
                            <?php echo DwHtml::buttonTable('Anclar al Inicio', "dashboard/proveedores/anclar/$key_shw/", NULL, "$colorAncla", "$iconoAncla"); ?>                                                                                    
                        </td>
                    </tr>
                    <?php $proveedores->counter++; ?>
                <?php endforeach; ?>
            </tbody>
        </table>

    </div>

    <?php View::partial('paginators/default', false, array('page'=>$proveedores, 'url'=>"dashboard/proveedores/listar/$order/")); ?>

</div>