<?php View::flash(); ?>

<div class="container shell-view">
    
    <?php View::process($page_module, $page_title, $set_title); ?>
    
    <?php echo DwForm::open(); ?> 
        <div class="row">
            <div class="col-md-4">
                <?php echo DwHtml::img("upload/proveedores/$proveedor->img", "img", array('id'=>'img-proveedor','class'=>'img-responsive','width'=>'120px')); ?>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-8">                    
                <?php echo DwForm::text('proveedor.nombre', array('class'=>'input-required','disabled'=>'disabled'), NULL, 'Nombre Proveedor'); ?>
            </div>
            <div class="col-md-4">                    
                <?php echo DwForm::text('proveedor.contacto', array('class'=>'','disabled'=>'disabled'), NULL, 'Contacto'); ?>
            </div>            
        </div>
           
        <div class="row">
            <div class="col-md-6">                    
                <?php echo DwForm::text('proveedor.link', array('class'=>'input-required','disabled'=>'disabled','style'=>'text-transform: none;'), NULL, 'link Proveedor http://'); ?>
            </div>
        </div>  

        <div class="row">
            <div class="form-actions">
                <div class="pull-left">
                </div>                    
                <?php echo DwForm::cancel("dashboard/proveedores/"); ?>
            </div>
        </div>
                    
    </div>
    <?php echo DwForm::close(); ?>
    
</div>

